[2021-04-20 12:29] Gary-van-Breda commented on #163
No - that is for deleting the whole form!
The site deletion is currently not working, and is covered by #194

[2021-04-20 13:56] MeganLowe commented on #163
Ah I won't click that one then! Must have missed #194, great you're already on the case. All looks fine for normal users in terms of deletion rights on WCBS squares - shall I close this particular issue now?

[2021-04-20 14:01] Gary-van-Breda commented on #163
I think so.

[2021-04-20 14:02] MeganLowe commented on #163
Brill, thanks @Gary-van-Breda

[2021-04-20 14:02] #163 closed

[2021-04-21 08:47] IanMiddlebrook commented on #215
Thanks @Gary-van-Breda
Bill's response was generally positive.

[2021-04-21 08:47] #215 closed

[2021-04-21 09:44] IanMiddlebrook opened #217 "Historic data missing from upload"
Hi @DavidRoy @Gary-van-Breda

It's been pointed out to me that there is no historic data for 'Sun Lane Nature Reserve' on the website, despite us having data from 2003-2015.
I investigated, and found that the basic walk details are all there (date, time, weather etc) but no butterfly counts. This transect just had the one section, but it looks like that section didn't exist o the system (no route,

[2021-04-21 10:12] DavidRoy commented on #217
@IanMiddlebrook I suggest we complete the review of sites in the online system first.  If the sections don't exist then there will be no counts uploaded.  There are likely to be several cases where the historic data is not yet available and we'll need to manage expectations on when we'll have time to work on this

[2021-04-26 14:38] IanMiddlebrook commented on #160
Hi @Gary-van-Breda

Just bumping this issue, because the recorder has been back in touch to say that the Lytes Cary Manor walks are still appearing under the Scotney Castle account on the new website.

[2021-04-26 15:13] MeganLowe opened #218 "Issue with Saving Site Details pages"
Hello, I've had a recorder get in touch with a few bugs he has found when trying to edit/save the Site Details pages as follows:
- if making edits to just the box titled 'Notes on Land Use and Management' the 'Save' button is not enabled so you have to edit something else before the page gives you the option to click 'save'. This seems to apply to all sites regardless of whether a transect, WCBS-B

[2021-04-26 16:08] MeganLowe opened #219 "Can you batch mark sites as historic?"
Hi @Gary-van-Breda and @DavidRoy , more of a question than an issue, but there are a number of historic 'unofficial' WCBS-BC squares on UKBMS with records which currently show up on the Sites Map. These are causing a few issues as recorders are getting in touch wanting to survey them. I'd like to get around this by marking them 'Confidential' so they don't appear on the map, but I wondered if you

[2021-04-26 16:16] Gary-van-Breda commented on #219
Yes: technically we can either run a database statement to set the flag on the location, or create a small form which will do it for us.

Would you want both the Locations and the Occurrences marked as 'Confidential'?

It would be better to actually add a "Historic" attribute (checkbox) to the locations, that we would filter the sites report on. I'd be averse to using the same flag for multiple pu

[2021-04-26 20:41] Gary-van-Breda commented on #218
@MeganLowe Bugfix applied to Live.
Can you double check these, and if still a problem, could you let me know what type of machine the problem was observed on (PC, Mac, etc), browser being used, and an example site where you have the problem.

[2021-04-26 21:20] Gary-van-Breda commented on #160
Both are attached to Indicia Warehouse User ID 81511. It looks like whatever process was followed when Mark left Scotney has ended up with Keith Goodman, Paul Johnson and Mark Musgrave all having email addresses attached to the Scotney Castle user.
I can separate the users (by disassociating the Mark Musgrave email address), then we can work out who the walks belong to using their CMS User ID attr

[2021-04-26 21:28] Gary-van-Breda commented on #160
There are 2 other Mark Musgrave accounts on the warehouse - one for National Plant Monitoring Scheme and one for iRecord. @IanMiddlebrook can you check if either or both are the same person?

[2021-04-27 10:58] IanMiddlebrook opened #220 "Not saving User Assignments"
Hi @Gary-van-Breda

On the Site Details page, User Assignments tab, if I make any additions or deletions to the User assignments, the Save button remains grey, although the page heading shows _User Assignments (Edited)_.
If I click Finish, it tells me I have unsaved changes, but if I click 'continue and save the changes', it doesn't actually save the changes.

So I'm not able to save any new assig

[2021-04-27 11:58] Gary-van-Breda commented on #220
Javascript caching issue following fix for #218 deployed yesterday: Caches cleared, and tested.
@IanMiddlebrook : can you have another go?

[2021-04-27 13:40] IanMiddlebrook commented on #220
All good, thanks Gary

[2021-04-27 13:40] #220 closed

[2021-05-04 10:44] IanMiddlebrook opened #221 "Section Sun % disappearing"
Hi @Gary-van-Breda
Sorry, I'm sure this issue came up recently and was resolved, but it's come back and I can't find the original issue.

A user (Tony Goddard) has reported entering sun% values for each section on the Walk Data Entry page, but when he goes back to that page the values have disappeared.

The walk in question is https://ukbms.org/input-data?sample_id=14288883
I can see that the valu

[2021-05-04 14:14] IanMiddlebrook opened #222 "Species Summaries showing contradictions"
Hi @DavidRoy @BirenRathod

There seem to be some problems with the species summaries on the website, with lots of contradicting statements over species trends, as well as outdated trends.

Eg. Adonis Blue https://ukbms.org/species/adonis-blue shows:
_Status since 1979 is **Rapid increase** with a **decrease** of 134.0%_ - is it increasing or decreasing?
_Status over the last 10 years is Stable wit

[2021-05-04 14:30] DavidRoy commented on #222
@marcbotham - can you liaise with @BirenRathod to update this?

[2021-05-04 15:02] marcbotham commented on #222
I already have been but I still haven’t had anything back about the summaries. The plots I updated after some toing and froing as upload didn’t work to start with, but I can’t do the summaries unless I do them all individually. I have provided Biren with a csv of the relevant data and will email him again to make it sound more urgent ☺

From: David Roy (CEH) ***@***.***>
Sent: 04 May 2021 15:31
To

[2021-05-04 15:06] DavidRoy commented on #222
thanks Marc.  @BirenRathod - we'll need to update this data every year so can you work with @marcbotham to provide a solution that does not involve a lot of manual updates

[2021-05-04 15:35] Gary-van-Breda commented on #221
Originally raised as part of #212

[2021-05-04 16:13] BirenRathod commented on #222
@DavidRoy & @IanMiddlebrook  yes, I'm already started working on it.

@marcbotham I will send you upload csv procedure tomorrow.

[2021-05-04 17:18] BirenRathod commented on #222
@marcbotham Although, I mentioned to send you tomorrow, I finished testing data and fields format in file, so I sent you today. Please check your email.

[2021-05-05 10:32] IanMiddlebrook opened #223 "List of 'Common' species on Data Entry page"
Hi @Gary-van-Breda @DavidRoy

A co-ordinator has commented on how limited the 'Common' species list is, when selected on the data entry page.

I must admit I hadn't realised how short this list was, and don't remember it being quite so short before (but I never used it, so can't be sure).

There are 12 species on the 'common' list - missing things like Small White, Green-veined White, Holly Blue,

[2021-05-05 13:26] marcbotham commented on #222
Thanks Biren.

Have created the csv file following the template and then followed your instructions but it hasn't worked I'm afraid. The error message suggests to me that the formatting of the columns might not be what it is expecting for the website? I've emailed you separately with a copy of the error message

[2021-05-05 13:35] BirenRathod commented on #222
@marcbotham I have emailed you the problem, so please try again.

[2021-05-05 13:43] marcbotham commented on #222
working on it now, thanks Biren

[2021-05-05 14:02] IanMiddlebrook opened #224 "problem with Captcha when logging in with Safari browser"
Hi @Gary-van-Breda @BirenRathod

See problem reported below:

_I’m not sure you’re the correct place to send this to, but thought you might like to know of an issue logging into the new website using Apple’s Safari browser from an iMac.
Using Google Chrome there are no problems, but when using Safari the Captcha box at log in is blanked out and unreadable.
I got around this by copying the Captcha

[2021-05-05 14:32] IanMiddlebrook opened #225 "notification emails not being sent"
Hi @BirenRathod @DavidRoy

Several new recorders are reporting that they didn't receive an email, either when they registered with the website or when their account was approved. This seems to be intermittent/inconsistent.
Some have reported seeing an error message on the screen after they submit their registration, stating that an email could not be sent.

I've noticed that I get notification ema

[2021-05-06 07:37] IanMiddlebrook commented on #224
Update from recorder:

_It may be that it's ok now. I logged in using Safari following my last email to you and it was working ok.
My apologies to your developers if they've already sorted it out._

I don't know if you did anything, but since nobody else has reported the problem, I'll close this issue now.

[2021-05-06 07:37] #224 closed

[2021-05-06 10:33] BirenRathod commented on #225
@IanMiddlebrook
I have updated the library to support email execution. This should resolve the problem hopefully.

Also, I have added above mentioned fields, so you will see details of new user in the notification emails.

[2021-05-06 13:13] marcbotham commented on #222
This has now been sorted. Thanks Biren. We have slightly altered some the generic text which was a hangover from old website and doesn't automatically update e.g. a decrease of, an increase of.  Have simply called it a change of, otherwise we have to go in every year for every species and change when and if the trends change. We did this very quickly so if you have a better suggestion for the work

[2021-05-06 13:23] IanMiddlebrook commented on #222
Thanks for this @marcbotham @BirenRathod

[2021-05-06 13:23] #222 closed

[2021-05-06 14:26] IanMiddlebrook opened #226 "Flag to indicate all data entered for year"
Hi @DavidRoy @Gary-van-Breda

I'm just putting this here as a marker, since it crops up from time to time. Some co-ordinators have suggested it would be useful to know when a recorder has completed their data entry for the year.

I guess it would be simple enough to put a flag below the calendar on 'My Walks' that a recorder can tick when they've entered their last walk for a year.
The more compli

[2021-05-10 08:09] IanMiddlebrook commented on #225
Thanks @BirenRathod
The emails still seem to be a bit sporadic. There were 7 new accounts registered over the weekend, but I only received a notification email for 4 of them. Nothing for users 29812, 29814 & 29816.

Thanks for adding the fields to the notification emails, although the Email address is not coming through:
eg.
_Account details of MikeLewis
First name : Mike
Last name:  Lewis
Email a

[2021-05-10 08:52] IanMiddlebrook opened #227 "issues with adding a new name into the recorder field at data entry"
Hi @Gary-van-Breda

When a User is entering data for a different recorder, they can enter their name into the recorder box at data entry.

However, if the name was not already on their drop down list (names they've used before) this can cause issues.

If you use 'tab' to get to the next field, the recorder name reverts to the name at the top of the drop down list.

If you don't use tab, and just c

[2021-05-10 09:00] IanMiddlebrook commented on #194
Hi @Gary-van-Breda

This issue is starting to become fairly urgent. There are now dozens of new sites that I need to remove from the system to avoid confusion. These are typically duplicate failed attempts to set up new routes by recorders struggling with the website (or failing to follow clear instructions!).

Thanks, Ian

[2021-05-10 13:33] BirenRathod commented on #225
@IanMiddlebrook I have implemented the email address field now, so should work.
I checked those users and not found any obvious problem in their accounts. Not sure, why you didn't receive email?

[2021-05-10 14:00] IanMiddlebrook commented on #225
Hi @BirenRathod

Thanks for sorting out the email address field - that's coming through now.

As for the notification emails, I don't think there are any problems with these accounts, just a problem with the website sending out emails. It's a problem that needs sorting, because it's leaving new users thinking that their account has not registered.

It happened to me again this morning when I unblo

[2021-05-11 09:17] MeganLowe commented on #219
Hi @Gary-van-Breda apologies for the delay (my other role has been taking much of my brain power recently). Yes I agree a historic attribute sounds much more suitable - that would be great, yes please. Thank you, Megan

[2021-05-11 13:59] MeganLowe commented on #218
Thanks!

[2021-05-11 13:59] #218 closed

[2021-05-11 14:14] MeganLowe opened #228 "Default Site Type"
Hi, just wondering whether it is possible to change the default settings so the Site Type drop down boxes on the pages All Sites, Branch Sites, and My Walks defaults to the site type the user last selected? It's been raised by a WCBS co-ordinator, but I'm also starting to find it frustrating to have to keep waiting for it to reload WCBS after defaulting back to Transect. Thanks, Megan

[2021-05-11 15:07] IanMiddlebrook opened #229 "Historic data upload - error with section 10 data"
Hi @DavidRoy

A county recorder has been ploughing through the historic data uploaded on the UKBMS website.

He noticed an anomaly, that there is no section 10 data for several sites. Comparing the upload to data already he held, he's established that the Section 10 data have been uploaded as additional Section 1 records.

Examples I've found  - 2006 data for sites: Scar Close NNR (3415), Swarth M

[2021-05-12 13:28] MeganLowe opened #230 "Route Disappearing on Site Details pages"
Hello. A minor issue, but I've noticed that when on any Site Details page if you go to any of the other tabs (i.e. site details, contact details etc) and return to the Site Details tab the route disappears off of the map and the only way I've found to get it back is to refresh the page. Not sure if there is a little bug in there... Thanks, Megan.

[2021-05-12 16:38] Gary-van-Breda commented on #230
@MeganLowe Can you give me the following details:

- Browser and Operating system
- User you are logged in as
- Example site this happens to you with,
- The exact steps you follow to get this to occur.

Thanks

[2021-05-13 07:34] Gary-van-Breda commented on #194
@IanMiddlebrook : code change deployed to Test, for you to check. Just to re-iterate, the Test environment actually points to the Live warehouse: if you use Test to delete a site it will be deleted on Live.
The "Delete site" button is at the bottom of the main "Site Details" tab, coloured red. It is visible only on existing sites (it won't appear when creating a new site), and is currently only av

[2021-05-17 10:46] IanMiddlebrook commented on #194
Thanks @Gary-van-Breda , that 's working well on the test site.

Ian

[2021-05-17 12:28] #48 closed

[2021-05-17 12:56] #121 closed

[2021-05-17 14:20] #200 closed

[2021-05-17 14:28] #179 closed

[2021-05-17 14:34] #162 closed

[2021-05-18 07:56] #206 closed

[2021-05-18 08:17] IanMiddlebrook opened #231 "Adjust layout of Section Route page for setting up new transects"
Hi @Gary-van-Breda

A lot of recorders are getting into a mess when setting up new transects because, after drawing a section route, they are clicking on 'Insert Section' rather than going to the Next section. Some are also clicking on 'Delete Section' when they go wrong, rather than erase vertex, or just starting again.

All this despite the guidance notes and the additional text on the Section R

[2021-05-18 08:19] DavidRoy commented on #231
@Gary-van-Breda quite urgent (not crtical) as this is catching people out and taking up time to resolve

[2021-05-18 14:21] kitenetter opened #232 "Questions re confidential sites/records"
A county butterfly recorder has asked why he can't see or verify the records from a particular transect. It appears that this transect was mistakenly marked as "confidential" in the site details on Transect Walker. This seems to have resulted in the transect occurrences being flagged as "confidential" and thus being excluded from view both for public users and verifiers.

@IanMiddlebrook has chang

[2021-05-18 16:03] Gary-van-Breda commented on #231
@IanMiddlebrook @DavidRoy : Code deployed onto Test site ready for you to check.

[2021-05-18 16:04] Gary-van-Breda commented on #194
@IanMiddlebrook : This is now deployed to Live

[2021-05-19 09:36] Gary-van-Breda commented on #232
1) No: there is no automatic flow down to the occurrences.
2) Yes, we can do that. Identification of which occurrences could just be as simple as "all the occurrences on sites XX and YY"

[2021-05-20 08:07] IanMiddlebrook commented on #232
3/4. The purpose of marking sites as confidential was never to exclude their data from county datasets, just to prevent public identification of sites on private land or key sites for vulnerable species. So I certainly think verifiers should have access.

I would think that (3) was the best option, provided the 'confidential' flag is clearly visible to the verifier and part of the download. As you

[2021-05-20 09:09] IanMiddlebrook commented on #231
Hi @Gary-van-Breda

That looks great - much clearer - no more excuses to mess up!

Thanks, Ian

[2021-05-20 09:11] IanMiddlebrook commented on #194
Hi @Gary-van-Breda

Tried this on live, but just met the circle of doom.
On the test version, if I click on Delete, I get a warning message pop up. when I click Yes it proceeds to delete the site.
No warning message is popping up on the live site.

Thanks, Ian

[2021-05-21 13:17] Gary-van-Breda commented on #231
Deployed to Live, Caches reset, and checked: looks OK.

[2021-05-21 13:22] Gary-van-Breda commented on #194
@IanMiddlebrook : I reset the Javascript code cache and checked - I'm getting the warning message when I press the button. The deployment button on the environment gives the option of clearing the caches, but it obviously isn't working as it should... I'll make a note to do this manually from now on.

[2021-05-21 13:33] IanMiddlebrook commented on #194
Thanks @Gary-van-Breda  that's working OK now

[2021-05-21 13:34] IanMiddlebrook commented on #231
Thanks @Gary-van-Breda  looks good to me

[2021-05-21 13:34] #231 closed

[2021-05-24 10:01] MeganLowe opened #233 "Odonata Recording on WCBS-BC Form"
Hi, the Odonata recording form for WCBS-BC is not displaying any species when you type in the search box. Any Odonata species 'known to site' appear in the 'Other' species tab rather than Odonata. This seems to only be a problem for WCBS-BC as the Odonata tab for WCBS-BBS and Transect recording forms is functioning correctly. Thanks, Megan.

[2021-05-25 07:59] Gary-van-Breda commented on #233
Form config error: it was trying to look up species list 235 (not available to this site) with a min ranking filter of 15, rather than the other way around.
@MeganLowe Now fixed.

[2021-05-25 08:13] MeganLowe commented on #233
Great thanks @Gary-van-Breda

[2021-05-26 09:10] IanMiddlebrook opened #234 "Retrieval of Data"
Hi @DavidRoy

Not sure who can deal with this one.

A Branch Co-ordinator has managed to delete all the data for a long-running transect site. He was adjusting the transect  route by splitting it into sections (it previously only had one section). In the process, he actually deleted the existing route/section, and this has deleted all the data associated with that site (as they were all on section

[2021-06-25 11:10] IanMiddlebrook opened #235 "changing years on My Walks page"
Hi @Gary-van-Breda ,

On the My Walks page (and the Branch Walks page), it only seems to be possible to change years one at a time. I don't think this is what was intended, since there is a drop-down option, but this is not populating properly.

The drop-down box for the year only seems to populate itself with a range of years after you have clicked on the arrow, and loaded new pages, enough times

[2021-06-28 08:48] IanMiddlebrook opened #236 "Walks hiding from view"
Hi @Gary-van-Breda @DavidRoy

We have a situation where a walk (sample) has been entered by a recorder, everything appears superficially OK. The butterfly counts can be seen in the Annual Summary table etc, and are available in the various downloads.

However, if anyone (recorder, co-ordinator, admin) tries to edit or review the Walk Data Entry form for that walk, it doesn't seem to exist. They ar

[2021-07-06 13:24] IanMiddlebrook opened #237 "Satellite Map required for Timed Counts"
Hi @Gary-van-Breda @DavidRoy

A recorder has pointed out that Google Satellite map view is not available on the Timed Count Data Entry page.

This is quite critical for mapping remote sites with few (or no) standard map features in OpenStreetMap view.

Many thanks,

Ian

[2021-07-23 14:59] MeganLowe opened #238 "Summary stats not accurate"
Hi, there is something a bit odd going on with the summary statistics displayed on the website. So far I've noticed and have had reports of inaccurate numbers for the number of samples on the 'My Sites' and 'All Sites' pages, and the number and quantity of species on the annual summary pages. Here are a couple of examples:

WCBS-BC square TF8039 has been surveyed 11 times (confirmed by recorder an

[2021-07-23 15:20] MeganLowe commented on #228
Hi @DavidRoy, I would like to bump this up the priority list please. The default to 'Transect' is becoming an issue on the 'My Walks' data entry page. Recorders enter a count for WCBS, select 'Finish and Return to Walk List' and it takes them back to a blank calendar as the My Walks page has defaulted back to Transect again. This is leading to confusion, duplicate submissions and new transects bei

[2021-07-26 08:48] IanMiddlebrook opened #239 "Captcha issues for the colour blind"
Hi @BirenRathod ,

I had this feedback from a volunteer:

_I am red green colour-blind. The Captcha security for forgotten passwords which uses letters against a dotted background is really hard for me to use and I had to do it 4 or 5 times. Please can you change this?_

The captcha for logging in is simple arithmetic - perhaps we could also use that for requesting a new password?

Thanks,
Ian

[2021-07-26 09:14] BirenRathod commented on #239
Hello @IanMiddlebrook
I increased the font size now.

[2021-07-26 09:18] IanMiddlebrook commented on #239
Thanks @BirenRathod  - I'm no expert on colour-blindness, but I'm not sure how much the font size will improve contrast between reds and greens?

[2021-07-26 09:25] BirenRathod commented on #239
@IanMiddlebrook Same for me and I can't control the color produced by the module, so I increased the font size which should help .

[2021-07-28 16:21] DavidRoy commented on #228
@Gary-van-Breda is this simple to address

[2021-07-28 16:22] DavidRoy commented on #238
@MeganLowe can you give the url for the pages you are seeing this problem on

[2021-07-28 16:38] DavidRoy commented on #239
@BirenRathod can we switch to using the same captcha that is used for logging in.  This just asks for the answer to a maths problem

[2021-07-28 17:02] BirenRathod commented on #239
@DavidRoy & @IanMiddlebrook I have changed that to math one but leave it captcha for registration page to image one.

[2021-07-28 17:06] DavidRoy commented on #239
@BirenRathod I would prefer to use the math one throughout

[2021-07-29 08:26] BirenRathod commented on #239
@DavidRoy It has implemented on all forms now.

[2021-07-29 08:28] DavidRoy commented on #239
Thanks.  @IanMiddlebrook please close if resolved

[2021-07-29 08:29] IanMiddlebrook commented on #239
Many thanks

[2021-07-29 08:29] #239 closed

[2021-07-29 14:37] IanMiddlebrook opened #240 "Unable to download all data"
Hi @Gary-van-Breda @DavidRoy @BirenRathod

I'm trying to download the data so far this year (ideally 'occurrences', though summary or section level would be a start).

Unfortunately I'm getting a fatal error at each attempt: e.g.

_Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 4096 bytes) in D:\websites\warehouse\application\helpers\vague_date.php on line 768_

_

[2021-07-29 15:22] BirenRathod commented on #240
@johnvanbreda or @Gary-van-Breda  Can you look into please? This doesn't seem problem of php memory limit as it is running on maximum limit. This could be due to not converting some data to particular data type.

[2021-07-30 09:12] Gary-van-Breda commented on #240
@BirenRathod : What is the limit set at for PHP? 128M is going to be too small...

[2021-07-30 09:51] BirenRathod commented on #240
@Gary-van-Breda It is set to 128M which is recommended to perform number of processes on the server. This is per script size. So it can perform many scripts at once.

Although, I have increased that to 512M, see if that makes different. Also, I need to see if server is not running its maximum limit after changing this. If that is the case then I will revert that back to 128M.

[2021-08-24 09:55] IanMiddlebrook commented on #240
Hi @BirenRathod @Gary-van-Breda
I did manage to download the Occurrences Table a few weeks ago after this change, but now I'm trying to get an update I get the following message:
_Fatal error: Allowed memory size of 536870912 bytes exhausted (tried to allocate 4096 bytes) in D:\websites\warehouse\application\helpers\vague_date.php on line 831_

Any suggestions?

Thanks, Ian

[2021-08-25 08:13] IanMiddlebrook opened #241 "Estimates table download"
Hi @Gary-van-Breda @DavidRoy

Following a request from  couple of branch co-ordinators, would it be possible to create a further download which provides the figures displayed on the 'Estimate Table', so that it would be possible for them to download these figures for the whole branch in one go.
The key fields for the download would include:
Site Name, Week No., Species Name, Count, (and I guess an

[2021-08-25 13:18] IanMiddlebrook opened #242 "Wood White being classified as a non-butterfly"
Hi @Gary-van-Breda

One of our recorders (username 'J+C Taylor') has been entering data for Grafton Wood transect. This week he found that Wood White was no longer available in the data entry page for butterflies, but found it among 'other taxa'. When he looks at the Annual Summary page, he finds that the Wood White recorded on August 22nd is not displayed unless he checks to display non-butterfly

[2021-09-01 08:41] MeganLowe opened #243 "Error message on data entry form"
A minor issue, but the error message pictured below could do with re-wording. It appears when a user has forgotten to select which transect (or WCBS site) they are entering data for on the first page of the data entry form. Perhaps it could say "Please select site" instead?

![image](https://user-images.githubusercontent.com/64081219/131639109-aa1f3227-c398-487a-9cbe-60b4948471f6.png)

Thanks, Meg

[2021-09-01 10:15] BirenRathod commented on #240
@IanMiddlebrook I have increased the memory, so should be fine by now but do let me know if that doesn't work.

[2021-09-01 10:29] IanMiddlebrook opened #244 "Several pages unable to load - error messages"
Hi @BirenRathod @Gary-van-Breda

Several pages are currently unable to load full details, with the pages showing Invalid responses received from Indicia Warehouse:

any Site Details page (eg. https://ukbms.org/site-details?id=2813 )
_Invalid response received from Indicia Warehouse. Array ( [result] => 1 [output] => [request] => index.php/services/data/sample?mode=json&deleted=f&view=detail&nonce=

[2021-09-01 11:06] BirenRathod commented on #244
@IanMiddlebrook It has resolved now.

[2021-09-01 11:16] IanMiddlebrook commented on #244
Brilliant - thanks @BirenRathod

[2021-09-01 11:16] #244 closed

[2021-09-01 14:59] IanMiddlebrook commented on #240
Thanks @BirenRathod

Have managed to download the Occurrences table now.

Ian

[2021-09-01 14:59] #240 closed

[2021-09-14 08:58] IanMiddlebrook opened #245 "masquerading and logging in/out since yesterday"
Hi @BirenRathod @DavidRoy

Since the update to Drupal 9 yesterday (assuming that happened), a couple of strange things have happened.

Firstly, every time I log in I now need to agree to the terms & conditions of the website. I thought we only needed to do that when registering for a new account?

Secondly, and more importantly, I'm now unable to Masquerade as a different User. Each time I try, I

[2021-09-14 10:46] BirenRathod commented on #245
@IanMiddlebrook @DavidRoy
I have enabled the accept terms and condition mandatory for login & new users. So Anybody whose got a admin role can't able to Masquerade. I have now exempted admin, so you could able to masquerade.

Also, I have now disabled to agree terms & condition, so should be fine. That means this will only occur for new registration.

[2021-09-15 08:11] IanMiddlebrook commented on #245
That's great - thanks @BirenRathod

[2021-09-15 08:14] IanMiddlebrook commented on #185
Hi @Gary-van-Breda @DavidRoy

Since the switch to Drupal 9 earlier this week, this problem has re-appeared - the links on the Raw Data tab are back to Blue on a Purple background.

Thanks, Ian

[2021-09-15 08:32] DavidRoy commented on #185
@BirenRathod can you look at this please

[2021-09-15 11:29] BirenRathod commented on #185
@DavidRoy & @IanMiddlebrook I changed the text colour now, so it should be clearly visible.

[2021-09-15 11:43] IanMiddlebrook commented on #245
Hi @BirenRathod

Sorry, I've just tested this properly, but I'm still not able to Masquerade as a normal User or a Branch Co-ordinator. I've only been able to masquerade as another Admin user.

Thanks,

Ian

[2021-09-15 13:02] BirenRathod commented on #245
@IanMiddlebrook
This only happens if user hasn't been accepted the terms & condition yet after migration on Drupal 9. So you can remind that user to sign into their account and accept it.

I have implemented this now. So you can masquerade most users which had assigned for branch coordinator, verifier or admin roles. For general users, you still need to remind them to accept terms and condition fi

[2021-09-15 13:18] IanMiddlebrook commented on #245
Hi @BirenRathod
I thought the 'terms & conditions' was only going to crop up at registration, not on log in. Is it not possible to mark all existing users as having accepted these (carried over from the previous Drupal version)? or have the terms & conditions changed?

Thanks,

Ian

[2021-09-15 14:46] IanMiddlebrook opened #246 "Google Satellite maps missing"
Hi @BirenRathod @DavidRoy

It looks like we've lost the Google Satellite views on the Site Details pages of the website. I guess related to the Drupal switch?

The option of Google Satellite is also missing from the Timed-Count data entry page. I'm fairly sure it was there before - certainly needs to be.

Many thanks,

Ian

[2021-09-15 15:21] BirenRathod commented on #245
@IanMiddlebrook It is not how legal module works. Here is the link -> https://www.drupal.org/project/legal for more details. Although, Once users accepted, it will not ask them to accept it again and I will find out the solution for users registered in Drupal 8.  Terms & condition hasn't changed yet, if that is the case, it will ask again all users to accept it again but because I have introduced

[2021-09-15 15:32] BirenRathod commented on #246
@IanMiddlebrook While I'm investigating the problem with Google Map, the page now displays with Openstreet map.

[2021-09-15 16:08] BirenRathod commented on #245
@IanMiddlebrook I have updated the records of all users for their terms and conditions who has registered in Drupal 8. So should be fine you to masquerade any users.

[2021-09-23 12:48] IanMiddlebrook commented on #194
Hi @Gary-van-Breda @DavidRoy

This issue seems to have reappeared now.
Each time I try to Delete a Site I'm greeted by the eternal circle of doom.

Thanks, Ian

[2021-09-23 15:12] IanMiddlebrook opened #247 "order of species on data entry page"
Hi @DavidRoy
I'm not sure when this happened, or if it's always been this way, but the order of species in the online data entry form does not match the standard field recording forms. Specifically, the field recording forms go Meadow Brown, Ringlet, Small Heath, whereas the online form goes Meadow Brown, Small Heath, Ringlet.
This can/will lead to data transcription errors.

I remember, many year

[2021-09-27 10:29] IanMiddlebrook opened #248 "Printing charts"
Hi @DavidRoy

We are often asked if it's possible to print the charts on the website, or at least copy the chart image into an editor.
We usually suggest using Print-Screen options, but this only works if you can see everything you want to print on the screen.

Is it possible to have 'print chart' options for each of the charts (Summary Chart, Estimate Chart, Section Plot, Year by Year Index Plot)

[2021-10-04 09:50] IanMiddlebrook opened #249 "Data Entry page not populating in Internet Explorer (or Safari ?)"
Hi @Gary-van-Breda

We've had a few reports of recorders being unable to enter data because the data entry screen does not populate with any specie list. As far as we can tell, this issue is restricted to recorders using Internet Explorer.
We have suggested they use a different browser, but wanted to raise it as an issue in the hope it can be addressed, or in case it points to a wider issue.

Than

[2021-10-15 13:21] MeganLowe opened #250 "Error Messages on Annual Summary"
Hello, I'm having some trouble with the Annual Summary page. It won't let me filter by 'Branch Data' (filter by recorder option) for WCBS-BC and throws up two different error messages as follows:

![image](https://user-images.githubusercontent.com/64081219/137492515-5e5113dd-9248-4638-8677-2b69847f839b.png)

![image](https://user-images.githubusercontent.com/64081219/137493069-2ca4428f-23d1-41b8-8

[2021-10-15 14:55] kitenetter opened #251 "Query regarding confidential records for WCBS"
A recorder has been in touch to say that they have entered records for 2021 onto the UKBMS system, as part of the WCBS-BC survey (survey ID 306). In previous years their records have come through to iRecord as expected, but none of the 2021 records have appeared, and consequently they are not available to the verifiers for the county.

Records passing the checks have been auto-verified, but record

[2021-10-22 09:08] IanMiddlebrook commented on #250
Hi Megan,

Even though you're a Site Admin, I noticed that you were not also flagged as a Branch Co-ordinator. I've update this, so the problem should have gone away.

BW, Ian

[2021-10-22 09:11] IanMiddlebrook commented on #249
Hi @Gary-van-Breda ,

We have had additional feedback from a Mac user who cannot bring up a species list during data entry when using Safari:
![Safari Data Entry Screen](https://user-images.githubusercontent.com/24699793/138427513-4717eb96-3c29-46ff-a319-c68f6a3b565e.jpg)

Thanks, Ian

[2021-10-22 09:18] IanMiddlebrook commented on #237
Hi @Gary-van-Breda @DavidRoy @BirenRathod

further to this issue, it seems that there is now no map whatsoever available on the timed-count data entry page, so it's just not possible to draw a flight area and enter any timed-counts now. This may also connected to the loss of Google Satellite maps (issue #246 ) but could be something different. Nevertheless, the satellite map option is critical for

[2021-10-22 09:20] MeganLowe commented on #250
Ah that explains it, thanks @IanMiddlebrook !

[2021-10-22 09:20] #250 closed, assigned to nobody

[2021-10-22 09:32] IanMiddlebrook commented on #245
Thanks @BirenRathod
I've not come across any more issues with this.
Best wishes, Ian

[2021-10-22 10:38] IanMiddlebrook opened #252 "Order of fields on Site and Section Details pages"
Hi @Gary-van-Breda @DavidRoy

Another issue which has occurred recently - perhaps since the switch to Drupal 9 - is that all the fields in the Site and Sections details pages are in a very strange order.

For Section details, it appears that everything below the Section Grid Ref, is in reverse order to what it was before.

For Site Details, I think everything between Site Code and Habitat is in re

[2021-10-22 10:55] IanMiddlebrook opened #253 "Site Assignment page not working"
Hi @Gary-van-Breda @DavidRoy

The Site Assignment page (https://ukbms.org/site-assignment) is no longer working as it should.
Loading up branch sites etc is fine, but trying to assign or unassign recorders by checking/unchecking the boxes just doesn't work. The tick appears or disappears, but then checking the Site Details shows that the sites are not being assigned (or unassigned) to the recorder

[2021-10-23 08:29] DavidRoy commented on #237
@BirenRathod can you look into this please

[2021-10-23 08:30] DavidRoy commented on #252
@BirenRathod can you look into this please

[2021-10-25 10:30] BirenRathod commented on #237
@IanMiddlebrook Google Satellite map is back.
There was a jQuery problem in date format. due to that map was not displaying correctly.

[2021-10-25 11:30] IanMiddlebrook commented on #237
Hi @BirenRathod
Where is Google Satellite view back?
I don't see it anywhere on UKBMS.
Still no map of any sort in Timed Count data entry.
Still no Google Satellite in Site Details or Section Routes.

Thank, Ian

[2021-10-25 11:50] BirenRathod commented on #237
Hi @IanMiddlebrook
I attached screenshot of timed count age which shows google satellite map.
![image](https://user-images.githubusercontent.com/5941255/138689960-92d7c148-c20a-4d9e-ab42-730562a59d36.png)

[2021-10-25 11:52] BirenRathod commented on #237
@IanMiddlebrook I don't what Google Satellite view back but I'm resolving other two issues of map on site details & section details.

[2021-10-25 12:46] IanMiddlebrook commented on #237
thanks @BirenRathod
I checked a few times this morning and there was still no map.
So I've done my usual trick of going off to have lunch, and then it all looks good when I come back 😊.

Best wishes, Ian

[2021-10-25 13:33] IanMiddlebrook opened #254 "Timed Count page not working"
Hi @Gary-van-Breda @DavidRoy

There seems to be a fundamental problem with the Time Counts data entry page.

From the page 'My Timed Counts', if you click on a date to set up a new count, it takes you through to the data entry page, but the Date field is blank 'dd/mm/yyyy', as is the Year field (even though the date is in the URL).

If you complete the Date field, and the other fields, draw your f

[2021-10-27 11:00] MeganLowe opened #255 "BBS Shapefile"
Hi @DavidRoy @Gary-van-Breda , the BTO have sent me a shapefile for all current BBS routes. Is it possible to upload this to UKBMS so that all WCBS-BBS squares with routes display the route on their site details page? And if so who shall I send it to? Hoping it may be possible to load the shapefile in one go, rather than me having to draw the routes of every individual site!

The majority of BBS s

[2021-10-27 11:04] DavidRoy commented on #255
Please send the layer to me and we'll load into the system

[2021-10-27 11:06] MeganLowe commented on #255
Thanks David, will do.

[2021-11-03 11:53] IanMiddlebrook commented on #166
Hi @Gary-van-Breda @DavidRoy

I'm re-opening this issue because it has returned - manifesting itself in exactly the same way.

Many thanks, Ian

[2021-12-01 18:44] kitenetter commented on #251
This issue is still cauring problems for the recorder and verifier concerned, but it has been confirmed that the site needs to be flagged as confidential. This raises the question as to whether records that are flagged as confidential in UKBMS can still be made available to verifiers, while not being displayed publicly.

I'm not sure if we have a mechanism in place to achieve this or if new develo

[2022-01-04 08:54] IanMiddlebrook opened #256 "Branch co-ordinator access"
Hi @DavidRoy @BirenRathod @Gary-van-Breda

Happy New Year!

I've just returned to a barrage of emails from Branch Co-ordinators who can no longer see their branch data.
It seems all their permissions have disappeared over the break, and they can now only see their own data, no more than any other user.
No Branch sites, No Branch Walks, and no Branch options on the Annual Summary page.

Could we pl

[2022-01-04 11:21] BirenRathod commented on #256
@IanMiddlebrook The permission for branch coordinator has been implemented now. Sorry for trouble experienced by users.

[2022-01-04 11:24] IanMiddlebrook commented on #256
Brilliant - thanks for sorting so quickly @BirenRathod

Best wishes, Ian

[2022-01-04 11:24] #256 closed

[2022-01-07 16:00] IanMiddlebrook commented on #246
Hi @DavidRoy @BirenRathod
This issue is becoming rather urgent - certainly the most complained about problem at the moment, with co-ordinators trying to draw up new transects for the new season.
The Satellite view is there somewhere, but only seems to appear in very few situations.

[2022-01-12 16:20] BirenRathod commented on #246
@IanMiddlebrook This has now resolved.

[2022-01-12 16:26] IanMiddlebrook commented on #246
Hi @BirenRathod

Many thanks for making the Satellite maps visible again - that's great to see.

I suspect related to this - the default zoom level for the Site Details page now shows the entire British Isles.
Previously the default zoom was, I think, as close as possible with the whole route in view. Is it possible/easy to return this setting?

Many thanks, Ian

[2022-01-14 09:29] IanMiddlebrook opened #257 "Annual Summary page changes?"
Hi @DavidRoy @Gary-van-Breda

It seems that some changes have recently been made to the Annual Summary page, which have made things more difficult for recorders and co-ordinators.

Firstly, under 'filter by sites', the 'Branch Data' option has been removed for branch co-ordinators. I realise this option had pretty much the same effect as 'combine data for all recorders', so perhaps this is deliber

[2022-01-14 14:07] IanMiddlebrook opened #258 "Branch Co-ordinator unable to download data"
Hi @DavidRoy @Gary-van-Breda

This is no doubt linked to the changes going on with the Annual Summary page #257

A co-ordinator (HarryClarke) has let me know that he can no longer download the Branch Data.
If he loads up 'combine data for all recorders' with 'combine data for all sites allocated to your branch' he is offered all the expected downloads. However when he tries to download the Occurre

[2022-01-14 19:07] BirenRathod commented on #246
@IanMiddlebrook Zoom facility has been restored now. please close if you satisfy with it.

[2022-01-17 08:49] IanMiddlebrook commented on #246
Hi @BirenRathod

My comment relates to the default zoom level when you first arrive on a Site Details page.
For example, it now looks like this:
![image](https://user-images.githubusercontent.com/24699793/149736912-0d6ff228-f1e3-4812-8f80-4a677f7d34fc.png)
and I need to zoom in several times before I see anything meaningful.

Previously, it would would already be zoomed in to a suitable level.

Th

[2022-01-17 08:54] BirenRathod commented on #246
@IanMiddlebrook Yes, that has resolved. you just need to clear cache to see that.

[2022-01-17 09:05] IanMiddlebrook commented on #246
Aargh, sorry @BirenRathod , that always catches me out.

Many thanks, Ian

[2022-01-17 09:05] #246 closed

[2022-01-19 16:02] IanMiddlebrook commented on #257
Hi, Further examination shows that the Annual Summary table is not distinguishing properly between 'data for branch sites' and 'data for all sites'. So a branch co-ordinator can choose 'combine data for all recorders', but then 'combine data for sites allocated to you as branch sites' returns exactly the same figures as 'combine data for all sites'. The figures reflect the latter option, despite n

[2022-01-20 15:10] MeganLowe commented on #253
Hi, the site assignment page is not working at all now. The 'search' button doesn't seem to activate anything and I can't get it to give me a list of all sites for a particular region. Please can you let us know when this may be fixed? - I have two new Champions starting this month so without the site assignment page I will need to visit 120 individual site details pages to assign them.. Thanks, M

[2022-01-24 11:09] marcbotham opened #259 "entering historic data"
when entering older data once you have added a walk and submitted it takes you back to current year and you need to then navigate back to the year you are entering data for. with a full year of counts this is quite tedious and time consuming and I wondered whether there might be a way to stay on the year of entry or have an option to enter past data where the default is to stay on the year of entr

[2022-01-24 11:12] marcbotham opened #260 "Issue entering new species"
When trying to add a new species of moth to my list that I haven't recorded before or hasn't been recorded on the site, I type the species but the drop down menu doesn't appear and the spinning wheel just persists until I either leave the entry or close the page. So at the moment I cannot add data for species not already on my lists

[2022-01-27 17:36] Gary-van-Breda commented on #253
@IanMiddlebrook @MeganLowe Fix deployed to Test environment. Let me know if you are happy with it, and I'll push to Live

[2022-01-27 22:25] Gary-van-Breda commented on #254
Towards the end of last year, the way date and time fields were dealt was changed, moving away from jQuery over to HTML5. The associated code changes were a bit over-zealous, and removed the automatic filling in of the year field from the date on this form. I have re-instated this functionality.
@IanMiddlebrook : I have deployed this to Test for you to check. Once you are happy with it, I'll push

[2022-01-28 09:02] IanMiddlebrook commented on #253
Forgive me @Gary-van-Breda , but I'm not sure where to find the Test environment.
The only link I have no longer seems to be active: https://test-ukbms8.pantheonsite.io/
Could you send a link so that we can test?
Many thanks, Ian

[2022-01-28 09:49] Gary-van-Breda commented on #253
@IanMiddlebrook Following the Drupal9 upgrade, it is now held at https://test-brc-ukbms.pantheonsite.io/

[2022-01-28 09:55] IanMiddlebrook commented on #253
Thanks @Gary-van-Breda

Yes, Site Assignment page looks to be working as expected on test environment. Good to go live.

Thanks, Ian

[2022-01-28 10:47] IanMiddlebrook commented on #254
Hi @Gary-van-Breda
I've had a go with this on the test version. The year/date issue is now sorted and it's possible to get through tp the next page.
I tried to enter a count, but noticed that there didn't seem to be any sort of taxa check/list in the species field - it's more like a free text box. So when I finished and tried to save the record, I got this:

An internal error has occurred: there h

[2022-01-28 13:08] Gary-van-Breda commented on #235
Code change applied to re-instate the drop-down year control.
"My walks" provides list of years back to the earliest Walk uploaded by the person logged in.
"Branch walks" configured to display back to 1973 (mirrors the Annual Summary page limit).

@IanMiddlebrook : Deployed to Test: once you are happy I will push to Live.

[2022-01-28 13:27] Gary-van-Breda commented on #253
Now pushed to Live. Changes confirmed as deployed.
Closing

[2022-01-28 13:27] #253 closed

[2022-01-28 13:40] IanMiddlebrook commented on #235
Hi @Gary-van-Breda
Yes, looks good to me.
Thanks, Ian

[2022-01-28 14:11] Gary-van-Breda commented on #254
OK - again more changes associated with the change in the way the date fields are processed, but this time on the 2nd page. This led to a Javascript error which meant the autocompletes on the species fields were not initialised.

@IanMiddlebrook : I have deployed this to Test for you to check.

[2022-01-28 14:17] Gary-van-Breda commented on #223
@DavidRoy @IanMiddlebrook : The current common list is:

-      Polyommatus icarus
-       "Inachis io",
-       "Pararge aegeria",
-       "Lycaena phlaeas",
-       "Gonepteryx rhamni",
-       "Pyronia tithonus",
-       "Aphantopus hyperantus",
-       "Maniola jurtina",
-       "Vanessa (Cynthia) cardui",
-       "Vanessa atalanta",
-       "Anthocharis cardamines",
-       "Pieris brassicae"

[2022-01-28 14:28] IanMiddlebrook commented on #223
Hi @Gary-van-Breda @DavidRoy
I'd go with this list:

Brimstone
Large White
Small White
Green-veined White
Orange-tip
Small Copper
Common Blue
Holly Blue
Small Tortoiseshell
Peacock
Comma
Speckled Wood
Marbled White
Gatekeeper
Meadow Brown
Ringlet
Small Heath
Red Admiral
Painted Lady

Should be enough to get most new sites started.

Thanks, Ian

[2022-01-28 14:31] IanMiddlebrook commented on #254
Thanks @Gary-van-Breda
That's seems to have worked.
The only remaining issue I now see with the Timed Counts is when you review an existing count, the map on the data entry page is still zoomed right out, so you can't really see where the mapped polygon is. Would it be possible to have a sensible zoom level for an existing count?

Thanks, Ian

[2022-01-28 16:54] Gary-van-Breda commented on #254
@IanMiddlebrook : I've deployed a fix to Test for the initial zoom issue. If you'd like to have a final check, then I'll push to Live.

[2022-01-31 08:50] IanMiddlebrook commented on #254
Thanks @Gary-van-Breda
Yes, all looks good now.

[2022-01-31 09:17] Gary-van-Breda commented on #235
Now pushed to Live. Changes confirmed as deployed.
Closing

[2022-01-31 09:17] #235 closed

[2022-01-31 09:19] Gary-van-Breda commented on #254
Now pushed to Live. Changes confirmed as deployed.
Closing

[2022-01-31 09:19] #254 closed

[2022-01-31 11:21] Gary-van-Breda commented on #238
For TF8039 pt1: There is a bug in the All sites report, which is counting deleted walks as well.

[2022-01-31 11:36] Gary-van-Breda commented on #238
TF8039 Pt 2: It looks like there are 3 duplicated walks in 2016 (could be seen on the Annual summary page, Raw data). These appear to be part of a bulk upload of data carried out on 1st Dec 2017, and have no counts associated with them. They had not been "attached" to Chris, so did no appear on their "My walks".
I will manually delete these 3, but I'll have to run through all the walks uploaded as

[2022-01-31 14:16] Gary-van-Breda commented on #238
TF8039 Pt 2: It looks like a substantial amount (if not all) of this download have added duplicated walks.

J0197: It looks like data changes on 15 May 2020 have added some messed up data: there appears to be section level samples from a UKBMS Transect walk bolted into the WCBS-BC walk. The May walk was done by "Scullion, Alex", not "Conway, Rachael". Both are allocated to J0197.

[2022-02-01 07:59] Gary-van-Breda commented on #15
@IanMiddlebrook : the 'total plus estimates' is only available on the Estimates, not Summary. I've added an extra column to the Estimates table for the In-season totals (wks 1>26), and deployed to Test for you to check.
If you want a similar column on the Summary table, I can do that as well.

[2022-02-01 08:00] Gary-van-Breda commented on #166
@IanMiddlebrook : Fix applied, and deployed to test.

[2022-02-01 08:03] Gary-van-Breda commented on #185
@IanMiddlebrook : Pre-Drupal 9 look and feel re-instated: Annual Summary header colours changes, and link colours also changed to suit. Deployed to Test for review

[2022-02-01 08:09] Gary-van-Breda commented on #248
@IanMiddlebrook : "Copy chart to clipboard" button added to both summary and estimates charts on Annual Summary, Section plot and Year plot forms. This matches the "Copy table to clipboard" button on the table tabs on the Annual Summary.

Note that due to technical restrictions, this will not work with Firefox (and I've changed the button label in this case). I've checked its OK on Chrome and Edge

[2022-02-01 08:12] Gary-van-Breda commented on #257
@IanMiddlebrook : Fixes applied and deployed to Test for review.

[2022-02-01 08:13] Gary-van-Breda commented on #258
Correct: related to #257

@IanMiddlebrook : Fixes applied and deployed to Test for review.

[2022-02-01 08:15] Gary-van-Breda commented on #91
@IanMiddlebrook : rather than adding this to the Annual Summary, I've added the grid underneath the Chart on the Section plot.

Deployed to Test for review.

[2022-02-01 08:36] IanMiddlebrook commented on #91
That looks great, thanks @Gary-van-Breda

[2022-02-01 08:38] IanMiddlebrook commented on #258
Thanks @Gary-van-Breda,

I've tried it for a co-ordinator with a big branch, and that seems to be working.

[2022-02-01 08:54] IanMiddlebrook commented on #257
Thanks @Gary-van-Breda
This looks good and now displays all the correct data and relevant list of sites.

The only remaining issue is an error message that can pop up when you change the filter by recorder - usually if you switch back from a long site list to a shorter site list (eg. from 'combine data for all recorders' to 'my data'):

_The full location data set summary is either invalid for thi

[2022-02-01 09:07] IanMiddlebrook commented on #248
Hi @Gary-van-Breda

This is not working for me in Chrome (Version 97.0.4692.99 ).
The Summary Table, Estimate Table and Raw Data all copy to clipboard fine, but the two Charts do not copy to clipboard.

[2022-02-01 09:08] IanMiddlebrook commented on #185
Thanks @Gary-van-Breda, looks good

[2022-02-01 09:09] IanMiddlebrook commented on #166
Thanks @Gary-van-Breda

Looks good to me

[2022-02-01 09:10] IanMiddlebrook commented on #15
Thanks @Gary-van-Breda
No need for a similar column on the Summary Table.

[2022-02-01 09:31] Gary-van-Breda commented on #248
I've cleared the Drupal and Indicia Caches. I've got the same Chrome version.

@IanMiddlebrook : Could you try again?

[2022-02-01 09:53] IanMiddlebrook commented on #248
Hi @Gary-van-Breda

Well I've managed to copy a chart to clipboard now. It seems very temperamental though.
Once I've loaded up data, I can copy a chart if it's the first thing I try to copy to clipboard, but if I start copying various tables to clipboard and then try to copy another chart, It doesn't seem to work any more.

[2022-02-01 10:14] Gary-van-Breda commented on #248
Hi @IanMiddlebrook : are you having problems with all 3 forms, or just one of them?

[2022-02-01 10:18] IanMiddlebrook commented on #248
Hi @Gary-van-Breda
The Summary Table, Estimate Table and Raw Data grids all copy to clipboard without any trouble.
The Summary Chart and Estimate Chart are temperamental and only seem to copy to clipboard at first attempt, but not after I've copied something else.

[2022-02-01 10:42] Gary-van-Breda commented on #248
Hi @IanMiddlebrook : does it happen with the Section and Year plot forms?

[2022-02-01 11:01] IanMiddlebrook commented on #248
Sorry @Gary-van-Breda , I hadn't checked those.

They seem to be fine, except for one strange thing - they only seem to work/update at the second time of asking.
i.e, if I load up data for a site and select a couple of species, I can copy the chart to clipboard. If I then change the two species, and try to copy the chart, it just gives me the previous chart on my clipboard, but if I try again ,it'

[2022-02-01 14:05] Gary-van-Breda commented on #257
Hi @IanMiddlebrook : I've removed the error messages, and put in defaults instead.
These messages were occurring when the selected location in the site filter was not in the location list associated with the new "filter by recorder" value.
The location defaults are now the "Combined" values appropriate for the "filter by recorder" value: if a user is chosen, then it is the combined sites for that

[2022-02-01 14:09] Gary-van-Breda commented on #248
@IanMiddlebrook : I've put in some better feedback when copying the Annual summary charts, to mirror the Section and Year plots - the button text is changed whilst the copy is taking place. Can you confirm that the copy message is or isn't being displayed the times when the copy fails?
(I'm don't seem to be able to replicate this problem).

The general comment - these are all links (HTML <a> tags)

[2022-02-01 14:29] IanMiddlebrook commented on #257
Hi @Gary-van-Breda
The error messages have gone, which is great.

However, I'm not quite sure the selections are working exactly as you describe.

With 'combine data for all recorders', I looked at a single site (not one of mine) - all good.
I change to 'My Data' - it displays 'combine data for all my sites' - all good.
I change back to 'Combine Data for All Recorders', and it goes back to showing

[2022-02-01 14:38] IanMiddlebrook commented on #248
Hi @Gary-van-Breda

Yes, I think this is good, and probably highlights my problem - I was pasting before the copying had completed. Hadn't realised it might take so long (if only a few seconds).

Thanks, Ian

[2022-02-01 15:31] Gary-van-Breda commented on #257
Hi @IanMiddlebrook : I've dropped a tweak into Test, so that the URL should now keep up with the defaulted changes: it wasn't making the defaulted values persistent.
Ready for (hopefully?) a final review.

[2022-02-01 15:51] IanMiddlebrook commented on #257
Thanks @Gary-van-Breda
Well it solved that particular issue, but I'm not sure it's quite there, unless I'm misunderstanding.

Here's my sequence:
I go to Annual Summary and change to a useful year:
https://test-brc-ukbms.pantheonsite.io/annual-summary?year=2021  - showing My Data for all My Sites - all good.
I change to All Recorders:
https://test-brc-ukbms.pantheonsite.io/annual-summary?userID=al

[2022-02-01 16:04] Gary-van-Breda commented on #166
Now pushed to Live. Changes confirmed as deployed.
Closing

[2022-02-01 16:04] #166 closed

[2022-02-01 16:05] Gary-van-Breda commented on #185
Now pushed to Live. Changes confirmed as deployed.
Closing

[2022-02-01 16:05] #185 closed

[2022-02-01 16:06] Gary-van-Breda commented on #248
Now pushed to Live. Changes confirmed as deployed.
Closing

[2022-02-01 16:06] #248 closed

[2022-02-01 16:06] Gary-van-Breda commented on #257
Now pushed to Live. Changes confirmed as deployed.
Closing

[2022-02-01 16:06] #257 closed

[2022-02-01 16:13] Gary-van-Breda commented on #258
Now pushed to Live. Changes confirmed as deployed.
Closing

[2022-02-01 16:13] #258 closed

[2022-02-01 16:15] Gary-van-Breda commented on #15
Pt3 deployed to Live: 'In season total plus estimates' on the Estimates table.

[2022-02-01 16:16] Gary-van-Breda commented on #91
Now pushed to Live. Changes confirmed as deployed.
Closing

[2022-02-01 16:16] #91 closed

[2022-02-01 17:10] Gary-van-Breda commented on #194
@IanMiddlebrook : can you let me know a couple of sites that you want deleted, so that I can test this? Thanks.

[2022-02-02 08:34] IanMiddlebrook commented on #194
Hi @Gary-van-Breda
Any site with '(ignore)' in the site name - e.g. site ID 256903  or 262106

[2022-02-02 11:59] MeganLowe commented on #230
Hi @Gary-van-Breda this doesn't seem to be an issue anymore so will close. Thanks, Megan

[2022-02-02 11:59] #230 closed

[2022-02-03 10:13] Gary-van-Breda commented on #194
@IanMiddlebrook : Code fix applied and deployed to Test for review. I've deleted 2 of the 'ignore' sites, during my testing, but not all of them.
This may take a few seconds depending on the number of walks associated with the site.

[2022-02-03 10:15] Gary-van-Breda commented on #204
@MeganLowe : changed so only those who can create WCBS squares can modify the square grid reference.
Fix applied to Test for review.

[2022-02-03 10:18] Gary-van-Breda commented on #252
@IanMiddlebrook (@DavidRoy ) Fix applied and deployed to Test for review.

[2022-02-03 10:22] IanMiddlebrook commented on #194
Thanks @Gary-van-Breda

Yes, this is working for me.

[2022-02-03 10:24] Gary-van-Breda commented on #197
@IanMiddlebrook : change applied and deployed to Test for review.
It now appears at the top of the map, next to the tool buttons on the sections map.
It will display in the same format as that selected for the main square grid reference, be that OSGB, OSIE or normal Lat/Long.
At the moment it displays 10 digits for the OSGB/OSIE, but this is a form config and can be changed easily.
Similarly, it d

[2022-02-03 10:28] IanMiddlebrook commented on #252
Thanks @Gary-van-Breda
That looks much better now.

[2022-02-03 10:32] IanMiddlebrook commented on #197
Thanks @Gary-van-Breda
That looks good, but I can only seem to bring it up when I look at Section 1. It's not there when I move on to further sections?
I've looked at a few sites - all the same issue.

[2022-02-03 10:47] Gary-van-Breda commented on #197
@IanMiddlebrook : fix applied for it only appearing on section 1: deployed to Test for review.

[2022-02-03 10:52] IanMiddlebrook commented on #197
Thanks @Gary-van-Breda
Yes, that's working for me now on all sections.

[2022-02-03 11:48] Gary-van-Breda commented on #212
Note for self: can set the end date as compulsory on the front page using form config

[2022-02-03 11:56] MeganLowe commented on #204
Looks good to me @Gary-van-Breda Thank you.

[2022-02-03 12:05] Gary-van-Breda commented on #194
Code deployed to Live. Checked - deleted an 'ignore' Transect successfully.
Closing Issue

[2022-02-03 12:05] #194 closed

[2022-02-03 12:06] Gary-van-Breda commented on #197
Code deployed to Live. Checked - Map reference appears on multiple section maps, S1, S2 etc..
Closing Issue

[2022-02-03 12:06] #197 closed

[2022-02-03 12:07] Gary-van-Breda commented on #204
Code deployed to Live.
Closing Issue

[2022-02-03 12:07] #204 closed

[2022-02-03 12:08] Gary-van-Breda commented on #252
Code deployed to Live. Checked - attributes appear in correct order on Site and Section tabs.
Closing Issue

[2022-02-03 12:08] #252 closed

[2022-02-03 12:43] Gary-van-Breda commented on #203
Note to self: deploy https://www.drupal.org/project/r4032login ?

[2022-02-03 13:12] Gary-van-Breda commented on #203
r4032login deployed and enabled on Test for review ( https://test-brc-ukbms.pantheonsite.io/my-walks ).
If a user is not logged in, and an attempt is made to access any page (not just my-walks) they do not have permissions for, they are redirected to the login page, and from there back to the originally requested page.

@MeganLowe : can you confirm this does what you want?
@DavidRoy : Are you OK w

[2022-02-03 14:44] Gary-van-Breda commented on #243
@MeganLowe : Can you confirm this is still the case? I can not replicate it. Thanks.

[2022-02-03 20:38] DavidRoy commented on #203
Works well for me thanks

[2022-02-04 08:42] Gary-van-Breda commented on #247
Hi @IanMiddlebrook

I've included here a list of all the species in the Butterfly list. The Meadow Brown/Small Heath/Ringlet are at the end. Changing this order is just simply changing the value of the taxonomic_sort order, and is quite easy. However, the Large Heath is in amongst them - what should the order be when we include the Large Heath?

There are 2 other cases we need to consider, as they

[2022-02-04 08:50] MeganLowe commented on #203
Looks great, thanks Gary

[2022-02-04 08:59] MeganLowe commented on #243
Hi @Gary-van-Breda, it seems to be working fine now, thanks.

[2022-02-04 08:59] #243 closed

[2022-02-04 09:18] Gary-van-Breda commented on #203
Deployed to Live. R4032login module enabled, checked working OK.
Closing.

[2022-02-04 09:18] #203 closed

[2022-02-07 09:00] Gary-van-Breda commented on #249
@DavidRoy : since the antibot module was deployed (within the last couple of months), I can't log in to ukbms.org using Internet Explorer. I get a 'You have reached this page because you submitted a form that required JavaScript to be enabled on your browser' error.

- Does anyone else have this problem?
- Do we still support IE as a browser?

Unfortunately I do not have a Mac, and Windows Safari

[2022-02-07 09:50] Gary-van-Breda commented on #221
@IanMiddlebrook : can you confirm whether this is still a problem? I haven't done anything to fix this, but it looks to be working OK now.

[2022-02-07 12:18] MeganLowe opened #261 "BBS Squares to add to UKBMS"
Hello, please can you add these new WCBS-BBS squares to UKBMS:
[BBS 2022 new squares_final.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/8015117/BBS.2022.new.squares_final.xlsx)
Many thanks, Megan

[2022-02-07 16:34] Gary-van-Breda commented on #61
@DavidRoy : Could you let me know the Branch specific species lists? These can be grouped together, if you wish to have e.g. all of Scotland to share the same "Branch" list.

Technical solution: we have a grouping location which has a list of branches defined in an attribute. It also has another attribute which points to the taxon attribute which defines inclusion in the list. These can be defined

[2022-02-07 16:59] MeganLowe opened #262 "Species Summary on Site Details Map"
Hi, when you select a site on the site details map it takes you to a page with a summary of species seen and the number of records in brackets. For example: https://ukbms.org/site-details-map?location_id=258834
Would it be possible if the numbers in brackets were species abundance counts rather than the number of records please, so people can see how many of each species has been recorded in the s

[2022-02-07 17:42] Gary-van-Breda commented on #242
Hi @IanMiddlebrook
When the occurrence was recorded in the "Other taxa",  it got recorded against the Wood White in the UK Master List, not the UKBMS Butterfly list: these have different taxon ids (but the same meaning).
This is the only place this has happened for Wood White across the entire Data set.
I've also checked that Wood White now appears correctly on the Butterflies tab autocomplete (wh

[2022-02-08 07:38] Gary-van-Breda commented on #232
See also #251

[2022-02-08 08:28] Gary-van-Breda commented on #251
The confidential functionality was implemented with the Drupal8 version of the site, just before the 2021 season.
Before this "sensitivity" was used, but there was some confusion about this.
Below are the highlights of how this works in the main (non-verification) side of things:

- The confidential flag is stored on the Site
- Site Details: No special functionality other than presence of confiden

[2022-02-08 08:41] IanMiddlebrook commented on #242
That's great - thanks @Gary-van-Breda

[2022-02-08 08:41] #242 closed

[2022-02-08 09:01] Gary-van-Breda commented on #227
@BirenRathod or @johnvanbreda: can you copy the new [ukbms_recorder_names.xml](https://github.com/BiologicalRecordsCentre/indicia-reports/blob/master/reports/projects/ukbms/ukbms_recorder_names.xml) to the appropriate reports directory on Warehouse1? Thanks.

[2022-02-08 09:03] Gary-van-Breda commented on #238
@BirenRathod or @johnvanbreda: can you copy the updated [all_sites.xml](https://github.com/BiologicalRecordsCentre/indicia-reports/blob/master/reports/projects/ukbms/all_sites.xml) to the appropriate reports directory on Warehouse1? Thanks.

[2022-02-08 09:06] Gary-van-Breda commented on #251
See also #219

[2022-02-08 09:14] IanMiddlebrook commented on #221
Hi @Gary-van-Breda
No, it doesn't seem to be a problem any longer. I'll close.

[2022-02-08 09:14] #221 closed

[2022-02-08 09:17] BirenRathod commented on #227
@Gary-van-Breda  I have pulled this report on live warehouse now.

[2022-02-08 09:17] BirenRathod commented on #238
@Gary-van-Breda  I have pulled this report on live warehouse now.

[2022-02-08 12:10] IanMiddlebrook commented on #247
Hi @Gary-van-Breda @DavidRoy

For the bottom of the list, I've checked with recording forms and old Transect Walker software, and they all have Ringlet sitting between Meadow Brown and Small Heath - so that would be the best order for recorders.

For the Cryptic/Wood White, we don't have a precedent, and modern taxonomy places Cryptic Wood White after Wood White, so we'll go with that.

Monarch sh

[2022-02-08 13:42] Gary-van-Breda commented on #238
@MeganLowe : TF8039 pt1 - counts on the "My Sites" and "All Sites" pages now match (13 as of just now).
Other issues still "work in progress".

[2022-02-08 21:55] Gary-van-Breda commented on #227
@IanMiddlebrook : Fix deployed to Test for review.

[2022-02-08 22:02] Gary-van-Breda commented on #260
@marcbotham (@IanMiddlebrook @DavidRoy )
Fix deployed to test for review.

[2022-02-09 14:40] Gary-van-Breda commented on #212
Missing %Sun dealt with under #221 (now closed)
%Sun is now optional on main walk tab/page, and mandatory on Species tab/page (all 3 surveys)
Start time is mandatory as defined in warehouse, so is mandatory for data uploads (all 3 surveys)
End time is now mandatory on the Form, not the warehouse, so can be omitted in data uploads (all 3 surveys)

@DavidRoy : Do we actually want to put this number

[2022-02-09 14:44] Gary-van-Breda commented on #125
End time has been left optional in the warehouse on all 3 surveys, and set to mandatory on the forms.

[2022-02-09 14:44] Gary-van-Breda commented on #125
@DavidRoy Has this issue been addressed?

[2022-02-09 14:45] IanMiddlebrook commented on #212
Hi @Gary-van-Breda  @DavidRoy - the limit suggested here is for the %sun field, rather than species counts.
Some recorders accidentally put 1000 or 900 etc as a section %sun, but it should never be more than 100.

Thanks, Ian

[2022-02-09 14:58] Gary-van-Breda commented on #223
@IanMiddlebrook : New common species list deployed to test for review (all 3 surveys - Transects, WCBS BBS and BC).
This implements a new way of indicating the inclusion on the list: there is now an attribute on the taxon with a Yes/No value (UKBMS Species list only at the moment) which can be changed for individual species in the warehouse front end, rather than relying on form configuration.

[2022-02-09 15:58] DavidRoy commented on #125
Yes, thanks.  I will raise new issues for follow-on requirements

[2022-02-09 15:58] #125 closed

[2022-02-09 16:28] IanMiddlebrook commented on #223
Thanks @Gary-van-Breda
Common species list looks OK to me

[2022-02-10 08:36] Gary-van-Breda commented on #212
@IanMiddlebrook @MeganLowe @DavidRoy : Validation now enforced on %Sun on species grid. Deployed to Test for review.

[2022-02-10 08:43] Gary-van-Breda commented on #259
@DavidRoy @IanMiddlebrook @marcbotham : links sorted out between "Walk DE" and "My Walks". Should now keep track of the year, the site type and the site (if selected). Applied to "Cancel" and "Finish and return to walk".

[2022-02-10 09:58] MeganLowe commented on #212
Hi @Gary-van-Breda validation on %sun value works well.
I noted though that if you type nothing at all in any of the %sun fields then it still allows you to proceed to save with no flag to say that the field is required.
Also, start time isn't showing as a mandatory field for WCBS-BC or BBS on test or live, but is for Transects?
Thanks, Megan

[2022-02-10 11:08] marcbotham commented on #260
I just tried this and I'm still not getting a drop down menu when I type a new species name in. I just get the spinning wheel and nothing happens no matter how long I leave it

[2022-02-10 11:09] marcbotham commented on #259
This isn't working for me I'm afraid. Weirdly, it takes me back to 2021 rather than current year when I press finish and return to walk

[2022-02-10 11:22] Gary-van-Breda commented on #212
Hi @MeganLowe
I've cleared the cache on Test, so that should now be showing the start times as required for BC and BBS.
When I put nothing in to a %Sun on the species grid I am shown an error message. What do you mean about "proceeding to save"?

[2022-02-10 11:26] Gary-van-Breda commented on #260
@marcbotham When I masquerade as you into the test system it works OK for me. Can you make sure you clear your browser cache, then try again? Thanks.

[2022-02-10 11:28] Gary-van-Breda commented on #259
@marcbotham : Sorry to be a pain, but can you detail the steps you are taking to get this behaviour? Thanks.

[2022-02-10 11:35] Gary-van-Breda commented on #259
@marcbotham : Apologies again - this has only been deployed to the test site so far.

[2022-02-10 11:37] Gary-van-Breda commented on #260
@marcbotham : this has only been deployed to the test site so far.

[2022-02-10 11:40] marcbotham commented on #259
Ah that probably explains it then :) How do I get to test site (sorry I'm a luddite) please? The website currently starts at 2021 for My Walks rather than 2022, which is why it also returns to that when i press finish. It may be I have missed a discussion where it was thought that people are more likely to be entering previous years data in first few months of current year rather than entering new

[2022-02-10 12:49] MeganLowe commented on #212
Hi @Gary-van-Breda sorry by 'proceed to save' I mean when I select 'finish and return to walk list'. I've made a quick video of what I mean below - as you can see if I don't click or enter anything in any of the %sun fields no error message seems to appear?

https://user-images.githubusercontent.com/64081219/153411826-6753d264-0f12-4745-b7b3-db985c0f54df.mp4

[2022-02-10 13:24] Gary-van-Breda commented on #259
Test site is on https://test-brc-ukbms.pantheonsite.io/
Same login as your Live credentials. Although the code is test, the data is Live, so be careful.
Many moons ago it was decided that if the current date is before the first week displayed (i.e. week -3) then the default year displayed is last year.

[2022-02-10 14:37] marcbotham commented on #259
perfect thank you. works fine on test site for me, great stuff

[2022-02-10 14:38] marcbotham commented on #260
works for me on test site, thank you

[2022-02-12 10:32] Gary-van-Breda commented on #141
It looks like the last zero_abundance record was created just before the D8 release (Transect and WCBS surveys). There are approximately 26k zero abundance records from before this point.
@DavidRoy : Do you want these deleted, or just left now?

[2022-02-12 12:29] Gary-van-Breda commented on #212
@MeganLowe and FYI @DavidRoy @IanMiddlebrook
I have changed the form so that the user has to enter any mandatory section level attributes (%Sun) before they are allowed to enter any species counts, add a species to the grids using the autocompletes, or for new walks, use the Finish button.
Any empty mandatory section data is now highlighted when the species grid page is displayed, and a dialogue e

[2022-02-12 16:08] DavidRoy commented on #141
@Gary-van-Breda yes, please delete the zero records for the UKBMS Transects survey

[2022-02-14 09:28] IanMiddlebrook commented on #259
Thanks @Gary-van-Breda
For me, it's returning to the correct year, and if I start from WCBS-BC it returns to that location type. That's great.

However, you implied that it should keep track of the site ID. If I start from 'Transect' and select an individual transect - it goes back to all transects (the return URL only specifies the year, not the location type or ID).

[2022-02-14 10:44] IanMiddlebrook commented on #227
Thanks @Gary-van-Breda
Yes, that looks to be working better now.

[2022-02-14 11:52] Gary-van-Breda commented on #219
@MeganLowe : Is this historic flag only for WCBS-BC sites, or should it also be on Transect and WCBS-BBS sites?
Can you also give me the URL(s) of the page(s) which you would like historic sites excluded from?
Thanks

[2022-02-14 11:55] Gary-van-Breda commented on #53
Code deployed to Test: checked works OK. Will close when deployed to Live.

[2022-02-14 12:30] MeganLowe commented on #219
Hi @Gary-van-Breda yes only for WCBS-BC please. This is the page I would like historic sites excluded from: https://ukbms.org/sites
Is it possible to make these historic checkboxes only viewable/editable by Admin Users? Thanks, Megan.

[2022-02-14 12:50] Gary-van-Breda commented on #259
@IanMiddlebrook : additional change applied so that both the location type and site ID are passed to both the new and existing walks. Change deployed on Test for review.

[2022-02-14 15:55] IanMiddlebrook commented on #259
Thanks @Gary-van-Breda - looks good to me

[2022-02-15 08:43] Gary-van-Breda commented on #229
@IanMiddlebrook or @DavidRoy : Can you attach an example of the data file used to upload the historic data that had the section 10 put into section 1?

[2022-02-15 09:03] MeganLowe commented on #212
Looks good @Gary-van-Breda thank you.

[2022-02-15 09:28] Gary-van-Breda commented on #53
Deployed to Live. Checked OK.

[2022-02-15 09:28] #53 closed

[2022-02-15 09:37] Gary-van-Breda commented on #212
Deployed to Live.
Closing

[2022-02-15 09:37] #212 closed

[2022-02-15 09:38] Gary-van-Breda commented on #227
Deployed to Live. Checked.
Closing.

[2022-02-15 09:38] #227 closed

[2022-02-15 09:40] Gary-van-Breda commented on #259
Deployed to Live. Checked.
Closing.

[2022-02-15 09:43] Gary-van-Breda commented on #260
Deployed to Live. Checked.
Closing

[2022-02-15 09:43] #260 closed

[2022-02-15 09:44] Gary-van-Breda commented on #223
Deployed to Live. Checked.
Closing

[2022-02-15 09:44] #223 closed

[2022-02-15 09:46] #259 closed

[2022-02-15 10:29] DavidRoy commented on #229
@Gary-van-Breda @IanMiddlebrook I've tracked down the issue I think. The import process started with matching the Indicia site and section IDs with the historic data - so that data was loaded against the right location terms lists. Unfortunately there is a problem with the [Full Site Sections data download (CSV)] that is downloaded from https://ukbms.org/all-sites.  Several Sections have the name

[2022-02-15 10:32] DavidRoy commented on #229
@Gary-van-Breda I suggest we return to this issue once other ones are resolved.  It will take some thought as to how best to apply a general fix.  I think we can do it based on the occurrence.external-key as we can match back to the original data that was loaded

[2022-02-16 08:36] Gary-van-Breda commented on #261
@MeganLowe : I've uploaded these Squares for you.

[2022-02-16 09:26] MeganLowe commented on #261
Thanks very much @Gary-van-Breda

[2022-02-16 09:26] #261 closed

[2022-02-17 08:36] Gary-van-Breda commented on #154
I've added the same sites download report to the "My Sites" and "Branch Sites" pages on Live that is on the "All Sites" page. When #153 is done, the extra data will appear here as well, as they use the same report on the warehouse.
I've checked that they are both working correctly,
@DavidRoy : if you are happy, can you close this issue?

[2022-02-17 15:24] DavidRoy commented on #154
Thanks

[2022-02-17 15:24] #154 closed

[2022-02-24 10:37] IanMiddlebrook opened #263 "Google satellite map not fixed to co-ordinates?"
Hi @Gary-van-Breda
A co-ordinator was adjusting a transect route and noticed that when he tried to move the map around (either by clicking an dragging, or using the up/down arrows) the route and the satellite map did not move in unison.
The transect in question is 'Runnymede, Egham (2015 route)' (location_ID 39781).

I tried it, and the same thing happened, however, if I switch to OpenStreetMap, t

[2022-02-24 14:16] IanMiddlebrook opened #264 "Sites map has no Sites on it"
Hi @DavidRoy @Gary-van-Breda

A colleague has just pointed out to me that the map of site locations is not displaying any Sites at the moment:
https://ukbms.org/sites

Thanks, Ian

[2022-02-24 14:27] DavidRoy commented on #264
@BirenRathod can you look into this please
including @burkmarr who developed this page I believe

[2022-02-24 15:05] BirenRathod commented on #264
@burkmarr the report branch_sites didn't find location_attribute_id = 322. Any idea?

[2022-02-24 17:00] Gary-van-Breda commented on #264
The initial "disappearance" issue is due to a change for issue #219: I wasn't expecting the report change to be promoted to warehouse1 just yet. I've lodged a fix to the projects/ukbms/ukbms_sites.xml report: @BirenRathod can you copy the new report version over to warehouse1? Thanks
Is there an issue with branch_sites report?

[2022-02-24 17:17] BirenRathod commented on #264
@Gary-van-Breda I pulled that report now. Due to that the query in that report takes so long to process and ukbms.org/site page show "The application did not respond in time.".

Not sure what have you changed in it but ukbms_sites report was working fine before and problem of using branch_sites report too.

[2022-02-25 07:23] Gary-van-Breda commented on #264
Sorry - just spotted a bug in the new join in the ukbms_sites report. Code fixed and lodged. @BirenRathod can you copy the new report version over to warehouse1 again? Thanks.

What is wrong with the branch_sites report?

[2022-02-25 08:20] Gary-van-Breda commented on #241
Report deployed to Test, available on Downloads tab of Annual Summary.
Note this is at a site level, so if produced for a "Combined" location option, there will be data for multiple sites in the report.
There have been some associated tweaks to the other 4 download reports, so it is worth double checking their contents as well.

[2022-02-25 08:58] Gary-van-Breda commented on #219
@MeganLowe : code deployed to Test site for review.
The historic site attribute is a checkbox that is hidden on the site data entry page unless you are an admin (see caveat below)
It is available on the "All Sites" as an updateable checkbox, similar in concept to the Code field, so the sites can all be set to historic on that page. The "All Sites" page is only viewable by Admins.
The sites page re

[2022-02-25 09:13] BirenRathod commented on #264
@Gary-van-Breda I have pulled that report now and nothing wrong with branch_sites report.
@IanMiddlebrook this has resolved this problem. please close it.

[2022-02-25 09:28] IanMiddlebrook commented on #264
Thanks all

[2022-02-25 09:28] #264 closed

[2022-02-25 09:44] Gary-van-Breda commented on #247
@IanMiddlebrook @DavidRoy
I've altered the ordering as follows:

- Wood White is now before Cryptic Wood White
- Monarch is now before Speckled Wood
- Ringlet is now between Meadow Brown and Small Heath (Large Heath is at the very end)

The code currently does not allow for the "full" list to be a subset of the species on the list: we could do something similar to the common species list, and have

[2022-02-25 10:13] Gary-van-Breda commented on #263
Note to self: I have seen issues with the last 2 zoom levels, when the satellite map seems to switch from an overhead view, to an oblique view.

[2022-02-25 12:23] MeganLowe commented on #219
Hi @Gary-van-Breda that's great, looking and working well for me so happy for it to be deployed to live. Thank you!

[2022-02-28 13:52] Gary-van-Breda commented on #263
@IanMiddlebrook Fix deployed to Test for review (ensures that map tilt is forced to 0 - overhead).

[2022-02-28 14:13] Gary-van-Breda commented on #141
@DavidRoy @MeganLowe : do I delete the zero_abundance records in the two WCBS surveys as well? (There are 694 on BBS and 999 on BC)

[2022-02-28 14:36] Gary-van-Breda commented on #141
All the Zero abundance records have been set to deleted for the UKBMS Transects survey.

[2022-02-28 14:57] IanMiddlebrook commented on #263
Hi @Gary-van-Breda - looks good to me

Thanks, Ian

[2022-02-28 17:05] Gary-van-Breda commented on #251
@DavidRoy : what are your thoughts about this?

[2022-03-01 10:06] Gary-van-Breda commented on #228
The pantheon environment (now) requires all cookies names to be prefixed with the string "STYXKEY" in order to be accepted.

@MeganLowe : Code change deployed to Test for review - interconnected pages are My Walks, Branch Walks, My Sites, Branch Sites, All Sites, Annual Summary, Section plot and Year plot.

[2022-03-01 12:16] MeganLowe commented on #141
Hi @Gary-van-Breda, yes please to the WCBS surveys too.

[2022-03-01 14:30] Gary-van-Breda commented on #141
All the Zero abundance records have been set to deleted for the WCBS-BBS and WCBS-BC surveys. All cache_occurrence* entries removed for these (and zero abundance Transect occurrence records). Zero abundance records are excluded from the Annual Summary calculations, so no need to re-run any of them.
Closing.

[2022-03-01 14:30] #141 closed

[2022-03-04 22:55] Gary-van-Breda commented on #226
@IanMiddlebrook : Code deployed to Test site for review.

A Block has been added after the "My Walks" grid to allow users to set their status. (This is also visible as a field on their normal Drupal account/profile page).

Branch Coordinators have an extra link under the "My Data->Walks" Menu, called "Branch Users" which lists the recorders assigned to sites which the currently logged in user is a

[2022-03-05 08:57] Gary-van-Breda commented on #263
Deployed to Live. Checked on Runnymeade: OK.
Closing.

[2022-03-05 08:57] #263 closed

[2022-03-05 09:19] Gary-van-Breda commented on #219
Deployed to Live. Site DE entry page configured to hide the Historic flag from non admins,
All sites page reconfigured to allow update of the historic flag for WCBS-BC only.
No reconfig required for sites page as just the report internals have changed.

Only location with historic set is ST5537, last edited by @MeganLowe - I assume as part of testing of this above.

Closing.

[2022-03-05 09:19] #219 closed

[2022-03-05 09:33] Gary-van-Breda commented on #228
This has been pushed through to Live. I have configured it and checked on Live, and it looks good to me.
Note that the "Finish and return" was addressed as part of #259
Closing

[2022-03-05 10:09] #228 closed

[2022-03-07 10:45] Gary-van-Breda commented on #67
@DavidRoy : has this been addressed? It looks like to ToU are all set up, and that there is a Privacy policy.
Is there anything more to do on this front (is the DAP a different document)?

[2022-03-07 11:41] MeganLowe opened #265 "WCBS-BC squares incorrectly showing on Holiday Square map"
Hello, there are a number of WCBS-BC squares that are currently showing on the Holiday Squares map (here: https://ukbms.org/holiday-squares) that shouldn't be there. Holiday squares have only been 'released' in Scotland, Wales, Yorkshire, and North England, but the map is including squares from all around the country. I haven't managed to identify a pattern as to why the squares that aren't meant

[2022-03-07 14:25] Gary-van-Breda commented on #265
@MeganLowe Bugfix applied to Test site for review.

[2022-03-07 14:28] MeganLowe commented on #265
That's looking much better on the test website, thanks Gary.

[2022-03-07 14:38] Gary-van-Breda commented on #265
Deployed to Live. Closing.

[2022-03-07 14:38] #265 closed

[2022-03-07 21:58] Gary-van-Breda commented on #238
@MeganLowe : TF8039 Pt 2: of the 1044ish WCBS-BC walks that were loaded on the 1st Dec 2017 for the Year 2016, 539 appear to be duplicates of data input manually. What do you want to do with this data?
(of note that the other square mentioned, J0197, has 2 duplicated walks from this data load).

[2022-03-08 09:09] Gary-van-Breda commented on #238
@MeganLowe : data for J0197 sorted.

[2022-03-08 09:24] MeganLowe commented on #238
Hi @Gary-van-Breda, please can the ‘admin’ duplicates loaded on 1st Dec 2017 be removed – i.e. where there are duplicates, keep the samples connected to a user account and remove the sample loaded by admin? Thanks, Megan

[2022-03-08 09:32] Gary-van-Breda commented on #188
We have to be a bit careful here. When the grid reference was changed on the location, it was **not** automatically changed on all the walk section samples associated with it (the philosophy behind this may be that if there is a genuine change to the section route and hence the section gridref, you don't want to change the old correct sample gridref - but that may not be how we manage sites, so ma

[2022-03-08 09:43] IanMiddlebrook commented on #188
Hi @Gary-van-Breda @DavidRoy

- as far as Grangelands is concerned, we know that the new grid ref is a correction, so we should change all relevant samples if we can.
- in the vast majority of cases, any change to a section grid reference will be the result of a correction - either one that the recorder has spotted, or the result of drawing in the section route, which generates an accurate grid re

[2022-03-08 10:16] IanMiddlebrook commented on #247
Instead of calling it the Full list, if we remove the rare migrants by default, could we call it 'All UK Regulars' ?

[2022-03-08 10:18] IanMiddlebrook commented on #241
Thanks @Gary-van-Breda
This seems to do the job.

[2022-03-08 10:25] IanMiddlebrook commented on #226
Thanks @Gary-van-Breda
The list of Users on the Branch Data page seems to be a bit random. Would it be possible to sort the list by Last Name, to make it easier for Co-ordinators to check through?

message:
"Thank you for confirming you have submitted all your data for the current year.
This flag will be reset before the next season begins."

[2022-03-08 10:35] Gary-van-Breda commented on #241
Deployed to Live, and checked OK.
Closing

[2022-03-08 10:35] #241 closed

[2022-03-08 11:29] Gary-van-Breda commented on #226
@IanMiddlebrook : the people list on the branch users page has been changed to sort by last_name, and the message has been updated.
Deployed to test for review.

[2022-03-08 11:32] Gary-van-Breda commented on #188
@DavidRoy : are you OK with me adding this functionality? (whenever the grid reference on a section is changed, all the subsamples that reference it will be updated to use the same grid reference).

[2022-03-08 11:36] IanMiddlebrook commented on #226
Looks good - thanks @Gary-van-Breda

[2022-03-08 12:43] Gary-van-Breda commented on #226
Deployed to Live: checked - OK.
Closing

[2022-03-08 12:43] #226 closed

[2022-03-08 13:02] RachaelConway opened #266 "Annual Summary - summary chart - Show all/hide all not working"
Hi there,  Show all /hide all not working on summary chart. It is working on estimates chart however.

Love the new copy to clipboard function.

[2022-03-08 13:37] Gary-van-Breda commented on #266
@RachaelConway : can you make sure that you clear your browser cache, and then can you try again?
If you are still having problems, could you let me know which browser you are using, and on what type of machine?
Thanks.

[2022-03-08 16:01] RachaelConway commented on #266
Hi @Gary that has worked thank you.

[2022-03-09 11:35] burkmarr commented on #255
@johnvanbreda @JimBacon - could use some advice on this. On the face of it, it should be quite straight forward, but I've encountered a few problems, some of which I've overcome, but the most recent one I need advice on.

**The background**
- The BBS shapefile consists of linear geometry for each of around 62000 transect sections.
- Most of these transect sections are already in the warehouse unde

[2022-03-09 11:39] DavidRoy commented on #255
This issue may also be relevant - https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/261
also tagging @Gary-van-Breda as he's doing a lot of work on the UKBMS site at the moment

[2022-03-09 11:41] burkmarr commented on #255
Thanks @DavidRoy - I'll take a look maybe Gary went straight to the main warehouse and I need to get them into dev.

[2022-03-09 11:42] DavidRoy commented on #255
yes, that was what I thought for the 'missing' locations to load the geometry for

[2022-03-09 11:48] JimBacon commented on #255
I think if you upload a csv with a Gridref column containing the monad reference then Indicia will work out the geom. You could do a one-line test file to confirm.

[2022-03-09 11:50] burkmarr commented on #255
Thanks @JimBacon - you sent just as I was doing it! I used CSV with two columns - gr and name both with the monad. Mapped to centroid sref and name respectively and it worked.

[2022-03-09 12:02] Gary-van-Breda commented on #255
@burkmarr Just to confirm your suspicions, I have not touched the Dev warehouse. The squares uploaded for #261 went straight into Live.

[2022-03-09 12:08] burkmarr commented on #255
Thanks Gary. I imported them into dev warehouse but I still got the same problem - there are still some squares related to the transect sections that aren't already in the warehouse, e.g:

![image](https://user-images.githubusercontent.com/9275178/157438818-178b8a40-6940-4ee2-b138-38bed3e8e2dd.png)

It's not in the dev or live warehouse.

I think I'll download the names of all the existing WCBS-BB

[2022-03-09 12:18] johnvanbreda commented on #255
@burkmarr when I've had to do significant processing of geometry data in the past, I've found it easier to use shp2pgsql to get the geometries into a temporary table, then write SQL that does the processing. You could in this instance create a temporary table with all the parent geometry data and then just insert the missing ones, likewise the child geometries.

[2022-03-09 12:30] MeganLowe commented on #255
Hi @burkmarr let me know if you'd like me to check your 'extracted' BBS squares with the BTO. I was under the impression we had the full set of BBS squares, so not sure why there would be routes for ones that don't exist in the warehouse. I guess it's possible some have slipped through the net?!

[2022-03-09 13:54] burkmarr commented on #255
Thanks @MeganLowe. When I generate a list of the squares not yet on the live warehouse I'll send them to you so that you can check them. Are there any that are not meant for public viewing?

[2022-03-09 14:13] burkmarr commented on #255
@MeganLowe - I have that list if you want it.

[2022-03-09 14:31] burkmarr commented on #255
@johnvanbreda - I'm persisting with the upload approach for now. I think it would also take me a while to sort out your SQL approach since I'm rather out of practice with that and the DB structure right now.

I have come across another problem but I have a potential solution I'd like to run past you.

Here's the problem:

![image](https://user-images.githubusercontent.com/9275178/157461660-b717f0b

[2022-03-09 14:38] johnvanbreda commented on #255
@burkmarr that sounds fine from the perspective of the upload. I've not got enough knowledge of the UKBMS UI to know if the added codes will be visible to the users and might cause potential confusion - though I suppose you could always remove them again afterwards.

[2022-03-09 14:39] MeganLowe commented on #255
@burkmarr yes please. Please can you explain what you mean by 'public viewing'? None of the BBS squares are 'public' as such, in that they shouldn't appear on the Sites Map. The only users that can view the BBS route and details are those allocated to the individual squares or admin users.

[2022-03-09 14:44] burkmarr commented on #255
@MeganLowe - my misunderstanding; I don't really know the UKBMS site and when I need to log in I often do it as admin, so hadn't apprediated that in general users can't see them. I'll email you the square names. If you drop me an email at rburkmar@ceh.ac.uk I will reply with the squares attached.

[2022-03-10 12:02] IanMiddlebrook commented on #61
[BC Branch Species Lists.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/8223148/BC.Branch.Species.Lists.xlsx)

Hi @Gary-van-Breda @DavidRoy  Here's a list I put together a couple of years ago.
Hope that helps, Ian

[2022-03-10 13:45] Gary-van-Breda commented on #61
@IanMiddlebrook Are these for all 3 surveys - Transect, WCBS-BBS and WCBS-BC?

[2022-03-10 13:53] IanMiddlebrook commented on #61
Hi @Gary-van-Breda @DavidRoy
These are the species that occur in each branch area.
I don't think it should make any difference which survey you are doing, if you select a species list based on your branch area then it should be the same.
Thanks, Ian

[2022-03-11 14:01] burkmarr commented on #255
@MeganLowe - these are in the system now. Can you check and, if al is well, close the issue? There were some transect sections in that original shapefile that had null geometry or, in one case, geometry of zero length. So I did not import these. I will email you the list of them.

[2022-03-11 14:23] MeganLowe commented on #255
Brilliant, looks good. Thanks @burkmarr and all involved

[2022-03-11 14:23] #255 closed

[2022-03-14 12:32] RachaelConway opened #267 "Annual Summary Hide all/ show all"
Hi there,

When using Annual Summary - show all/hide all.

Hide all selected - then single species selected e.g Green veined white - all OK
Show all - all Ok
Hide all again - hides all except Green Veined White (and other species if previously selected)

Required to  untick one by one or come out of annual summary and come back in again to clear

[2022-03-15 13:18] RachaelConway opened #268 "UKBMS transect inbox - not receiving new registrant notification emails."
Hi I'm not receiving notification of new account emails,

[2022-03-15 13:56] IanMiddlebrook commented on #268
@BirenRathod @DavidRoy
Hi, it's not just BC that are not receiving notifications of new accounts, but the new Users are not receiving an email to say their Account is pending approval. This has been ongoing for a week or so.

Thanks, Ian

[2022-03-15 14:11] BirenRathod commented on #268
@IanMiddlebrook I just tested email system on Drupal to check if it works fine or not and it works fine. see below a screenshot.

![image](https://user-images.githubusercontent.com/5941255/158396479-946097f6-b76b-46bd-9afa-96858feb6585.png)

[2022-03-15 14:22] IanMiddlebrook commented on #268
@BirenRathod - No, it's not working fine.

We have had about 20 new Users in the last week - we received no emails for any of them, and many of those users contacted us to say they'd not received an email (the others probably just gave up).

I've just set up a new account with my private email address. I didn't receive an email, and the transect@butterfly-conservation.org address did not receive a

[2022-03-15 14:25] IanMiddlebrook commented on #268
If it helps - when we Unblock the new accounts, the users do receive their email about logging in and setting a password.

[2022-03-15 14:55] BirenRathod commented on #268
@IanMiddlebrook Yes, so email system works fine. that is what I mean but when user registered, no email delivers. Are you aware of any change?
I'm adding @Gary-van-Breda here. Has your last changed impacted to this?

[2022-03-15 15:03] IanMiddlebrook commented on #268
Thanks @BirenRathod
I'm not aware of any change - I looked at the configuration (as much as I could understand it), and it looked OK.

[2022-03-15 15:43] BirenRathod commented on #268
Thanks @IanMiddlebrook. I will wait for @Gary-van-Breda to say on this as he made changes a week ago in the code and that might have impacted on this.

[2022-03-23 14:35] RachaelConway commented on #268
Hello all, just to update that the problem still exists and in addition as users are not receiving confirmation emails they are assuming something is wrong their end and are creating additional accounts. We are at a very busy time of year for processing new registrations ahead of the UKBMS season. In the past week I have had to enter almost 50 accounts to get the email address out to send confirma

[2022-03-23 14:53] IanMiddlebrook commented on #268
@DavidRoy

[2022-04-01 15:05] IanMiddlebrook opened #269 "WCBS square section grid refs"
Hi @DavidRoy ,

A county recorder has pointed out that some WCBS square data are coming through with odd grid references.

These are specifically linked to squares where we have not yet digitised the true route, and they still have 10 small squares arranged from bottom left up to top right, within the 1km square.
The section data are supplied with the grid refs for these 100m squares, which are un

[2022-04-01 15:08] DavidRoy commented on #269
@Gary-van-Breda - can you advise on this?  Is the best option to give all the sections the parent 1km grid reference priory to the route being digitised?

[2022-04-07 14:15] Gary-van-Breda commented on #268
No - nothing I've done this year has had anything to do with the user registration process.

[2022-04-07 14:31] BirenRathod commented on #268
@Gary-van-Breda This has stopped working once you updated code here -> https://dashboard.pantheon.io/sites/8d698669-7160-4231-b162-bddb55751b05#dev/code. not sure why?

[2022-04-07 14:33] BirenRathod commented on #268
@Gary-van-Breda For your info, registration process works fine but it has stopped sending a notification email for some reason.

[2022-04-07 14:34] BirenRathod commented on #268
@Gary-van-Breda Also, email system works fine too, I already checked.

[2022-04-12 13:13] Gary-van-Breda commented on #268
@BirenRathod : which commit you mean? - this link just shows all the commits deployed to Dev.

[2022-04-12 13:17] BirenRathod commented on #268
@Gary-van-Breda This is the commit -> 9b94b6591c

[2022-04-14 10:19] MeganLowe opened #270 "Remove test data"
Hello, when I was testing the 'Enter Count' function earlier this year I submitted a dummy data entry form. Problem being that it was for a date in February and I now can't find a way to delete it (due to the My Walks calendar starting in March). Are you able to delete it directly from the database please? It's for WCBS-BC SU7797 (CCC-Andridge Common) on 28/02/2022
Thank you, Megan

[2022-04-19 14:59] IanMiddlebrook opened #271 "Data Entry Warnings"
Hi @Gary-van-Breda @DavidRoy

Do you know what has happened to the warnings on the data entry page, which were the first line of defence against data entry errors - the 'out of area' or 'outside flight period' warnings?
They are no longer there.

Thanks, Ian

[2022-04-19 15:06] DavidRoy commented on #271
@IanMiddlebrook the butterfly rules were updated recently.
@JimBacon could you investigate this please

[2022-04-19 15:38] JimBacon commented on #271
Hi @IanMiddlebrook, Could you tell me which data entry page should have these warnings?

[2022-04-19 15:43] IanMiddlebrook commented on #271
Hi @JimBacon
It's the Walk Data Entry pages (for Transects, WCBS-BC and WCBS-BBS sites).
See attached guidance, page 7, point 15.
[Getting Started with UKBMS Data Entry.pdf](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/8514474/Getting.Started.with.UKBMS.Data.Entry.pdf)

Thanks, Ian

[2022-04-20 11:57] RachaelConway opened #272 "Data entry Warnings - additional issues"
<img width="653" alt="warning" src="https://user-images.githubusercontent.com/88440885/164224274-5c368c2f-8217-43fa-8f5c-203606d40a0c.png">

"The value entered for this taxon on this transect section (5) exceeds the expected maximum (undefined)"

Users reporting a pop up when submitting other taxa. I was able to recreate and also received it when submitting a Cryptic Wood White ( I am in Northern

[2022-04-20 14:24] JimBacon commented on #271
Thanks Ian, that clarified the problem beautifully.
I think I see where @Gary-van-Breda has introduced the problem in commit [e85e7361df](https://dashboard.pantheon.io/sites/8d698669-7160-4231-b162-bddb55751b05#)

[code]
has been replaced by
[code]
which does not contain all the metadata records for the given verification rule.

I have a problem with fixing this though as, it appears to me, the st

[2022-04-20 14:38] Gary-van-Breda commented on #271
I'll look at this...

[2022-04-20 15:11] IanMiddlebrook commented on #271
Hi @Gary-van-Breda @JimBacon
I wonder if this issue also had a bearing on issue #272 on the same Data Entry page, where undefined excessive count warnings are being generated - apparently at random.

Thanks, Ian

[2022-04-21 08:55] JimBacon commented on #271
No, #272 is an unrelated bug. (Also, it is not at random. It will affect species where the attribute defining the maximum number of a species expected in a section has not been set.)

[2022-04-21 08:58] JimBacon commented on #272
@Gary-van-Breda Will you fix this at the same time as #271? The word `undefined` needs to be in quotation marks at line 2442 of `ukbms_sectioned_transects_input_sample_2.js` in the `checkSectionLimit` function.

[2022-04-21 09:29] JimBacon commented on #272
@IanMiddlebrook Each species has an attribute setting the maximum number that you might see on a section before raising the above warning. The following taxa do not have the value set. Is this something you would like to alter? It makes no allowance for your location and is independent of the verification rules for flight period and distribution.

_Nymphalis polychloros_, Large Tortoiseshell
_Lept

[2022-04-21 09:41] RachaelConway commented on #272
Hi all, the warning appears when the max number is 1,  the CWW should probably be removed from this list,  it is commonly recorded on transects in Northern Ireland

Users also getting warning when submitting other species eg. moths; warning on submission in 1 x Silver Y
<img width="630" alt="max 1" src="https://user-images.githubusercontent.com/88440885/164427466-cf4b0070-cbd5-487c-a477-a69ef78957

[2022-04-21 09:43] IanMiddlebrook commented on #272
Hi @JimBacon

Cryptic Wood White should have a maximum of 20, to bring it in line with Wood White.

The others are all rare migrants - they certainly need some sort of warning on them, and I've a feeling they don't all have verification rules for flight period or distribution (due to lack of data). Perhaps set a maximum of 1 (or zero) for these species, but really they need a different message - "

[2022-04-21 10:04] JimBacon commented on #272
Hi @RachaelConway, Thanks for the feedback. It is really useful.

There are two problems interacting with CWW. One is that there is no maximum number set in the configuration and the other is that there is a bug in the code which causes this message to pop up because of the missing configuration. I've done as Ian suggested and have set a limit of 20 for CWW and now you get no message for 20 or bel

[2022-04-21 10:16] JimBacon commented on #272
For moths, odonata, and others we do not configure a maximum value and so the bug manifests itself in all cases.

[2022-04-21 10:38] JimBacon opened #273 "Warn when recording rare migrants"
The following species do not have a value configured for the taxon attribute, 'UKBMS Section Limits'

_Nymphalis polychloros_, Large Tortoiseshell
_Danaus plexippus_, Monarch
_Lycaena dispar_, Large Copper
_Nymphalis antiopa_, Camberwell Beauty
_Colias hyale_, Pale Clouded Yellow
_Colias alfacariensis_, Berger's Clouded Yellow

In consequence, you can record any number of them without warning.

Ia

[2022-04-21 10:48] JimBacon commented on #272
@IanMiddlebrook I've created issue #273 for your suggestion of warning on recording rare migrants. @DavidRoy can prioritise and allocate.

[2022-04-21 10:54] DavidRoy commented on #272
Thanks @JimBacon.  Best for @Gary-van-Breda to pick this up when fixing the wider bug.  By definition, rare migrants will not often be entered

[2022-04-25 14:59] RachaelConway commented on #268
Hello all, the problem still remains,
Some users are trying to set up multiple accounts, asking for accounts to be deleted and also raising concerns about personal information safety. One user described receiving phising emails after attempting to set up a UKBMS account 3 times. As processing new registrants is now taking much longer, I do not have the capacity to inform local co-ordinators of new

[2022-04-26 08:16] MeganLowe opened #274 "Data Entry WCBS-BBS"
Hi, a recorder has reported that when they try to submit their WCBS-BBS records the data entry form displays duplicate sections (see image below). I can't work out what is going on to cause this - please can someone take a look? Thanks, Megan
![image](https://user-images.githubusercontent.com/64081219/165252238-477ece2f-28c4-4b3b-ae87-b3ffba4e80d1.png)

[2022-04-26 15:08] Gary-van-Breda commented on #270
Walk now deleted, and Annual summary checked to ensure data no longer visible.

It is possible to get to the walk outside the calendar by

- going into Annual summary
- filter by the location/year in question
- then go to the "Raw data". You should then be able to see all the walks for the year/site combination, even those outside the calendar.

The date in the grid header will be a link to return

[2022-04-27 09:31] MeganLowe commented on #270
Thank you @Gary-van-Breda Good to know about the 'Raw data' options too!

[2022-04-27 09:31] #270 closed

[2022-04-27 20:52] Gary-van-Breda commented on #268
@RachaelConway Fix deployed to Live.
The change for the finished field messed up which form was used to register a user.

[2022-04-27 20:53] Gary-van-Breda commented on #267
@RachaelConway Fix deployed to Live.

[2022-04-27 22:10] Gary-van-Breda commented on #272
Thanks for the pointer @JimBacon
@RachaelConway Code fixed and deployed to Live

[2022-04-27 22:11] Gary-van-Breda commented on #271
@IanMiddlebrook Code fixed and deployed to Live.

[2022-04-28 07:14] RachaelConway commented on #267
@Gary-van-Breda Thanks Gary

[2022-04-28 07:16] RachaelConway commented on #268
@Gary-van-Breda Thank you Gary I can see those notifications coming in this am. Great news

[2022-04-28 07:24] Gary-van-Breda commented on #268
@RachaelConway : As the person who raised this issue, are you happy that we close it now?

[2022-04-28 07:25] Gary-van-Breda commented on #267
@RachaelConway : As the person who raised this issue, are you happy that we close it now?

[2022-04-28 08:18] BirenRathod commented on #268
Thanks @Gary-van-Breda for fixing this. Will wait @RachaelConway to response on this.

[2022-04-28 08:21] BirenRathod commented on #268
Sorry @RachaelConway, I didn't see your response. you can close this issue please.

[2022-04-28 08:24] #268 closed

[2022-04-28 08:28] RachaelConway commented on #267
Hi @Gary-van-Breda thank that all seems to working Ok now

[2022-04-28 08:28] #267 closed

[2022-04-28 08:35] RachaelConway commented on #272
@Gary that all seems to be working Ok, Thanks

[2022-04-28 08:35] #272 closed

[2022-04-29 07:59] Gary-van-Breda commented on #273
@IanMiddlebrook @JimBacon @RachaelConway
Change deployed to Live.
Setting the Section limit attribute for a taxon to the text 'Rare Migrant' (rather than a number) will cause the message given by Ian to appear whenever anyone enters data for that taxon.
The Section limit for the 6 taxa given above have all been set to 'Rare Migrant'.

[2022-05-03 10:49] JimBacon commented on #273
Thanks, Gary. That works well.
I've updated the attribute description on the warehouse to make a note of this.

Excuse my ignorance but is there a mobile app that submits to this survey? If so, does it use the section limit to provide warnings? And if it does that, does it handle 'Rare Migrant' gracefully?

[2022-05-03 11:32] Gary-van-Breda commented on #273
I don't know about any App (someone else will have to answer that!), though probably not. This attribute driven way of doing the section limits is a recent development (previously it was hardcoded into the form defintition). I haven't seen any issues raised which would imply its incorporation into an App.

[2022-05-03 12:39] DavidRoy commented on #273
There is no app currently for the UKBMS

[2022-05-03 14:59] #273 closed

[2022-05-04 10:43] IanMiddlebrook opened #275 "Unable to approve some user accounts"
Hi @DavidRoy @BirenRathod @JimBacon

Sometimes when we try to approve a new User account on the UKBMS, we get this message:

![image](https://user-images.githubusercontent.com/24699793/166666603-9e8aac22-25ec-48df-ae5f-acb0227e86f7.png)

There are never any websites in the dropdown list, so we are unable to resolve the issue, and unable to approve their account.

Do we know which websites are like

[2022-05-04 10:47] IanMiddlebrook commented on #275
In this case, the User is 'Rosie' - email address rosieportreath@gmail.com

[2022-05-04 12:19] JimBacon commented on #275
Hi Ian,

As a bit of background, when a user registers with a website connected to our Indicia warehouse, a check is done to see if they have already registered with it via another website. There are lots of other websites. The aim is to avoid creating multiple accounts on the warehouse for the same person. See https://indicia-docs.readthedocs.io/en/latest/developing/web-services/user-identifiers.

[2022-05-04 13:26] IanMiddlebrook opened #276 "More problems with Mac users"
Hi @DavidRoy @Gary-van-Breda

A couple more issues with Mac users have been raised today - possibly allied to the outstanding issue #249

Firstly, one user failing to log in to the website, using Safari:
_As late last season I am still having a problem logging into UKBMS from my Mac laptop (but not my iphone). The site won’t let me in because it tells me my browser does not have JavaScript enabled

[2022-05-04 13:33] JimBacon commented on #275
To remove the duplication from the warehouse, after checking there were no samples, occurrences or locations for this user id, I ran the queries
[code]
I was then able to unblock the account on ukbms.org. @IanMiddlebrook if you need to update any other aspects of the new account, please do so now

[2022-05-04 14:30] MeganLowe commented on #274
Hello, just to let you know we are still having issues with data entry for this square - I've tried entering data for a few different WCBS-BBS sites and can't replicate the problem so I think the issue may lie with just this square.

[2022-05-04 14:33] IanMiddlebrook commented on #275
Thanks @JimBacon

[2022-05-04 14:44] JimBacon commented on #275
We resolved this specific case and updating the database was probably the correct resolution in this instance. A lot of work has been done to try to prevent further duplicate users from arising but I noticed we still have about 450. When it happens again, raise another issue and refer back to this one, if possible.
Note to self: I could simply delete the users_websites record because it was identi

[2022-05-05 08:30] IanMiddlebrook commented on #86
Hi @DavidRoy
I guess we can add 2021 indices to this issue now?

It's difficult trying to promote all the feedback features on the website, when some of them are 6-years behind with data.

Thanks, Ian

[2022-05-05 14:32] DavidRoy commented on #86
@JimBacon can you pick up this one please.  There is a warehouse tool for uploading this data at:
http://warehouse1.indicia.org.uk/index.php/ukbms_year_index_value

I will send you the file to upload

[2022-05-05 15:43] IanMiddlebrook opened #277 "Upload of historic and offline data"
Hi @DavidRoy
Is it possible that we can make a bit more progress with uploading offline data?

Principally, it would help to encourage the transition of East Midlands branch - who have made a start this year, so it would be good to prioritise those data.
There are a few years missing for Ken Orpe's three sites (2002, 2003, 2020, 2021). Also, a large number of East Midlands sites were not set up on

[2022-05-09 13:14] JimBacon commented on #86
I did a little test of this upload tool.

All existing records in the ukbms_year_index_values table are linked to taxa in the UKBMS Butterflies species list and locations which belong to the UKBMS website.

Using the CSV upload tool, taxa and locations were chosen indiscriminately, based only on a name match, without regard for species list or website.

I'll work directly in pgAdmin.

[2022-06-01 13:35] MeganLowe commented on #274
Please can someone take a look at this issue - the recorder has three visits worth of data to submit now and we're not sure what to do.

[2022-06-08 09:39] Gary-van-Breda commented on #274
@Megan, it does look like this is a restricted issue. I have removed the duplicated sections (they had no taxa associated with them), and it now looks OK.

[2022-06-08 09:55] MeganLowe commented on #274
Thanks @Gary-van-Breda looks good.

[2022-06-17 08:26] MeganLowe commented on #274
Hi @Gary-van-Breda , I'm afraid I've been sent news of another one: WCBS-BBS square SD4083 has the same issue with the multiple columns for each section on the data entry form. Please can you fix this one? Is there a way for you to check the other BBS squares too for this issue? I'm worried that we'll start finding more once the main survey season begins next month! I wonder if it has anything to

[2022-06-20 17:37] RachaelConway opened #278 "Function to allow removal of species from 'other' list"
Hi All,

A transect walker has added Wood White into the 'other' list. This is preventing him from adding Wood White into his species list. Please see image of error message. Please can you advise if there is anyway species can be removed or we can get Wood White into the species list. Thanks

![image](https://user-images.githubusercontent.com/88440885/174654009-aef2c307-10f8-41ab-906d-0b527d87ec4

[2022-08-04 16:55] MeganLowe opened #279 "Data Entry Issue WCBS-BBS Squares"
Hi @Gary-van-Breda @DavidRoy , I've had the same issue as #274 reported with a few other WCBS-BBS squares this week (data entry form displaying duplicate sections and the data entered is not being saved). These are SO7713, SD4083 and NS8784. We have recorders waiting to enter data for these squares so please can fixing these be prioritised?
I'm also now quite concerned that there are likely more B

[2022-08-08 10:50] DavidRoy commented on #274
@JimBacon can you look into this when you get a chance.  It may relate to loading of WCBS-BBS geometry for the transect routes?

[2022-08-08 15:44] JimBacon commented on #274
Location ID 98461 is the location of type WCBS-BBS with name SD4083.
It has 10 sections and every one is duplicated, see https://warehouse1.indicia.org.uk/index.php/location/edit/98461

There are samples submitted against both sets of sections and the two sets have slightly different geometries. The original set was created in June 2015. The more recent one was created by Richard Burkmar on 11th M

[2022-08-08 15:55] MeganLowe commented on #274
Hi @JimBacon , we updated the route maps for BBS squares earlier in the year so I'm going to guess that the ones with two different sets of geometries are where the route has been tweaked between years or where a recorder originally 'drew' the route inaccurately. The set we would want to keep would be the most recent, but obviously we don't want to lose any of the previous samples... Thank you for

[2022-08-08 17:25] burkmarr commented on #274
Hi @JimBacon. Looking back over what I did for @MeganLowe in March, I found this issue: https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/255. It looks like I did a complete update of all WCBS-BBS child transect sections using the Warehouse location geometry update feature with data derived from a shapefile supplied by the BTO. I think that I updated the WCBS-BBS transect sections for

[2022-08-09 07:53] burkmarr commented on #274
@JimBacon - in answer to your direct question, the sections to keep would be the newer ones without the hyphen since they have the latest geometry from the BTO.

[2022-08-11 11:58] MeganLowe commented on #274
Hi @JimBacon and @burkmarr, thank you for looking at this. Is it possible to fix this ASAP? The species data submitted to these squares are not appearing to save properly (abundance counts are all blank). If not possible to fix within hours, please could you send me a list of all affected squares so that I can contact the recorders and ask them to retain offline copies of their records until we ha

[2022-08-11 12:41] burkmarr commented on #274
@MeganLowe - it looks like Jim is away at the moment. I will look at it now and let you know where I get with it this afternoon.

[2022-08-11 14:17] burkmarr commented on #274
@johnvanbreda - can you give a quick check over on what I'm planning to do to resolve this?

Jim's suggested workflow:

I have  query to create a temp table that matches the old sections to the new ones (see below). The temp table looks like this:

![image](https://user-images.githubusercontent.com/9275178/184151488-7c924275-58f0-4661-99eb-a7ed3a4f3469.png)

Can you check the steps below to see if

[2022-08-11 14:51] burkmarr commented on #274
@MeganLowe - I will return to this tomorrow morning. For now I will email you the list of affected transect squares as requested.

[2022-08-12 10:45] johnvanbreda commented on #274
@burkmarr I think I'd want to scan the output of your temp table to check that the min and max of new_section_id confirm they are all from the range of locations you imported in #255 - any outliers might need investigation but hopefully there aren't any.

Also, if you are updating the location IDs in the sample, we need to consider whether the sample geometry should also be updated to that of the

[2022-08-12 10:51] burkmarr commented on #274
Thanks @johnvanbreda - I'll double-check the new_section_ids.

@MeganLowe - is it fair to say that the new geometries you sent were a more acurate representation of the original transect sections rather than a change to them?

[2022-08-12 11:18] MeganLowe commented on #274
Hi @burkmarr, I suspect the majority would have been more accurate copies of the same original route, but it's likely there were some that included changes to previous route (due to access issues/barriers etc). The shapefiles were sent to me from the BTO, hence the slight uncertainty.

[2022-08-12 11:21] burkmarr commented on #274
@MeganLowe - okay let's stick with the immediate problem of removing the duplicate transects and reasigning samples to the new transects for now. The sample geometry can be updated later where required.

[2022-08-12 13:16] burkmarr commented on #274
@johnvanbreda - below is what I've done. Do I need to update the sample cache tables?

Check that sections indicated by new_section_id in iss_ukbms_274 were all created by me when I did the update:
[code]
Result: 198219 2022-03-11 1908

Assign samples from old locations to new:
[code]
Result: 7582 rows updated

Update the locations:
[code]
Result: 1908 rows updated

[2022-08-12 13:53] johnvanbreda commented on #274
@burkmarr you can either put a cache update in the work queue for the samples cache tables, or you can just update location_id and location_name for the cache_samples_functional records that correlate to the ones you changed.

[2022-08-12 14:19] burkmarr commented on #274
Thanks @johnvanbreda - I did the latter.

[code]

[2022-08-12 14:20] burkmarr commented on #274
@MeganLowe - Hopefully that will have sorted it. Can you check that things look better from the website?

[2022-08-12 15:04] MeganLowe commented on #274
Hi @burkmarr, thank you that looks a lot better! The duplicate sections have gone, but we're still missing abundance counts for records that were submitted via the dodgy forms - do you think that is because they literally didn't save, or could they be hidden behind the scenes somewhere?

[2022-08-12 15:26] burkmarr commented on #274
That's good news @MeganLowe. Can you give me any details for some of the records that you can't find to help me track them down? For example dates, transect square, species etc?

[2022-08-12 15:36] MeganLowe commented on #274
@burkmarr one example would be SY4694. The recorder has submitted samples on 18th July and 8th August. I can see which species they recorded in each section (for example Meadow Brown was the only butterfly reported in S4 on 18th July) by downloading all BBS data, but the abundance count column is blank. Thanks again for your help!

[2022-08-15 09:49] burkmarr commented on #274
@johnvanbreda - do I need to do the same for the cache_occurrences_functional table?

[2022-08-15 09:53] johnvanbreda commented on #274
@burkmarr yes, good point.

[2022-08-15 10:07] burkmarr commented on #274
Updated cache_occurrences_functional:
[code]

[2022-08-15 10:07] burkmarr commented on #274
@MeganLowe - can you see what difference that has made?

[2022-08-15 12:26] MeganLowe commented on #274
Hi @burkmarr sadly not much in terms of the abundance counts (they are still blank) - is it therefore safe to think that the records didn't save and I should ask recorders to re-submit? Thanks

[2022-08-15 12:47] burkmarr commented on #274
@MeganLowe - the details you gave me to follow up don't appear to match what's in the DB. Here are all the 2022 records for the WCBS-BBS square SY4694:

![image](https://user-images.githubusercontent.com/9275178/184637096-adaa116d-e700-4f5e-8cd7-5489f4e51f31.png)

So there are a couple of records on the dates you mentioned with null counts, but not for Meadow Brown. And there is a record *with* a

[2022-08-15 12:50] burkmarr commented on #274
@MeganLowe - I will send an email to ask you for a username I can use to see this for myself.

[2022-08-15 14:53] burkmarr commented on #274
Hi @MeganLowe . I found out why I was only retreiving those three records - it was indeed because there is no abundance_count attribute at all in the database for the other records. When I retrieved all the records regardless of whether or not there is an abundance_count attribute, I see records for all the species on those two dates that I can also see in the section plot summary on the UKBMS sit

[2022-08-15 15:05] burkmarr commented on #274
@MeganLowe - I've identified 435 records from 2022 that have either no abundance_count attribute at all or the value set to null. I can send you a spreadsheet that identifies the transect, transect section, record date and species if that helps you.

[2022-08-15 15:09] MeganLowe commented on #274
Hi @burkmarr thank you for looking in to this. Ashame that the abundance counts weren't hiding somewhere, but it was worth checking! I will ask the recorders to submit their counts again - they will be able to update the current records, but some may choose to enter again from scratch as that's easier for them. I've already made a note of all of the affected samples so will keep checking and remov

[2022-08-15 15:10] burkmarr commented on #274
OK @MeganLowe - that's great. I'll email you the list I have.

[2022-08-18 13:34] IanMiddlebrook opened #280 "link with iRecord verification flags"
Hi,
We currently have a situation where UKBMS records are visible to county recorders on iRecord, and are being verified on there.
But we have no way of seeing the verification status of these records on the UKBMS website - ie. which records have been queried/rejected/accepted after more evidence etc.

Could we build a mechanism whereby the iRecord verification status is visible to Admin and branc

[2022-08-18 14:33] DavidRoy commented on #280
@JimBacon thinking about this, perhaps 'all' that is needed is the standard irecord explore report on the ukbms website to show occurrences with the record details and an indicator of the automatic rule-checks and verification status.  With an option to view/edit the occurrence?

The explore report would be needed for:
- individual user to see data they have entered
- branch co-ordinator who can v

[2022-08-18 14:42] DavidRoy opened #281 "enable option to attach photos to transect locations"
As part of transect setup, enable option to add photos for whole route and individual sections.  As part of:
https://ukbms.org/site-details
@IanMiddlebrook does this capture the requirement?
@JimBacon can you estimate the time required to implement this?

[2022-08-18 14:44] DavidRoy commented on #280
@IanMiddlebrook could this also provide the way that photos are added to occurrences?  Otherwise, I'm not sure how adding photos could be incorporated within the transect input form?

[2022-08-18 14:51] DavidRoy opened #282 "enable option to add sample photo to walk data entry"
e.g. to form like https://ukbms.org/input-data?location_type_id=777&sample_id=5624248

the ebms equivalent form already has this functionality, e.g. https://butterfly-monitoring.net/walk-data-entry?sample_id=18800483

@JimBacon can you estimate the time to do this

[2022-08-23 09:05] RachaelConway opened #283 "Site very slow, with intermittent red WARNING/NOTICE message"
![image](https://user-images.githubusercontent.com/88440885/186118319-c8e84d7a-0817-40bb-807c-011abc921725.png)

[2022-08-23 09:36] DavidRoy commented on #283
@RachaelConway this is a known issue for this page.  It struggles due the number of sites to query.  The page should still function - i.e. if you scroll to the bottom the site or section downloads still work for me

[2022-08-23 10:41] RachaelConway commented on #283
Yes thanks @David Ian advised me of the scrolling so I have been able to access.

[2022-08-23 13:12] #279 closed

[2022-08-24 08:20] IanMiddlebrook commented on #247
Hi @DavidRoy  @Gary-van-Breda ,
the remaining issue of rare migrants has raised its head again this season, with Queen of Spain Fritillary and Long-tailed Blue being recorded on transects, but the recorders unable to enter those records on the butterfly list.

I think the preferred/workable solution is that we extend the available migrants on the 'full' list to include both these species, but we a

[2022-09-05 14:01] JimBacon commented on #86
I was able to replace the previous indices with 524944 records from the file received.
377 records were omitted as they were for either very rare species or 'unknown', and not present in the UKBMS species list.
27457 records were omitted as they were for locations which could not be matched to transects present on the warehouse.

The records were inserted with the following query having first uplo

[2022-09-05 14:06] DavidRoy commented on #86
@IanMiddlebrook can you check the reports that use this data are appearing as expected

[2022-09-26 09:37] RachaelConway opened #284 "FAQ Block - request"
Good morning . We now have FAQs on the website but they are in the form of a PDF. Please may I request an FAQ block on the website  so I may edit and add new FAQs as they arise. Thanks

[2022-09-28 07:59] IanMiddlebrook opened #285 "Unable to approve new user"
Hi @DavidRoy ,
I think this issue has come up before, but we're unable to 'unblock' a new user (Steve Orridge) due to the following issue:

![image](https://user-images.githubusercontent.com/24699793/192722245-83aaaf52-be2a-4e8a-96ae-8bbb91f3bc81.png)

There are no websites listed, and even if there was, it would be difficult for us to answer that on behalf of the user.

What is the best way to re

[2022-09-28 08:00] DavidRoy commented on #285
@JimBacon could you pick this one up please

[2022-10-03 13:44] JimBacon commented on #282
Superficially, adding 'Transect level images' appears to be a matter of adding a configuration option and ticking a box which would take a minute or two (having spent an hour or two trying to find the option).

However, the prebuilt form, 'ukbms_sectioned_transects_input_sample_2', which is the form in question, is different on EBMS, UKBMS and in the client_helpers repository. One of the differenc

[2022-10-03 15:13] JimBacon commented on #282
Also, requested by email, was the option of adding photos of occurrences. Again, this is superficially a few minutes work to add a configuration option and tick a box. The form doesn't work as expected, however, so it needs some poking around to explain that. Probably not a big issue but allow a day for resolving, committing changes and making available.

[2022-10-03 16:11] JimBacon commented on #281
It'll probably take me a few days to work out how this form (ukbms_sectioned_transects_edit_transect_2) works, where to insert the file uploader, how to configure it, and how to cope with ajax addition and deletion of sections.

[2022-10-03 16:40] JimBacon commented on #280
Adding occurrence images to the recording form seems like a thing we can do, see https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/282#issuecomment-1265618252, but maybe I am missing the point of the comment.

[2022-10-04 08:01] IanMiddlebrook commented on #282
I think there could be two routes for photos:

At the walk/sample level, you would be able to upload photos from the walk - habitat/management related. You could also add photos of any unusual butterfly/sighting. Although this would not then be associated with the relevant occurrence, it could still be useful. For example, if I'm checking out an unusual sighting, I often go to that walk/sample pag

[2022-10-04 08:25] JimBacon commented on #282
Agreed. The title of the issue and my first comment correspond with your first point about adding photos at the walk/sample level. My second comment corresponds to your second point of photos linked to occurrences.

You could have either one or both options available.

[2022-10-04 09:26] DavidRoy commented on #282
Let's go for the sample-level photos to start with.  I'll raise a separate issue for adding photos to occurrences but we will want that functionality. Jim - I can't remember if this is already possible for the ebms version of the walk-data-entry-2 form

[2022-10-04 09:27] DavidRoy opened #286 "enable option to add photos to occurrences"
see discussion at #282

[2022-10-11 10:36] JimBacon commented on #285
Hi @IanMiddlebrook

I have made two changes to the code.

1. I fixed the bug which prevented the list of websites from being displayed.
2. I changed the logic so that the list of websites is only displayed to the user as it is not feasible for you to answer the question on their behalf. As and admin, you are shown a warning about the problem like "There appear to be several existing users on the c

[2022-10-11 10:48] IanMiddlebrook commented on #285
Thanks @JimBacon

Yes, I've been able to unblock him.
There's no mobile app for the UKBMS website.

[2022-10-11 10:48] #285 closed

[2022-10-12 08:56] IanMiddlebrook opened #287 "order of species on Annual Summary table"
Hi @DavidRoy,

a branch co-ordinator has pointed out that the order of species on the Annual Summary tables can vary depending on year and 'filter by recorder' as follows:

_Meadow Brown, Small Heath & Ringlet for 2020 and before,
Small Heath Meadow Brown and Ringlet for branch sites and Meadow Brown, Small Heath and Ringlet for individual sites in 2021
Meadow Brown, Ringlet and Small Heath for br

[2022-10-12 14:51] Gary-van-Breda commented on #287
This is a hangover from #247. The sort order is part of the cached summary data, so the data that was generated before #247 has a different order to that generated after. Things may be a bit strange for the branch sites as these are a conglomeration of multiple sites, so it will depend when the data is retrieved from the database.

I will need to do a rebuild of the summary data up to and includin

[2022-10-13 08:02] Gary-van-Breda commented on #287
[code]

[2022-10-13 08:42] IanMiddlebrook opened #288 "Species data entry page very slow to load"
Hi @DavidRoy @Gary-van-Breda (@RachaelConway)

We've had quite a few comments/complaints this week about the data entry page.
The first Walk Data Entry page is fine, but when you click Next it takes an age to load up the Species/Section grid before you can enter data.

Eg. this comment:
_I am trying to enter my walks for two sites for most of the season - it took 2 minutes plus just to load the wa

[2022-10-17 08:10] Gary-van-Breda commented on #287
Catch up now complete.
It is now showing order Meadow Brown/Ringlet/Small Heath/Large Heath on all.

@IanMiddlebrook : can you review and close if you are happy?

[2022-10-18 08:13] IanMiddlebrook commented on #287
Thanks

[2022-10-18 08:13] #287 closed

[2022-10-18 08:21] RachaelConway commented on #288
More feedback re slow website this week.

[2022-10-18 08:25] DavidRoy commented on #288
@Gary-van-Breda @JimBacon anything to speed up this page?  I think the slow part is loading up the species lists, e.g. 'species recorded at this site'?

[2022-10-18 19:36] Gary-van-Breda commented on #288
@IanMiddlebrook @RachaelConway : Re the delays in displaying the species section grid - is this before the page is displayed, or after it is displayed, but still has the spinner showing (when it is going away to get the geographic and flight dates range validation rules)?

[2022-10-19 07:47] IanMiddlebrook commented on #288
Hi @Gary-van-Breda
The big delay is after the list is displayed, but hiding behind the spinner.
A few goes this morning, it took between 10-15 secs to initially load the page, then averaged over a minute before the spinner disappeared.

[2022-11-01 14:10] RachaelConway opened #289 "data not presenting on annual aummary + 'could not identify specific site' error message in walks"
Hi

There are a number of problems with this transect: Stoke Park Bristol  user Stoke Park

Data is not presenting  in the annual summary
When clicking on a submitted walk via 'my walks' - message 'could not identify specific site' appears
Species/count page has 2 columns per section

![could not identify site] Image

(https://user-images.githubusercontent.com/88440885/199253248-41dede68-b01f-4f21

[2022-11-01 14:42] RachaelConway opened #290 "Can an admin please make me a collaborator"
Hi
I am not able to add labels to issues I open. I think this because I don't have 'collaborator' status. Please can an admin of the repository make me a collaborator or other status which would allow me to add labels. Thanks

[2022-11-01 14:59] DavidRoy commented on #290
That should be done. Can you confirm and close this issue if ok

[2022-11-01 15:31] RachaelConway commented on #290
That doesn't seem to have fixed it.

[2022-11-01 15:39] DavidRoy commented on #290
You need to accept the invite?  Can you check your notifications?

[2022-11-01 16:15] IanMiddlebrook opened #291 "Walk data not matching summary data"
A recorder for Lullington Heath (locationID=2068) noted Heath Fritillary in the list for 'species previously known at this site', which he says is an error.

On investigating, I found a record from 2010. Since this is certainly an error, I made an attempt to delete it.

On the Annual Summary page, the data for 22nd June 2010 presents exactly as expected, matching the data that were originally subm

[2022-11-01 16:55] #290 closed

[2022-11-01 16:55] RachaelConway commented on #290
Yes that's it now David thanks

[2022-11-04 15:41] IanMiddlebrook opened #292 "file name for downloads"
Hi,
A branch co-ordinator has noted that the three 'Grid' downloads (annual summary page) no longer include the site name in the download file name.
He found this very useful for filing purposes.

I'm not sure why this has changed but, assuming that he's correct, would it be possible to change this back please?

Thanks, Ian

[2022-11-10 17:08] zrandle opened #293 "iRecord download issue WCBS-BBS"
A county recorder has raised this issue

I've just downloaded the section level data for WCBS-BBS from the UKBMS website and found a problem with the section gridrefs. They have all been provided as "easting, northing" e.g. "490171, 226313" and not a normal OS gridref. Last year they were all presented as normal gridrefs. I could spend time extracting and rearranging bits of text to form into OS g

[2022-11-10 17:14] DavidRoy commented on #293
@birenrathod - would you be able to look at this please

[2022-11-10 18:58] BirenRathod commented on #293
@zrandle is it ok to pass me the url of that page from ukbms website?

[2022-11-15 14:03] zrandle commented on #293
@RachaelConway do you know what the URL would be for this page?

[2022-11-15 15:53] RachaelConway commented on #293
Url for the page is https://ukbms.org/annual-summary

Need to select field options to WCBS BBS as below
![image](https://user-images.githubusercontent.com/88440885/201965165-b78316ed-efde-4018-be14-ed4cd6ce91e3.png)

Then Downloads  - https://ukbms.org/annual-summary?userID=branch&report-location_type_id=5196

Section level - download CSV
![image](https://user-images.githubusercontent.com/88440885

[2022-11-15 16:49] BirenRathod commented on #293
Thanks @RachaelConway. When I downloaded same it has got gridref in it. Which user did you log-in with? See below screenshot.
![image](https://user-images.githubusercontent.com/5941255/201978388-f24d27d1-a8e0-4ea7-b7be-cbdc2bad084f.png)

[2022-11-16 10:08] zrandle commented on #293
@BirenRathod @RachaelConway the recorder was Keith Balmer and this is the URL he sent me https://ukbms.org/annual-summary?report-location_type_id=5195&userID=branch

[2022-11-16 10:37] BirenRathod commented on #293
Thanks, @zrandle. I'm investigating into it.

[2022-11-16 10:58] RachaelConway commented on #293
@BirenRathod Just for info, I was using my own account and recreated the issue using my branch data

[2022-11-16 16:39] IanMiddlebrook opened #294 "Branch Walks page drop-down Sites list"
Hi @DavidRoy @Gary-van-Breda

A branch co-ordinator has pointed out that on 'Branch Walks' page there is a 'Filter by Site' box, which should have a drop-down list of all his Branch Sites so that he can filter the display. But his list was empty.

I checked a few other Branch Co-ordinators, and those that had drop-down lists only corresponded to sites on their 'My Sites' list rather than 'Branch S

[2022-11-17 08:59] IanMiddlebrook opened #295 "WCBS-BBS section level download grid refs"
Hi @DavidRoy @Gary-van-Breda

a branch co-ordinator has pointed out that the Section Level download for WCBS-BBS Branch Data uses a different format for grid refs compared to other downloads, making it more difficult to process.

the WCBS-BBS download give a grid ref in an Eastings, Northings format (nnnnnn, nnnnnn) rather than an OS grid ref format (XXnnnnnn).

Could this report please be brought

[2022-11-17 11:31] BirenRathod commented on #293
@RachaelConway I found that data stored for WCBS-BBS is using different geometry than WCBS-BC for some reason. Even though settings are same for both.
@johnvanbreda any idea?

[2022-11-17 11:43] DavidRoy commented on #293
@burkmarr I think you might have loaded these layers?  Any idea on resolving the issue?

[2022-11-17 12:20] burkmarr commented on #293
@DavidRoy - I'll look into it.

[2022-11-17 14:40] burkmarr commented on #293
We added all the section geometries for the  WCBS-BBS squares back in March (see https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/255). I used the location upload facility of the Warehouse which automatically creates the centroid sref (which corresponds to the section grid ref) as an easting/northing pair. (There is no option to create or upload a grid reference for the centroid sref

[2022-11-18 10:42] burkmarr commented on #293
@johnvanbreda @BirenRathod @JimBacon -  can any of you help me with this question: in the locations table, what coordinate system is the centroid_geometry stored in. Does it depend on the centroid_sref_system or is always constant (e.g. wgs84 - 4326)?

[2022-11-18 11:05] BirenRathod commented on #293
@burkmarr As long as I understand this, centroid_sref_system is for storing constent which geometry stored in centroid_geometry. it is not depend on it. so it is possible to stored different geometry without storing constent in centroid_sref_system for example.

[2022-11-18 17:24] JimBacon commented on #293
Hi @burkmarr,

I think all geometries are stored in the google web mercator projection. It is configurable and set in the warehouse application/config/sref_notations.php file with key, 'internal_srid'. The centroid_sref_system will just refer to the centroid_sref.

[2022-11-21 12:42] RachaelConway commented on #293
@IanMiddlebrook Hi Ian, Zoe has already opened the section level GRID ref issue here

[2022-11-21 13:44] IanMiddlebrook commented on #295
Duplicate of issue #293

[2022-11-21 13:44] #295 closed

[2022-11-21 13:54] IanMiddlebrook commented on #293
@burkmarr
_would you like the section grid refs recorded as 6 figure or 8 figure grid references? (I see that WCS-BC uses mostly 6 figure, but some use 8 figure_

If it's possible to distinguish between squares where section routes are mapped out, and those that are not ... then 8 figure section grid refs for mapped sections, and 6 figure grid refs for others.

There was a previous complaint from

[2022-11-22 08:50] burkmarr commented on #293
Thanks @JimBacon and @IanMiddlebrook.

[2022-11-22 11:31] JimBacon commented on #293
Just to confirm, the geometry columns are created in `modules/indicia_setup/db/indicia_tables.sql` with the spatial reference system hard-coded at 900913, the initial number for the Google Web Mercator projection.

[2022-11-22 15:01] burkmarr commented on #293
@zrandle - I think that this is complete now. I have upated all the WCS-BBS transects that had easting/northing instead of GR to use 8 fig GR - that was around 60000 transect sections. @IanMiddlebrook - all of these had linear geometry so I used 8 figure GR for all of them. I followed the procedure described about by @RachaelConway to test and all appeared to be well. Let me know if there are any

[2022-11-22 15:09] zrandle commented on #293
@burkmarr @JimBacon @RachaelConway @IanMiddlebrook Thanks all! The County Recorders will be happy that this is fixed.

[2022-11-24 10:01] IanMiddlebrook opened #296 "Annual Summary Table not updating with changes"
Hi @Gary-van-Breda @DavidRoy

For [Magdalen Hill Down Original](https://ukbms.org/annual-summary?locationID=2191&userID=all):

the recorder notes that a walk in Week 8 was deleted a couple of weeks ago. It quickly disappeared from the Raw Data table, but is still hanging around on the Summary Table and Estimate Table.

Is there a reason why these tables have not recognised or reacted to the deleti