[2016-11-17 09:43] DavidRoy opened #1 "Upload of site index data"
Index data is currently loaded directly into warehouse1 on the following page:  http://warehouse1.indicia.org.uk/index.php/ukbms_year_index_value

Load remaining data

[2016-11-17 09:57] DavidRoy opened #2 "New menu item for Reports"
Create new menu item called Reports, to hold sub-menu links to section and year-index reports

[2016-11-17 09:58] DavidRoy opened #3 "Deploy section report"
http://www.ukbms.org/mydata/section-plot

Actions needed.
1. report is not fully functioning.  After loading data (Monks Wood NNR), the drop down lists for selecting species do not work

2. deploy report to live site, as a sub-menu link under Reports menu heading #2

[2016-11-17 10:03] DavidRoy opened #4 "GIS downloads to include all sections for all sites"
Issue raised related to GIS downloads (via all sites page)

Shapefiles can only hold a single geometry per entry, so can’t put multilines into it – but can do one of the following:
1)	ignore the true multilines (the 8 below)
2)	provide just the first line of the true multilines (the 8 below)
id            name    code      parent_id            parent
3676       24.1        S1           1997

[2016-11-17 12:38] DavidRoy opened #5 "Rename WCBS sites in Northern Ireland to match Irish grid"
Northern Ireland WCBS squares were incorrectly loaded.  They need to be labelled with Irish Grid references, replacing OSGB grid references.  Attached is the renaming required.

@Gary-van-Breda

[WCBS Northern Ireland squares.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/597332/WCBS.Northern.Ireland.squares.xlsx)

[2016-11-17 12:53] DavidRoy opened #6 "Enter walk species list bug when switching between species lists"
The “species list bug”  will take ~1 hour to fix. It arises because when changing between species lists (e.g. common to full) any existing species on the grid are left on the grid (unless they do not have data and are not in the new list to be displayed), and any new ones are simply added to the bottom: the two are not currently meshed together into the taxanomic sort order. If you are prepared to

[2016-11-17 13:07] zrandle opened #7 "Can the species recorded at this site be changed to species recorded in this square (on the drop down menu / data entry screen)."

[2016-11-17 13:08] zrandle opened #8 "Upload new 2016 squares"

[2016-11-17 13:46] DavidRoy commented on #7
Can we change to 'species recorded in this site/square'

so that it works for both WCBS and traditional transects?

[2016-11-17 13:50] DavidRoy opened #9 "Switch live UKBMS online site from Drupal 6 to 7"
Test Drupal 7 site is at: http://192.171.199.230/ukbms/mydata/

To replace current Drupal 6 site at www.ukbms.org/mydata

Timing of switch-over to be agreed with IM and ZR

[2016-11-17 15:59] zrandle opened #10 "Please can the historical data for NY0516 be re-instated? It seems that the recorder deleted it..."

[2016-11-17 16:32] zrandle commented on #7
Hi

The change as should only apply to data entry for WCBS squares.

Thanks

Zoe

From: DavidRoy [mailto:notifications@github.com]
Sent: 17 November 2016 13:46
To: BiologicalRecordsCentre/UKBMS-online
Cc: Zoë Randle; Author
Subject: Re: [BiologicalRecordsCentre/UKBMS-online] Can the species recorded at this site be changed to species recorded in this square (on the drop down menu / data entry scre

[2016-11-28 21:42] Gary-van-Breda commented on #3
The section plot does not use the Year index values: these are used by the Year by Year index plot ( http://www.ukbms.org/mydata/year-plot ). This seems to be working OK for the Monks Wood NNR Index data. The section plot uses the actual counts data, which does not seem to be present for Monks Wood NNR. Shall we make it more obvious that the attempt to load data for the section plot has failed bec

[2016-11-30 08:55] DavidRoy commented on #3
Is working fine where there is data.  Agreed that we need a message if there is no data.

Reports - all should see them.
Agreed that there should be a Reports menu that contains:
Annual Summary
Visits Summary
Year-by-Year index plot
Section summary

Note that the 'File Upload' page should only be available to those with Admin rights.

[2016-12-05 13:54] Gary-van-Breda commented on #7
This has now been done. Zoë, can you check you are happy?

[2016-12-05 14:38] zrandle commented on #7
Looks fine to me.

Thanks

Zoe

From: Gary-van-Breda [mailto:notifications@github.com]
Sent: 05 December 2016 13:54
To: BiologicalRecordsCentre/UKBMS-online
Cc: Zoë Randle; Author
Subject: Re: [BiologicalRecordsCentre/UKBMS-online] Can the species recorded at this site be changed to species recorded in this square (on the drop down menu / data entry screen). (#7)

This has now been done. Zoë, can

[2016-12-07 13:40] #7 closed

[2016-12-07 13:43] DavidRoy commented on #2
Now covered by #3

[2016-12-07 13:43] #2 closed

[2016-12-07 13:58] DavidRoy commented on #4
Ian Middlebrook is hopefully tidying up the offending sites.  So it is likely that no further development action is required.  Will close this issue when resolved.

[2016-12-21 14:52] IanMiddlebrook opened #11 "Provide a default Site Type for each account"
At present, WCBS recorders need to change the Site Type each time they return to a page.

Could we allow each user account to set a default Site/Location Type, so that when they go to any relevant page the default view is relevant to their interests. (eg. My Sites, My Walks, Annual Summary, also Branch Sites and Branch Walks for WCBS champions).

[2016-12-21 16:06] zrandle opened #12 "SP4778"
Hi the historical data for SP4778 are not displaying. Please can the old data be linked to this square?

[2017-01-11 18:18] zrandle commented on #8
Hi
Please can the newly selected squares (2016) be uploaded to the system soon?

Thanks

Zoe

[2017-01-11 18:19] zrandle opened #13 "Upload 2016 data entered on old system"
Hi Please can the 2016 data that was entered on the old system be uploaded and linked to the new online system as soon as possible?

[2017-01-31 17:58] zrandle opened #14 "SW6616 and SW7220"
Hi

Please can the historical data for these squares be uploaded to the system?

Thanks
Zoe

[2017-02-02 12:25] IanMiddlebrook opened #15 "Improvements required for Estimate Table"
For the Estimates Table to provide a more accurate prediction of the annual index, we should exclude walks done in sub-optimal conditions, replacing them with standard estimates for those weeks. This was done in the old Transect Walker, and similarly sub-optimal walks are removed by CEH before trend analysis and site-index calculations.
This would also require an 'Upland' attribute for each Site,

[2017-02-02 16:54] IanMiddlebrook opened #16 "Issues with Mother Shipton name"
3 Mother Shipton moths were recorded at Ryton Meadows on 5-jun-2016 (week 10).
On the data entry form, where Mother Shipton were entered, hovering over the name gives a scientific name of _Euclidia mi_.
On the Annual Summary - Summary or Estimate Table, these moths appear as Mother Shipton, but hovering over the name gives a scientific name of _Callistege mi_. Not a major problem - at least they s

[2017-02-02 18:31] Gary-van-Breda commented on #16
Yes(?). There are 2 relevant entries in the UK Master list on the Warehouse:
http://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/400621
http://warehouse1.indicia.org.uk/index.php/taxa_taxon_list/edit/65957
Both are on the UK Master List, both have the same taxon_meaning_id, and both are flagged as preferred. Is this a valid situation?
I think we could do with sorting this out (and any

[2017-02-02 19:39] DavidRoy commented on #16
@johnvanbreda is this related to recent issue with UKSI and common names for moths?  Has the UKSI issue been resolved, or has this uncovered a further bug to fix?

[2017-02-06 09:41] johnvanbreda commented on #16
I don't think this is related to the other (now fixed) issue, #126 and I don't actually think there is anything wrong with the UKSI import in this case. Euclidia mi is a synonym of Callistege mi as it is marked as preferred=false in the database. @Gary-van-Breda I'm not sure why you thought Eucladia mi was preferred - it looks correct to me in both the taxa_taxon_lists and cache_taxa_taxon_lists t

[2017-02-10 16:11] DavidRoy commented on #1
Complete

[2017-02-10 16:11] #1 closed

[2017-02-17 15:20] DavidRoy opened #17 "Import BBS routes"
Important BBS routes into Indicia to support WCBS-BTO users

[2017-02-20 09:36] DavidRoy opened #18 "Test UKBMS Drupal 7 site: add walk page missing"
Add walk page missing, accessed from http://192.171.199.230/ukbms/mydata/my-walks, i.e. click on a date gives an error:
404 - File or directory not found.
The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.

Example is: http://192.171.199.230/mydata/input-data?location_type_id=777&date=18/04/2016

[2017-02-20 09:38] DavidRoy opened #19 "Test UKBMS Drupal 7 site: my sites page has two [add site] buttons"
http://192.171.199.230/ukbms/mydata/sites-list

Has two 'Add site' buttons.  Should only have one at the bottom and should be labelled 'Add Transect'.
See live site for comparison: http://www.ukbms.org/mydata/sites-list

[2017-02-20 09:39] DavidRoy opened #20 "Test UKBMS Drupal 7 site: captcha missing from login page"
http://192.171.199.230/ukbms/mydata/user/login should have Captcha implements as for live site:
http://www.ukbms.org/mydata/user/login

[2017-02-20 09:41] DavidRoy opened #21 "Test UKBMS Drupal 7 site: branch sites, reword button to 'Add Transect'"
Button at bottom of Branch sites page:
http://192.171.199.230/ukbms/mydata/branch-sites-list

Should be labelled 'Add Transect' not 'Add Site' as currently.

[2017-02-20 09:54] DavidRoy opened #22 "Test UKBMS Drupal 7 site: All Sites page should allow option to filter by 'Location Type'"
http://192.171.199.230/ukbms/mydata/all-sites

should provide option to filter by location-type.  See live site equivalent:
http://www.ukbms.org/mydata/all-sites

[2017-02-20 10:08] DavidRoy commented on #22
Also, applies to Visit summary http://www.ukbms.org/mydata/visit-summary

[2017-02-20 10:14] DavidRoy opened #23 "Test UKBMS Drupal 7 site: file downloads from Annual summary page do not work"
Example:
http://192.171.199.230/ukbms/mydata/annual-summary?caching=false&locationID=41305&year=2016

Goto Downloads tab.  Select file to download.  The file explorer opens as expected, with right suggested filename.  But the file does not download.  Gives error message against filename of 'Failed - No file'.

[2017-02-20 10:15] DavidRoy commented on #18
Also, add timed count page missing
http://192.171.199.230/mydata/input-timed-counts?date=04/04/2016

[2017-02-21 15:56] DavidRoy commented on #8
[WCBS sqs to add to online system.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/790637/WCBS.sqs.to.add.to.online.system.xlsx)

File containing locations of 1km WCBS squares to load into the Warehouse.

Note there are three sheets.
BC - to assign to Survey = UKBMS WCBS-BC (id = 306)
BBS - to assign to Survey = UKBMS WCBS-BBS (id = 305)
NT - to assign to Survey = UKBMS WCBS-BC

[2017-02-22 16:54] zrandle commented on #8
My top priority. Thanks

Zoe

[2017-02-24 13:39] Gary-van-Breda opened #24 "Test UKBMS Drupal 7 site: 500 Server internal error when editting nodes"
When I try to modify the node configuration, I am getting a 500 server internal error.
I can't tell where this is.

[2017-02-24 14:50] Gary-van-Breda commented on #24
Biren has fixed this.

[2017-02-24 14:50] #24 closed

[2017-02-27 12:36] DavidRoy commented on #15
@IanMiddlebrook can you separate this out into the three issues as they need some discussion:
1. Exclusion for sub-optimal walks
2. Categorisation of upland sites
3. Default to 1-26 weeks for summary tables

[2017-02-27 17:49] Gary-van-Breda commented on #18
Fixed: Configuration on "My Walks", "Branch Walks", "Timed Counts" and "All Timed Counts" grid forms changed.

[2017-02-27 18:00] Gary-van-Breda commented on #19
Fixed in form configuration. Button changed to match live CSS. Applied to both "My Sites" and "Branch Sites".

[2017-02-27 18:01] Gary-van-Breda commented on #21
Fixed.

[2017-02-27 22:23] Gary-van-Breda commented on #22
Complete list of forms to be check for this:
MY Sites, My Walks, Branch Sites, Branch walks, All Sites, Annual summary, Visits Summary.
Also need to set up the Year ploat and Section plot forms, and the data upload form

[2017-02-28 11:39] #18 closed

[2017-02-28 11:45] DavidRoy opened #25 "Test UKBMS Drupal 7 site: time count entry page issues"
Some issues on http://192.171.199.230/ukbms/mydata/input-timed-counts?date=03/05/2016

1. The warning text should not be in red font (e.g. The Year field is read-only, and is calculated automatically from the date(s) of the Counts.).  Should this message appear by default in any case?
2. Map does not zoom to selected county
3. 'Search for place' does not work
4. Map selection does not populate gri

[2017-02-28 11:47] #19 closed

[2017-02-28 11:47] #21 closed

[2017-02-28 11:53] DavidRoy commented on #22
Location Type should be restricted to UKBMS location types only:
Transect, WCBS-BBS and WCBS-BC

All-sites page dropdown shows full set of Indicia location types

[2017-03-11 09:01] Gary-van-Breda commented on #11
At the moment the report grid based forms (My sites, Branch Sites, Visit Summary, and All sites) have the ability to store the parameters in a site wide cookie. I have set this up on Live as a trial. This means that when a user chooses WCBS-BBS as the site type in one of these pages, when they visit the other pages, the site type will be default to WCBS-BBS automatically, until they change it. Is

[2017-03-11 10:16] DavidRoy commented on #11
Yes, good option. Thanks

[2017-03-11 10:16] #11 closed

[2017-03-13 09:12] IanMiddlebrook commented on #11
Yes, good option.
If this could also be applied to 'My Walks', 'Branch Walks' and 'Annual Summary' - that would be ideal.
Many thanks,
Ian

[2017-03-16 09:00] Gary-van-Breda commented on #20
Captcha has been configured on http://test.brc.ac.uk/ukbms/mydata

[2017-03-16 12:14] Gary-van-Breda commented on #3
There are problems with creating a submenu on Drupal 6 (current UKBMS Live), as the current menu system is not set up for submenus. It can be converted to a 'Nice menu' but that will require theming as it doesn't look the same. Given that we are working towards the D7 go-live, it doesn't seem worth expending the effort to create the submenu, so on the D6 system I have just added them to the normal

[2017-03-16 12:24] DavidRoy commented on #20
thanks

[2017-03-16 12:24] #20 closed

[2017-03-16 12:24] DavidRoy commented on #3
agreed, thanks

[2017-03-16 12:24] #3 closed

[2017-03-16 12:35] Gary-van-Breda commented on #17
Can I have the shape file containing the routes?
Thanks

[2017-03-16 12:38] DavidRoy commented on #17
This work can be deferred in preference for other priorities.

[2017-03-17 09:41] Gary-van-Breda commented on #16
Just putting this in to keep track - not expecting a response from anyone.
I've had another look at this. When the preferred name was changed from C.mi to E.mi, the taxon_meaning_id also changed. This has led to a mismatch between the cached data in the summary_occurrences table (used for the Annual Summary), and that returned by the raw data report (which looks at the current cache_taxa_taxon_lis

[2017-03-17 10:16] DavidRoy commented on #16
Closing this issue for the UKBMS, but will raise as a general Indicia issue

[2017-03-21 10:32] Gary-van-Breda commented on #5
I have renamed the squares in the spreadsheet to the value in the yellow rename column, with one exception.
The NW6019 square as it was originally created in the dataload has been deleted and replaced with another square IJ4864, which has been given the NW6019 grid reference (Indicia id 165822) in OSGB.
Can you confirm you wish me to rename this new square to J4864 and convert it to the OSIE to ma

[2017-03-21 11:18] Gary-van-Breda commented on #8
I have the squares now ready to be uploaded. I am assuming 10 sections each, which will be initialised to be squares forming a diagonal from the bottom left corner to the top right of the site in question.
The allocation to branches is done via branch managers, in a very similar way to sites being assigned to users, rather than to a location. Which branch manager users should these be assigned to?

[2017-03-21 11:23] DavidRoy commented on #8
Thanks.  Yes - 10 sections.

Can the branch allocation be done based on the spatial intersection between the 1km grid square and location_type = 'Butterfly Conservation Branch'.  For 1km squares intersecting with more than one branch they should be assigned to branch with the largest area of intersection (preferable) or 1km grid square centroid (if much simpler to implement).

[2017-03-21 13:34] Gary-van-Breda commented on #8
Yes I can base the branch allocation on the intersection, but I need the branch manager users: which branch managers equate to which branches?

[2017-03-21 14:35] Gary-van-Breda commented on #8
Locations uploaded into warehouse: not currently allocated to any branch managers (see comment above).

[2017-03-21 15:02] DavidRoy commented on #8
Is an option to deploy the 'transects-allocation' (i.e. as is available on eBMS) form to the UKBMS to enable this allocation to be done more efficiently?   If so, we should generate a new issue for this and an estimate of the work (time) required to do this

[2017-03-21 16:06] Gary-van-Breda commented on #8
Yes that is the best option.
For the D7 site, configuration will take 15minutes.
For the D6, some testing will be required, estimate 1hour.

[2017-03-21 16:16] DavidRoy commented on #8
Thanks.  Only needed for the D7 site as we are moving over soon

[2017-03-23 13:41] zrandle commented on #8
Hi Gary Branch Champion info for you. [Branch Champs for Gary.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/864861/Branch.Champs.for.Gary.xlsx)

[2017-03-23 15:06] DavidRoy commented on #8
@zrandle.  There is not resource to do this automatically but there is a report (initially developed for Luxembourg BMS, now used for eBMS) available that makes this much quicker to do (by you and Ian).  Let's review once Gary has implemented the report.

[2017-03-30 13:39] Gary-van-Breda commented on #16
An update: A change was put into the summary builder which checks for changes to the taxa and rebuilds the data as appropriate. This has finished its scan now, and the problem highlighted above should now be sort of resolved in that the raw data now matches with the summary data for Mother shipton/E. m and the data is displayed in the raw data tablei, but the taxon data change has meant that the t

[2017-03-30 15:49] Gary-van-Breda commented on #10
I've looked into this. - I'm assuming we are talking about WCBS-BC site NY0516.
NY0516 was created as part of the original wcbs squares upload.
There were no samples uploaded as part of the historic WCBS visits upload.
The original square (id 118690) was deleted, and then recreated (id 163900): this new square has 7 visits registered on it from 2016/06/25 onwards, all of which are visible in the u

[2017-03-30 15:55] DavidRoy commented on #16
Thanks Gary.  @IanMiddlebrook - please can you check this is resolved and close the issue if so

[2017-03-30 16:17] zrandle commented on #10
my mistake - just checked and  your're right nothing to re-insate. Sorry for the confusion. All is well.

[2017-03-30 16:20] #10 closed

[2017-04-04 21:06] Gary-van-Breda commented on #12
Now done.

[2017-04-04 21:17] Gary-van-Breda commented on #14
@zrandle Can you confirm the names of these squares? Are they the WCBS-BC squares called "non random SW6616" and "non random SW7220"?

[2017-04-05 08:19] IanMiddlebrook opened #26 "No data showing on Annual Summary page"
There seems to be a major problem with the Annual Summary page.

All counts from 2016 and 2017 have disappeared. The only things which show up are the Temp and Sun% on the Raw Data tab, but no counts (butterflies or others) are showing.

[2017-04-05 08:45] Gary-van-Breda commented on #26
I accidently triggered a rebuild last night when uploading the SP4778 data. It should be finished by lunchtime.

[2017-04-05 09:30] DavidRoy commented on #5
Yes, I confirm that the suggested changes are what is needed

[2017-04-05 10:06] Gary-van-Breda commented on #5
I've also noticed that both NV3832 and NV6516 have been renamed to H2567, and NV 4451 and NV7135 have both been renamed to H3086. What do you want done with these?

[2017-04-05 10:10] Gary-van-Breda commented on #15
Whilst considering this area, should the estimates be created for all species (as they are now), including Butterflies, Moths, Odonata and Others?

[2017-04-05 12:09] DavidRoy commented on #5
I'm not sure what's gone wrong with these translations but the following should be applied:
NV3832 to H2567
NV6516 to H5453
NV4451 to H3086
NV7135 to H5873

thanks

[2017-04-05 13:38] IanMiddlebrook commented on #15
I'd say it's only worth showing estimates for other species that are recorded consistently. This might apply to day-flying moths and odonata, but I wouldn't worry about others if they will slow things down.

[2017-04-05 13:40] DavidRoy commented on #15
It is probably less effort to do this for everything.  I also suspect it won't make much performance issue doing it on everything, given the remainder is a relatively small proportion of data?

[2017-04-05 14:50] Gary-van-Breda commented on #15
I suspect there would be no noticable impact on performance. I supose I am qustioning how valid it is to apply these estimate formulae to non butterfly species?

[2017-04-05 14:52] DavidRoy commented on #15
I think it's ok, at least there's no objective way of deciding what's in or out

[2017-04-06 09:16] Gary-van-Breda commented on #26
This has now caught up: all figures have been rebuilt.

[2017-04-06 09:16] #26 closed

[2017-04-06 10:13] Gary-van-Breda commented on #5
NW6019 now sorted, and the 4 squares above redone.
I believe this is now finished, and the issue may be closed - if you're happy

[2017-04-06 15:13] Gary-van-Breda commented on #25
pt2: Currently the County is just an attribute against a termlist, it is not looking up the Indicia Locations list, which would be required in order to get the size/location of the county to zoom to it. Do you want this changed?

pt3: I've swapped the search from Yahoo (now defunct) to Google. @BirenRathod : can you check the GoogleMap API key being used is valid for http://test.brc.ac.uk/ukbms/my

[2017-04-06 15:50] zrandle commented on #14
Yes that's right.

[2017-04-10 13:45] BirenRathod commented on #25
@Gary-van-Breda , I just added the Google API key, so should be fine. Although I tried to search place which has returned with no result. Is this expected to be like that?

[2017-04-10 15:33] Gary-van-Breda commented on #14
Data now uploaded into system.
Slight oddity - although I have visit data for 2013, 14 and 15,  I do not have occurrence data for these squares for 2015 - only 2013 and 2014.
@zrandle : is this correct?

[2017-04-10 15:43] Gary-van-Breda commented on #25
No: the response from Google is

"This API project is not authorized to use this API. Please ensure this API is activated in the Google Developers Console: https://console.developers.google.com/apis/api/places_backend?project=_"

Also the maps are throwing out the following:

"Google Maps API warning: NoApiKeys https://developers.google.com/maps/documentation/javascript/error-messages#no-api-keys"

[2017-04-10 15:51] Gary-van-Breda commented on #25
PT1: New code has been deployed: Year warning/info text is now help text under the year field, and the instructions to draw the flight area are no longer red.

[2017-04-10 18:32] BirenRathod commented on #25
Sorry @Gary-van-Breda, it is my mistake. I stored the wrong API key. I have now upgraded with right one.

[2017-04-10 21:07] Gary-van-Breda commented on #25
@DavidRoy : pts 1,3,4 sorted. See above for comment on pt2.

[2017-04-11 20:45] Gary-van-Breda commented on #23
@BirenRathod : new code is requesting the creation of a directory - "sites/www.ukbms.org.mydata/files/reportsDownloads/"
Can you do this? This is where the reports to be downloaded will be stored. It should be writeable by the webserver - probably the same permissions as the other subdirectories at the same level.

Can we also have a similar directory created for EBMS? "sites/www.butterfly-monitor

[2017-04-12 09:46] BirenRathod commented on #23
@Gary-van-Breda : Both sites have got this folder now.

[2017-04-12 14:07] Gary-van-Breda commented on #23
@DavidRoy - file downloads are now working on the D7 site Annual summary.

[2017-04-13 15:03] #23 closed

[2017-04-13 15:10] #25 closed

[2017-04-13 15:11] #17 closed

[2017-04-13 15:12] DavidRoy commented on #14
@zrandle please review and if ok, please close this issue

[2017-04-13 15:16] #22 closed

[2017-04-13 15:19] DavidRoy commented on #5
@zrandle can you check this and close the issue if all ok

[2017-04-18 09:59] zrandle opened #27 "SP0381"
Hi SP0381 is a non-random square that has been walked for three years. Please can this be added to the system and the historical data uploaded too?

Thanks

[2017-04-18 10:06] #5 closed

[2017-04-18 10:14] zrandle commented on #14
There are occurrence data for 2015 for both squares. It is in this file
[SW6616 and SW7220 2015.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/928541/SW6616.and.SW7220.2015.xlsx)

[2017-04-24 10:41] Gary-van-Breda commented on #6
This has now been deployed onto the D7 site.

[2017-04-24 11:09] Gary-van-Breda commented on #8
Form now deployed and configured on D7 site (Site Allocation menu option)

[2017-04-24 12:48] DavidRoy commented on #8
I may have misunderstood the form, but the use case requirement for this form is to use tick boxes to allocate a branch manager to all the unallocated sites within his branch boundary.  An example as follows.
1. Select Allocation Type = 'Branch Manager (WCBS-BBS)
2. Butterfly Conservation Branch = 'Dorset'
3. Click Search which should return all WCBS-BBS sites in Dorset Branch
4. The select all an

[2017-04-24 13:38] Gary-van-Breda commented on #8
There are 2 modes of operation for the form:

Mode 1:
In order to allocate all the locations to a particular user (e.g. as a branch manager), the steps would be as follows:

1. Select Allocation Type = 'Branch Manager (WCBS-BBS)
2. Butterfly Conservation Branch = 'Dorset'
3. Leave the site unselected
4. User = required user
5. Click Search: this will return a list of **all** the sites within the b

[2017-04-24 13:45] Gary-van-Breda commented on #11
This has been applies to all pages on the D7 site.

[2017-04-24 14:00] DavidRoy commented on #8
@zrandle @IanMiddlebrook Without further development funds, this is the only immediate improvement we can provide on allocating users to sites and branches.  Can you add a new issue for future requirements to improve efficiency for this task.

[2017-04-24 14:05] DavidRoy commented on #9
@Gary-van-Breda are we ready to switch the site over from your perspective?

Note that test url is now:
http://test.brc.ac.uk/ukbms/mydata/

[2017-04-25 09:24] Gary-van-Breda opened #28 "Test UKBMS Drupal 7 site: variable initialisation errors"
Occasionally I am seeing the following errors:

    Notice: unserialize(): Error at offset 2 of 40 bytes in variable_initialize() (line 1184 of D:\web sites\drupal\v7\multisite\includes\bootstrap.inc).
    Notice: unserialize(): Error at offset 333 of 24679 bytes in variable_initialize() (line 1184 of D:\web sites\drupal\v7\multisite\includes\bootstrap.inc).
    Notice: unserialize(): Error at off

[2017-04-25 10:07] Gary-van-Breda commented on #28
The 40 length one looks like an invalid length for variable file_directory_path.
The 514 length one looks like an invalid length for the logo_path in variable theme_ukbms_settings.
The 24679 length one looks like an invalid length for the logo_path in variable theme_indiciatheme_settings.

[2017-04-25 11:02] Gary-van-Breda commented on #28
I believe all 3 of these variables can be deleted completely. This would have to be done via the phpAdmin interface - I do not have access to this.

[2017-04-25 11:14] Gary-van-Breda commented on #9
Yes-ish (subject to #28 ). There are some tasks that need to be done around the switching to go live, but the extact nature of these will depend on the final site location. We obviously have the old D6 site and this test site. Where will the new D7 site live?

- We need to ensure the user list on the new site reflects the current list on the D6 site.
- There are some form config entries that will

[2017-04-25 20:36] Gary-van-Breda commented on #14
These 2015 occurrences have now been uploaded.
@zrandle : is this OK now?

[2017-04-26 08:51] BirenRathod commented on #28
@Gary-van-Breda- Yes,  This comes up generally after migration of Drupal sites. I have deleted all three variables now.

[2017-04-26 13:23] #28 closed

[2017-04-26 14:49] zrandle commented on #8
Please can this be explained more clearly. Is this automated? If not how do I allocate squares to branch managers using the above steps?

[2017-04-26 14:55] DavidRoy commented on #8
Not fully automated but should be quick to do.

Here are the instructions.
1. Login to the test version of the ukbms/mydata site at http://test.brc.ac.uk/ukbms/mydata/
2. Goto menu item 'Site Assignment'. http://test.brc.ac.uk/ukbms/mydata/branch-assignment
3. Follow Gary's instructions above.  Mode 1 should be quite an efficient way of allocating sites to a branch champion

Give it a go and let m

[2017-04-26 15:12] zrandle commented on #8
OK, I'll give it a go. As for the BBS squares they can be allocated using the BC Branch boundaries too. The BC champions want access to the BBS butterfly data. Thanks

[2017-04-26 15:23] zrandle commented on #8
hi it sort of works but has frozen! In addition to this I couldn't find Clare Topping (Branch Manager for Beds and Northants) on the list. She is registered and assigned as Branch manager...

[2017-04-26 15:25] IanMiddlebrook commented on #8
Username:  ClareT

[cid:image001.jpg@01D2BEA9.6C394A10]

Ian Middlebrook Butterfly Monitoring Co-ordinator

Email: imiddlebrook@butterfly-conservation.org  Direct line: 01929 406032

Butterfly Conservation, Manor Yard, East Lulworth, Wareham, Dorset BH20 5QP  Tel: 01929 400209

Company limited by guarantee, registered in England (2206468). Charity registered in England and Wales (254937) and in Sc

[2017-04-26 15:34] Gary-van-Breda commented on #27
Is this a WCBS-BBS or WCBS-BC site?

[2017-04-26 15:38] zrandle commented on #27
WCBS-BC

[2017-04-26 21:16] zrandle commented on #8
There is an issue with this. It times out and several Branch managers are missing from the user list...

[2017-04-27 09:04] Gary-van-Breda commented on #8
OK I'll have a look at the time out. Please note that this is a test system: this points at a different warehouse and the user list is as was on the live site a while back.

[2017-04-27 09:18] DavidRoy commented on #8
Also, which point does it time out?  It worked ok for me

[2017-04-27 09:19] DavidRoy commented on #9
Biren will move across to the live server and connect to the live warehouse. We'll then do some testing before switching over.  He will liaise with you, Gary, as needed.

[2017-04-27 10:29] zrandle commented on #8
when you do step 6 of the instructions: 6.	Press one of: "Select all" to assign all the sites to the user;

[2017-04-27 11:04] zrandle opened #29 "more new BBS squares to add"
Hi

Please can these new BBS squares be added to the system. Thanks Zoe
[BBS squares to add to system.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/961355/BBS.squares.to.add.to.system.xlsx)

[2017-04-27 11:51] zrandle commented on #14
These data are not visible from the annual summary page http://www.ukbms.org/mydata/annual-summary?locationID=167146&caching=false&userID=542&locationType=5196&year=2015

In addition to this there should be 6 visits to SW6616 in 2015 but none show in the my walks calendar when masquerading as John Foster the same is true for SW7220.

[2017-04-27 12:01] DavidRoy commented on #14
The data will not appear against John Foster's 'my walks' because you did not specify who these data belonged to.  You need to select 'All recorders' in the drop-down list to see the data.

@Gary-van-Breda the data for the 7th June visit are wrong as the counts are all set to 1 when they were not in the original data.  I haven't done an exhaustive check though

![image](https://cloud.githubusercon

[2017-04-27 12:45] Gary-van-Breda commented on #14
The wcbs_occurrences file I received on 1st June last year has all occurrences for SAMPLEKEY=31198 with a count of 1: it matches the data uploaded.

[2017-04-27 12:47] DavidRoy commented on #14
But didn't match the subsequent spreadsheet sent by @zrandle - see above.  I suggest that @zrandle advises why they are different

[2017-04-27 12:48] Gary-van-Breda opened #30 "WCBS Previous Data upload: number of sections."
The data uploaded from the old system has an issue with the 2007 and before data: this data looks like there can be upto 20 sections per transect. As sections 11 and above do not exist, the data for these sections has not been uploaded.

[2017-04-27 12:51] zrandle commented on #14
I've checked and 31195 (7/06/2015) has counts of 1 for all species recorded.

[2017-04-27 12:54] DavidRoy commented on #14
why is the attached spreadsheet within this github issue thread difference?  Am I missing something?
https://github.com/BiologicalRecordsCentre/UKBMS-online/files/928541/SW6616.and.SW7220.2015.xlsx

[2017-04-27 12:54] zrandle commented on #30
Can we double them up IE sections 1&2 = section 1, sections 2&3 = section 2 and so on?

[2017-04-27 12:55] DavidRoy commented on #30
Yes, but we loose information doing this.  An alternative is:
- Change configuration to allow more sections per transect?  But keep the validation for <=15 sections for new transects being setup?

@Gary-van-Breda - which is easier?

[2017-04-27 12:56] zrandle commented on #14
are you looking at the final column which is for section? third column is count

[2017-04-27 12:57] DavidRoy commented on #14
oops, yes. I'll get my coat

[2017-04-27 13:01] Gary-van-Breda commented on #9
Additional item: The forum is also out of date.

[2017-04-27 14:50] Gary-van-Breda commented on #30
At the moment the system assumes that there are route location records, that the section samples are attached to. I do not know how all the individual bits would react if we were to break that assumption. At the moment the WCBS locations all have 10 section routes.
In the light of this, the easiest would be to do the doubling up.

[2017-04-27 14:58] DavidRoy commented on #30
Agreed.  Can you do the summing up, or do you want us to?  Just to be clear, what's needed is to sum the species counts for original section 1+2 into section 1 count, 3+4 for section 2 etc etc.

[2017-04-27 15:26] zrandle opened #31 "late and 2016 NT data upload"
Hi

As far as I remember this data needs adding to the system.

Thanks
[late data for new system.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/962079/late.data.for.new.system.xlsx)

Zoe

[2017-04-27 15:33] zrandle commented on #8
OK, so this partially worked...  all sites for Dorset were selected for me to be branch manager, but then nothing happens and the allocation hasn't stuck... This would be a great solution if it worked!

[2017-04-28 08:24] DavidRoy commented on #8
@Gary-van-Breda anything you can do on the performance of this page?  Or should we review once the site is on live (and hopefully performing faster)?

[2017-04-28 08:38] DavidRoy commented on #12
@zrandle please close this issue if you are happy with this

[2017-04-28 08:39] DavidRoy commented on #14
@zrandle please close this issue if this is complete, or advise on required action

[2017-04-28 08:51] DavidRoy commented on #6
@imiddlebrook please test and close issue if resolved

[2017-04-28 09:17] Gary-van-Breda commented on #8
Firstly there is a bug on the page: its not accessing the warehouse correctly, hence the allocation failure to stick seen by Zoe. I'm investigating. It may be that this will affect the performance, so its probably best to wait until I've sorted that.

[2017-04-28 12:49] zrandle commented on #12
I've checked but cannot see any occurrence data for the 4 visits in 2015. I haven't checked previous years...

[2017-04-28 12:50] #14 closed

[2017-04-28 12:51] zrandle commented on #8
OK thanks, I await further instruction!

[2017-04-28 13:41] zrandle commented on #29
There are these to add too please. Thanks
[more BBS squares.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/964468/more.BBS.squares.xlsx)

[2017-05-05 11:33] IanMiddlebrook opened #32 "Disappearing Wood Whites"
Report from recorder cazmowe:
_I walked the Bury Ditches transect yesterday, and went online today to record my sightings.  I just realised that I'd entered it on the wrong day, so went back into the site to correct it.  In so doing, I noticed that I had somehow missed entering the Wood Whites I had seen....or so I thought.  So I put the data in and checked that the date was now showing correctly

[2017-05-11 08:20] IanMiddlebrook commented on #32
Bill Downey is having similar problems with Wood Whites recorded at Chiddingfold West & South.

Seems to be a fundamental problem.

Could this please be assigned to someone?

Thanks,

Ian

[2017-05-16 09:57] Gary-van-Breda commented on #32
The taxon for wood white was updated in Oct 2016, which changed its meaning id. The taxon cache has not been updated, and still refers to the old meaning id. This means there is a mismatch between the meaning ids used to identify each row (which come from the cache - wrong) and the data itself (which comes from the occurrences - right). There is a similar issue with the cache_occurrences_functiona

[2017-05-18 08:50] Gary-van-Breda commented on #32
Email from John:

I propose to modify the cache_builder taxa_taxon_lists and taxon_searchterms get_missing_items_querys to include a check on whether the updated_on field is after the cache date, and to include an interface for admins on the warehouse to reset the variables that switch off the get_missing_items_query once the initial data build is complete.

This will take approx 1 day.

[2017-05-18 08:53] DavidRoy commented on #32
Please go ahead and fix as this is a critical bug.  I'll contacting you by email to discuss details of funding this support time

[2017-05-18 08:55] DavidRoy commented on #32
@IanMiddlebrook - please advice the recorders that the data is being captured but is missing from some of the reports that are built from a summary table.  Hopefully this will prevent duplicate entries.

The code to build the summary table will be fixed/updated in due course

[2017-05-18 08:57] IanMiddlebrook commented on #32
Have done

[cid:image001.jpg@01D2CFBD.477F0140]

Ian Middlebrook Butterfly Monitoring Co-ordinator

Email: imiddlebrook@butterfly-conservation.org  Direct line: 01929 406032

Butterfly Conservation, Manor Yard, East Lulworth, Wareham, Dorset BH20 5QP  Tel: 01929 400209

Company limited by guarantee, registered in England (2206468). Charity registered in England and Wales (254937) and in Scotland (

[2017-05-23 14:35] zrandle opened #33 "Northern Ireland squares for upload"
Hi s
[NI to be added.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1022512/NI.to.be.added.xlsx)
ome of the NI squares were not added in the last upload of new squares. Please can the attached squares be added asap. They are all WCBS-BC squares. Many thanks Zoe

[2017-05-23 16:38] zrandle opened #34 "No historical data for SP4359"
Hi
There isn't any historical data for SP4359 on the new system. Can it be added please?
Thanks

Zoe

[2017-05-23 16:40] zrandle commented on #34
nor for SP5078. This may be a wider issue - how can we check this?

[2017-05-25 09:56] Gary-van-Breda opened #35 "Apache URL length limit breached"
Zoe Randle has had problems accessing her data on the annual summary page.

I believe that we have hit a limit in apache (the webserver software). The request to fetch the location list for a user includes a filter defining all the location IDs that have been assigned to the user: for Zoe this has gone over the (approx.) 8177 character limit.
The temporary work around would be to deassign Zoe from

[2017-05-31 10:09] BirenRathod commented on #9
Hello @Gary-van-Breda

I have just migrated Drupal 6 stuff on to Drupal 7. the URL is www.ukbms.org/mydata7. Only Branch walks page has got error. Rest, I checked all pages and they are all working. Please check and let me know, so than I will stop drupal 6 site and move drupal 7 URL to mydata.

[2017-06-02 11:27] zrandle commented on #13
Hi is there any progress on this to report? NY0287 does not have any historical data associated with it.

Thanks

Zoe

[2017-06-02 11:45] zrandle commented on #13
2015 and 2016 data for SU0096 not visible

[2017-06-02 12:49] BirenRathod commented on #9
@Gary-van-Breda & @DavidRoy , Is it ok to move ukbms/mydata7 to ukbms/mydata? let me know.

[2017-06-02 16:27] Gary-van-Breda commented on #12
Data for SP4778 2015 now uploaded.

[2017-06-05 10:32] Gary-van-Breda commented on #13
I think all 2016 that I have from old system data now uploaded.
I don't have any 2015 or 2016 data for SU0096 (data [present for 2009-2014)
Similarly I don't have any 2016 data for NY0287 (data present for 2012-2015)

[2017-06-05 11:59] zrandle commented on #13
Hi Gary

I don't understand why it is missing. I have attached the species data and the visit data in the spreadsheet.

[missing data.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1051945/missing.data.xlsx)

Thanks

Zoe

[2017-06-05 11:59] zrandle commented on #12
Thanks

[2017-06-05 11:59] #12 closed

[2017-06-05 13:37] Gary-van-Breda commented on #13
OK, these weren't in my data dump (think that was dated june 2016 anyway)..
Is there any way I can get a full up-to date data dump from the old system, preferably in the previous visits and occurrences format? It may also be worth doing a final square check as well.
I'll then run the process through again - hopefully we can knock this and the other historic data issues on the head with one fell sw

[2017-06-05 14:46] zrandle commented on #13
Yes, that was exactly what I was thinking. I'll sort it out and send you the data.

[2017-06-08 20:26] BirenRathod commented on #9
@Gary-van-Breda, I finally moved all users and profile data to drupal 7. Please have a look and let me know if anything left. We need to move this site as soon as possible.

[2017-06-09 10:31] Gary-van-Breda commented on #9
I think it all looks OK.

[2017-06-09 10:40] BirenRathod commented on #9
After I migrated all users yesterday, only one user has been registered on live ukbms/mydata. So I will create that on ukbms/mydata7 and moved the URL to ukbms/mydata. There will be small amount of downtime not more than 15 minutes max.

Are you both @Gary-van-Breda & @DavidRoy ok?

[2017-06-09 10:42] DavidRoy commented on #9
I will run some checks today and over the weekend - to then switch over at the beginning of next week.  A major change such as this should ideally not be made on a friday.

[2017-06-09 10:44] BirenRathod commented on #9
Ok, will do next week.

[2017-06-12 08:53] DavidRoy commented on #9
Site generally seems ok, but a few issues with reports:
1. No charts appearing on annual summary pages, e.g. http://www.ukbms.org/mydata7/annual-summary, http://www.ukbms.org/mydata7/section-plot
2. Heading of year report pages not appearing correctly.  e.g. additional drop-down boxes appear.  Compare http://www.ukbms.org/mydata7/year-plot with http://www.ukbms.org/mydata/year-plot

thanks, David

[2017-06-12 09:01] BirenRathod commented on #9
I think that was a jQuery problem. The site was in 1.10 and I moved it to 1.8. So both works fine. On the year-plot on drupal 7 works bit better compare to drupal 6. The dropdown lists only enabled if page found any data.

[2017-06-12 09:04] DavidRoy commented on #9
Thanks.  That fixed all those problems.  I'm happy for the site to be switched over to drupal 7.

[2017-06-12 09:09] BirenRathod commented on #9
Since, I moved site on Thursday, There are seven more users created on the ukbms/mydata site. So I will first move that put site into maintenance mode for a while and move new site to the live site.

Biren

[2017-06-12 09:10] DavidRoy commented on #9
Yes, or block new registrations on the drupal 6 site?

[2017-06-12 09:45] BirenRathod commented on #9
I blocked new users now on drupal 6 site.

[2017-06-12 10:03] BirenRathod commented on #9
@DavidRoy & @Gary-van-Breda

The site URL has moved and pointed to now drupal 7.

[2017-06-12 13:00] BirenRathod commented on #9
@Gary-van-Breda
field_about_transect has been added to profile fields but field hasn't been identified by easy login module. Is this behaviour expected by this module?

[2017-06-13 12:42] IanMiddlebrook opened #36 "Walk data Entry - order of butterflies"
The order of butterflies on the new Walk Data Entry page appears to be random.

Please re-instate the previous order, which was an old taxonomic order, which will then relate more closely to the recording forms that volunteers are using.

[2017-06-13 12:44] IanMiddlebrook opened #37 "Walk data Entry - movement within entry form"
Up/down keys were previously useful in moving from one row to the next on the Data entry grids.

These no longer seem to work, only left-right keys.

Please allow use of up/down keys to navigate around the grid.

[2017-06-13 12:46] IanMiddlebrook opened #38 "Walk Data Entry - Moths and Odonata"
Previously recorded Moths and Odonata should appear on the relevant data entry pages by default.

It seems that these have now migrated to the 'Others' entry page.

Please move them back to their relevant data entry pages.

[2017-06-13 14:29] IanMiddlebrook opened #39 "New User Notification"
Please add the fields: _First Name, Last Name _and_ About Your Transects_ to the notification emails I receive from brc@ceh.ac.uk each time a new User registers.

[2017-06-14 09:31] Gary-van-Breda commented on #36
Related to new ability for users to select sort order of species. Fix corrects this. Note that the Moths/Odonata/Others pages also had "taxonomic sort order" sorting, but the UK master list does not have this set, so the sort order would be undefined (but not random). After this change is put in place, and the forms configuration set, these pages will be sorted by the common name. The main Butterf

[2017-06-14 09:32] Gary-van-Breda commented on #37
Related to change in jQuery version, and identifying the correct field in the following and previous rows.
Fix included with code that will be deployed for #36.

[2017-06-14 09:34] Gary-van-Breda commented on #38
Also related to new ability for users to select sort order of species.
Fix included with code that will be deployed for #36

[2017-06-15 09:59] BirenRathod commented on #39
Notification emails have been implemented. Fields name have been added.

[2017-06-15 10:15] DavidRoy commented on #39
Thanks.  @IanMiddlebrook please close if issue now resolved

[2017-06-15 10:16] Gary-van-Breda commented on #32
I've dropped some code into the warehouse, ready for review by John, as he wanted to see it due to areas it touches on.

[2017-06-15 16:15] zrandle commented on #33
Hi people are registering for squares that I cannot link them to due to the squares not being on the system yet. Please can these be added asap? Thanks Zoe

[2017-06-19 11:42] BirenRathod commented on #36
@Gary-van-Breda & @DavidRoy - These files have been updated on both sites.

[2017-06-19 14:24] Gary-van-Breda commented on #36
Looks OK to me now.

[2017-06-19 14:39] IanMiddlebrook commented on #36
Thanks Gary,

Looks OK to me.

[2017-06-19 14:39] #36 closed

[2017-06-20 08:39] IanMiddlebrook commented on #39
Thanks

[2017-06-20 08:39] #39 closed

[2017-06-20 08:41] IanMiddlebrook commented on #37
This was not fixed with the code for #36

[2017-06-20 08:42] IanMiddlebrook commented on #38
This was not fixed with the code for #36

[2017-06-20 10:11] Gary-van-Breda commented on #37
What browser are you using?
It looks OK to me: http://www.ukbms.org/mydata/input-data?sample_id=2338552 on Firefox. I can navigate around the grid using the arrow keys (both separate keys and the numberpad)

[2017-06-20 10:16] DavidRoy commented on #37
Works for me on chrome but I had to update to latest version first.

[2017-06-20 10:21] Gary-van-Breda commented on #38
What browser are you using? Can you give an example of a visit where this shows up?
If I look at http://www.ukbms.org/mydata/input-data?sample_id=2406868 (using Fiefox), then is shows Moths and Odonata in their grids, and fills in the counts correctly as well.

[2017-06-20 10:23] DavidRoy commented on #38
All looks for for me on Chrome

[2017-06-20 10:30] BirenRathod commented on #37
looks good on IE too.

[2017-06-20 11:17] IanMiddlebrook commented on #38
My walk at Lulworth yesterday http://www.ukbms.org/mydata/input-data?sample_id=2577740

![image](https://user-images.githubusercontent.com/24699793/27330685-670ddcf4-55b2-11e7-9cff-3903bf3ad8ae.png)

Using Google Chrome

[2017-06-20 11:19] IanMiddlebrook commented on #38
Version 58.0.3029.110

[2017-06-20 11:21] DavidRoy commented on #38
Goto: chrome://settings/help
to update Chrome?
Fine for me on Version 59.0.3071.104 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/2699478/27330836-f5e74032-55b2-11e7-843b-cdbdf9f70dd5.png)

[2017-06-20 11:22] IanMiddlebrook commented on #38
It just updated automatically after I checked the version!
Now working for me on
Version 59.0.3071.104

[2017-06-20 11:23] DavidRoy commented on #38
Great.  Close if now resolved?

[2017-06-20 11:27] BirenRathod commented on #9
@Gary-van-Breda, do you see any problem?
@DavidRoy, please close this , if resolved?

[2017-06-20 11:27] DavidRoy commented on #9
Thanks Biren and Gary for all your help with this.  Now closing!

[2017-06-20 11:27] #9 closed

[2017-06-20 11:32] #38 closed

[2017-06-20 11:33] #37 closed

[2017-06-20 12:11] DavidRoy commented on #30
@Gary-van-Breda can you advise on what action now needed?

[2017-06-20 12:29] IanMiddlebrook commented on #16
Is this entirely resolved? not sure.
It's certainly improved, because the moths always appear where they should now, but ...
Looking at the entry for Ryton Meadows on 5-jun-2016, the Data Entry form is fine, shows Mother Shipton (hovering over gives Euclidia mi).
The Annual Summary and Raw Data tables now show Callistege mi (hovering - Euclidia mi). Why not Mother Shipton?
The various downloads no

[2017-06-20 12:33] #6 closed

[2017-06-20 12:33] #4 closed

[2017-06-20 14:20] Gary-van-Breda commented on #30
I have a spreadsheet which converts between the files, and which produces a csv file which can be uploaded into the warehouse. It also loads in the existing data, so it can make sure there is no duplicate data created. I just need to tweak this for years prior to 2007 to add the data together, and then run the whole schebang again. I will probably ask to have all 2007 and prior data removed, but t

[2017-06-20 14:22] DavidRoy commented on #30
Thanks.  Can you also provide some documentation on the upload process once the input files are in the right format

[2017-06-20 14:48] Gary-van-Breda commented on #8
Zoe, can you check whether this now works for you?

[2017-06-28 08:39] IanMiddlebrook opened #40 "Recorder Name"
On the Walk Data Entry page, the Recorder Name defaults to the account Users name, but it is possible to over-write this if someone else walks the transect.

If you have used a different recorder's name before, this box used to work with auto-complete in order to save time.

What seems to happen now, if you try to over-write the name, is that there is no auto-complete and you just get a continuous

[2017-06-28 12:20] zrandle commented on #33
hi Can this be implemented asap please. Recorders are getting irritated!

[2017-06-28 15:05] Gary-van-Breda commented on #33
These Squares now uploaded.

For future reference I used the following Excel macro enabled spreadsheet to convert the squares list in a CSV file that can uploaded directly into warehouse using the CSV upload facility.
[New Squares.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1109157/New.Squares.zip)

[2017-06-28 15:43] zrandle commented on #33
Great thanks :)

[2017-06-28 21:59] Gary-van-Breda commented on #29
63 Squares above added. The following 4 squares were not added as they already existed as BBS squares:
NH9800
NH9801
NT2148
SD7233

[2017-06-28 22:06] Gary-van-Breda commented on #27
SP0381 already exists as a BC square. Next stage is the upload of historic data.

[2017-06-28 22:08] Gary-van-Breda commented on #29
@zrandle : can I have a definitive list of all the squares that are either current or historic, for both BC and BBS?

[2017-06-29 09:18] zrandle commented on #29
@Gary-van-Breda do you want ones that are as yet un-allocated too? This will be more tricky as I don't know what's been allocated for the coming season so it maybe best for me to send you all of them...

[2017-06-29 16:03] Gary-van-Breda commented on #35
I've dropped a codefix into develop and a hotfix branch.
@BirenRathod : Do you know what code version of IForm we have on the the Live UKBMS (D7) site?

[2017-06-29 16:15] BirenRathod commented on #35
I just copied the iForm module from test site. So basically it has got all your changes copied from my machine. It is difficult maintain direct from the repository due to nature of development.

[2017-07-03 16:14] zrandle commented on #8
Yes it does thank you

[2017-07-03 16:14] #8 closed

[2017-07-03 16:15] zrandle commented on #29
@Gary-van-Breda  please can you let me know what squares you want and I'll get them to you asap.

[2017-07-11 11:14] zrandle opened #41 "Site Assignment page freezing"
HI

Is there a problem with the site assignment page? I've been linking a Branch Champion to squares, the page has frozen and all allocation for the Branch Champion have been lost :(

[2017-07-11 11:20] zrandle commented on #41
typical technology - that issue has passed. HOWEVER, the Branch Champion has also be allocated as the recorder for the squares!

[2017-07-11 11:28] zrandle commented on #41
Right then. Branch Champion un-allocated as recorder for all squares.

[2017-07-11 15:02] zrandle commented on #13
@Gary-van-Breda Here are the data for the new data dump.
[REFERENCE VISITS 2006-2016.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1139299/REFERENCE.VISITS.2006-2016.xlsx)
[REFERENCE RECORDS 2006-2016.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1139298/REFERENCE.RECORDS.2006-2016.xlsx)

Here is the squares list too - BC squares, non random and NT in on

[2017-07-12 17:28] Gary-van-Breda commented on #40
No. The name lookup report is returning a null name when run by you, this is causing the filter functionality to fall over. I will update the report to ensure no nulls are returned.

[2017-07-19 08:36] IanMiddlebrook opened #42 "WCBS-BC walk migrating to Transect page"
Username 'RABGeorge' has entered a walk for WCBS-BC square ST8719 on 18th July 2017 (sample-id 2695984).

This square is designated as Site Type WCBS-BC and was assigned to him as such,  so he could only have entered the data through the WCBS-BC Walk Data Entry form.
However, on the My Walks page, this walk only appears in his calendar under Site Type: Transect.

The confusion continues on the Ann

[2017-07-20 09:31] IanMiddlebrook opened #43 "Historic WCBS data showing wrong sunshine %."
comment from Graham Upton regarding some historic WCBS data that is showing on the system:

"For TF8016 on 4 Aug 2015 Sun is recorded as 39…. but it was 78. Likewise on Jul 21 it is recorded as 49 when it should be 98."

So for some reason the sun% has halved. Perhaps this is true for other data uploaded to the site at the same time?

Zoe has confirmed Graham's values from the original data entere

[2017-07-20 09:52] IanMiddlebrook commented on #43
comment from Graham Upton regarding some historic WCBS data that is showing on the system:

"For TF8016 on 4 Aug 2015 Sun is recorded as 39…. but it was 78. Likewise on Jul 21 it is recorded as 49 when it should be 98."

So for some reason the sun% has halved. Perhaps this is true for other data uploaded to the site at the same time?

Zoe has confirmed Graham's values from the original data entere

[2017-07-21 08:52] IanMiddlebrook opened #44 "Site Assignment - missing branches"
I just tried to make some assignments using the 'Site Assignment' feature, but noticed that 2 Butterfly Conservation Branches are missing from the drop down list: Suffolk and Surrey & SW London.

Could these branches please be added?

[2017-07-21 21:19] Gary-van-Breda commented on #44
The Butterfly Conservation Branches are locations of type "Butterfly Conservation Branch" in the warehouse. In order to add these 2 missing branches to the drop down, location records must be inserted into the warehouse (warehouse1), and in order for the Site assignment to work, these records must have the correct boundary geometries.

[2017-07-22 14:40] Gary-van-Breda commented on #42
There is a bug in the My Walks grid page, which meant he entered a WCBS location walk using the Transect walk entry page.

[2017-07-26 08:20] IanMiddlebrook commented on #44
Where did the boundaries for the other branches come from, and were these 2 branches not included?

[2017-07-26 10:27] DavidRoy commented on #44
The original boundary shapefiles came from you Ian, but I am at a loss to explain why these missing branches have not been noticed before.  We'll schedule some time to reload the missing ones

[2017-07-26 10:38] DavidRoy commented on #44
[SuffolkSurrey.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1176290/SuffolkSurrey.zip)

@BirenRathod - please load these two shapefiles as locations of Type = Butterfly Conservation Branch.  They should be public layers as they are used for both the UKBMS and iRecord.

[2017-07-27 19:21] Gary-van-Breda commented on #35
@BirenRathod Could I have a zipped/tarred copy of the current Live iform? that way I can send you an updated version of helper_base.php which has a fix for this (which has been put into the client_helpers github)

[2017-07-27 20:42] Gary-van-Breda commented on #13
Obviously there are various stages to this, so first **BC** squares:
The vast majority are OK.
The Northern Irish squares have all been renamed, so do not have "I" on the front of them
There are extra squares in the location list in the database: H2633 (IH2633) and H4092 (IH4092): I have left these in place at the moment: @zrandle do you want them deleted?
Only missing square is NY7907: I will add

[2017-07-27 21:58] Gary-van-Breda commented on #13
**BC** squares:
Duplicate squares removed (they had no samples stored against them).
@zrandle : the original NY7907 looks like it was renamed to NY7906. Do you want a new NY7907 to be created?

[2017-07-28 10:53] zrandle commented on #13
@Gary-van-Breda yes please do create a new NY7907.
H2633 (IH2633) and H4092 (IH4092) can be deleted as they are largely aquatic!
Thanks

[2017-07-31 15:05] BirenRathod commented on #35
@Gary-van-Breda , I have attached the zip file here.
[iform.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1187951/iform.zip)

[2017-07-31 22:23] Gary-van-Breda commented on #13
BC squares now correct:
New NY7907 created.
H2633 (IH2633) and H4092 (IH4092) deleted.
I will do the same process for the BBS squares, then do the visits for both.

[2017-07-31 22:34] Gary-van-Breda commented on #13
**BBS** squares:
Again, the vast majority are OK.
(In this case the Northern Irish squares have not been renamed, so have "I" on the front of them)
There are more extra squares in the location list in the database: HU3629, HU4537, HU5265, HU5339, IJ6455 (J6455), NG3917, NG4046, NJ9705, NK0022, NM3790, NN7058, NT1955, NT3265, NU0832, NY6263, NY9510, SJ3193, SJ3979, SJ6338, SK3009, SK6071, SK7885, S

[2017-08-01 13:16] zrandle commented on #13
I will check with Sarah Harris at BTO

[2017-08-02 22:59] BirenRathod commented on #44
@DavidRoy , These layers have been added to live warehouse.

[2017-08-03 09:02] IanMiddlebrook commented on #44
Thanks

[2017-08-03 09:02] #44 closed

[2017-08-03 14:54] IanMiddlebrook commented on #32
Did this critical bug ever get progressed?
I guess not as the problem still seems to be there.

Message just received from one of our branch co-ordinators:

"To let you know that the Wood Whites are still not displaying in the Data Entry Screens on UKBMS.
Although what I think are incorrect numbers are still showing in the Annual Summary.
I reported this through in April/May and there is still the

[2017-08-07 12:08] IanMiddlebrook commented on #40
I assume this is still outstanding, and does not just affect me, as per this email received today:

_Hi Ian,
When recording walks for other walkers in the rotas, I need to change the Recorder Name from my own. The behavior of the entry field as soon as I start to add the new name is to spin the two arrows as if it were trying to look up the name...but it never completes. Is this just down to perfo

[2017-08-07 13:07] DavidRoy opened #45 "Alternatives to Captcha"
What are out options for preventing SPAM accounts being setup.  We currently use Captcha for site registration and all logins.  This annoys some users.  Are there alternatives, such as:
- only use Captcha on account setup, not subsequent login?
- use alternative modules such as Honeypot, Spambot that are used on other Indica sites such as iRecord

[2017-08-07 14:24] IanMiddlebrook opened #46 "Timed Counts disappearing"
A User has found that old timed Count entries disappear from his Timed Count calendar after he has gone back to review them, although they still appear in the Download from the same page (see message below).

The account Username is 'Murlough' and the timed counts referred to are for Murlough NNR (Graying), Sample_ID 1897511 on 4 separate dates.

Presumably, if they are still listed in the downloa

[2017-08-08 15:46] IanMiddlebrook opened #47 "Duplicate Records causing errors in Annual Summary tables"
There appears to be a critical problem with the data entry system, in that duplicate 'occurrences' are being stored in the database. IE. two or more entries for the same walk (Sample ID), species and section.
I'm attaching a couple of examples from Townsend Quarry and Stubhampton Bottom.
The Annual Summary tables (presumably) add up all the entries in the database, so show values higher than those

[2017-08-09 10:25] IanMiddlebrook opened #48 "Site Type or Location Type"
Hi,

A minor amendment, but there is a bit of inconsistency over the labelling of the 'Location Type' filter on different pages.

Location Type - on My Sites, Branch Sites, All Sites
Site Type - on My Walks, Branch Walks, Annual Summary, Section Plot, Year Plot

I guess it would be better if they were all the same.
I think I prefer Location Type.

Thanks, Ian

[2017-08-09 13:01] IanMiddlebrook commented on #47
Just to put the scale of this problem into context, I've just downloaded all the Transect data for 2017 so far.

There are 2141 duplicate Occurrence_IDs there.
There are a further 288 duplicate records (ie. same sample/section/species, but with separate Occurrence_IDs).

This doesn't include any non-butterfly data, or any WCBS data.

Manually correcting the old type of duplicates is a few days wor

[2017-08-09 13:24] IanMiddlebrook opened #49 "Site Filter on My Walks"
Not sure if this is linked the problem identified in issue#42 ...

We used to be able to filter the 'My Walks' page by individual sites, but now we can only filter by 'Site Type'.

This is also true of the 'Branch Walks' page, where you can now only view all the walks for every transect at once.

Is there a reason why the secondary filter was removed, and will it be re-instated?

Thanks, Ian

[2017-08-09 14:59] DavidRoy commented on #47
This is clearly a major issue that is only like to get more significant.  @Gary-van-Breda - can you investigate the cause please.

[2017-08-09 15:11] IanMiddlebrook opened #50 "Site Code allocation failure"
Hi,

I allocate Site Codes to new Transects on the 'All Sites' page.
I can restrict the 'list to blank code values', and then add the relevant Site Codes in the empty boxes on the left.

However, I've just tried to do this with some new 2017 transects, and the Site Codes are not sticking.
After I've entered the Code, I go to the Site Details page and it still says "The Site Code will be allocated

[2017-08-11 14:07] IanMiddlebrook opened #51 "No password on registration"
Hi, the current email to new registrations is as follows:

_RegistTrial,

Thank you for registering at UKBMS. You may now log in to http://www.ukbms.org/mydata/user using the following username and password:

username: RegistTrial
password:

You may also log in by clicking on this link or copying and pasting it in your browser:

http://www.ukbms.org/mydata/user/reset/6151/1502460036/ZBJ4MXVJuE1bLq

[2017-08-24 13:03] Gary-van-Breda commented on #47
Not expecting any comments to this: just a note to keep track of pertinent information: the problem appears to be that there are multiple "Abundance count" occurrence attribute values for each occurrence - not what should happen.

[2017-08-24 13:53] Gary-van-Breda commented on #13
@zrandle : have you had a chance to talk to Sarah Harris?

[2017-08-24 15:34] Gary-van-Breda commented on #42
How to reproduce:
Make the WCBS-BC the default location type (Go to My Walks: select WCBS-BC; Navigate to My Sites: this shows WCBS-BC Sites)
Navigate back to My Walks: this shows WCBS-BC walks.
Choose a BC location in the sites filter: the page is redisplayed, but with the site type Transect, and no location in the location filter. All the "add walk" links now point to the "add transect walk" for

[2017-08-24 15:46] Gary-van-Breda commented on #43
In the CSV file I received with all the samples, this is what is in for TF8016:

SAMPLEKEY | LOCATION | RECORDER | VISIT_DATE | TEMPERATURE | WIND_SPEED | WIND_DIRECTION | START_TIME_10 | SUN
29376 | TF8016 | Graham Upton | 21/07/2015 | 22 | 4 | SW | 10:10 | 49.75
24695 | TF8016 | graham upton | 18/08/2014 | 17 | 4 | N | 11:10 | 10.75
23496 | TF8016 | Graham Upton | 26/07/2014 | 22 | 4 | N | 10:45

[2017-08-24 15:55] Gary-van-Breda commented on #51
I have removed the reference to passwords on the initial sentence and under the stated username.

[2017-08-24 16:18] Gary-van-Breda commented on #50
@BirenRathod : can you deploy the following file into the UKBMS D7 iform module client_helpers directory?
[report_helper.php.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1249561/report_helper.php.zip)
Thanks

[2017-08-24 16:18] Gary-van-Breda commented on #50
(Oops - obviously unzipped first!)

[2017-08-24 16:36] Gary-van-Breda commented on #49
Yes this is linked to #42. The site selection was removed deliberately as using this with WCBS site types led to the WCBS data being entered against the Transect survey.
Once #42 is fixed, the site selection filter will be reinstated.

[2017-08-25 09:23] IanMiddlebrook opened #52 "Scrolling through Years"
Hi, just adding suggested enhancements as they arise from volunteers:

On most pages where a year can be selected (My Walks, Branch Walks, Annual Summary), you can only change the year by clicking on the arrow and waiting for the page to load, one at a time. So it can take quite a while to go back a few years (unless you manipulate the URL).

Would it be possible to select the year from a drop-dow

[2017-08-25 10:21] Gary-van-Breda commented on #47
At the moment it looks like the warehouse is not handing back the correct ID for the attribute value,   so if the user then changes the value, the new value is put in the wrong place. Am investigating further.

[2017-08-25 11:39] Gary-van-Breda commented on #47
I believe this is an issue with the audit module on the warehouse: see warehouse issue 264

[2017-08-28 11:17] Gary-van-Breda commented on #47
Code lodged into warehouse; waiting for deployment, after which I will need to sort a data fix.
Also identified an issue when deleting data on form: fix in progress.

[2017-08-28 12:03] Gary-van-Breda commented on #46
There has obviously been some change in the way that dates are handled behind the scenes with the D7 update. This has introduced a bug, whereby the year recorded against the main parent sample was set to 2017 (ie this year), even though the timed counts themselves were for 2016.
The very act to going into the counts to look at them changed the year from 2016 to 2017 - the Next button saves the cha

[2017-08-28 20:58] Gary-van-Breda commented on #40
Code lodged into warehouse - see pull request 266.

[2017-08-28 22:06] Gary-van-Breda commented on #42
Updated / simplified how to reproduce cause:
Make the WCBS-BC the default location type (Go to My Walks: select WCBS-BC; Navigate to My Sites: this shows WCBS-BC Sites)
Navigate back to My Walks: this shows WCBS-BC walks.
Refresh Page: Page now shows transects - it has lost the cookie data storing the location type.

[2017-08-29 09:19] Gary-van-Breda commented on #42
2 stages:

- Update the my walks and branch walks reports: Code in warehouse awaiting deployment (see warehouse Pull request 267)
- After these deployed, then update the report calendar grid form so it does not set the location_type_id in the extraParams (which causes the cookie data to be removed).

[2017-08-29 09:37] Gary-van-Breda commented on #45
Botcha, honeypot, spambot and spamicide are installed but not switched on.
Currently Captcha is set for forum posts, user login, registration, forgotten password, and adding comments to forums, iform nodes, pages and stories (last 3 not used by UKBMS).
I have switched it off for forum posts, user login, forgotten password, and adding comments to forums.
Is this OK?
Do you want details on what the

[2017-08-29 11:33] Gary-van-Breda commented on #40
Code deployed (warehouse 1.39.7) & checked on Live - both for you @IanMiddlebrook and Kelvin.
Close?

[2017-08-29 13:13] IanMiddlebrook commented on #40
Thanks Gary

[2017-08-29 13:13] #40 closed

[2017-08-29 16:15] zrandle commented on #13
I contacted her in early August and again last week! I'll pester her again.

[2017-08-29 16:43] zrandle commented on #13
Here is info from Sarah

SJ6338 is the only one not a BBS square - so should be removed.

Remove these:
SJ3193
IJ6455
SK3009
NY9510
NU0832
TM0001
NK0022
NT3265
SK7885
SK6071
SJ3979
SK9300
HU3629
HU4537
HU5265
HU5339
NG3917
NN7058
ST3667
ST4877
NJ9705
NM3790
NG4046
NT1955

The list below, are normal BBS squares and should be kept:

SK9973
NJ3106
NJ4121
NZ0040
NY6263
NG7323

Thanks

Zoe

[2017-08-29 21:08] Gary-van-Breda commented on #47
@BirenRathod : can you unzip and deploy the following file into the UKBMS and EBMSwebsites.
[ukbms_sectioned_transects_input_sample.js.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1261749/ukbms_sectioned_transects_input_sample.js.zip)

[2017-08-29 21:34] Gary-van-Breda commented on #48
This requires the creation (unless specified) or alteration of node specific language files for the following pages:

- My Walks - node 7 (file already exists)
- Branch Walks - node 624
- Annual Summary - node 678
- Section Plot - node 2131
- Year Plot - node 2132

In some cases these also refer to "Sites" - should this be changed as well?

For completness, the other page which reference sites or

[2017-08-30 09:17] Gary-van-Breda commented on #46
@BirenRathod or @JimBacon : can you deploy the following file into both UKBMS and EBMS websites? Thx
[timed_count.php.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1263024/timed_count.php.zip)
After this is deployed I will look at any data fixes

[2017-08-30 09:48] BirenRathod commented on #46
@Gary-van-Breda , This has deployed on both sites.

[2017-08-30 09:51] Gary-van-Breda commented on #42
Reports have been deployed to Live (1.39.7).
@BirenRathod or @JimBacon : can you deploy the following file to the UKBMS website: Thanks
[report_calendar_grid.php.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1263149/report_calendar_grid.php.zip)
After this is done, I'll fix the data.

[2017-08-30 09:53] BirenRathod commented on #47
@Gary-van-Breda This file have been deployed on to both these sites.

[2017-08-30 09:56] BirenRathod commented on #42
@Gary-van-Breda, This has now deployed onto UKBMS.

[2017-08-30 10:29] Gary-van-Breda commented on #49
Has now been reinstated on My walks
I'm not sure it ever was used on the Branch walks: the code looks like the location list is hard coded to use the normal user allocation, and there is (currently) no configuration setting which allows it to be switch the Branch allocation.

[2017-08-30 10:30] IanMiddlebrook commented on #49
Thanks Gary

[2017-08-30 10:30] #49 closed

[2017-08-30 11:02] Gary-van-Breda commented on #41
@zrandle : have you continued to have problems with this page?

[2017-08-30 11:10] zrandle commented on #41
@Gary-van-Breda it seems to be OK now although when allocating several branch admins one after another the select all button appears as another deselect all button.
![image](https://user-images.githubusercontent.com/23524520/29869767-3cef3cf4-8d7c-11e7-80fc-a4b538f2dd25.png)

[2017-08-30 11:13] BirenRathod commented on #50
@

[2017-08-30 11:15] BirenRathod commented on #50
@Gary-van-Breda, this has deployed.

[2017-08-30 11:26] Gary-van-Breda opened #53 "All Sites setting of codes values"
The ability to set a value for the site code in the All Sites page disappears when the grid column heading is selected to sort the grid, or a value is entered in the grid filter row.
The code column still holds any value set, but it is not edittable.

[2017-08-30 11:29] Gary-van-Breda commented on #50
@IanMiddlebrook : Close?

[2017-08-30 11:32] IanMiddlebrook commented on #50
Thanks Gary

[2017-08-30 11:32] #50 closed

[2017-08-30 12:35] Gary-van-Breda commented on #46
I've updated 5 samples to put them back in 2016.
There are 3 which I can't tell which year they are meant to be on, as the counts themselves have been saved and the dates lost. Can you tell when they are from and what dates the counts where on? I will then change them.
http://www.ukbms.org/mydata/input-timed-counts?sample_id=1646434 (entered 2016-06-17)
http://www.ukbms.org/mydata/input-timed-coun

[2017-08-30 12:45] IanMiddlebrook commented on #46
http://www.ukbms.org/mydata/input-timed-counts?sample_id=1646434 - recorded 2016-06-17
http://www.ukbms.org/mydata/input-timed-counts?sample_id=1646445 - recorded 2016-06-17
http://www.ukbms.org/mydata/input-timed-counts?sample_id=2014777 - recorded 2016-07-21

[2017-08-30 13:03] Gary-van-Breda commented on #46
All now corrected. Everything now looks consistent: all parent samples are in the same year as their children.
@IanMiddlebrook : Close?

[2017-08-31 15:22] Gary-van-Breda commented on #42
Data Fix:

@BirenRathod or @JimBacon : Could someone run the following sql against the warehouse?
UPDATE indicia.samples
SET survey_id = 305, update_on = now(), updated_by_id = 1
WHERE (id in (2699836, 2704803, 2673512, 2700308, 2669621, 2690716, 2702833, 2611135, 2628877)
OR parent_id in (2699836, 2704803,2673512, 2700308, 2669621, 2690716, 2702833, 2611135, 2628877))
AND deleted = false AND surv

[2017-08-31 15:42] IanMiddlebrook commented on #42
"Location NT2466 (id 182539) has been added as a Transect, but the name is the same as a WCBS-BBS square. It has 2 walks in the Transects survey: 2710089, 2832730. Is this correct @IanMiddlebrook ?"

Unfortunately this is the recorder's error - they failed to find their WCBS square and set up a duplicate site as a transect. This is one for @zrandle  to sort out with the recorder at some point.

[2017-08-31 20:38] Gary-van-Breda commented on #41
@BirenRathod : can you deploy the files in the following zip into both the EBMS and UKBMS websites? Thanks

[ebms_transects_allocation.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1268421/ebms_transects_allocation.zip)

[2017-08-31 21:05] Gary-van-Breda commented on #35
@BirenRathod : could you deploy the following file into the UKBMS site? Thanks
[helper_base.php.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1268479/helper_base.php.zip)

[2017-09-02 12:54] DavidRoy commented on #45
Thanks.  Closing for the time being.  Let's keep an eye on if Spam reappears

[2017-09-02 12:54] #45 closed

[2017-09-02 18:13] DavidRoy commented on #48
@IanMiddlebrook to advise

[2017-09-04 08:29] BirenRathod commented on #35
@Gary-van-Breda - This has diployed.

[2017-09-04 08:39] BirenRathod commented on #41
@Gary-van-Breda, This has diployed now.

[2017-09-04 10:18] BirenRathod commented on #42
@Gary-van-Breda and @IanMiddlebrook
I have updated records by running above query. Total 99 records have been updated.
Please check if everything is ok or not.

[2017-09-04 21:04] Gary-van-Breda commented on #13
All the squares are now sorted.

[Stage 2 reporting.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1275503/Stage.2.reporting.xlsx)

Total Number of visits in provided data: 14131
There are 11726 visits in the data which are already in the database (tagged as “Valid Existing Visit/Sample”).
There are 1901 visits against squares that have not already been loaded (tagged as “No m

[2017-09-05 07:31] Gary-van-Breda commented on #43
See #13.

[2017-09-05 14:45] Gary-van-Breda commented on #13
@zrandle
Picking up from #43, there are many visits which do not have an average sun value. It is my intention to use the mean of the relevant sector sunshine values, if it is not provided.
What is the difference between the start/end time 10 & 20 values, and which one should I use? Currently only 1 time period is stored in the Indicia system.

Yes use the mean of the relevant sector sunshine valu

[2017-09-06 09:27] Gary-van-Breda commented on #43
Note that in the latest batch of data provided by @zrandle as part of #13, the average sunshine is given as follows:

29376 | TF8016 | 21/07/2015 | 36
29736 | TF8016 | 04/08/2015 | 60

There are no entries for the section sunshines to provide a different calculated value.
Yet another set of different values!

[2017-09-06 09:58] Gary-van-Breda commented on #41
@BirenRathod : it doesn't look like the JS file in the zip has been deployed into UKBMS. Can you double check please?

[2017-09-06 10:20] BirenRathod commented on #41
Yes, I missed that, Diployed it now.

[2017-09-06 12:20] Gary-van-Breda commented on #42
NT-ST7834 : @zrandle or @IanMiddlebrook : Can you look at the following and tell me if I should merge the observations? The times on the samples don't match up so I don't know about their status as duplicates.
http://www.ukbms.org/mydata/input-bc-data?sample_id=2670841
http://www.ukbms.org/mydata/input-data?sample_id=2670882

[2017-09-06 12:24] IanMiddlebrook commented on #42
Yes, looking at the counts, he has split data entry between 2 walks, one for sections 1-5 and the other for sections 6-10. They should just form one walk, starting at 12:05 and finishing at 14:25.

Thanks, Ian

[2017-09-06 13:09] Gary-van-Breda commented on #42
Another one perhaps for @zrandle ? There is a transect called BBS1 (TL8747) with one walk on (2017-05-03)

[2017-09-06 13:17] Gary-van-Breda commented on #42
I have done the 7 deletes mentioned above (which included some data merging).
I have checked the walks - they have been moved over.
I will now trigger the summary_builder re-calculation (for the annual summary page) - this is required to remove the data from the Transects survey, and add it to the BBS/BC surveys, as appropriate.

[2017-09-06 13:50] Gary-van-Breda commented on #42
I've just checked some random samples in the BC and BBS data, and with the way the update was done (setting the updated_on date on the sample) these have already been incorporated into the annual summary page. (I had to clear the IForm cache).

[2017-09-06 20:35] Gary-van-Breda commented on #29
This part of the work under #13 has been completed.
Close?

[2017-09-06 20:49] Gary-van-Breda commented on #13
Does the visits data given above include the visits in #31 ?

Yes it does

[2017-09-06 20:53] Gary-van-Breda commented on #41
@zrandle : Close?

[2017-09-12 11:05] Gary-van-Breda commented on #42
I think we have 2 options re the Transect annual summary data:
1) there is a background query that rebuilds the data slowly. We can let this work its way through the data, and it will try to rebuild the data for these sites,  and find that the samples are no longer there, and remove the data. It does the oldest data first, and because this data is recently entered, it will be some time before this

[2017-09-12 14:18] Gary-van-Breda commented on #32
Just some information to track for the future.

The data entry page uses uncache taxon information when looking up existing data, but uses the cached taxon data when generating the grid. Thus the taxon meaning ids are out of sync as the cache has not been updated. These is code in progress to allow the taxon cache to update automatically: see warehouse pull request 250. I have "kicked" this to get

[2017-09-12 14:21] Gary-van-Breda commented on #16
Related to but slightly different to #32

[2017-09-13 09:05] Gary-van-Breda commented on #16
@BirenRathod or @JimBacon : can you run the following SQL against warehouse1?
[code]
Thanks

[2017-09-13 09:14] BirenRathod commented on #16
@Gary-van-Breda
First query returns with 19821 records, Is it ok to delete?

[2017-09-13 09:41] Gary-van-Breda commented on #13
Srefs which have visits in the visits data, but do not have squares (First Error Status case above):
IH5351, NG4426, NH3934, NH5411, NH5828, NH6916, NH9545, NN6998, NN9355, NO2306, NR6346, NR7232, NS9877, NT2607, NT9222, NX5372, NY5506, NY7968, NZ1212, SD4050, SD4577, SD5582, SD6027, SD9767, SE1867, SE2611, SE2906, SE6218, SE6418, SE8481, SE8786, SH8104, SH9123, SH9223, SH9323, SH9824, SH9918, SH9

[2017-09-13 09:45] Gary-van-Breda commented on #13
Srefs which have both BBS and BC squares, so can't distinguish (third Error Status case above) - generally they have multiple visits each.
IJ2191, NO2602, NX4438, SD6168, SK1787, ST3547, SU0805, SU5554, SY4392, TL3207

Here are the squares with their organisation:

IJ2191 | BBS-- | --
NO2602 | BBS
NX4438 | BBS
SD6168 | BC
SK1787 | BBS
ST3547 | BC
SU0805 | BBS
SU5554 | BBS
SY4392 | BBS
TL3207 | BBS

[2017-09-13 09:51] Gary-van-Breda commented on #13
Visits with changes Grid references relative to previous data (fifth Error Status case above)
Provided   Key | Grid Ref | Date | Status | Indicia Sample ID | Survey
-- | -- | -- | -- | -- | --
10270 | NS9972 | 14/07/2011 | Sref Mismatch : Visit Grid Ref NS9972 : Grid Ref in existing sample   NS9872 | 1504635 | BC
15309 | NY7482 | 23/07/2012 | Sref Mismatch : Visit Grid Ref NY7482 : Grid Ref in exi

[2017-09-13 10:38] Gary-van-Breda commented on #16
Yes: these records will be recreated by the summary_builder once the second update statement is run.

[2017-09-13 10:40] BirenRathod commented on #16
Done.

[2017-09-13 11:16] Gary-van-Breda commented on #16
@IanMiddlebrook : following the data fix above, it all now looks consistent.
Close?

[2017-09-13 13:52] Gary-van-Breda commented on #43
I'll backtrack on what I've written above. The data for the two dates above for TF8016 provided as part of #13 has the overall sunshine not set, but the values that will be used (using averages over the sections where appropriate) are as follows:

Provided   Key | Provided Site Name | Date | % Sun
16846 | TF8016 | 13/07/2013 | 100
17945 | TF8016 | 13/08/2013 | 99
23496 | TF8016 | 26/07/2014 | 81
2

[2017-09-15 15:14] IanMiddlebrook opened #54 "Sample links on Raw Data table not showing with Firefox"
A branch co-ordinator is having trouble with the Raw Data tables on the Annual Summary page – apparently the sample links are not there in the dates. He has recently switched to using Firefox as a browser.

I have masqueraded as him, using Google Chrome, and there are no problems.

[2017-09-15 15:18] IanMiddlebrook commented on #16
That's great - thanks Gary

[2017-09-15 15:18] #16 closed

[2017-09-15 15:29] IanMiddlebrook commented on #47
Has this file corrected the duplicate entry issue?
If so, can we arrange a data fix asap please?
The recording season ends in 2 weeks and branch-co-ordinators are already starting to validate all the records.

Thanks, Ian

[2017-09-15 22:14] Gary-van-Breda commented on #54
Which user is it?

[2017-09-16 18:44] Gary-van-Breda commented on #54
Sorry - I've worked out that it is Bill Shreeves.
I've masqueraded as him using firefox and have no problems.
I have asked him for a screen dump.

[2017-09-17 21:14] Gary-van-Breda commented on #54
Email sent to Bill:

Hello Bill,

Thanks for the screen dump. It has helped, as I can now explain.

There are restrictions on who gets to see the links on the Annual Summary page: as you can imagine we don’t want someone editing data from the other side of the country, even by accident. These restrictions are quite simple:
•	If you are looking at your own data, you can see the links.
•	If you are

[2017-09-18 08:21] IanMiddlebrook commented on #54
Thanks Gary

[2017-09-18 16:21] Gary-van-Breda commented on #54
@BirenRathod or @JimBacon : Can you unzip and deploy the following file into the UKBMS website? Thanks
[report_helper.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1311392/report_helper.zip)

This change should display the message telling normal/branch users that they need to set the Filter by User field as appropriate to get access to the links.

[2017-09-21 13:42] BirenRathod commented on #54
Uploaded on ukbms/mydata website.

[2017-09-21 15:32] Gary-van-Breda commented on #54
Message now displayed. Close?

[2017-09-25 15:32] IanMiddlebrook commented on #54
Thanks Gary

[2017-09-25 15:32] #54 closed

[2017-09-25 15:47] IanMiddlebrook opened #55 "Annual Summary table failing to update"
Hi,

I've received some emails in the last few days about the Annual Summary table failing to reflect data that have been entered several days ago, although in most cases the Raw Data look OK. Sometimes a few species counts are missing from the Annual Summary table, and sometimes a complete walk is missing.

Examples:
Castle Hill NNR , week 17 only 2 species are shown, all subsequent weeks are mis

[2017-09-25 16:29] DavidRoy commented on #55
@Gary-van-Breda can you look into this please

[2017-09-26 06:37] Gary-van-Breda commented on #55
@BirenRathod or @JimBacon
Can you check the logs / scheduled tasks run for warehouse1 please? The last successful run of the summary builder looks like it was on 2017-09-19 15:04:39.

[2017-09-26 08:49] BirenRathod commented on #55
@Gary-van-Breda , I know there was a problem yesterday up to afternoon, but working fine in the evening and no problem reported this morning too.
Below are the last logs found.
2017-09-26 09:21:32 +01:00 --- alert: Triggers & notifications scheduled task took 24.616842985153 seconds.
2017-09-26 09:21:38 +01:00 --- alert: Scheduled plugin cache_builder took 6.1464109420776 seconds
2017-09-26 09:22:

[2017-09-26 20:46] johnvanbreda commented on #55
There was an upload a few days ago, which included a lot of records with dodgy dates. I've cleaned up the data this evening but the broken date values were causing some of the scheduled task processes to not get run. I'll raise a warehouse issue covering the underlying bug.

[2017-09-27 09:04] Gary-van-Breda commented on #55
I notice that the last successful run was 21:44 last night. The scheduled tasks seem to be running, but not getting finished: e.g. since 01:18 today it looks like it hasn't finished the data_cleaner, and hasn't done of the tasks after it.
Is this related to your comments @johnvanbreda ? Is this something else?

[2017-09-27 09:14] Gary-van-Breda commented on #55
Hi @IanMiddlebrook
Just an update for you: the run last night has caught up Castle Hill NNR and Therfield Heath.
We need the scheduled tasks running consistently in order to sort Cashmoor etc.

[2017-09-27 09:32] johnvanbreda commented on #55
Hi @Gary-van-Breda - I've been working on the scheduled tasks problem. It should be working now and I'll also post up a fix to ensure the underlying problem does not recur.

[2017-09-27 15:08] Gary-van-Breda commented on #55
The scheduled tasks seem to be running on a half hour cycle.
I am running each of the UKBMS surveys (one at a time) in catch up mode, for 2 cycles. I've done the BC and BBS surveys, and just about to do the Transects Survey.

[2017-09-28 16:09] Gary-van-Breda commented on #55
I believe this is now up to date. @IanMiddlebrook : do you want to confirm?

[2017-09-29 08:25] IanMiddlebrook commented on #55
Looks OK to me, thanks

[2017-09-29 08:25] #55 closed

[2017-10-03 10:29] IanMiddlebrook commented on #47
Hi,
Where do we stand with this duplicate issue?
Now that the recording season has ended, and co-ordinators are downloading data (duplicates and all) it really is an urgent matter!

Thanks, Ian

[2017-10-03 13:51] Gary-van-Breda commented on #47
I've fixed the Audit code problem (see warehouse issue 264), and we have applied a data fix. This has reduced the number of duplicates from ~2770 to 58 in the occurrences report.
Is this level manageable, or would you like me to investigate for additional causes? I believe that at least some of the remaining duplicates are due to multiple %sun attributes on the Section level samples (e.g. the dupl

[2017-10-03 13:54] IanMiddlebrook commented on #47
Thanks Gary, I can handle 58 duplicates.

Looks like most corrections are showing in the Raw Data table, but have not filtered through to the Annual Summary report yet. Do you have a rough timescale for everything to catch up?

[2017-10-03 14:07] Gary-van-Breda commented on #47
I'd expect at this point it to have caught up: an data flag was put in to trigger the summary rebuild for the affected occurrences. I've cleared the Cache, just to ensure the updated Annual Summary data is picked up.
Can you give me an example of one where AS has not caught up?

[2017-10-03 14:12] IanMiddlebrook commented on #47
The one I just checked is Grafton Wood, week 19, Meadow Browns (77 in Annual Summary, 45 in Raw Data).

[2017-10-03 14:57] Gary-van-Breda commented on #47
I did see 77, but I have re-cleared the cache, and they look consistent to me now - both showing 45 to me just now, with and without the caching checkbox set.

[2017-10-03 14:59] IanMiddlebrook commented on #47
Thanks Gary, same for me now.

[2017-10-03 14:59] #47 closed

[2017-10-03 15:32] Gary-van-Breda commented on #32
Cache Builder sweep up carried out last night.
Wood White appearing in both DE and AS screens.
The initial Bury Ditches transect mentioned above has 4 WW occurrences per section (different occurrences, same value), so is giving the wrong figure in the AS. These will need to be removed.
Note as well there seems to be 2 transects on Bury Ditches on 04-05-2017, walked by different people, which is co

[2017-10-04 13:19] IanMiddlebrook commented on #32
Thanks Gary, I've tidied up the data for Bury Ditches, and a few other duplicates entries in Surrey.
However, for some sites (eg. three Chiddingfold Forest sites) the Wood Whites now appear in Data Entry and Annual Summary tables, but have disappeared from the Raw Data tables.
In contrast, the Wood Whites at Bury Ditches appear in all three locations?

[2017-10-26 09:24] IanMiddlebrook opened #56 "Samples download failing"
Hi,

The Samples download is producing an error 'Unable to Complete Request'. This seems to be true regardless of Site Type (Transect or WCBS-BC or WCBS-BBS).
All other downloads seem to be working fine.

Samples download is used for national data extraction, so very important at this time of year!

Many thanks,

Ian

[2017-10-26 11:33] zrandle commented on #56
Can this be remedied ASAP. I need to analyse all of the WCBS data to present a talk in Northern Ireland next week!!! Thanks

[2017-10-26 13:24] Gary-van-Breda commented on #56
@BirenRathod or @JimBacon
Noting this is flagged as critical, so doing a fast and dirty...
Can you change the twin double quotes `""` on line 648 of the warehouse1 application/helpers/ReportEngine.php to `$sql` ?
I will put this change into Git.

[2017-10-26 13:28] BirenRathod commented on #56
Hello @Gary-van-Breda

I can't do that as code pulled directly from GIT. if you commit your code to repository in master branch, I then can pull it from repository.

[2017-10-26 13:34] Gary-van-Breda commented on #56
OK: dropped into master branch - sorry its in application/libraries/ReportEngine.php

[2017-10-26 14:10] BirenRathod commented on #56
@Gary-van-Breda
Done.

[2017-10-26 14:59] IanMiddlebrook commented on #56
Thanks, that seems to be working now.

[2017-10-30 11:12] zrandle opened #57 "Data upload"
A few recorders managed to enter their data via the old system. How long will it take for this to be uploaded to the new system?

[2017-10-31 08:11] DavidRoy commented on #57
How much data is it?  It might be quicker/simpler to re-enter it?

[2017-10-31 12:20] zrandle opened #58 "Magpie and Magpie Moth"
Can we have a blanket common name change for Magpie (the moth) to Magpie Moth Abraxas grossulariata to avoid potential data entry error and confusion?

Under the other taxa list Magpie <Pica pica> is listed as is Magpie. Magpie moth is also listed as Magpie <Abraxas grossulariata>. Under the moth taxa list Magpie Moth is listed as Magpie Abraxas grossulariata and Magpie Moth Abraxas grossulariata.

[2017-11-07 09:50] IanMiddlebrook opened #59 "Branch Co-ordinators unable to review branch data"
Hi,

This problem was raised by Kelvin Richardson (username: kelvinr). When he looks at the Annual Summary page and filters by Branch Data he gets the following error message:

Server Error
404 - File or directory not found.
The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.
[errno] => 0 [status] => 404 [request] => index.php/services/dat

[2017-11-07 15:51] Gary-van-Breda commented on #59
@BirenRathod
Can you deploy the following unzipped file into the iform/client_helpers directory on the Live UKBMS site ?
[report_helper.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1450656/report_helper.zip)

Thanks

[2017-11-07 16:10] BirenRathod commented on #59
@Gary-van-Breda
Copied on live UKBMS site.

[2017-11-07 16:15] BirenRathod commented on #59
@Gary-van-Breda
I copied this file to EBMS too, which resolved this issue https://github.com/BiologicalRecordsCentre/eBMS/issues/45

[2017-11-17 11:34] zrandle commented on #57
20 visits and associated records. It will be quicker to re-enter it.

[2017-11-17 11:36] zrandle commented on #13
what is next then?

[2017-11-17 11:40] zrandle opened #60 "species order on data entry pages"
The species are not listed in taxonomic order when entering them apart from under the all species option. They're jumbled up under the species known at this site; species I have recorded and common species headings.  Can they be listed in taxonomic order for all options please.

[2017-11-17 11:41] #57 closed

[2017-11-17 11:41] #41 closed

[2017-11-17 11:42] #29 closed

[2017-11-28 14:57] Gary-van-Breda commented on #32
I've just rechecked these, and I can see the wood whites for the 3 chiddingfold forest sites in the raw data as well. I wonder if this was a caching issue?

[2017-11-28 15:30] IanMiddlebrook commented on #32
Yes, they all look OK now, it may well have been a caching issue.
I'll close this one.

Thanks

[2017-11-28 15:30] #32 closed

[2017-11-29 10:27] Gary-van-Breda commented on #13
Squares detailed in the first post from 13th Sept now added.

@BirenRathod or @JimBacon
Can you run the following SQL statements against warehouse1 ? Thanks

They remove the samples with second and fifth error cases above: they will be reloaded. It also removes the 2007 and prior data, as these will be reloaded with extra processing to deal with the fact that data up to that point had 20 sections,

[2017-11-29 11:00] Gary-van-Breda commented on #13
@BirenRathod or @JimBacon
Can you also run the following: this corrects an issue with the warehouse location upload where it attaches the location_type_id to the sample_method_id termlist value for "Transect Section" by mistake.
[code]

[2017-11-30 18:03] BirenRathod commented on #13
Hello @Gary-van-Breda
All queries ran successfully.
Also, deleted 24276 and updated 7919.

[2017-12-01 11:51] Gary-van-Breda commented on #13
Thanks.
Samples now all uploaded. Occurrences and their counts now to do.

@zrandle : can you have a look at the file you supplied above (REFERENCE RECORDS 2006-2016.xlsx) - this has columns :
VISIT_ID | SECTION_LENGTH(M) | SECTION | COUNT | BMSCODE

I was expecting something like
RECORDKEY | SAMPLEKEY | SECTION | COMMON_NAME | COUNT

I assume that the VISIT_KEY = SAMPLEKEY, COUNT is obvious, as i

[2017-12-04 12:00] zrandle commented on #13
Species is determined by BMS code. Do you want me to add the common name to the file I sent you?

[2017-12-04 14:24] Gary-van-Breda commented on #13
Yes please, and also the old system record key: I use this to check if the record is already loaded. Don't worry if the recordkey is not possible.

[2017-12-05 15:33] Gary-van-Breda commented on #13
Would be even better if it was the latin name, as there are some species which share common names.

[2017-12-05 22:05] Gary-van-Breda commented on #60
Taxon sort order enabled on BC and BBS walk data entry forms to match Transect walk DE.

Butterfly Tab: User can choose to sort the taxa by taxanomic sort order or by common name

Moth, Odonata, Others tabs: sorted by common name: note that the species on these 3 tabs come from the UK Master list, which does not have a taxanomic sort order defined, so it is disabled.

[2017-12-07 16:16] zrandle commented on #13
ok will do.  Can I also give you an additional 12 visits for 2017 and their associated records that were entered via the old system? Thanks

[2017-12-07 17:03] Gary-van-Breda commented on #13
Yes, thats fine, add the 2017 data.

[2017-12-19 16:37] DavidRoy opened #61 "Country species species lists"
Provide country-specific species lists as options for users to select for entering walks.  Options either to have separate lists for England, Scotland, Wales, Northern Ireland or users give the branch/country they record in and they are given a specific extra species list.

[2017-12-19 16:43] DavidRoy opened #62 "Verification on data"
New verification checks on large values entered (e.g. give a warning if >10 Chequered skippers entered for a single walk).

Based on attached rules

[Data entry validation rules (002).pdf](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1572428/Data.entry.validation.rules.002.pdf)

[2017-12-19 16:44] DavidRoy opened #63 "Verification checks on data entry"
Verification checks on data entry.  Report results of ‘out-of-range’ or ‘out-of-flight season’ for the data entered.  Use the rulecheck functionality already built into Indicia.  Either colour-code the table cells where the value entered, or give a pop-up warning or have a separate review/check/submit page before committing to the database.

[2017-12-19 16:45] DavidRoy opened #64 "Create and populate additional UKBMS reporting tables"
Create additional reporting table in Indicia (similar to ukbms_year_index_values) for including historic data within reports (annual/section totals).  Update existing reports to include historic and live data

[2017-12-22 13:57] zrandle commented on #13
Hi Gary Here are the records files for the 2006-2016 data. You may want to remove the unidentified hawker, unidentified chasers etc.
[REFERENCE.RECORDS.2006-2016 GVB.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1582621/REFERENCE.RECORDS.2006-2016.GVB.xlsx)
The 12 visits and associated records entered via the old system for upload are here:
[REFERENCE VISITS 2017 GVB.xlsx](ht

[2018-01-02 15:41] IanMiddlebrook opened #65 "Branch Site not appearing in Annual Summary"
I've just added 2 sites in Cornwall to the branch of Username:  JimBCT

These are Lanhydrock and Respryn.

Both sites now appear in Branch Sites for Jim, and the walks also appear in Branch Walks.

However, on the Annual Summary page, when he filters by 'Branch Data' , Respryn does not appear on his drop-down list of Sites, although Lanhydrock does.

Not sure what's gone wrong there. The site is n

[2018-01-03 15:44] Gary-van-Breda commented on #64
Each entry in ukbms_year_index_values has the following information:

-   survey_id,
-   year,
-   location_id (ties to the Transect or Site IDs, not the section),
-   taxa_taxon_list_id,
-   index (the actual value)

In the initial email, it was mentioned that the new table should be "for including historic data within reports (annual/section totals)."
Can you confirm that the new table (if we de

[2018-01-04 17:05] Gary-van-Breda commented on #62
Can you confirm whether these are data entry checks (i.e. take place on the front end as the user enters their data), or are verification checks (i.e. are generated by a back end process as part of the verification checks post data entry)?

[2018-01-05 10:27] DavidRoy commented on #62
Checks on entry, thanks

[2018-01-07 16:28] Gary-van-Breda commented on #63
There seems to be 2 sets of out-of-range verification checks: e.g. for Chequered Skipper, there is "Coordinate is outside known 10km range of Carterocephalus palaemon" and "Coordinate outside known range for Carterocephalus palaemon".
At the moment I am making the fields colour coded if they fail an check, and putting a warning mark next to the name, which the user can hover over to get the actual

[2018-01-07 20:27] DavidRoy commented on #63
I've checked on the warehouse and I think there is an error, in including C. palaemon within a set of rules for moth species.

This one should be ignored:
http://warehouse1.indicia.org.uk/index.php/verification_rule/edit/22175

"Coordinate is outside known 10km range of Carterocephalus palaemon"

You can filter by using the latest out-of-range check.  The one in error is from 2014, the other one f

[2018-01-08 14:46] Gary-van-Breda commented on #65
I suspect this was a caching issue of the drop down list: i.e. it was being cached. If this happens again, unselect the "Use cached data" checkbox on the filter bar, and try again.
Both Lanhydrock and Respryn are now available in the Branch sites location drop down for JimBCT on the Annual Summary page.

[2018-01-09 14:47] Gary-van-Breda commented on #13
Sorry to be a pain again, but our first files to be loaded had a "RECORDKEY" entry: I use this to identify if we have loaded this record before. Is it possible to have this included as well?

[2018-01-09 14:49] zrandle commented on #13
I do not have this information. This maybe something that CEH add. @DavidRoy  can advise.

[2018-01-15 09:54] Gary-van-Breda commented on #63
Issues #63, #62, #61 are being deployed together

[2018-01-15 09:54] Gary-van-Breda commented on #62
Issues #63, #62, #61 are being deployed together

[2018-01-15 09:56] Gary-van-Breda commented on #61
Issues #63, #62, #61 are being deployed together.
Currently waiting for warehouse changes to be deployed (will be in 1_55_0), after which a new report will be deployed (in the brc_reports), and only after that can the form be updated. It must be done in this order.

[2018-02-02 09:48] #65 closed

[2018-02-02 09:51] IanMiddlebrook opened #66 "Website Security"
Hi,
A  comment from a new user, which I'm just posting here for comment really, as I would be interested in your views. I note that iRecord does have https, so I wondered why that's not the case with UKBMS.

"_I was very surprised to see that the site is not secure. (note, no https in the address)

This is strange because UKBMS go to the trouble of prompting use of “strong” passwords in their regi

[2018-02-05 09:57] BirenRathod commented on #66
Hello @IanMiddlebrook

BRC has already considered to update website security to all their websites including BRC own websites (www.brc.ac.uk). I can't exactly tell you when will this be implemented at present. One main reason is  that if we apply certificates to all of them, our server is not capable to support all its websites. And server implementation has already started.  So I could tell you t

[2018-02-05 10:00] IanMiddlebrook commented on #66
Thanks Biren

[2018-02-05 10:00] #66 closed

[2018-02-07 09:17] DavidRoy commented on #64
I confirm that the requirement is for two reports:

1. annual summary report (to populate existing report with data from earlier years where we won't have the full count data in the system).  http://www.ukbms.org/mydata/annual-summary
Likely fields required are
- survey_id,
- year,
- week number,
- location_id (ties to Transect or Site IDs),
- taxa_taxon_list_id
- Average count (if multiple sample

[2018-02-07 09:23] DavidRoy commented on #13
Sorry for the delay with this one.  It's not straightforward to provide the RECORDKEY.  Can you check that there is no existing data for these site/year combinations?

[2018-02-07 09:26] Gary-van-Breda commented on #13
That's OK, I'm working on a workaround.

[2018-02-07 09:30] DavidRoy opened #67 "Data access policy - users to agree to policy"
Need a mechanism for all users of the system to agree to the UKBMS data access policy.

New users have to tick agreement before completing registration.

Existing users to have a pop-up to tick agreement.

@Gary-van-Breda to liaise with @andrewvanbreda to replicate how this was implemented on the NPMS

Wording for users to agree to:
By submitting these records I agree that I collected them myself,

[2018-02-21 09:39] #59 closed

[2018-02-21 09:39] #56 closed

[2018-02-21 09:41] #46 closed

[2018-02-21 10:37] Gary-van-Breda commented on #61
Warehouse code deployed.
New report deployed.
@BirenRathod or @JimBacon : can you deploy the files in the attached ZIP to the UKBMS iform/client_helpers/prebuilt_forms directory (the css and js should go in the apprpriate subdirectories as shown in the zip)?
[Issues_61_62_63.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1743643/Issues_61_62_63.zip)

[2018-02-21 18:34] BirenRathod commented on #61
@Gary-van-Breda
I deployed all files in the relevant folder.

[2018-03-06 16:33] Gary-van-Breda commented on #67
@BirenRathod or @JimBacon
Can you deploy the drupal module https://ftp.drupal.org/files/projects/rules_block_visibility-7.x-1.0.tar.gz into UKBMS please?

- I have created the drupal user field which stores whether the user has ticked the DAP. This appears on the user registration page (and must be ticked before the user can register), and also on the user account page.
- I have set up the block w

[2018-03-06 16:39] DavidRoy commented on #67
Thanks Gary.  Can we hold off implementing this until the DAP is finalised.

[2018-03-06 16:48] Gary-van-Breda commented on #67
OK: I've hidden the block, and removed the drupal field. I've left the rule in place.
I'd stilll like the module deployed, and the question about the ToU stands.
When will we get the completed DAP?

[2018-03-06 18:36] BirenRathod commented on #67
@Gary-van-Breda
I have downloaded that module from Drupal. it is now available for UKBMS site. please install before using it.

[2018-03-14 09:14] DavidRoy opened #68 "Message text on data submission pages"
The following text to be displayed next to 'submit'/'save' buttons on all pages adding new data to the database.  Required by the end of March 2018, in time for the start of the main field season.

Pages to be update:
http://www.ukbms.org/mydata/input-data
http://www.ukbms.org/mydata/site-details
http://www.ukbms.org/mydata/input-timed-counts

By submitting these records you confirm that they cont

[2018-03-19 15:13] DavidRoy opened #69 "Restrict taxon data entry to lower taxon ranks"
Restrict entry to taxon ranks lower than Genera, for all UKBMS input forms.

For examples, exclude 'Bombus' from list of species.

[2018-03-19 16:36] zrandle opened #70 "Possile report error"
When user cbertrand@butterfly-conservation downloads her Northern Ireland WCBS-BC branch sites (74 are listed on screen) the entire list of WCBS BC squares (2019) is downloaded. Please can this be fixed and check that this issue is not occurring for other Branch Co-ordinators. Thanks Zoe

[2018-03-19 19:08] zrandle opened #71 "BBS squares to add to the system"
Please can the squares listed in the attached be added to the system asap. Thanks Zoe
[New BBS squares for WCBS for GVB 6_3_18.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1826549/New.BBS.squares.for.WCBS.for.GVB.6_3_18.xlsx)

They are BBS squares.

[2018-03-20 14:32] Gary-van-Breda commented on #70
There is an issue in the warehouse: the filter on the user in the report is done using custom attribute filter on the branch user attribute. It unfortunately depends on the processing order within the report engine of this filter parameter relative to the parameter which says to give this attribute in the report. I haven't been able to figure out if it is predictable: The report works for the main

[2018-03-20 15:18] zrandle opened #72 "Problem with sites listed in site assignment"
Hi some of the BC WCBS squares listed in the sites are not in the list of squares under the site assignment. For example East Scotland:

NT6565
NT7568
NT2515
NT2764
NT2710
NT8544
NT0923
NT5156
NT9263
NT5646
NT2856
NT3257
NT1174
NT4164
NT6027
NT6849
NT7352

The same is true for these squares:

SJ7488 | Cheshire and Peak
SJ7891 | Cheshire and Peak
SJ8487 | Cheshire and Peak
SJ7890 | Cheshire and Pea

[2018-03-22 13:45] Gary-van-Breda commented on #72
The problem is the defined borders of the Butterfly Conservation Branches (BCB): these are stored as shapes in the database, and the site assignment works out which BCB a square is in when the filter is used.

There is a massive section of east of Scotland (from the Forth down to the border) that is not part of a BCB, and certainly not part of the East of Scotland BCB.

It also looks like the boun

[2018-03-22 14:16] Gary-van-Breda commented on #70
Code lodged into Git (warehouse develop branch). Awaiting deployment

[2018-03-23 12:09] Gary-van-Breda commented on #68
On the normal walk data entry page, the grid of species/sections/counts is entered using AJAX, which means there is no submit/save button. Do you want this message displayed elsewhere on the page?

Response from David:
Below the ‘Finish’ button initially and we can then review.

[2018-03-23 17:02] Gary-van-Breda commented on #68
@BirenRathod or @JimBacon
Can I have a list of all the node.*.en.php files in the iform/client_helpers/prebuilt_forms/lang directory on the UKBMS site?
Thanks

[2018-03-23 17:02] Gary-van-Breda commented on #68
@DavidRoy Is this change required for EBMS as well?

[2018-03-23 20:05] DavidRoy commented on #68
No, just ukbms

[2018-03-24 20:06] BirenRathod commented on #68
@Gary-van-Breda

Attached has included node.*.en.php files.
[node.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1844743/node.zip)

[2018-03-25 21:05] Gary-van-Breda commented on #68
@BirenRathod
Can you unzip and deploy the following files into the UKBMS iform/client_helpers/prebuilt_forms directory?
Thanks
Gary
[Issue 68and69.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1845806/Issue.68and69.zip)

[2018-03-26 10:21] BirenRathod commented on #68
@Gary-van-Breda, Copied on live site UKBMS site.

[2018-03-26 13:12] Gary-van-Breda commented on #68
Confirmed: both pages of timed counts, all three pages of site details, all pages/tabs on transect walk data entry, and all pages/tabs on WCBS-BBS walk data entry. Hasn't worked for WCBS-BC walk data entry: am checking now.

[2018-03-26 13:17] Gary-van-Breda commented on #68
@BirenRathod
Can you rename the node.2128.en.php to node.2130.en.php in the iform/client_helpers/prebuilt_forms/lang directory?

[2018-03-26 13:18] BirenRathod commented on #68
@Gary-van-Breda
Done.

[2018-03-26 13:28] Gary-van-Breda commented on #69
@BirenRathod
Can you unzip and deploy the following file into the iform/client_helpers/prebuilt_forms/js directory?
Thanks.
[ukbms_sectioned_transects_input_sample.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1847969/ukbms_sectioned_transects_input_sample.zip)

[2018-03-26 13:32] Gary-van-Breda commented on #69
@DavidRoy
The Genus rank has a sort order of 230, but there is also a "Genus aggregate" at 228 - do you want both included, or is the cut off at Genus?

[2018-03-26 13:35] BirenRathod commented on #69
@gary-van-breda

I copied js file.

[2018-03-26 13:39] DavidRoy commented on #69
Both Genus and Genus aggregate should be excluded from the species list on the input pages

[2018-03-26 15:53] Gary-van-Breda commented on #69
@BirenRathod
Can you unzip and deploy the following file into the iform/client_helpers/prebuilt_forms directory?
Thanks.
[Issue 69 PHP.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/1848519/Issue.69.PHP.zip)

[2018-03-26 15:55] Gary-van-Breda commented on #68
I think this has now been done: back to David for review/closure?

[2018-03-26 15:57] BirenRathod commented on #69
@Gary-van-Breda

I ahve copied that too.

[2018-03-26 16:13] DavidRoy commented on #68
thanks

[2018-03-26 16:13] #68 closed

[2018-03-26 16:27] Gary-van-Breda commented on #69
Thanks.
Walk data entry forms (Transect, both WCBS) now configured wil a rank sort order limit of 235 on all tabs which use the UK Master List. Don't think it is needed on the Butterfly tab, as that uses a different species list.
Just about to do Timed Counts

[2018-03-27 08:36] Gary-van-Breda commented on #69
Timed Counts only uses the UKBMS Butterflies species list, so this has the same implications as the main Data entry tab. It however does not have the "allow_data_entry" filter set to true, so allows the entry of the "Family"s.
@BirenRathod
Can you unzip and deploy the following file into the iform/client_helpers/prebuilt_forms/js
[timed_count.zip](https://github.com/BiologicalRecordsCentre/UKBMS-o

[2018-03-27 09:11] BirenRathod commented on #69
@Gary-van-Breda
Gone live.

[2018-03-27 09:29] Gary-van-Breda commented on #69
@BirenRathod
It looks like the timed_counts.php file in  iform/client_helpers/prebuilt_forms has gone missing - can you investigate?

[2018-03-27 09:44] BirenRathod commented on #69
Hello @Gary-van-Breda
Sorry it was my mistake, reinstated now and copied js file in the js folder.

[2018-03-27 10:02] Gary-van-Breda commented on #69
Thanks. checked, and all good. I think this is now complete.

There are "Family" groupings within the UKBMS Butterflies species list, but these are flagged as "not data entry", so are now not available on the timed count page (they have always been omitted from the main walk data entry pages). The only taxa that are now available in this list (main tab of data entry forms and the timed count) have

[2018-04-03 09:26] IanMiddlebrook opened #73 "Unable to register new account"
A message received today:
"I’m trying to register for an account on the online system, but when I put my details in it come back and says “The answer you entered for the CAPTCHA was not correct”  I have ticked the box that say I am not a robot but it doesn’t seem to be working."

I've just tried myself, and the same thing is happening - I fill in the details, tick the box to say I'm not a robot, b

[2018-04-03 16:06] BirenRathod commented on #73
Hello @IanMiddlebrook

No sorry , I haven’t seen but when you generate issue, you do need to assign to somebody (for e.g @BirenRathod)

Sorry for this problem. I just checked in all three browsers IE, Chrome & Firefox. I found no problem.

May be by clearing cookies could help to prevent this problem if you had problem before.

[2018-04-04 08:11] IanMiddlebrook commented on #73
Thanks for your help @BirenRathod (just checking that I can assign!).

[2018-04-16 11:27] zrandle commented on #71
@Gary-van-Breda Is there any progress on this? Recorders are signing up and this is becoming urgent.

Thanks Zoe

[2018-04-16 11:30] zrandle commented on #13
Hi any progress on this? Thanks Zoe

[2018-04-17 09:05] Gary-van-Breda commented on #71
Of the 139 squares given:

- All the SKYE ones are already there (9 entries, possibly hidden in assignment by #72 )
- All the NBLD ones are already there (10 entries, possibly hidden in assignment by #72 )
- All others now loaded (120 in total).

Can be closed?

[2018-04-17 09:07] Gary-van-Breda commented on #71
See #72 for details on how to get around the entries not showing up in the assignment if the branch filter is set.

[2018-04-17 09:15] #73 closed

[2018-04-17 09:19] IanMiddlebrook opened #74 "Registration emails"
Hi @BirenRathod

Several new registrants over the last couple of weeks say they have not received an email after registering for a new account on the UKBMS site. They've also tried requesting a new password and not received an email.
I've mentioned that they might find the email in their SPAM/JUNK folder, but many fail to find anything in there either.
Could we firstly check that all the emails ar

[2018-04-17 09:24] IanMiddlebrook opened #75 "Duplicate sections in data entry"
@Gary-van-Breda

A recorder has set up a new site, and on going to enter data for the first time found that there were duplicate columns in the data entry screen for sections 3 to 7 (out of 12).
The site is Packwood House (id=192766).

This issue was resolved previously for several sites.

Could we check the database to see if any other sites are currently affected, and remedy as appropriate?

Man

[2018-04-17 16:57] zrandle commented on #72
@Gary-van-Breda I'll give it a go. Thank you Zoe

[2018-04-17 16:57] zrandle commented on #71
Great thanks for adding them.

[2018-04-17 16:57] #71 closed

[2018-04-19 10:34] zrandle commented on #72
@Gary-van-Breda @DavidRoy  What is the origin of the Branch Boundary shape file you are using? I have one that may be better but Github wont let me attach it here. I will email it to you.

[2018-04-19 13:35] Gary-van-Breda commented on #72
I don't know where these come from, I don't think I did it. All I can tell is that they were uploaded on 2013-04-03.

[2018-04-19 15:52] IanMiddlebrook opened #76 "Branch Sites page"
@Gary-van-Breda

Hi,

It's been pointed out to me that the Branch Sites page has changed recently (for those with lots of Sites in their Branch). Where there used to be a set of page numbers below the list, so you could navigate directly to page 3 or 4 etc, there is now just a 'Next' and 'Previous' button. So it can take longer to find relevant sites (each page can take quite a while to load).

An

[2018-04-20 08:56] BirenRathod commented on #74
Hello @IanMiddlebrook, @Gary-van-Breda , @DavidRoy

Due to some reason using any CEH email stop sending email outside. This could be due to our internal email security system in action. So I changed that to no-reply@ukbms.org and it works. so I left the setting like that. So user will get an email.

Also, I found there was no terms of condition page created. Because of that when every time new use

[2018-04-20 09:46] zrandle commented on #72
@DavidRoy can you shed any light on the origins of the Branch Boundary Shape File?

[2018-04-20 12:53] IanMiddlebrook commented on #74
Thanks @BirenRathod
The only problem now is that I've stopped receiving notifications when new accounts are set up. I used to receive them from brc@ceh.ac.uk  and they were still coming through, but I see a few more (mostly spam) accounts have been set up in the last 3 hours, but I've not received any notification.

[2018-04-20 12:59] BirenRathod commented on #74
Hello @IanMiddlebrook

I have now added brc@ceh.ac.uk email to user registration notification. So you should be receive that.

[2018-04-20 13:01] IanMiddlebrook commented on #74
Hi @BirenRathod
Sorry, I receive the notifications at imiddlebrook@butterfly-conservation.org . They used to come FROM brc@ceh.ac.uk

Thanks, Ian

[2018-04-20 14:14] IanMiddlebrook commented on #74
Thanks @BirenRathod  They're coming though now

[2018-04-26 09:03] IanMiddlebrook opened #77 "problems logging in"
Hi @BirenRathod  @Gary-van-Breda  @DavidRoy

I've had a couple of UKBMS users overnight failing to login, because when they go to the login page, they are redirected to an 'install' page ...   ukbms.org/mydata/install.php (see attached).

![ukbmslogin](https://user-images.githubusercontent.com/24699793/39296366-a69a879e-4938-11e8-9a86-471dd7c12844.JPG)

I can't replicate the problem here, but thes

[2018-04-26 09:08] DavidRoy commented on #77
@BirenRathod Is this related to the security patching last night?  Users trying to access the site at this time. Please close the issue if so

[2018-04-26 09:10] IanMiddlebrook commented on #77
I was speaking to one of them on the phone last night (about 5pm), and while he had the problem repeatedly, I was logging in at the same time without any trouble.

[2018-04-26 09:52] BirenRathod commented on #77
@DavidRoy , @Gary-van-Breda & @IanMiddlebrook
After number of possibilities tried by myself, I figured out that that could have only happened if somebody have typed ukbms.org/MYDATA/insall.php or got stored old cookies (with capital letters of mydata as we resolved that long time ago) in their browsers. Anyway I now have closed the gap, so it won't end up there. Also, just to let you know that if

[2018-04-26 09:57] BirenRathod commented on #77
Sorry bit wrong type it is http://ukbms.org/MYDATA/install.php

[2018-04-26 10:21] IanMiddlebrook commented on #77
Thanks @BirenRathod , I'll get back to the recorders and ask them to try again.
I know one of them should not have old cookies stored, as he only registered yesterday, but then had the problem logging in.

Nobody would have typed http://ukbms.org/MYDATA/install.php in order to login, but it's possible they were trying to get to http://www.ukbms.org/MYDATA/user/login

I'll let you know how they get

[2018-04-26 10:29] BirenRathod commented on #77
Again if they have tried without www and capital MYDATA than end on above screen. Anyway I resolved it. I surprised too, as It should not have happened.

[2018-04-27 09:03] #77 closed

[2018-05-11 08:37] IanMiddlebrook commented on #74
Hi @BirenRathod
Just looking through the new registrations this morning, and it looks like I stopped receiving notification emails early this morning (after 3am) as there are a bunch of new accounts on the website that I've not received notification of. May just be a temporary problem, but it's ongoing.

@DavidRoy
As an additional point, we've gone back to getting a lot of bogus/spam accounts now

[2018-05-11 08:46] IanMiddlebrook commented on #74
Sorry @BirenRathod
I also see that none of the most recent registrations have accessed their accounts, so I assume they are not getting their registration emails either.

[2018-05-11 08:47] BirenRathod commented on #74
@IanMiddlebrook

To block bogus/spam accounts, please chnage the settings in the "acccount settings" of "people" to "Visitors, but administrator approval is required"

About email, first try to create account by your self and see if you receive any email.

[2018-05-11 08:56] IanMiddlebrook commented on #74
Hi @BirenRathod  I've tried to create an account, and did not receive any email.

Re. blocking bogus accounts, that doesn't sound like it will reduce my workload - ie. will it actually reduce the number of people 'trying' to register.

[2018-05-11 09:31] BirenRathod commented on #74
@IanMiddlebrook

I will look into email bit.

Neither it reduces your workload nor it will reduce number of people trying to register (email goes to you anyway) but it will definitely stop the bogus account.

[2018-05-11 14:34] IanMiddlebrook commented on #74
Thanks @BirenRathod  it looks like emails are coming through again. I just received a new notification, so I tried to set up a new account and the notification was received at my other email address.

Regarding the issue of junk accounts - my main objective was to reduce my workload dealing with them, which your suggestion doesn't achieve. I'll raise it in a separate issue.

Thanks again,

Ian

[2018-05-11 14:38] IanMiddlebrook opened #78 "reducing bogus new accounts"
Hi @DavidRoy
We've gone back to getting a lot of bogus/spam accounts now - dozens each day that I need to delete. Is there anything we could do to discourage this? It had dropped right off with Captcha, but now we're using a simple sum it's crept back up again.

For example, I'm sure they sign up for the forum, but is there any need for the forum to be visible to people before they login? I can't

[2018-05-11 14:53] BirenRathod commented on #74
No problem.

That's right. it will increase your workload. Other solution is to block them by using forum by Captcha. The site had already enabled this module, you just need to configure for forum. if you want let me know.

[2018-05-11 14:56] IanMiddlebrook commented on #74
Thanks @BirenRathod  at the moment, most of the spam accounts are not even using real email addressess, so they don't get on to the site or contribute to the forum.
It's just a real pain coming in every moving to see dozens of emails about accounts that I then need to delete. I don't know if that's also a problem on iRecord?

[2018-05-11 15:04] BirenRathod commented on #74
Yes, same problem of Drupal. iRecord has got spambot module running in the background.

[2018-05-11 15:06] BirenRathod commented on #74
but that is not an ideal solution in your case as you need to active their account after every registration.

[2018-05-29 14:25] DavidRoy commented on #74
Closing this as registration email issue now resolved.  Spam account issue still to be address by #78

[2018-05-29 14:25] #74 closed

[2018-05-29 14:27] DavidRoy commented on #72
Boundaries were supplied by BC when the site initially setup.  If BC can supply a new shapefile we can update the system accordingly.  I suggest a new issue is raised for reloading the boundaries.

[2018-05-29 14:28] DavidRoy opened #79 "Replace BC branch boundary shapefile"
BC to supply new version to resolve issues in Scotland #72

[2018-05-30 16:50] zrandle opened #80 "New Report: allocation of users to transects/WCBS"
Hi

Is it possible for a report to be written that outputs the square, allocated recorder (user name, proper name), email address, branch and county?

Thanks

Zoe

[2018-06-01 16:03] DavidRoy opened #81 "New report: interface to show allocated/unallocated transects/WCBS squares"
Implement a reporting page similar to the NPMS 'squares near me'
http://www.npms.org.uk/square-near-me-public

[2018-06-06 15:09] zrandle commented on #81
Tom is really keen for this to be set up for the coming season. Is this achievable? We have some budget to pay for it to happen...
Thanks
Zoe

[2018-06-14 08:52] IanMiddlebrook opened #82 "Slow speed of UKBMS website"
Hi @DavidRoy ,

I've received several comments recently about the speed of the website, and noticed it myself. some specifics below:

"Reading this coordinator's email below, I can fully sympathise. I too find it dreadfully slow..
I did a quick test - in Reporting / Annual Summary, switching Filter by Recorder from My Data to Branch Data took exactly 2 minutes.
Then in Filter by Site, switching fr

[2018-06-15 13:55] Gary-van-Breda commented on #70
I think this has now been deployed: I've tried it and it works correctly.
Please check, then close?

[2018-06-15 14:35] zrandle commented on #70
Great thank you.

[2018-06-15 14:35] #70 closed

[2018-06-15 14:39] #35 closed

[2018-06-15 14:41] #33 closed

[2018-06-15 14:44] #60 closed

[2018-06-15 14:47] Gary-van-Breda commented on #42
Given the time that has passed since my comment above, the entire dataset should now have been rebujilt.
Close?

[2018-07-30 21:38] Gary-van-Breda commented on #63
@BirenRathod : can you unzip the attached file and deploy the contained file to the UKBMS iform module client_helpers/prebuilt_forms directory?
Many thanks
[ukbms_sectioned_transects_input_sample.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2242975/ukbms_sectioned_transects_input_sample.zip)
This addresses a bug causing a 500 server error when looking up the verification chec

[2018-07-30 22:05] Gary-van-Breda commented on #62
This has been configured on the main transect survey data entry form for Live, using the figures given in the PDF attached above.

Should the same checks be applied to data entered against the the WCBS squares?

[2018-07-31 06:52] DavidRoy commented on #62
Thanks.  Yes, also to be deployed on WCBS

[2018-07-31 08:01] BirenRathod commented on #63
I copied into UKBMS iform module client_helpers/prebuilt_forms folder.

[2018-07-31 20:45] Gary-van-Breda commented on #62
Now configured on Transect and both WCBS data entry forms.
Please review, then close?

[2018-07-31 20:48] Gary-van-Breda commented on #63
Now working correctly on Transects and both WCBS walk data entry forms.
Please revirew, and close?

[2018-08-01 08:33] DavidRoy commented on #63
@ianmiddlebrook and @zrandle to test

[2018-08-01 08:33] DavidRoy commented on #62
@ianmiddlebrook and @zrandle to test

[2018-08-02 08:30] IanMiddlebrook commented on #62
Hi, just looking at this and, following a comment from a recorder, it's acting somewhat differently to the old Transect Walker.
I think these validation rules were mainly intended as a measure against fat fingers hitting extra zeros, so applied to numbers in each section (ie. each individual entry). That's how it worked in the old Transect Walker.
However, the deployment here seems to check cumula

[2018-08-02 08:35] IanMiddlebrook commented on #63
This looks really good.

Although I haven't checked all individual species for every week, Those I've checked seem fine.

Many thanks

[2018-08-02 08:37] DavidRoy commented on #62
@Gary-van-Breda can you apply this to the individual counts within cells of the input form.
@IanMiddlebrook the alternative is to up the values triggering a warning?

[2018-08-02 08:40] DavidRoy commented on #63
Great.  Please close the issue if Zoe is also ok with this working.

[2018-08-02 08:41] IanMiddlebrook commented on #62
@DavidRoy  I think ideally it's better applied just to individual section entries.
We could up the triggering values for weekly totals, but allowing for 15 section transects, we might need to increase them beyond values that would pick up individual section errors.

[2018-08-02 08:51] DavidRoy commented on #62
ok, agreed

@Gary-van-Breda please disable until this is resolved to avoid triggering too many unnecessary warnings
@Gary-van-Breda please confirm how these values are configured in case of needing to alter them in future

[2018-08-02 09:55] Gary-van-Breda commented on #62
OK will do.
Do you want the same figures used for the individual section values that were given in the PDF above, or do you want to come up with a new set? (given that the figures above are at a walk level so should be larger that the equivalent section level values)
Because the original intention was to sum them at a walk level where there was no equivalent validation rule in the warehouse, the v

[2018-08-02 10:00] IanMiddlebrook commented on #62
Hi, I think stick with the figures given in the PDF.
These were the figures applied to section level data in the old Transect Walker, so are what the older recorders are familiar with.
Thanks

[2018-08-02 10:01] zrandle commented on #63
Seems OK to me. Thanks Zoe

[2018-08-02 10:01] #63 closed

[2018-08-05 22:28] Gary-van-Breda commented on #62
@BirenRathod
Can you unzip the following and deploy? The php file goes into the UKBMS iform module client_helpers/prebuilt_forms directory, and the js into client_helpers/prebuilt_forms/js.
Thanks
[Issue62.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2260724/Issue62.zip)

[2018-08-06 11:07] BirenRathod commented on #62
@Gary-van-Breda
Both files uploaded on to UKBMS live site.

[2018-08-13 10:32] zrandle opened #83 "BBS squares to add to the system"
@Gary-van-Breda

Hi Gary
[More BBS Squares 13_8_18.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2282623/More.BBS.Squares.13_8_18.xlsx)

Please can you add the squares in the attached file to the BBS list. Thanks Zoe

[2018-08-17 15:29] Gary-van-Breda commented on #62
All figures changed from walk level to section level checks, on all 3 data entry forms - Transect, WCBS-BBS, WCBS-BC.

[2018-08-20 08:45] IanMiddlebrook commented on #62
Hi @Gary-van-Breda , I've come in to a flurry of emails this morning which suggest the new code isn't working as planned.

_"On entering data for meadow browns on the Lynchcombe transects I warnings that the values I was entering (between 4 and 6) exceeded the expected maximum of 30. "
"there is a strange error message popping up when I entered my results for ST8719 today.  It says The value enter

[2018-08-20 14:02] Gary-van-Breda commented on #62
@BirenRathod
Can you unzip the following and deploy? The js file goes into client_helpers/prebuilt_forms/js.
Thanks
[ukbms_sectioned_transects_input_sample.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2302650/ukbms_sectioned_transects_input_sample.zip)

[2018-08-20 14:58] BirenRathod commented on #62
@Gary-van-Breda

All done.

[2018-08-24 14:41] Gary-van-Breda commented on #83
@zrandle
Done.

[2018-08-28 11:59] zrandle commented on #83
great. Thank you.

[2018-08-28 11:59] #83 closed

[2018-08-31 21:08] Gary-van-Breda commented on #43
All the historic samples have been reloaded, and the %Sun redone.
As a result the samples above now have their %Sun corrected.
As an aside, all the end times have now been filled in as well where available.
Can you confirm that you are happy? Close?

[2018-09-04 14:12] IanMiddlebrook opened #84 "Summary Table not updating"
Hi,
An issue raised by David Taft regarding his recent transect data.

_"Whilst I entered My Walks data re St. Wulstan's transect for weeks 21 and 22 some time ago; and in the case of week 21 over a week ago, they do not as yet appear in the annual summary at all."_

As far as I can see, the data were entered fine. They appear on Annual Summary if you select 'Raw Data', but not under 'Summary Tabl

[2018-09-04 14:14] DavidRoy commented on #84
There is a delay in the background process to rebuild these tables, due to a large database update that the synchronisation needs to catch up with.  I will provide an update when this is resolved

[2018-09-04 14:17] IanMiddlebrook commented on #84
Thanks David

[2018-09-04 14:37] DavidRoy commented on #84
I've just realised the 'spike' in background processing is because Gary loaded the past WCBS data.  The scheduled task should catch up in a day or so

[2018-09-04 16:08] Gary-van-Breda commented on #84
The WCBS and Transect surveys are treated separately within the summariser, as they are on differnet Indicia surveys. The ongoing upload of WCBS data should have no impact on the appearance of the Transect data in the Annual summary.
I will set the flag on the Transect survey to check for missed data.

[2018-09-04 16:12] Gary-van-Breda commented on #84
I've set the missing data check on the Transects survey.
It does look like there is a possible other issue here as it looks like the last successful completion of the summariser was 3 hours ago. I'll keep an eye on this.

[2018-09-04 19:31] Gary-van-Breda commented on #84
It has now processed these weeks for David, and they appear in the Summary table. I'm going to leave the missing check in place overnight, just in case anyone else is in the same position, and that should make sure everything is caught up.

[2018-09-05 09:12] IanMiddlebrook commented on #84
Thanks Gary

[2018-09-05 09:12] #84 closed

[2018-09-06 15:58] Gary-van-Breda commented on #13
All data uploaded (2017 included, 292527 counts in total)
The following is a summary of rows that have not been loaded:

- 1018 had blank section numbers
- 1054 had invalid section numbers (outside the range 1-10 post 2007, 1-20 2007 and before)
- 980 had invlaid taxa (e.g. the "unidentified" records)

The BBS annual summary summariser is running in catch up mode at the moment: I'll leave it runni

[2018-09-08 22:57] Gary-van-Breda commented on #27
Historic data loaded.
Please check and close issue?

[2018-09-09 19:45] Gary-van-Breda commented on #34
Two visits now uploaded for SP4359 in 2009
Two each in 2009 and 2010 for SP5078.
Checked in Annual Summary, and confirmed that this was all that was included in the historic data load.
Close?

[2018-09-09 20:52] Gary-van-Breda commented on #31
Some of this data has been included in the data load just completed under #13 . @zrandle I take it you want the remainder loaded as well?

[2018-09-09 20:56] Gary-van-Breda commented on #62
I think this is now working correctly. All figures are now section level.
Check and Close?

[2018-09-10 12:23] zrandle commented on #31
Yes please add the remainder too. Thanks

[2018-09-10 12:24] zrandle commented on #34
Great thanks

[2018-09-10 12:45] zrandle commented on #13
I'll check it when I get an opportunity to do so. Thanks Zoe

[2018-09-11 21:57] Gary-van-Breda commented on #61
@BirenRathod
Could you deploy the following zipped up custom drupal module into the appropriate place on UKBMS Live?
Thanks
[ukbms_branch_field.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2372869/ukbms_branch_field.zip)

[2018-09-12 09:02] BirenRathod commented on #61
Hello @Gary-van-Breda
This is not a Drupal contribute module but part of indicia module, So if I put under indicia_features directory would that be ok?

[2018-09-12 09:26] Gary-van-Breda commented on #61
I think that'll be OK. I haven't tested it there on my dev site.

[2018-09-12 09:45] BirenRathod commented on #61
Ok, I put it on live site and I just checked, it is available on the website. Please test it on there to see if it works.

[2018-09-12 22:59] Gary-van-Breda commented on #61
I've switched on the module.
@DavidRoy This appears to be working. I have defined a species list on the Transect data entry form for Northern Ireland, as defined in your email of 26th July. One problem is that the Monarch is not included in the UKBMS Butterfly species list, so I can't include it (the branch list must be a subset of the main UKBMS list).
To use it, edit your user account on the Dru

[2018-09-18 10:18] IanMiddlebrook opened #85 "Confusing scales on Year and Section Plots"
A co-ordinator has commented about some confusion on a few Year by Year Count Plots:

"_I was looking at annual Counts on Old Warden Tunnel transect on the UKBMS website and those for Comma seem a bit odd. I don’t know why but it is reporting fractional counts, e.g. 0.9, 1.8, 2.8, 7.4.  Other species seem okay except for Small Heath which also seems to have fractional counts. See attachments. Thes

[2018-09-18 10:21] IanMiddlebrook opened #86 "Upload of UKBMS indices for >2016"
Hi @DavidRoy

Is it possible to upload the UKBMS indices for 2016 & 2017 to feed into the Year by Year Index Plots?

Thanks,

Ian

[2018-09-18 10:33] IanMiddlebrook commented on #62
That's great - thanks Gary

[2018-09-18 10:54] DavidRoy commented on #62
@IanMiddlebrook close?

[2018-09-18 10:55] IanMiddlebrook commented on #62
Yes - I would've, but I don't seem to have that option on this thread.

[2018-09-18 10:56] #62 closed

[2018-09-24 11:12] Gary-van-Breda commented on #31
Do you know what BMSCODE 13 and 284 are?  I can work out the rest.

[2018-09-24 15:15] IanMiddlebrook opened #87 "Walks missing from Annual Summary"
Hi @Gary-van-Breda , @DavidRoy ,

Could you please set the flag on the Transect survey to check for missed data?

I've had a message from the Dorset co-ordinator about a missing walk:
"_Can you see anything wrong with Langton Westwood's data for Week 25 ?  Although entered on 17th, it has not appeared in summary._"

I can confirm that the walk data were entered a few days before some other walks t

[2018-09-26 13:04] Gary-van-Breda commented on #87
I've set the missing check flag for transects. I'll check the status after it has run the scheduled tasks.

[2018-09-26 13:41] marcbotham opened #88 "server error message"
i ahve found the website to be getting slower and slower but generally workable until today when pages just won't load and finally when tryign to access my walks after a few minutes I received the following error message:
Sever Error message
500 – Internal sever error. There is a problem with the resource you are looking for, and it cannot be displayed.

BW, Marc

[2018-09-26 22:42] Gary-van-Breda commented on #87
This has now caught up. The Langton Westwood data for weeks 25 (and 26) is now displayed. It has run through several cycles in catch up mode, so should have swept up everything.
I have switched off the missed data mode.

[2018-09-27 08:18] IanMiddlebrook commented on #87
Thanks Gary

[2018-09-27 08:18] #87 closed

[2018-09-27 15:41] DavidRoy commented on #31
13 is High Brown Fritillary
284 is Silver Y

The latter being a moth

[2018-09-28 07:52] DavidRoy opened #89 "Home page error message"
Related to the home page map display.

Intermittent error message (see below).  Suspect this is a time-out on queries.  Suggest an alternative approach is investigated.

cUrl POST request failed. Please check cUrl is installed on the server and the $base_url setting is correct.
URL:http://warehouse1.indicia.org.uk/index.php/services/report/requestReport?report=reports_for_prebuilt_forms/UKBMS/ukbm

[2018-10-29 12:58] IanMiddlebrook opened #90 "Walks disappearing"
Hi @DavidRoy  @Gary-van-Breda ,

I've had a call from the warden of Parsonage Down NNR, noting that walks keep disappearing from the UKBMS website.
A little while ago he checked his Summary Page for 2018 and noticed that a few walks were missing, even though he was sure that they had all been entered.
He re-entered these walks but now on checking again, sees that several walks are again missing fr

[2018-10-29 23:04] Gary-van-Breda commented on #90
Looking at the audit history of these records:
http://warehouse1.indicia.org.uk/index.php/logged_action?search_table_name=samples&search_key=4096674
Created by Sebastian_Allen-Mepham, 2018-10-10 14:46:57
Deleted by Michael_Fuller, 2018-10-25 10:53:43

http://warehouse1.indicia.org.uk/index.php/logged_action?search_table_name=samples&search_key=4096697
Created by Sebastian_Allen-Mepham, 2018-10-10

[2018-10-30 10:00] IanMiddlebrook commented on #90
Thanks Gary,

Mike Fuller is the branch co-ordinator for Wiltshire. I'll contact him to see if/why he's deleted them.

Ian

[2018-10-30 12:13] IanMiddlebrook commented on #90
Mike Fuller has now confirmed that he deleted these walks, on the basis that the weather was poor. (I've asked him not to do so again without reference to the recorder).

Thanks for your assistance with this problem. Good to know that we're not just losing walks randomly!

Ian

[2018-10-30 12:13] #90 closed

[2018-11-05 10:59] IanMiddlebrook opened #91 "Section Totals"
Just thinking about possible enhancements, following a couple of recent emails.

How difficult would it be to add another tab to the Annual Summary page, for Section Totals?

A simple table with Section Nos. as column headings, Species as rows, and showing the total of each species in each section for that year. This is a table that was available in the old Transect Walker software.

I know these

[2018-11-05 22:37] Gary-van-Breda commented on #91
Given that it would be using the data generation reports for the section plot, I would think it would need about 1 days work to produce the grid.

[2018-11-09 11:45] DavidRoy commented on #88
Which page were you trying to access when you had this error message?

[2018-11-09 11:47] DavidRoy opened #92 "Error on All sites page"
http://www.ukbms.org/mydata/all-sites when logged in as 'David Roy'

returns the following timeout error message:
general_errors.There was an SQL error: ERROR: canceling statement due to statement timeout - SELECT l.id as "id", l.name as "name", l.centroid_sref as "centroid_sref", lsub.occurrences as "occurrences", lsub.taxa as "taxa", lsub.groups as "groups", l.code as "code", location57.id as at

[2018-11-09 13:54] DavidRoy commented on #61
-Please implement for all survey - transects, WCBS and timed count surveys
-I've added Monarch to the UKBMS Butterfly Species List
-How do we edit or add the branch lists?

[2018-11-09 15:22] zrandle commented on #13
I have not had the time to check it yet...

[2018-11-09 15:41] zrandle commented on #92
I get this all of the time - the system times out. You have to bully it into submission. It isn't very satisfactory. Thanks

Zoe

[2018-11-09 16:46] Gary-van-Breda commented on #92
Is it just this page (and the Annual Summary?), or are there other pages where this is seen?

[2018-11-12 10:54] zrandle commented on #92
those two pages for me.

[2018-11-20 10:01] IanMiddlebrook opened #93 "timed count data entry error"
Hi @Gary-van-Breda ,

A recorder has just sent me this message. I wonder if you can make sense of the error message?

_"I tried to enter a timed count which I did for 6-spot burnets in my front garden but the system fell over as below. Hope it means something!
Best wishes, David Dewsbury."_
![error](https://user-images.githubusercontent.com/24699793/48765967-45d5c380-ecab-11e8-9c1c-07761c25caf5.jp

[2018-11-21 10:56] BirenRathod commented on #78
@IanMiddlebrook

Do you get any bogus emails every day to this imiddlebrook@butterfly-conservation.org address?

[2018-11-21 10:59] BirenRathod commented on #78
@IanMiddlebrook

We now collected the numbers for last four days of sent out emails from our servers. below is the list.
Total number of emails sent to imiddlebrook@butterfly-conservation.org on Nov 17 = 171
Total number of emails sent to imiddlebrook@butterfly-conservation.org on Nov 18 = 26
Total number of emails sent to imiddlebrook@butterfly-conservation.org on Nov 19 = 226
Total number of ema

[2018-11-21 11:03] IanMiddlebrook commented on #78
Hi @Gary-van-Breda

Every time someone registers for a new account (or updates an existing account), an email is forwarded to me (from no-reply@ukbms.org on behalf of brc@ceh.ac.uk ) so that I can link new users to their transects.

So every morning I have to scan through these to find the (~1%) genuine transect recorders, and delete all the new bogus accounts (and any forum entries they've manage

[2018-11-21 11:11] BirenRathod commented on #78
@IanMiddlebrook

Thanks Ian for responding to this.

Apologize for this inconvenience. In response to this, could I also ask you to send me the email address you receive from?

I will see, if I could resolve this.

Biren

[2018-11-21 11:15] IanMiddlebrook commented on #78
Hi @BirenRathod ,
I receive them from  'no-reply@ukbms.org on behalf of brc@ceh.ac.uk' .
But I don't want to stop receiving these emails - I need to know when genuine transect recorders have set up new accounts.
I just want to find a way to stop/discourage spammers from registering on the site. I believe it would help if the forum was not open to public viewing.

Ian

[2018-11-21 11:19] DavidRoy commented on #78
@BirenRathod Please can you do two things:
1. make forum only available to activated users, i.e. remove public access
2. add the spam reporting module that is used within iRecord.  Ian can then mark accounts as spam and block them?

[2018-11-21 11:34] BirenRathod commented on #78
@IanMiddlebrook, I check on the website. There is no spam account created, so I can't find any spam users there. The only way to find out by looking at their email address or IP address.
Just for info: Forum is also under Captcha protection, It needs a user authorisation + Captcha protection.

[2018-11-21 11:38] IanMiddlebrook commented on #78
Hi @BirenRathod  - I delete all the spam accounts - that's why you can't see any. But I'm happy to forward them all to you if you don't believe me!

Ian

[2018-11-21 11:41] BirenRathod commented on #78
@IanMiddlebrook
I do believe you. This is not about that.
You don't need to forward all of them but just couple of them to find out the actual details and any similarity in them.

[2018-11-21 11:43] IanMiddlebrook commented on #78
@BirenRathod
I've sent you a sample from this morning - enjoy.
Ian

[2018-11-21 11:51] BirenRathod commented on #78
@IanMiddlebrook, thanks. It gives me now clear picture.

[2018-11-21 14:38] BirenRathod commented on #78
@IanMiddlebrook , @DavidRoy

Below steps have done to stop creating user accounts.

1.	I have enabled image captcha for user registration and forum post.
2.	I have enabled the Spambot which iRecord uses.
3.	Most important I have added the rules for those emails (which are consistent to managed registration) to restrict user registration.
4. Forum links has been disabled for anonymous users.

[2018-11-21 14:39] DavidRoy commented on #78
Thanks Biren, closing in the expectation that this has resolved the problems

[2018-11-21 14:39] #78 closed

[2018-11-22 10:01] BirenRathod commented on #78
@IanMiddlebrook , @DavidRoy

Since extra measures have been placed, there is only one possible user have managed to create the account. I blocked it at present because its email address looks suspicious.

@IanMiddlebrook , please check if it is legitimate or not, if not please delete it.

[2018-11-22 13:26] zrandle commented on #13
Hi, I've checked this. There is a mismatch between the number of records for 2006 in my access database and the online system.  4,885 butterfly records in access v 1,393 in the online system.  Could this be due to the missing sections or is it something else? Thanks Z

[2018-11-22 13:27] zrandle commented on #13
Just realised I still need to check the 2017 data...will do this now :)

[2018-11-22 13:53] zrandle commented on #13
2017 checked and all OK.

Only 2006 with a problem.

[2018-11-23 09:01] IanMiddlebrook commented on #78
Thanks @BirenRathod
Been on this morning and found just 4 new accounts since Weds evening - 3 bogus and 1 genuine. Certainly a massive improvement, thanks.

If it helps - the bogus email addresses were jfogaffz@njaklulvd.com , Bridgett-Tallis44@edusath.com & careybookbinderevna@yahoo.com . These accounts have now been deleted.

Regards, Ian

[2018-11-23 09:41] BirenRathod commented on #78
@IanMiddlebrook

Thanks for looking into this and passing me those email addresses.
First two can easily block by system and third one I'm blocking by username, so should be narrow it down to get through.

[2018-11-23 10:03] BirenRathod commented on #78
@IanMiddlebrook

All those spam users came from same IP address, so I blocked that IP address.

[2018-11-23 14:39] IanMiddlebrook commented on #78
@BirenRathod
Hi, not sure if this is connected/confused with above, but I'm working from home and can't get onto the UKBMS website!

I'm getting:  "Sorry, 86.168.175.182 has been banned. "

Please help.

[2018-11-23 14:44] BirenRathod commented on #78
@IanMiddlebrook

Right, that is interesting. Anyway I'm going to remove that IP address now.

[2018-11-23 14:50] IanMiddlebrook commented on #78
Thanks @BirenRathod
I can get back on now.

[2018-11-30 15:43] zrandle opened #94 "Bug in the system"
Hi I have downloaded the WCBS data. I think there is a bug in the system. The download is giving 0 abundance for some records when there are not 0's in the data entry sheet. Also there is another problem which is explained in the attached document with accompanying screenshots. Thanks
Zoe
[System Bug.docx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2633966/System.Bug.docx)

[2018-12-03 22:22] Gary-van-Breda commented on #81
@BirenRathod
Can you deploy the files in this zipped archive into the iform module on the UKBMS live site. The ukbms_assign_transects.php file should go into iform/client_helpers/prebuilt_forms, and the ukbms_assign_transects.en.php file into iform/client_helpers/prebuilt_forms/lang.
Thanks
Gary

[prebuilt_forms.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2641509/prebuilt_fo

[2018-12-04 12:06] BirenRathod commented on #81
@Gary-van-Breda
These files have uploaded onto live site.

[2018-12-28 09:39] Gary-van-Breda commented on #94
For the first part - do you have an example of this issue (i.e. square/date combination, and which download report you are looking at) ?

[2018-12-28 11:36] Gary-van-Breda commented on #94
Re. The system Bug
Looking at sample 3882291 (TF1417 on 2018/08/15): all the location records look OK: both main parent and child sections all numbered correctly, and linked together.
Sample 3882291 : this is the parent, created by Steve_Lonsdale on 2018-08-16 10:58:45, not updated since.

Subsamples: this is where the problems start... All the following records are attached as chiildren of 388229

[2018-12-28 12:38] DavidRoy commented on #94
Please look into this further to resolve the problem.  Involving @johnvanbreda for the wider Indicia implications.  We can cover the cost of resolving

[2018-12-28 13:07] johnvanbreda commented on #94
@Gary-van-Breda is it likely then that if verifiers edit the UKBMS data on the iRecord generic edit form that this breaks the link between the sample and it's parent sample?

[2018-12-28 14:08] Gary-van-Breda commented on #94
No - the link to the parent sample stays. It is the link to the section location record that has been broken in this case. I will need to investigate what happens on the iRecord generic edit form - it may have been a conscious act on the part of the user.

[2018-12-28 23:00] Gary-van-Breda commented on #93
A couple of things have contributed to this:

- the timed count form is currently set up to only accept species on the UKBMS Butterflies list, and as 6-spot burnets are moths, they are not on the list...
- There is something missing within the species autocomplete field vaildation whereby an unrecognised species is not flagged up by the front end. It is however caught by the backend, hence the "mi

[2018-12-30 11:38] Gary-van-Breda commented on #88
Can you confrm whether this is still a problem? I've tweaked one of the form parameters, and there has been a major warehouse update recently.

[2018-12-30 11:42] DavidRoy commented on #88
Performance of the my walks page currently ok.  Close this issue and start new one if needed.

[2018-12-30 11:42] #88 closed

[2018-12-30 11:45] DavidRoy commented on #93
@IanMiddlebrook please advise if the timed count form needs to include more species
@Gary-van-Breda please add field validation to the input form to capture this type of error

[2018-12-31 10:22] Gary-van-Breda commented on #58
@johnvanbreda
This is in the UK Master List: the default common name is set to Magpie - how do we go about changing this? The use of the plain "Magpie" as a common name is confusing.

[2019-01-02 09:40] johnvanbreda commented on #58
@DavidRoy @kitenetter do you both agree that we should ask Chris to make a wider change, removing the common name Magpie from the moth so it can only be entered as Magpie Moth?

[2019-01-02 11:36] kitenetter commented on #58
I would strongly support this change!

**Magpie Moth**
For Abraxas grossulariae, UKSI gives the preferred English name as "Magpie", but it also has a non-preferred English name as "Magpie Moth":
http://nbn-sd-dev.nhm.ac.uk/taxon.php?linkKey=NBNSYS0000168634

So one option would be for Chris to simply change which English name is considered preferred.

**Horse Chestnut Moth**
Can I add a similar re

[2019-01-02 16:20] DavidRoy commented on #58
very happy to defer to Martin on this, thanks

[2019-01-03 11:03] IanMiddlebrook commented on #48
Looking briefly back at this, I can see that Site is the default term in most situations, so changing this would be cumbersome (and confusing for many).
Perhaps, changing the filter on on My Sites, Branch Sites and All Sites to show 'Site Type' is the quickest solution to get standardisation across the website?

[2019-01-03 11:28] IanMiddlebrook commented on #93
I don't think we need to include more species at this stage, but could perhaps use a message indicating the form is for butterflies only?

[2019-01-03 15:14] johnvanbreda commented on #58
@kitenetter Can you get Chris to confirm the changes he will make to UKSI please? I don't really want to get out of step.
Also, if we leave "Horse-Chestnut" and "Magpie" in as common names, then unless marked as redundant they will still be available for data entry in iRecord (and hence the cause of many errors). Would it be acceptable to mark these as redundant in UKSI?

[2019-01-08 12:56] IanMiddlebrook opened #95 "Annual Summary Branch Data Error Message"
@DavidRoy @BirenRathod @Gary-van-Breda

I'm not too sure who to direct this one to, but since the Server Maintenance it's been reported today that Branch Co-ordinators are unable to load up their Branch Data on the Annual Summary page. The request immediately brings up an Error Message as below (I've tried masquerading as co-ordinators and the same thing happens each time).

[2019-01-08 13:06] zrandle commented on #95
I'm having the same problem

[2019-01-08 16:17] BirenRathod commented on #95
@IanMiddlebrook and @zrandle

Are you still experiencing this problem. I just checked annual summary page and it is working fine.

[2019-01-08 16:20] IanMiddlebrook commented on #95
@BirenRathod
Annual Summary page works fine if I filter by My Data or by All Recorders.
The problem is for Branch Co-ordinators, if they try to filter by Branch data - error message as above.
Is this what you tried?

[2019-01-08 16:20] zrandle commented on #95
Yes, still having the problem. It happens to me when I  change the drop down to all recorders or branch data.

[2019-01-08 16:40] BirenRathod commented on #95
Ok, thanks, I will have a look again and let you know.

[2019-01-09 09:23] BirenRathod commented on #95
@IanMiddlebrook , @zrandle
I have tried every possibilities but I don't see any errors like above one.

Could you send me the steps to reproduce this error? Also, can I ask you before you access this site, please clean the cookies from your browser.

[2019-01-09 09:29] IanMiddlebrook commented on #95
@BirenRathod

Step 1 - Masquerade on the website as a branch co-ordinator (eg. **Bill Downey** or **Andy Barker**)
Step 2 - go to Annual Summary page, change 'Filter by Recorder' to 'Branch Data'

[2019-01-09 09:33] BirenRathod commented on #95
Hello @IanMiddlebrook

I just did by using Suzanne Halfacre user and saw no errors, however the user you mentioned, did throw same errors. So there must be some settings require for both these users which you mentioned above.

[2019-01-09 09:35] IanMiddlebrook commented on #95
@BirenRathod
Then I wonder if it is linked to the number of sites allocated to their branch?
Bill Downey and Andy Barker (and Zoe) all have a large number of sites allocated to their branch.
Has a limit been set which is too small?

[2019-01-09 14:04] BirenRathod commented on #95
@IanMiddlebrook , @zrandle

This has now resolved, please check it.

[2019-01-09 14:27] IanMiddlebrook commented on #95
Hi @BirenRathod

This looks good now from a transect co-ordinator point of view.

I did still have a problem with Branch Data when masquerading as Zoe Randle @zrandle  - she does have over 700 WCBS-BC squares allocated to her branch. But I think she can now see data from All Recorders.

[2019-01-09 15:41] BirenRathod commented on #95
@IanMiddlebrook @zrandle
That has resolved too.

[2019-01-09 16:07] IanMiddlebrook commented on #95
Looks good, thanks @BirenRathod

[2019-01-09 16:07] #95 closed

[2019-01-15 17:01] Gary-van-Breda commented on #94
Just to clarify: the following links are in the data

- Occurrence belongs to a section level subsample
- Section level subsample belongs to a walk level sample
- The section level subsample belongs to both a walk level sample and a section location record (it is this second link that is broken)
- The walk level sample belongs to a transect location record
- The section location record belongs to

[2019-01-15 21:43] Gary-van-Breda commented on #48
@BirenRathod or @johnvanbreda
Can you deploy the master branch version of the project/ukbms directory of indicia-reports onto the warehouse please? Thx.
The 3 pages mentioned by Ian above actually get their "Location Type" from the parameters of the reports they run, so the fix involves tweak the 2 reports (the My Sites and Branch Sites ues the same report with different parameters).
This also inc

[2019-01-15 21:48] Gary-van-Breda commented on #92
The All Sites page is being addressed with the code deployed for #48
The Annual Summary is being addressed under #82

[2019-01-15 21:57] Gary-van-Breda commented on #89
@BirenRathod or @johnvanbreda
Can you deploy the master branch version of the project/ukbms directory of indicia-reports onto the warehouse please? Thx.
The report behind the map has been moved to indicia-reports, and had a performance tweak.

[2019-01-16 08:46] johnvanbreda commented on #89
Done

[2019-01-16 08:47] johnvanbreda commented on #48
Done

[2019-01-16 09:11] DavidRoy commented on #82
John and Gary to investigate moving reports to use ElasticSearch to improve performance

[2019-01-16 15:19] johnvanbreda commented on #82
OK, I've had a look at this. Gary seems to have dramatically improved the performance on UKBMS annual summaries since this was written and the worst case I saw was a pause of approx 10 seconds while a new location was loaded.
My Elasticsearch index doesn't currently hold the linked location details (child or parent sample) so that's the first change I'll make which comes out of this test.
So, I ca

[2019-01-16 22:02] Gary-van-Breda commented on #48
Form configuration updated on My, Branch and All Sites pages: now refer to "Site Type".
Bouncing back to Ian for review, and closure?

[2019-01-16 22:32] Gary-van-Breda commented on #89
It should be noted that the front page map is on an 8hour cache.
Map reconfigured to use new version of the report (with one less table join).
Bounce back to David for review and closure?

[2019-01-16 22:59] Gary-van-Breda commented on #76
Part 2: additional sort put in so sites with zero records sorted by name.

[2019-01-17 07:41] DavidRoy commented on #89
Thanks

[2019-01-17 07:41] #89 closed

[2019-01-17 17:24] DavidRoy opened #96 "Add new field to site details for site information"
Requirement to add a new site (location) attribute for land-owner contact details.  Text box.

Add to site details page (http://www.ukbms.org/mydata/site-details).  Add as new Tab labelled 'Site contact information'.  Page only available to users with roles:
- recorders with access to site-details page for given site
- branch coordinator with access to branch to which the site is associated
- admi

[2019-01-18 13:56] DavidRoy commented on #69
@Gary-van-Breda There are still a lot of 'Bombus/Bumblee' records being entered.  e.g. ID 8876685
Has this been applied to 'All' surveys and taxon_groups in the system, i.e. not just butterflies. I should have been clearer in the original issue description

[2019-01-18 17:41] DavidRoy opened #97 "Add 'Full sites data download' and 'Full Site Sections data download' to UKBMS Sites page"
Implement these reports on UKBMS
https://github.com/BiologicalRecordsCentre/ABLE/issues/17
https://github.com/BiologicalRecordsCentre/ABLE/issues/16

[2019-01-24 12:12] DavidRoy commented on #82
@johnvanbreda can you re-evaluate ElasticSearch for UKBMS reporting performance now the new Index has been created?

[2019-01-24 12:25] DavidRoy commented on #13
@Gary-van-Breda this seems close to finishing.  Is this back with you to sort out 2006 data issues?

[2019-01-24 12:45] kitenetter commented on #58
@johnvanbreda @DavidRoy Sorry, thought I'd emailed Chris previously but I hadn't, have done so now.

[2019-01-24 14:49] DavidRoy commented on #92
Closing this issue as the time-out has been resolved

[2019-01-24 14:49] #92 closed

[2019-01-24 14:54] DavidRoy commented on #79
@zrandle to investigate supply of new layer

[2019-01-24 15:02] DavidRoy commented on #51
@IanMiddlebrook are you able to confirm this has been resolved?

[2019-01-24 15:05] DavidRoy commented on #43
@zrandle can you confirm and close if resolved?

[2019-01-24 15:06] DavidRoy commented on #42
@zrandle @IanMiddlebrook please check and close if resolved

[2019-01-24 17:12] #43 closed

[2019-01-24 17:15] zrandle commented on #42
@IanMiddlebrook I'm happy are you?

[2019-01-25 09:12] #42 closed

[2019-01-25 12:21] johnvanbreda commented on #82
On Kibana (http://192.171.199.207:5601/app/kibana) there is a visualisation called Annual summary example chart. This is configured for UKBMS butterfly data, for Lulworth Lakes. You can add a year filter by typing e.g. event.year:2017 into the search bar. I've checked the data and it seems correct (I've added a ukbms_week field to the index to make this output easy). Click inspect in the top right

[2019-01-25 21:46] Gary-van-Breda commented on #69
Problem appears to be the "previously recorded at this site" or "previously recorded by me" lists that are used to pre-load the tabs. The fixes above only sorted the autocomplete used to add new species to each list.

[2019-01-25 23:01] Gary-van-Breda commented on #69
@BirenRathod : Can you unzip the attached file and deploy the resulting JS file into the iform/client_helpers/prebuilt_forms/js directory? Thx
[ukbms_sectioned_transects_input_sample.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2798181/ukbms_sectioned_transects_input_sample.zip)

[2019-01-26 09:31] kitenetter commented on #58
Chris says (25 Jan):

I will update again once we know the TVK etc. for the new Horse Chestnut Moth name.

[2019-01-26 21:24] Gary-van-Breda commented on #76
Part 1:
Warehouse
File: data_service_base.php
Function: get_response_structure
line number 200:
    if ($wantCount && !isset($data['parameterRequest'])) {

Email sent to John to query the logic behind second part of the condition.

[2019-01-26 23:15] Gary-van-Breda commented on #94
Brief analysis:
more than 640 subsamples on Transects have no section (location_id) (>1million records, and my excel keeled over)
234 subsamples on WCBS-BBS have no section
44 subsamples on WCBS-BC have no section
Not an issue on Timed Count, as doesn't use location records.

@DavidRoy do you just want the links to the section location records to be recreated? Should we do the data correction befo

[2019-01-27 07:03] DavidRoy commented on #94
Could you send the SQL to arrive at these numbers so I can also review.
Also, what are the implications of this loss of links.  Does the data still appear in reports and downloads?

[2019-01-28 10:13] BirenRathod commented on #69
@Gary-van-Breda
This file gone on live now.

[2019-01-28 21:13] Gary-van-Breda commented on #31
@DavidRoy : can you confirm the 284 is Silver Y? Records in the other lists provided have 384 as Siler Y.
Thanks

[2019-01-29 09:11] DavidRoy commented on #31
@Gary-van-Breda yes, 284 is Silver Y.  It was a mistake in the original online capture system coding as far as I can determine.
Note: based on entry in ukbms_widercountry_species_old table within ORACLE at CEH

[2019-01-29 09:26] Gary-van-Breda commented on #31
@DavidRoy : So how does this impact all the records that I uploaded that had a BMSCode of 384? Are we effectively saying that Silver Y is both 284 and 384?

[2019-01-29 09:27] DavidRoy commented on #31
@Gary-van-Breda Yes, two codes have been used for the same species.  No impact on data already loaded as code 284 has not been used for any other species.

[2019-02-01 22:19] Gary-van-Breda commented on #76
Following conversation with John, the isset clause in the above line has been removed.
Code committed to dev branch of the warehouse.
Awaiting Deployment

[2019-02-02 14:47] Gary-van-Breda commented on #75
This has happened before. At that point it was identified that asynchronous service calls to the warehouse meant that timing of code on the page was tripping up - code was running too soon when data it relied on had not been returned from the warehouse. A fix was applied, which basically meant that all service calls to the warehouse from the page were switched over to a synchronous mode (where the

[2019-02-04 00:02] Gary-van-Breda commented on #13
I have gone though the entire process again, and made sure the late data from #31 is included.
@zrandle : yes the shorfall in the number of records is a combination of blank section numbers, section numbers outside the range (above 20 for year 2006), the use of taxa like "unidentified darter", and the merging of sections so that 20 sections go into 10 (ie 1&2 merged into 1, 3&4 into 2, 5&6 into 3

[2019-02-04 00:04] Gary-van-Breda commented on #31
Now confirmed done.
@zrandle : Review and close?

[2019-02-04 17:01] Gary-van-Breda commented on #30
This has been incorporated into the latest data load.

Re how the data load itself is done: due to the use of a subsample to hold the section data, this has to be done in 2 stages.
Stage 1 is load the visits: This involved creating files with the following columns (one for BBS and one for BC):
SAMPLEKEY | SURVEY | LOCATION | Grid Ref | Grid Ref System | RECORDER | DATE | TEMPERATURE | WIND_SPEED |

[2019-02-05 09:11] DavidRoy commented on #30
Thanks.  Now closing

[2019-02-05 09:11] #30 closed

[2019-02-05 09:15] DavidRoy commented on #69
@Gary-van-Breda looks good to close this issue now?

[2019-02-05 09:18] DavidRoy commented on #15
@IanMiddlebrook I think this issue is with you to re-arrange into sub-tasks.  Can you separate this out into separate issues and then close this more general issue, e.g.

1. Exclusion for sub-optimal walks
2. Categorisation of upland sites
3. Default to 1-26 weeks for summary tables

[2019-02-05 10:51] zrandle commented on #31
In my WCBS access database Silver Y is 384. Nothing down as 284.

[2019-02-05 10:53] #13 closed

[2019-02-05 12:24] Gary-van-Breda commented on #31
@zrandle The 284s I have are in the file provided by you at the top of this issue: rows 391, 392
Visit number 34381, sections 4 and 9. These map to SJ5508 (NT-SJ5508), date 17/08/2016

[2019-02-05 12:28] zrandle commented on #31
Ah! Can you change them to 384 so they are are same as all other Silver Y's. The reason why they're not in my main WCBS database is because I keep the NT squares in a separate access database.

Cheers

Zoe

[2019-02-05 13:52] Gary-van-Breda commented on #31
The Indicia system doesn't keep track of the BMSCODE: they have been mapped to the Indicia taxon "Silver Y" as part of the upload, the same as the 384s, so will be identical.

[2019-02-05 14:46] zrandle commented on #31
Ok no worries.

[2019-02-05 14:46] #31 closed

[2019-02-05 16:49] Gary-van-Breda commented on #69
Yes, I think so - Bombus no longer appears unless viewing an existing walk where data already exists for it - when creating a new walk on a location where Bombus was previously recorded, it is not displayed.
I'm happy for it to be closed.

[2019-02-11 16:39] IanMiddlebrook opened #98 "Downloading Shapefiles"
@BirenRathod

Hi, there seems to be a problem with downloading Shape Files (SHP) from the pages: My Sites, Branch Sites or All Sites.

The other GIS formats are OK (KML & GPX), but the SHP link is returning the following error message:

_"This site can’t be reached warehouse1.indicia.org.uk took too long to respond.
Search Google for warehouse1 indicia org 8080 geoserver wfs
ERR_CONNECTION_TIMED_O

[2019-02-11 22:34] BirenRathod commented on #98
@IanMiddlebrook
This has resolved now, please check and close if all OK.

[2019-02-12 09:28] IanMiddlebrook commented on #98
Thanks @BirenRathod

[2019-02-12 09:28] #98 closed

[2019-02-14 10:57] Gary-van-Breda commented on #76
Pager fix has been deployed.
Bounce back to @IanMiddlebrook to review (& close?)

[2019-02-14 11:00] IanMiddlebrook commented on #76
Looks good, thanks @Gary-van-Breda

[2019-02-14 11:00] #76 closed

[2019-02-20 13:41] DavidRoy commented on #69
Reopening this as a lot of 'Bombus' records have recently been entered for the Channel Islands.  This is causing a lot of frustration to verifers!
Relevant ID = 8889843

[2019-02-20 16:56] Gary-van-Breda commented on #69
The last UKBMS Bombus record is 8889843. This was created on 2019-01-22 12:15:02 by Chambers, though it has been modified since (on Feb 17th).
The code fix for the above was deployed on 28th January: there have been no new records created since the fix was applied.
I think this can be re-closed.

[2019-02-26 12:12] zrandle opened #99 "Upload new BBS squares"
Hi @Gary-van-Breda Please can you add these new BBS squares to the system. Thanks Zoe
[BBS spring 2019 new sqs- final.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2905319/BBS.spring.2019.new.sqs-.final.xlsx)

[2019-03-01 17:13] Gary-van-Breda commented on #94
I don't have direct access to the database, but the following SQL will display the counts
[code]

[2019-03-01 17:34] Gary-van-Breda commented on #94
Loss of links means that the:

- Data should still be displayed in the annual summary page
- Should not affect the raw data download
- Occurrences will be missing from the Occurrence download
- Should not affect the Sample download
- Data will be missing from the Section Level Download
- Should not affect the Summary Level Download
- Should not affect the Visits summary page
- Should not affect th

[2019-03-04 10:30] DavidRoy commented on #94
Summary of data affected:

surveyid count
64	"866"
305	"234"
306	"44"

[2019-03-04 21:13] Gary-van-Breda commented on #94
The problem boils down to the fact that when the "edit-generic-record" form is used on iRecord, the location autocomplete only sees locations that are visible to the iRecord website. There are obviously a number of location records (maybe all UKBMS locations?) which are available to the UKBMS website that are not available to iRecord.
When someone uses the location autocomplete in "edit-generic-re

[2019-03-04 22:27] Gary-van-Breda commented on #97
Links added to bottom of "All sites" page.
Equivalent links not on Branch page.
Equivalent links already exist on "My sites" page, but they have been hidden (display style set to none).

I've tested the "All sites" downloads: "Full Sites" works OK, "Full Site Sections" gives a memory error - so
I have put a new version of the "ebms_site_sections_download.xml" (sic) report into the indicia-reports

[2019-03-04 23:31] Gary-van-Breda commented on #85
@BirenRathod : can you deploy the contents of the attached zip file into UKBMS? the PHP files go into iform/client_helpers/prebuilt_forms, and the contents of the js directory go into iform/client_helpers/prebuilt_forms/js
[Issue85.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/2928601/Issue85.zip)
Thanks.

[2019-03-05 00:05] Gary-van-Breda commented on #99
@zrandle : what does "UNCOVERABLE (deleted from set)" mean?

[2019-03-05 10:41] zrandle commented on #99
Ah, I forgot about that - no need to upload the two squares that have this note. Thanks

[2019-03-05 12:17] zrandle opened #100 "UKBMS performance"
Hi there, the site has got incredibly slow again. Can this be looked at? Thanks Zoe

[2019-03-05 12:19] zrandle commented on #100
Here we go again!! All sites page:

here was an SQL error: ERROR: canceling statement due to statement timeout - SELECT l.id as "id", l.name as "name", l.centroid_sref as "centroid_sref", CASE WHEN lsub.occurrences IS NULL THEN 0 ELSE lsub.occurrences END as "occurrences", CASE WHEN lsub.taxa IS NULL THEN 0 ELSE lsub.taxa END as "taxa", CASE WHEN lsub.groups IS NULL THEN 0 ELSE lsub.groups END as

[2019-03-05 13:47] DavidRoy commented on #100
Performance issues are being addressed elsewhere by switching slow reports to an alternative data model.  It will take time to complete this work.  I could not replicate your error on the sites page and managed to download the site/section details for all but the Transect-section report.  I will send them to you separately by email.

[2019-03-05 15:58] BirenRathod commented on #97
@Gary-van-Breda

I pulled reports on live warehouse.

[2019-03-05 16:12] BirenRathod commented on #85
@Gary-van-Breda
All these files now have gone to live ukbms/mydata site.

[2019-03-05 16:14] DavidRoy commented on #97
Timeout occurring on: http://www.ukbms.org/mydata/all-sites

There was an SQL error: ERROR: canceling statement due to statement timeout - SELECT l.id as "id", l.name as "name", l.centroid_sref as "centroid_sref", CASE WHEN lsub.occurrences IS NULL THEN 0 ELSE lsub.occurrences END as "occurrences", CASE WHEN lsub.taxa IS NULL THEN 0 ELSE lsub.taxa END as "taxa", CASE WHEN lsub.groups IS NULL THEN

[2019-03-05 16:33] BirenRathod commented on #97
It has taken little longer but I don't see any errors.
Here is a screenshot.
![image](https://user-images.githubusercontent.com/5941255/53820797-6aa52c80-3f64-11e9-8334-4b16862ca492.png)

[2019-03-07 08:43] Gary-van-Breda commented on #85
I've checked and it looks like the deployment is OK.
This changes the calculations of the Y-axis tickmarks on both the Year plot and the Section plot graphs.
Bouncing back to @IanMiddlebrook to review and close?

[2019-03-07 09:19] IanMiddlebrook opened #101 "Dodgy accounts"
@DavidRoy @BirenRathod

Hi, We've jumped back to receiving a lot of bogus new accounts on the UKBMS website again.
300 new accounts overnight last night with accompanying Spam Forum posts. I'm in the process of deleting them, but is there anything else we could do to reduce them?

The majority of these accounts have email addresses that end with .ru , so is there any way we could simply block all

[2019-03-07 09:29] BirenRathod commented on #101
@IanMiddlebrook @DavidRoy

East way to restrict them via user restriction, Just add a rule for that email address you can find link here ->http://www.ukbms.org/mydata/admin/config/people/user-restrictions

I have just added one for .ru.
Also,  I'm deleting all those forums.

[2019-03-07 09:33] BirenRathod commented on #101
@IanMiddlebrook

All forums from .ru user have now deleted. Also, I noticed that there is no new post in forum since 5/2017. so I presumed this is right if not there may be some post deleted by mistake. so appologise for that.

[2019-03-07 09:38] IanMiddlebrook commented on #101
Thanks @BirenRathod . I tried that link http://www.ukbms.org/mydata/admin/config/people/user-restrictions but don't seem to have access?

[2019-03-07 09:41] BirenRathod commented on #101
@IanMiddlebrook
I just implemented the permission, so you should be able to access the link.

[2019-03-07 09:43] IanMiddlebrook commented on #101
Excellent - thanks @BirenRathod

[2019-03-07 09:43] #101 closed

[2019-03-07 10:46] IanMiddlebrook commented on #85
Excellent job - thanks @Gary-van-Breda

[2019-03-07 10:46] #85 closed

[2019-03-07 13:02] zrandle commented on #100
The system is becoming unworkable again. many issues this morning with time-out. This is the latest - trying to download data for a site ...

{"error":"There was an SQL error: ERROR:  canceling statement due to statement timeout - SELECT vt.sample_id as main_id,\r\n      vt.text_value, vt.float_value, vt.int_value, vt.date_start_value, vt.date_end_value, vt.date_type_value,\r\n      at.id, at.capt

[2019-03-11 14:42] zrandle opened #102 "Holiday squares"
Hi

Is there any progress with this? I need to start promoting the site. I would also like these squares added to the list of holiday squares:

NY1011
NY3106
NY3211
NY5026

Thanks

Zoe

[2019-03-14 12:41] zrandle commented on #79
Hi We have edited the Branch Boundaries. The geopackage is too big to send via Github even when zipped up. I will send it to Gary and David via wetransfer.

. Please can you use it an let me know if it is any better? Thanks Zoe

[2019-03-14 12:56] DavidRoy commented on #79
Downloaded ok.

@BirenRathod this is stored in W:\PYWELL_SHARED\Pywell Projects\BRC\BMS\Website\BC Branch layer
Can you evaluate:
- how import a .gpkg format file into the data warehouse.  Do we convert to shapefile first, or can we load direct into GeoServer (i.e. not use the warehouse importer)?
- whether the layer is 'clean', i.e. no slithers, non-enclosed polygons etc

[2019-03-19 09:44] IanMiddlebrook opened #103 "Annual summary table failing to update"
Hi @Gary-van-Breda @DavidRoy @BirenRathod

I'm not sure who deals with this, but it looks like the Annual Summary table has not been updating for quite some time.

Looking at the Summary Table for 2018, for All Sites/All Recorders, I know there are a string of silly early records (Week 0) for unlikely species which were all deleted at least 2 months ago, but are still showing up in the summary tab

[2019-03-19 09:49] BirenRathod commented on #103
@IanMiddlebrook
I think @Gary-van-Breda should be dealing with this.

[2019-03-20 08:41] DavidRoy commented on #103
@IanMiddlebrook  To ease the performance issues a few weeks ago, we switched off the element of the scheduled task that updates these tables.  We'll re-instigate in time for the formal start of the season on 1st April.

[2019-03-20 21:58] Gary-van-Breda commented on #103
This has now been reinstated, and the catch up process run.
@IanMiddlebrook : can you check again, and if there is data missing that you expect to be there, can you let me know what dates? Any extra info that can identify where an example issue exists helps.

[2019-03-20 22:15] Gary-van-Breda commented on #100
John has said that said that he discovered the primary culprit was a report left on a publically accessible page which had a pager on it that was being paged all the way through (presumably by bots). As the report was complex, it was a killer for the warehouse. (sorry I don't know which report or even which website). It meant that a tipping point was reached where some of the scheduled tasks were

[2019-03-20 23:29] Gary-van-Breda commented on #99
Now uploaded.
@zrandle : Review and close?

[2019-03-21 07:34] #100 closed

[2019-03-21 16:44] #99 closed

[2019-03-21 16:47] zrandle commented on #81
Hi

Is there any progress with this? I need to start promoting the site. I would also like these squares added to the list of holiday squares:

NY1011
NY3106
NY3211
NY5026

We only want the holiday squares (yellow) listed and shown on the map at the moment. The labelling is a bit rough on the eyes too. Could the label (square ref) only show when zoomed in closer?

Will people need to register befo

[2019-03-21 16:48] zrandle commented on #102
issue closed moved to #81

[2019-03-21 16:48] #102 closed

[2019-03-22 14:08] DavidRoy commented on #15
@IanMiddlebrook to generate new issues for this

[2019-03-23 18:18] Gary-van-Breda opened #104 "Georef now failing with Curl issue"
I'm not sure when this started, but the georeference lookup for the Google Map API is failing on the UKBMS sites page, and on the holiday squares page. The initial request is made using HTTP/1.1, but Curl is failing, with an error message that looks like HTTP/2 is involved:
 The URL to look up "gullane" looks like

`http://www.ukbms.org/MYDATA/sites/www.ukbms.org.MYDATA/modules/iform/client_helper

[2019-03-23 19:26] Gary-van-Breda commented on #81
Extra 4 holidays squares flagged appropriately.

[2019-03-24 18:24] DavidRoy commented on #104
Is this an issue with API keys not Google require a credit card for use of APIs?
@Gary-van-Breda do you need @BirenRathod or @johnvanbreda input?

[2019-03-24 22:41] Gary-van-Breda commented on #81
@BirenRathod : can you deploy the files in the attached zip file into the UKBMS iform client_helpers/prebuilt_forms directory: there are 3 files in total, 2 of which are in subdirectories that should go into the relevant subdirectories of client_helpers/prebuilt_forms.
Thanks

[prebuilt_forms.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3000952/prebuilt_forms.zip)

[2019-03-24 22:49] Gary-van-Breda commented on #104
No this is not the Google API credit card issue: the maps are working correctly with the same key -
`http://maps.google.com/maps/vt?pb=!1m5!1m4!1i6!2i29!3i21!4i256!2m3!1e0!2sm!3i458167684!3m12!2sen-GB!3sUS!5e18!12m4!1e68!2m2!1sset!2sRoadmapSatellite!12m3!1e37!2m1!1ssmartmaps!4e0&key=AIzaSyAioCQ8diJv7ek6YWWnSpArin75N7y-CBk&token=1613`

and the details tagged at the end of the error message imply th

[2019-03-25 09:03] BirenRathod commented on #104
@Gary-van-Breda
I checked on live server of ukbms/mydata and it has got enabled a curl, so it is not a problem. Here is screen shot.
![image](https://user-images.githubusercontent.com/5941255/54906916-40e48300-4edc-11e9-97f0-3d4f76b50abf.png)

Also, It has got same version of PHP as Pantheon which is 7.2.

[2019-03-25 09:55] BirenRathod commented on #81
@Gary-van-Breda
These are now gone on live.

[2019-03-25 10:04] Gary-van-Breda commented on #104
@BirenRathod Can we set up a phpinfo.php file in the root directory:

[code]

so I can check the config?

[2019-03-25 10:14] BirenRathod commented on #104
@Gary-van-Breda
this is the the URL -> http://www.ukbms.org/mydata/phpinfo.php

[2019-03-25 10:16] johnvanbreda commented on #104
@Gary-van-Breda I'll take a look - I've got access to both ends and there's a fair chance this relates to recent proxy changes, assuming that the code has been updated.

[2019-03-25 10:29] johnvanbreda commented on #104
Google recently switched the Places API service from HTTP 1.1 to HTTP 2. The proxy script originally failed if it detected anything other than HTTP 1.1 so I've removed this check in a commit from a few weeks back.

I have patched just the single line of code on UKBMS so that it works - obviously a proper Git pull would be a better solution at some point.

[2019-03-25 11:38] Gary-van-Breda commented on #104
Thanks.
Thanks working now on both forms
Closing.

[2019-03-25 11:38] #104 closed

[2019-03-25 20:25] Gary-van-Breda commented on #81
Thanks @BirenRathod : there are obviously a couple of differences between the production environment and my dev one, so apologies, but can you deploy the files in the attached zip file into the UKBMS iform client_helpers/prebuilt_forms directory: there are 2 files in total, 1of which is in a subdirectory that should go into the relevant subdirectory of client_helpers/prebuilt_forms.
Thanks

[prebu

[2019-03-26 09:34] Gary-van-Breda commented on #80
@BirenRathod : can you deploy the file in the attached zip file into the UKBMS iform client_helpers/prebuilt_forms directory. Can you also update the reports/projects on the warehouse1 from the https://github.com/BiologicalRecordsCentre/indicia-reports
Thanks

[ebms_transects_allocation.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3007424/ebms_transects_allocation.zip)

[2019-03-26 14:15] BirenRathod commented on #81
@Gary-van-Breda
These files are gone on live too.

[2019-03-26 14:17] BirenRathod commented on #80
@Gary-van-Breda
This file gone onto live server and reports have been pulled down from the repository.

[2019-03-26 21:20] Gary-van-Breda commented on #80
@BirenRathod : can you confirm the form has deployed correctly please? It doesn't look like the page on the website is exhibiting the changes in the file. Thanks

[2019-03-26 21:23] Gary-van-Breda commented on #81
Thanks: that all looks good.
@zrandle : can you check that you are happy with the changes?
What email address do you want the notifications to go to?

[2019-03-27 09:29] BirenRathod commented on #80
@Gary-van-Breda
Which report have committed in here https://github.com/BiologicalRecordsCentre/indicia-reports? I can't see your report.

[2019-03-27 09:41] BirenRathod commented on #80
@Gary-van-Breda
Ignore my above comment.
Also, because this file name ebms_transects_allocation , I put it in butterfly-monitoring folder.  I now moved into ukbms.mydata folder.

[2019-03-27 10:12] DavidRoy commented on #80
@BirenRathod The relevant page is throwing up errors: http://www.ukbms.org/mydata/branch-assignment

Can you resolve or is it best left to @Gary-van-Breda

The equivalent page on ebms also throws up errors: http://www.butterfly-monitoring.net/transects-allocation

[2019-03-27 10:35] DavidRoy commented on #79
Awaiting further update from BC via Katie Cruickshanks, as needed for wider BC use. No action to be taken yet

[2019-03-27 10:41] Gary-van-Breda commented on #80
This is for me

[2019-03-27 11:12] Gary-van-Breda commented on #80
@BirenRathod : can you drop the single file in the zip into both the butterfly-monitoring and ukbms.mydata iform/client_helpers/prebuilt_forms directories. Thanks

[ebms_transects_allocation.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3012826/ebms_transects_allocation.zip)

[2019-03-27 11:21] BirenRathod commented on #80
@Gary-van-Breda
Done.

[2019-03-27 15:18] Gary-van-Breda commented on #80
I've checked this, and tweaked the form config, and it looks like it downloads OK now.
A note: it downloads the allocation type selected for the page - so if it has the "Allocation type" at the top selected to be "Normal Users (Transects)", it will download the Transect allocations at a User level, if it is "Branch Managers (WCBS-BC)" it downloads the WCBS-BC Branch manager allocations - these are

[2019-03-27 15:46] BirenRathod commented on #80
@Gary-van-Breda
Not realising that file for ebms too. Done now.

[2019-03-27 20:41] Gary-van-Breda commented on #82
Following a detailed conversation with @johnvanbreda this afternoon, can I possibly have the following queries run on the database with the intention of getting explain plans to see if they are using resonable indexes:

Users landing on Annual sumary page: My data, all my sites, year =2018:
SELECT date_start, date_end, date_type, type, period_number, taxa_taxon_list_id, taxonomic_sort_order, taxon

[2019-03-27 21:01] Gary-van-Breda commented on #82
@BirenRathod or @johnvanbreda : can I have the new version of the summary_builder module (available on https://github.com/Indicia-Team/warehouse/tree/feature-summary-builder) dropped into the testwarehouse? (I am assuming that the testwarehouse is realtively upto date).
I'd like to do some performance testing on it, in a system camparable to live.

I need to work out the suitable cost_estimates fo

[2019-03-27 21:05] Gary-van-Breda commented on #80
@BirenRathod : can you drop the updated version of the  https://github.com/BiologicalRecordsCentre/indicia-reports onto warehouse2 as well? Thanks

[2019-03-27 21:10] DavidRoy commented on #82
Not sure this is what you had in mind, but here are query results.  Not great performance?
1. 3-27-19 21:00:28
Date
646
Rows Affected
26 secs 552 msec
Duration

2. 3-27-19 21:05:03
Date
3,437
Rows Affected
1 min 5 secs
Duration

3. 3-27-19 21:06:47
Date
2,026
Rows Affected
2 min 45 secs
Duration

[2019-03-27 21:15] DavidRoy commented on #82
I notice that the summary_occurrences table has 14 million rows!

[2019-03-27 23:34] Gary-van-Breda commented on #96
@BirenRathod : can you deploy the file in the following zip file into the UKBMS iform/client_helpers/prebuilt_forms directory please?
[ukbms_sectioned_transects_edit_transect.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3015660/ukbms_sectioned_transects_edit_transect.zip)

After this is done I'll create the attribute: can only do this after the form is deployed.

[2019-03-28 08:48] DavidRoy commented on #82
Is a cache table for UKBMS summary reporting an option to consider?

[2019-03-28 11:14] BirenRathod commented on #82
@Gary-van-Breda

I pulled summary_builder module on testwarehouse, see if your changes work.

[2019-03-28 11:14] BirenRathod commented on #80
@Gary-van-Breda
Reports pulled on Warehouse2.

[2019-03-28 11:31] Gary-van-Breda commented on #82
The summary_occurrences table is effectively a cached tabled: it is not joined to anything when a query is carried out. The new version that has just been put on the test system puts all data for one taxon/year/location/user combination into a single row (rather than being a row per week entry), so this should reduce the amount of data by a factor of 20.
@DavidRoy , can you get the explain plans f

[2019-03-28 11:34] DavidRoy commented on #82
I don't know how to access the explain plans so you'll need @BirenRathod or @johnvanbreda to either do it, or let me know how

[2019-03-28 11:38] BirenRathod commented on #82
@DavidRoy
you just need to click on "Explain" tab after running each of above query in PgAdmin.

[2019-03-28 12:03] BirenRathod commented on #96
@Gary-van-Breda
This file gone on live for ukbms/mydata

[2019-03-28 12:21] DavidRoy commented on #82
@Gary-van-Breda here are the query explains
[ukbms query explains.txt](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3017862/ukbms.query.explains.txt)

[2019-03-28 14:04] Gary-van-Breda commented on #82
Could we put the following indexes on, then try the queries again?
CREATE INDEX ix_summary_occurrences_SYUL ON summary_occurrences USING btree (survey_id, year, user_id, location_id);
CREATE INDEX ix_summary_occurrences_WLU ON summary_occurrences USING btree (website_id, location_id, user_id);

[2019-03-28 14:12] BirenRathod commented on #82
@Gary-van-Breda , @DavidRoy

I created indexes on live warehouse.

[2019-03-28 14:56] DavidRoy commented on #82
@Gary-van-Breda here is the update explain plan for these queries re-run
[ukbms query explains 2.txt](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3018564/ukbms.query.explains.2.txt)

[2019-03-28 15:19] johnvanbreda commented on #82
As an aside, this site is very useful for visualising explains: https://explain.depesz.com/

[2019-03-28 19:20] Gary-van-Breda commented on #82
OK, it looks like there was no change in the query plans. @BirenRathod : how often are the statistics on the database tables updated?

[2019-03-28 20:30] BirenRathod commented on #82
@Gary-van-Breda
I'm expecting immediately after any change.

[2019-03-29 09:02] zrandle commented on #81
That looks good. Please send the notifications to survey@butterfly-conservation.org

[2019-03-29 09:48] Gary-van-Breda commented on #81
Email changed.

[2019-03-29 09:58] DavidRoy commented on #81
@zrandle please close issue when you are ready

[2019-03-29 10:04] IanMiddlebrook commented on #103
Thanks

[2019-03-29 10:04] #103 closed

[2019-03-29 10:09] zrandle commented on #81
Do people need to be registered to see the holiday squares page?

[2019-03-29 10:19] DavidRoy commented on #81
how did you specify it to work?  But I would say yes, because ultimately they’ll need to register to enter the data, I.e. show the commitment

[2019-03-29 10:48] zrandle commented on #81
OK cool. I take it this finished and ready to go?

[2019-03-29 10:48] Gary-van-Breda commented on #81
I've just noticed aother environment mismatch, so I'll need to send an updated JS file.
I've enabled it for anonymous users (non-logged in), and the is a new entry on the main menu bar. This should allow these users to do a search, with a note in the bottom saying they should register/log in in order to do the assignment - this is the bit that needs tweaking as it is allowing the them to do the as

[2019-03-29 10:52] zrandle commented on #81
ok

[2019-03-29 11:05] Gary-van-Breda commented on #80
I think the EBMS actions for this issue should be transferred to https://github.com/BiologicalRecordsCentre/ABLE/issues/15 , and this issue should only deal with the UKBMS.
Are we happy that this is OK on UKBMS?

[2019-03-29 11:09] Gary-van-Breda commented on #96
Can I confirm this is for all site types: Transects, WCBS-BBS and WCBS-BC?

[2019-03-29 11:12] DavidRoy commented on #96
Yes, all survey types

[2019-03-29 12:18] Gary-van-Breda commented on #81
@BirenRathod : apologies again: can you deploy the file in the attached zip file into the UKBMS iform client_helpers/prebuilt_forms/js directory: there is just the 1 file. Thanks
[ukbms_assign_transects.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3022577/ukbms_assign_transects.zip)

[2019-03-29 12:33] Gary-van-Breda commented on #96
Attribute now all set up: checked and looks OK on the form (top level location types only, textarea control)

[2019-03-29 13:25] BirenRathod commented on #81
@Gary-van-Breda
This file gone on live site.

[2019-03-29 15:12] Gary-van-Breda commented on #81
Thanks: this is looking better now.
@zrandle do you want to have a check now? I've left it enabled for anonymous users so they can check if a square is close to where they are going before they decide to register: They get shown a message to login/register beside each square in the table.
There has also been a tweak to the zoom on the map - it was repeatedly zooming out if the Search was run multi

[2019-04-05 09:00] IanMiddlebrook opened #105 "Annual Summary page error"
Hi @Gary-van-Breda @DavidRoy

When loading up the Annual summary page and selecting data from 'All recorders', I keep getting the following lengthy error message:

_Invalid response received from Indicia Warehouse. Array ( [result] => [output] => [{"date_start":"2019-03-25","date_end":"2019-03-31","date_type":"DD","type":"W","period_number":"0","taxa_taxon_list_id":"283094","taxonomic_sort_order":

[2019-04-05 09:29] Gary-van-Breda commented on #105
@johnvanbreda
This looks like the insert into the request log is failing, possibly because the report request has a user_id parameter set to "NULL", and it looks like this has overridden the user_id which holds who has requested the report, & it is trying to insert this text value into an integer database field.
Who looks after this?
Has there been any recent changes in this area?

[2019-04-05 10:22] johnvanbreda commented on #105
Yes - recent changes to request logging due to persistent issues with performance. I'll look into this right now.

[2019-04-05 10:44] johnvanbreda commented on #105
I've rolled out a fix for this. The user_id parameter normally infers the logged in user so if it is a choice in the report parameter it might be better to choose a different parameter name? Not a high priority though.

[2019-04-05 11:57] Gary-van-Breda commented on #105
@IanMiddlebrook : I've tested this on the Live Annual summary, and it looks like its working now.

[2019-04-05 12:19] IanMiddlebrook commented on #105
Great, thanks

[2019-04-05 12:19] #105 closed

[2019-04-06 19:06] Gary-van-Breda commented on #97
There is a bug in the sections report - see https://github.com/BiologicalRecordsCentre/ABLE/issues/41
Fix waiting for deployment.

[2019-04-06 19:17] Gary-van-Breda commented on #94
@DavidRoy : The following SQL should give an idea of the scale of the other flavour of the problem:

[code]

[2019-04-08 07:49] DavidRoy commented on #94
SuveyID Count
64	"52"
306	"1"

[2019-04-08 10:44] zrandle opened #106 "Additional WCBS-BBS squares to be added to the system"
Hi

Please can these WCBS-BBS squares be added to the system.
SH8618
SJ0237
SJ0245
SH7220
SJ0948
SH8119
SH7432
SH7510
SH8634
SH6824

Thanks

Zoe