[2019-04-08 11:40] IanMiddlebrook opened #107 "incorrect count value warnings on Walk Data Entry"
Hi @Gary-van-Breda @DavidRoy

Something seems to have gone wrong on the Walk Data Entry page with the pop-up warnings for high counts - they are coming up for much lower numbers.

Eg. I've just tried to enter 3 Orange-tips (Warning: The value entered for this taxon on this transect section (3) exceeds the expected maximum (20)),
or 2 Green Hairstreaks (Warning: The value entered for this taxon on

[2019-04-08 14:56] DavidRoy commented on #107
@BirenRathod can you advise on this while Gary is away this week.  Has the walk data entry page changed recently with the other changes taking place?  I think this relates to the rule checking happening at the section level whereas they should be applied at the whole walk level

Original issue is #62

[2019-04-08 15:00] IanMiddlebrook commented on #107
Hi @DavidRoy @BirenRathod
Just to clarify, the checks should be happening at individual section level - not the whole walk. That particular issue was cleared up in #62

[2019-04-08 15:01] IanMiddlebrook commented on #107
But the current warnings are happening way below the threshold in any case.

[2019-04-08 15:03] DavidRoy commented on #107
Sorry, I didn't read your message carefully enough and jumpted to the wrong conclusion.  It might be simplest to leave to Gary when he's back

[2019-04-11 14:11] zrandle commented on #81
@Gary-van-Breda  @DavidRoy

It certainly is looking better- thank you! I've checked it by logging in with my private test account and allocated myself a square NN0661. An email was sent to survey@butterfly-conservation.org but all it said was:

“has allocated themselves site NN0661 as a Holiday square.”

It would be useful if the user name and their email address came in with the email notificatio

[2019-04-11 14:34] DavidRoy commented on #81
"There is also something weird with the squares shown on the map when you search – not all the squares in the vicinity come up every time…"

Can you give an example of what you expect to happen and what happens in practice, ideally with screenshots.  Will then be easier to investigate

[2019-04-11 15:29] zrandle commented on #81
Ignore me- I've had another look, it depends on your view zoom. If you zoom out and press search for sites more are shown!

[2019-04-11 16:04] DavidRoy commented on #81
Thanks for checking.  If you want to suggest any wording to make this more obvious, we can add it to the page

[2019-04-12 11:10] zrandle commented on #81
It isn't obvious where the search for sites button is - can the wording give an indication e.g:

Press the "Search for Sites" button (below the map) to display the squares within the displayed area. I'll get Ian and Tom to have a look they too. They may have additional comments. Thanks Z

[2019-04-12 12:13] zrandle commented on #81
We've noticed that if when scrolling on the mouse whilst hovering over the map, it has a dual effect – the map zooms in or out, but also the webpage scrolls up or down at the same time. This is a bit disorientating.

Please can this text be added to the page:

The aim of the holiday squares webpage is to improve coverage of WCBS squares in the uplands of northern and western Britain. Few recorders

[2019-04-13 17:26] Gary-van-Breda commented on #107
Not sure why it has started acting the way it has now (has there been a PHP version change?).
Anyway, @BirenRathod , can you unzip the following file and drop it into the UKBMS iform/client_helpers/prebuilt_forms/js directory? Thanks
[ukbms_sectioned_transects_input_sample.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3076510/ukbms_sectioned_transects_input_sample.zip)

[2019-04-13 17:46] Gary-van-Breda commented on #106
Done

[2019-04-15 11:02] BirenRathod commented on #107
@Gary-van-Breda
There is a updated version of PHP which is 7.2.16

This file has gone on live UKBMS.

[2019-04-15 12:34] IanMiddlebrook commented on #107
Thanks @Gary-van-Breda
Seems to be behaving itself again.

[2019-04-15 12:34] #107 closed

[2019-04-17 08:28] IanMiddlebrook opened #108 "Branch Co-ordinators unable to load Branch Sites"
Hi @DavidRoy @Gary-van-Breda

Many Branch Co-ordinators are still unable to load up their 'Branch Sites' page due to a time-out issue. This seems to mainly affect the Branches with the most site - so the page does work for some people but constantly times out for others. (Issue was raised with David via Martin Raper a couple of weeks ago, but I realised there was no GitHub issue to keep track of a

[2019-04-17 08:30] DavidRoy commented on #108
I think this is a candidate for switching to Elastic?
@johnvanbreda - could you take this on under ABLE funding as it will help the European schemes too

[2019-04-18 10:25] johnvanbreda commented on #108
I've had an explore. First, looking at the query which runs, it is fairly complex with several subqueries and some stuff that looks unnecessary for the output:
[code]

This could be tidied up to just what is needed for this page:
[code]

However, on examining this query I find that it is not much faster. Nearly all the time in this case is used by an index scan on cache_occurrences_functional(pare

[2019-04-18 11:27] DavidRoy commented on #108
Thanks @johnvanbreda.  Before we decide on the best solution - @IanMiddlebrook can you confirm what is needed on this page and what is used for.  How useful is the calculated values of number of records and number of sites for example.  Could the GIS downloads be delivered via a different route - e.g. a Downloads page that allows access to the various downloads across the site.

[2019-04-18 11:33] DavidRoy commented on #82
@Gary-van-Breda @johnvanbreda where are we with overall performance on the UKBMS, particularly the annual summary tables.

ABLE can be used to investigate these issues as we'll face the same when European BMS gest going.

I've had the following report of performance issues from yesterday (wednesday 17th April)

* Time of day – 15:00 i.e. have just been working in system
* User name – home@thelonsd

[2019-04-18 11:35] IanMiddlebrook commented on #108
Hi @DavidRoy @johnvanbreda
The fundamental pupose of this page is for Branch Co-ordinators to access the details of transects in their area, check the route maps and assign new recorders to their transects.
The counts of records and species are only of secondary interest, although sometimes useful in quickly distinguishing between current and discontinued transects with similar names.
Would the re

[2019-04-18 11:37] DavidRoy commented on #108
Thanks @IanMiddlebrook.  In a similar vein, can you confirm what is needed on the all-sites page - http://www.ukbms.org/mydata/all-sites.  Do you need the counts and downloads on this page?

[2019-04-18 11:59] johnvanbreda commented on #108
Yes, counting samples alone will be much quicker. From cold, the original query took 1 minute, but a samples only version takes 5 seconds:
[code]

[2019-04-18 12:03] DavidRoy commented on #108
@johnvanbreda Please make this simple change in that case and we can consider wider changes in due course

[2019-04-18 15:41] IanMiddlebrook commented on #108
@DavidRoy
Again with the 'All Sites' page, the counts are of limited interest, and a count of samples wold suffice. The GIS downloads could certainly be accessed from a separate page.

[2019-04-18 17:00] DavidRoy commented on #108
@johnvanbreda please can you also simplify this report for the all-sites page
http://www.ukbms.org/mydata/all-sites

[2019-04-19 10:44] johnvanbreda commented on #108
Done for branch and all sites pages.

[2019-04-19 20:57] Gary-van-Breda commented on #108
@DavidRoy & @IanMiddlebrook : Should we use this on the "My sites" page as well?

[2019-04-20 08:11] DavidRoy commented on #108
My sites is typically only a few sites so performance is not an issue?  So good to give the extra information

[2019-04-23 19:54] Gary-van-Breda commented on #108
@johnvanbreda : can you tweak the branch report - we intend on using the same report for EBMS/ABLE, and the hardcoded attribute id value 81 is going to be a problem - can we hand this ID is as a report parameter? It will also help if we ever decide to use it on the "My sites" page.

[2019-04-23 20:43] Gary-van-Breda commented on #97
@DavidRoy : Have just checked this following the deployment, and both the downloads now work on the "All sites" page.

[2019-04-23 21:06] Gary-van-Breda commented on #93
Message included at top of the data entry page.

[2019-04-24 07:15] DavidRoy commented on #97
Thanks Gary
@IanMiddlebrook @zrandle can you confirm downloads are ok for you both and close the issue if all ok

[2019-04-24 07:16] DavidRoy commented on #93
@IanMiddlebrook Please review and close if this is ok now

[2019-04-24 08:29] Gary-van-Breda commented on #93
I am still working on the extra autocomplete validation.

[2019-04-24 09:14] johnvanbreda commented on #108
Done - the parameter is `user_link_attr_id`.

[2019-04-24 20:38] Gary-van-Breda commented on #93
@BirenRathod : can you unzip the attached file and drop it into the UKBMS iform/client_helpers/prebuilt_forms/js directory. Thanks
[timed_count.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3114065/timed_count.zip)

[2019-04-24 20:40] Gary-van-Breda commented on #94
@DavidRoy : What would you like me to do on this?

[2019-04-24 21:25] Gary-van-Breda commented on #82
@Biren - is the version of the summary_builder mentioned above still on the testwarehouse? Has the module been switched off? - I can't see the summariser menu item under Admin on the warehouse.

[2019-04-25 09:48] zrandle commented on #81
Is there any progress on this? I need to start promoting the site. Thanks

Zoe

[2019-04-25 10:53] BirenRathod commented on #93
@Gary-van-Breda
This file gone to live ukbms/mydata site.

[2019-04-25 14:32] zrandle commented on #79
Please can you check they layer as it is. Does it do what we need it to? If so I'm happy with that! Cheer Zoe v

[2019-04-25 19:18] Gary-van-Breda commented on #108
@johnvanbreda Thanks : now implemented on ABLE.

[2019-04-25 19:41] Gary-van-Breda commented on #79
Can I just reiterate the problems I can identify with the existing boundaries:

- Isle of White not covered
- Isle of Mann not covered
- Anglesey not covered
- All the islands of the Inner and Outer Hebrides not covered
- Orkney and Shetland not covered
- Dundee not covered
- Lundy not covered
- Isle of Walney not covered
- Isles of Scily not covered
- Whole section of Lothians and Borders south o

[2019-04-25 19:59] Gary-van-Breda commented on #93
I've cleared the caches: looks OK to me.
Basically if someone enters an invalid taxon name in the autocompletes, it will now clear the field, rather than leaving the invalid name in place (which caused problems - the mandatory field was filled in when it shouldn't have been and the field name for the count was not set up correctly).
@IanMiddlebrook : can you have a look and see if its better?

[2019-04-26 07:19] DavidRoy commented on #80
@zrandle please review this does what you need

[2019-04-26 07:21] DavidRoy commented on #82
@BirenRathod can you respond to questions about summary-builder above.  I don't think the tag to 'at biren' would have reached you

[2019-04-26 07:27] DavidRoy commented on #94
@Gary-van-Breda I've switched off editing of UKBMS records within iRecord, within the website agreement.  I suggest we discuss options for fixing the existing data when we next catch-up by skype

[2019-04-26 07:28] DavidRoy commented on #108
Thanks for resolving.  Now closing this issue

[2019-04-26 07:28] #108 closed

[2019-04-26 08:03] Gary-van-Breda commented on #80
Just to clarify: the download is available from a button at the bottom right of the Transect Allocation form.

[2019-04-26 08:31] zrandle commented on #79
Does the new boundary file we supplied a month or so ago have the same problems?

[2019-04-26 08:56] BirenRathod commented on #82
It has reached as @Gary-van-Breda commented but not as @biren tag. I'm investigating into it.

[2019-04-26 09:28] BirenRathod commented on #82
@Gary-van-Breda  & @DavidRoy
Summary builder been switched off on testwarehouse which I just switched it on.

[2019-04-26 10:08] zrandle commented on #80
Yes it does! I've checked the WCBS aspects. Some of the squares don't have a branch or a county but I guess this is due to the Branch Boundary layer (BBL) having a few slithers? Until such times as the BBL is tidier I can populate these fields manually.  As an aside it is a bit slow in running!

[2019-04-30 08:41] johnvanbreda commented on #82
The 2 indices mentioned above were missing from warehouse1. So, I've ran:
[code]

Now the queries are running as follows (I've summarised the quick ones as probably no need for full execution plans):
Users landing on Annual sumary page: My data, all my sites, year =2018:
Runs in 132ms, with an index scan on ix_summary_occurrences_SYUL;
[code]

Annual summary: All recorders data, all sites, year =2

[2019-04-30 08:46] IanMiddlebrook commented on #82
Have you tested the Annual Summary page for 'Branch Data' or one of the larger branches?

I ask because I've generally been able to access 'All recorders, All Sites' (albeit very slowly) while some Branch Co-ordinators are consistently failing to load their Branch Data. Try masquerading as Martin Raper or Bill Downey.

thanks, Ian

[2019-04-30 09:00] Gary-van-Breda commented on #82
Following this index reinstatement and analyze by John, I’ve checked Martin Raper's branch data pull : it took 20s (2018, or 2019, uncached, compared to previously timing out after 6minutes).
The All sites/All recorders took 10 seconds.
These figures may not be from "cold".

[2019-04-30 09:09] IanMiddlebrook commented on #82
Can confirm Branch Data now loading very quickly.

[2019-04-30 09:10] Gary-van-Breda commented on #82
As a point of note, the branch sites fetch is likely to take the longest. This is because the branches are not summarised, whilst individual locations and the whole country are - the branch sites data must fetch the data for all the individual locations in the branch.

[2019-04-30 09:22] Gary-van-Breda commented on #82
Similar figures for Bill Downey.

[2019-04-30 13:52] zrandle opened #109 "New BC squares to upload to system"
Please can these squares be uploaded to the BC part of the online system. Thanks Zoe
[Sqs to upload to system.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3131514/Sqs.to.upload.to.system.xlsx)

[2019-04-30 14:13] zrandle commented on #106
thank you

[2019-04-30 14:13] #106 closed

[2019-04-30 14:14] zrandle commented on #81
Is there any progress on this? I need to start promoting the site. Thanks

Zoe

[2019-04-30 20:23] Gary-van-Breda commented on #109
Done.

[2019-05-01 07:50] Gary-van-Breda commented on #81
@zrandle : I can't reproduce the zoom issue - what type of machine / Operating system and Browser are you using?

[2019-05-01 10:09] zrandle commented on #81
Windows 7 and google chrome. Ian had the same issue I think he uses the same.

[2019-05-01 10:34] zrandle commented on #81
After the initial search for squares, and subsequently zooming out it would be good if the instructions indicated that pressing search again will show more squares further away from their initial search locations - does that make sense?

[2019-05-02 11:35] Gary-van-Breda commented on #81
@BirenRathod : can you unzip the attached file, and deploy the files as follows:

- the .php file should go into UKBMS iform client_helpers/prebuilt_forms directory, replacing the existing file
- the .js file should go into UKBMS iform client_helpers/prebuilt_forms/js directory, replacing the existing file
- the .css file should go into UKBMS iform client_helpers/prebuilt_forms/css directory: this

[2019-05-02 13:40] BirenRathod commented on #81
@Gary-van-Breda
These files gone live now on ukbma/mydata site.

[2019-05-02 15:01] Gary-van-Breda commented on #81
Thanks @BirenRathod
@zrandle : can you have a look at the new version?

- The explanation text has had a significant rework
- I've had to switch off the scrollwheel zoom on the map for all users.
- The buttons under the map have been made more prominent
- The table format has been brought into line with the other tables on the site.
- The user details on the emails has been fixed.
- A Javascript b

[2019-05-03 10:34] IanMiddlebrook opened #110 "Annual Summary table not updating"
Hi @Gary-van-Breda @DavidRoy

It seems that the Annual Summary Table is not keeping up-to-date.
The Raw Data tables are fine, but Summary Table and Estimates Table are showing absolutely nothing for Week 5 (29th April onwards), implying that no data have fed through to these tables since at least Monday.

Can someone please take a look?

Thanks,

Ian

[2019-05-08 14:16] IanMiddlebrook commented on #110
@DavidRoy @Gary-van-Breda @johnvanbreda @BirenRathod

Hi, is there anyone that can take a look at this issue please - the Summary Table is still not updating, at least 10 days behind data entry?

Thanks, Ian

[2019-05-08 14:32] Gary-van-Breda commented on #110
@johnvanbreda : can you remind me which bits we've switched off?

[2019-05-08 14:37] Gary-van-Breda commented on #110
@johnvanbreda : can you remind me which bits we've switched off for performance reasons?

[2019-05-08 15:06] johnvanbreda commented on #110
It was disabled due to the server problems last week. As they are now resolved, I've re-enabled it but left check_deleted_locations and lines 330 to 358 commented out as previously suggested.

[2019-05-08 21:52] Gary-van-Breda commented on #110
Summary builder was switched into catch up mode for Transects, and both WCBS.
Data on Annual summary now looks up to date.
Summary builder has been switched back to normal mode.

[2019-05-13 15:42] zrandle commented on #81
Some feedback:

Change text to read "The aim of the holiday squares initiative is to improve coverage of WCBS squares.
Please number the instructions i.e.
1. Find your place
2. Select place
3. Search for squares

etc etc

Here are some comments from Tom - Tested with Ullapool.

_Quite easy to use. However, only one square came up even when I zoomed out to the whole of Scotland, then UK.  There is

[2019-05-17 06:52] DavidRoy commented on #80
Closing as the original issue has been resolved.  Any emerging issue to be raised as new

[2019-05-17 06:52] #80 closed

[2019-05-17 06:52] DavidRoy commented on #96
Thanks

[2019-05-17 06:52] #96 closed

[2019-05-17 06:53] DavidRoy commented on #97
Closing as this now resolved

[2019-05-17 06:53] #97 closed

[2019-05-17 06:57] #69 closed

[2019-05-19 19:48] Gary-van-Breda commented on #81
@BirenRathod : can you unzip the attached file, and deploy the files as follows:

- the .php file should go into UKBMS iform client_helpers/prebuilt_forms directory, replacing the existing file
- the .js file should go into UKBMS iform client_helpers/prebuilt_forms/js directory, replacing the existing file
- the .css file should go into UKBMS iform client_helpers/prebuilt_forms/css directory, repl

[2019-05-20 09:24] BirenRathod commented on #81
@Gary-van-Breda , @DavidRoy , @zrandle
These files gone on live now.

[2019-05-20 09:32] Gary-van-Breda commented on #81
Looks good to me.
@zrandle : can you see what you think?

[2019-05-23 16:08] zrandle commented on #81
Looks good. I'm waiting for feedback from some Branch Champions. One has already got back to me. These squares are already allocated to 'normal' recorders:
NY4736
NY 4934
NY4709
NY4307
Please can this be reflected on the page? Thanks Zoe

[2019-05-30 13:34] DavidRoy commented on #82
Closing issue.  Any performance issues to be raised as new issues

[2019-05-30 13:34] #82 closed

[2019-05-30 13:37] DavidRoy commented on #79
@burkmarr can you pick up this issue related to GIS layers - used within the UKBMS and iRecord.  A reminder of the current situation.

Latest boundary from BC is stored in W:\PYWELL_SHARED\Pywell Projects\BRC\BMS\Website\BC Branch layer

Can you evaluate:

how to import a .gpkg format file into the data warehouse. Do we convert to shapefile first, or can we load direct into GeoServer (i.e. not use

[2019-05-30 14:03] burkmarr commented on #79
@zrandle - I'm just looking at the file you sent against @Gary-van-Breda's list. The only one I can see that isn't included in the new layer is Isle of Man - is that intentional?

[2019-05-30 16:36] Gary-van-Breda commented on #81
@zrandle : can I clarify what you mean?
Do you want to treat "normal" users differently to "holiday" users? (at the moment, as soon as someone registers as a user in order to request the holiday square, they become a "normal" user, so there is no differentiation between "holiday" users and "normal" users)
Or do you just want the squares to be a different colour(s) if they are allocated to anyone (

[2019-06-04 12:10] burkmarr commented on #79
@zrandle @DavidRoy I could supplement the layer with IoM boundary taken from the Vice County dataset if it is required?

[2019-06-04 12:15] DavidRoy commented on #79
@burkmarr yes, please go ahead and add in IoM as the UKBMS includes transects from there

[2019-06-04 16:16] zrandle commented on #79
Yes please add IoM. Thanks Zoe

[2019-06-04 16:19] burkmarr commented on #79
I've created a new layer from the old: W:\PYWELL_SHARED\Pywell Projects\BRC\BMS\Website\BC Branch layer\BC areas updated rjb 20190604.shp

I added IoM from VC layer and fixed some bad geometry that I noticed in Shetland, Bristol Channel and around Chipping Sodbury (see images below). I'm unlikely to have found all the geometry problems - many of which have their roots in the original VC data, but

[2019-06-04 16:38] zrandle commented on #81
There isn't a differentiation between normal users and holiday users.  What I mean is that the squares listed above are already allocated so they are not available as holiday squares. The same goes for a couple of Highland ones (I'm waiting to find out which ones). Thanks Zoe

[2019-06-04 20:41] Gary-van-Breda commented on #81
OK - I've removed the 4 squares above from the Holiday squares list, though the NY4307 square doesn't have any normal users assigned to it, only Branch managers.
I'll remove any others as and when you let me know.

[2019-06-10 10:56] burkmarr commented on #79
Uploading the new Butterfly Conservation boundaries to the Development Warehouse has exposed an issue with the complexity of the site boundaries. Because the areas are derived from the very detailed Vice County boundaries, the resulting polygons are very complex. For example the polygon for the Highlands area comprises 4,145 separate sub-polygons (because of small islets) and 366,198 vertices (ind

[2019-06-10 10:57] DavidRoy commented on #79
Agreed.  These boundaries do not need to be highly precise.  And lepidoptera can be recorded out to sea!

Also, there is an argument for simplifying the boundaries in any case to improve querying performance?

[2019-06-10 12:02] burkmarr commented on #79
A good point @DavidRoy. The buffered seaward boundaries do not address the issue of the complex boundaries between adjacent areas which are not buffered. That's still the case with the VC boundaries too.

There are QGIS tools which can simplify boundaries by considering a tolerance and removing as many vertices as possible without causing the resulting new line to deviate by more than the specifie

[2019-06-10 12:11] DavidRoy commented on #79
Thanks @burkmarr.  Your image shows the issue very clearly.  It is a trade-off between boundary complexity and query performance.  My inclination is that we should keep the full VC boundary as it is the primary unit for biological recording.  Any simplification can compromise how records should be assigned (i.e. on the riverbank in your example), particularly for some taxa (i.e. plants that don't

[2019-06-10 12:43] kitenetter commented on #79
As far as I'm aware the county moth recording network does not make use of the BC branch boundaries, so I'm not sure it's an issue for moths.

The 10m tolerance seems like a reasonable compromise to me. The chance that a change of up to 10m will result in a record 'changing sides' seems to be quite low given that we have few records with a grid reference more precise than 10m (whereas a 25m tolera

[2019-06-12 11:13] burkmarr commented on #79
The BC branch areas have how all been updated on the Dev Warehouse. So you can now look at any of these on irecord_dev, e.g. by specifying a filter.

Simplifying - with 10 m tolerance - and adding a 1 mile buffer around the coast had a dramatic effect on the size of the spatial files without significantly compromising accuracy.

1. Original size of file from BC - 42,008 kb
2. Size after some data

[2019-06-12 12:07] DavidRoy commented on #79
Thanks @burkmarr.  I have no concerns with these boundaries going onto the live site.  I'm not sure they would be tested on the dev warehouse.

[2019-06-12 12:12] zrandle commented on #79
I'm involving Katie Cruickshanks in this as it is her area of work at BC and she understands these things better than I do! Can she be added to the group?

[2019-06-12 12:13] DavidRoy commented on #79
yes, what is her Github account name?

[2019-06-12 12:22] zrandle commented on #79
KLCruickshanks

[2019-06-12 12:59] KLCruickshanks commented on #79
Hello all, I have gathered 2 separate issues from this thread:
1. The cleanliness of the original layer- we need a clean layer for our own purposes- can we have the layer ('Size after some data repairs etc - 43,252 bk') and then we will do some additional cleaning on it and send it back to you?
2. The format of the layer (copy) held in the warehouse for querying purposes- I am happy with the simpl

[2019-06-12 13:01] DavidRoy commented on #79
hello @KLCruickshanks.  Does it make sense to manage the layer through github so we all work from the same version?  Mirroring what's being done for the VC layer:
https://github.com/BiologicalRecordsCentre/vice-counties

[2019-06-12 13:50] burkmarr commented on #79
@KLCruickshanks - I've sent the geopackage your asked for by wetransfer. Hopefully any further changes you make to that will be local and/or small enough that I won't have to repeat the whole simplification & buffering process.  If there are changes, I will attempt to incorporate them without redoing the whole thing.

I will hold off publishing the boundaries to the live site until I hear back fro

[2019-06-12 14:11] KLCruickshanks commented on #79
Thank you @burkmarr - received the layer.  I am happy with making any changes and sending the file back- do you have a deadline or as soon as possible?  I assume you will then simplify what I send you and load that version up.  Thank you.

[2019-06-12 14:28] burkmarr commented on #79
Okay @KLCruickshanks. No deadline as far as I am aware, but this has been ongoing for over a year, so it would be good to get it sorted ASAP. Do you anticipate making any major changes?

[2019-06-19 10:46] KLCruickshanks commented on #79
Dear All, we have had a look at the layer and we are all happy.  @burkmarr thank you so much for tidying it up.  No changes have been made to the layer that @burkmarr sent me via wetransfer.  We are happy for this to be used as the definitive layer and going forward, any simplified layers can be derived from this.  Great work!

[2019-06-19 14:14] burkmarr commented on #79
Thanks @KLCruickshanks. I've just uploaded them to the live Warehouse, so available on iRecord now.

[2019-06-19 14:16] burkmarr commented on #79
@DavidRoy - I don't have permission to close on this repository, so you have that pleasure!

[2019-06-19 14:34] DavidRoy commented on #79
Good work!  Thanks

[2019-06-19 14:34] #79 closed

[2019-06-24 17:04] zrandle opened #111 "UKBMS security"
Hi
I've had an email from a Branch Champion re UKBMS security. See below:
"Just one thing on providing site owner information on the UKBMS system - every time I log onto the UKBMS system my machine tell me that the site is 'not secure' (it shows in red as I log on).  This appears throughout my sessions on the site in the same position as the little padlock appears on sites that I would expect to b

[2019-06-24 17:10] DavidRoy commented on #111
It is being dealt with when we update the UKBMS website.  This work is underway

[2019-06-25 10:46] IanMiddlebrook opened #112 "Recorder's Name field missing from Walk data Entry page"
@DavidRoy @Gary-van-Breda

The Walk Data Entry page for UKBMS appears to have lost the field for ‘Recorder’s Name’.

Has this form changed recently? I presume it’s not deliberate.

This seems to apply to both the Transect and the WCBS entry pages.

Could the field please be re-instated asap.

Thanks, Ian

[2019-06-25 12:22] DavidRoy commented on #112
Should be fixed.  Please close if so.

Thanks

[2019-06-25 12:39] IanMiddlebrook commented on #112
Thanks, seems to be fixed, so I'll close the issue.
But we now have 94 transect walks with no Recorder Name.

Regards, Ian

[2019-06-25 12:39] #112 closed

[2019-06-26 09:53] IanMiddlebrook opened #113 "Section Plot week number offset"
Hi @Gary-van-Breda @DavidRoy

A volunteer has drawn my attention to a problem with the Section Plots. It seems that the week numbers are all offset by 1. So if you select Week 2 it shows data for Week 1, if you select Week 10 it shows data for Week 9 etc.

I confess I've never looked at the Section Plot week by week before, but it seems to be consistent across sites and years.

I also checked whet

[2019-07-08 09:37] IanMiddlebrook opened #114 "Annual summary table not updating"
Hi @DavidRoy  @Gary-van-Breda

I had this message from a volunteer over the weekend:

"I did the walk on Lankham Bottom on 2 July (week 14) and put the data in but when I try to look at the entry through Reporting and Annual Summary my data is not visible for Lankham Bottom for week 14"

The walk is still not showing on the Annual Summary table (though it is on the Raw Data table).

Has the Annual

[2019-07-11 11:05] IanMiddlebrook commented on #114
Looks like the Annual Summary table has caught up with the missing data, and seems to be up to date, so I'll close this issue.

[2019-07-11 11:05] #114 closed

[2019-09-14 21:36] Gary-van-Breda commented on #113
@BirenRathod : Can you unzip the attached file deploy the files in it into the UKBMS iform/client_helpers directory, and its subdirectories (the JS file should go in  iform/client_helpers/prebuilt_forms/js)
[UKBMS Issue 113.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/3613169/UKBMS.Issue.113.zip)

[2019-09-16 11:18] zrandle opened #115 "Cannot edit user passwords"
Hi I cannot get to the page to edit the user password. There have been issues all over the weekend about people not being able to log in and Ian and I have been inundated with emails.

[2019-09-16 15:49] IanMiddlebrook opened #116 "Annual Summary page not loading"
@Gary-van-Breda

Gary – This particular page is failed to load due to this error
“The character encoding of the plain text document was not declared. The document will render with garbled text in some browser configurations if the document contains characters from outside the US-ASCII range. The character encoding of the file needs to be declared in the transfer protocol or file needs to use a byt

[2019-09-16 16:09] zrandle opened #117 "UKBMS not working at all now"
I cannot access even the home page. Same on my mobile phone...

This page isn’t working www.ukbms.org redirected you too many times.
Try clearing your cookies.
ERR_TOO_MANY_REDIRECTS

[2019-09-17 07:30] Gary-van-Breda commented on #117
I have cleared all the site caches: its working OK for me now. Can you try again?

[2019-09-17 07:34] Gary-van-Breda commented on #115
@BirenRathod : can you look at the server logs? I'm getting a 500 internal server error (on this and the annual summary page #116), and can't see anything else of use!

[2019-09-17 08:38] BirenRathod commented on #115
@Gary-van-Breda
I looked at server log and there is not any single information logged regarding this.

When I looked at firefox's , I found this error "The character encoding of the plain text document was not declared. The document will render with garbled text in some browser configurations if the document contains characters from outside the US-ASCII range. The character encoding of the file ne

[2019-09-17 09:02] BirenRathod commented on #115
@Gary-van-Breda
I have looked in more into and found this error -> 'Fatal error: Allowed memory size of X bytes exhausted (tried to allocate Y bytes)'

Now, I know I have decreased the memory from 2048M to 64M, partlly due to performance point of view suggested in this link ->https://www.drupal.org/docs/7/managing-site-performance-and-scalability/changing-php-memory-limits.

I have now increased t

[2019-09-17 09:03] BirenRathod commented on #115
@Gary-van-Breda
But not use/1/edit page.

[2019-09-17 09:06] BirenRathod commented on #115
@Gary-van-Breda
use edit page has resolved now too. I have increased memory back to its original which is 2048.

[2019-09-17 09:53] DavidRoy commented on #75
@Gary-van-Breda have you resolve the data duplication issue?

[2019-09-17 09:56] zrandle commented on #117
Yes it seems ok again now. Thanks.

[2019-09-17 10:05] DavidRoy commented on #117
Thanks, closing issue

[2019-09-17 10:05] #117 closed

[2019-09-17 10:09] DavidRoy commented on #116
@IanMiddlebrook annual report for all recorders/all sites works fine for me now.  Can you confirm and close issue if now resolved

[2019-09-17 10:43] IanMiddlebrook commented on #116
Thanks

[2019-09-17 10:43] #116 closed

[2019-09-17 14:50] Gary-van-Breda commented on #115
@BirenRathod
Well I agree that 2048 is huge. I think we had to bump it up for the annual summary (long time ago), but that form now does things very differently. Would it be worth setting it at 1024 as a start?

[2019-09-17 14:53] BirenRathod commented on #115
@Gary-van-Breda
I just changed it to 1024, see if that is working fine.

[2019-09-17 15:58] Gary-van-Breda commented on #115
I suggest we leave this issue open, and if everything is OK over the next few weeks, try dropping it further (512?), and then see how that goes.

I suspect the problem area on the user edit page is the "Where you record" dropdown, as this looks like it holds all locations visible to UKBMS (public, Transect, WCBS BC and BBS), including all the transect subsections, and currently totals just over 12

[2019-09-17 16:07] BirenRathod commented on #115
@Gary-van-Breda
I have decreased to 512 now. I found no problem on user/edit.
Yes, it would be good idea to get rid-off list of 129000 locations from the dropdown list, if possible.

[2019-09-17 20:22] DavidRoy commented on #115
@Gary-van-Breda we can remove the 'where you record' element of the account setting

[2019-09-17 20:24] DavidRoy commented on #111
This has been resolved.  The site now has https implemented.  Closing the issue

[2019-09-17 20:24] #111 closed

[2019-09-17 20:25] DavidRoy commented on #110
Closing as the background processing has caught up

[2019-09-17 20:25] #110 closed

[2019-09-18 09:31] IanMiddlebrook opened #118 "recorders unable to find ukbms.org/mydata"
Hi @Gary-van-Breda , @BirenRathod

Several recorders still seem to be having trouble getting on to the UKBMS website.
I believe this is a hangover from whatever happened over the weekend, but I'm struggling to respond usefully to the recorders as I'm unable to replicate their problems.

Typically, they just keep getting re-directed to https://www.ukbms.org/  and even clicking on the 'My Data' link

[2019-09-18 10:32] zrandle commented on #118
Many WCBS recorders had been in touch having the same problem. I think it could be their bookmarks or computers using a cached webpage. A lady managed to get in via internet explorer (not her usual browser) but could not get in via chrome. I got her to simply google ukbms my data and then she managed to get in via chrome...

[2019-09-18 10:38] BirenRathod commented on #118
@zrandle & @IanMiddlebrook
After migration, the UKBMS site has been now forced to use https. This is part of our policy of security. The people in the past have used this website, they need to clear the cookies on their regular browser otherwise they might end up with error page.

[2019-09-18 10:40] BirenRathod commented on #118
Also, if they have accessed the website on Friday, they still required to clear the cookies.

[2019-09-18 10:44] IanMiddlebrook commented on #118
Hi @BirenRathod   Would that explain ALL the problems mentioned above - ie. even if they click on an https: link, or they click on 'My Data' from the UKBMS home page, they still have problems?

Thanks, Ian

[2019-09-18 10:46] BirenRathod commented on #118
Yes, I have tried everything what you mentioned above and found no problem now.

[2019-09-18 10:48] IanMiddlebrook commented on #118
lol, well so have I and I have found no problem, but I'm asking on behalf of the recorders who are having problems.

[2019-09-18 10:49] BirenRathod commented on #118
@IanMiddlebrook
No problem. Please do mention to them as you are the primary contact person.

[2019-09-18 10:56] IanMiddlebrook commented on #118
Hi @BirenRathod
final query on this one:

a user is having trouble getting to https://www.ukbms.org/mydata/my-walks

She can login, which gets her to https://www.ukbms.org/mydata/user/28205
but when she clicks on 'My Walks' it takes her to https://www.ukbms.org/my-walks  and an error message (in other words, /mydata/ is missing from the link).
Again, I can't replicate this - but where could that p

[2019-09-18 11:03] BirenRathod commented on #118
One possibility is she must have accessed the page when error had triggered and resides in her cookies. So again solution is she needs to clear cookies from beginning. if she clears cookies last week or or month which might not work in this case.

[2019-09-18 14:46] IanMiddlebrook commented on #118
Thanks @BirenRathod
she has managed to sort this out by clearing her cookies as suggested.

[2019-09-18 14:46] #118 closed

[2019-09-27 14:45] IanMiddlebrook opened #119 "New species missing from annual summary tables"
Hi @Gary-van-Breda

A recorder has noted:
"I was excited to discover a couple of Wall Browns on the new Kerridge Hill transect on 14 September. I entered all the records that evening but when I looked just now at the Annual Summary for the transect in Reporting, the record is not there; all my other records for the same transect walk are present and correct, it's just the Wall Browns that are miss

[2019-09-27 15:11] Gary-van-Breda commented on #119
@johnvanbreda , There are errors on the job queue - are they related to this?

@IanMiddlebrook : with the recent changes to the annual summary builder, there is no longer a concept of a catch up. Each change is queued, and the previous situation where a max limit of 1000(?) between runs of the estimation process was exceeded no longer applies.

[2019-09-27 15:19] johnvanbreda commented on #119
@Gary-van-Breda there are 3 errors in the work queue which relate to the bug you've already fixed in the develop branch. I'll clear them when I deploy the code. The errors relate to locations 220749, 217921 and 216737.

[2019-09-27 15:21] Gary-van-Breda commented on #119
OK, ta.
I'll look for something else then. There are many other Wall Brown records.

[2019-09-28 22:36] Gary-van-Breda commented on #119
Update to the summary builder sent for deployment.

[2019-10-01 15:21] IanMiddlebrook commented on #119
Hi @Gary-van-Breda
It looks like the Wall Browns at Kerridge Bay are now showing.
Do you think this issue is completely resolved?

Thanks, Ian

[2019-10-17 12:40] #109 closed

[2019-10-17 12:41] #119 closed

[2019-10-17 12:43] #93 closed

[2019-10-17 12:44] DavidRoy commented on #81
Closing as holiday squares now up and running

[2019-10-17 12:44] #81 closed

[2019-10-17 13:35] BirenRathod commented on #113
@Gary-van-Breda & @DavidRoy
These files have now uploaded to live site.

[2019-10-24 11:02] zrandle opened #120 "slow site"
Hi there I am trying to download the data from the system but it keeps timing out. Please can the performance issue be re-visited?

Thanks Zoe

[2019-10-24 15:49] DavidRoy commented on #120
Which download is timing out?

[2019-10-24 15:50] zrandle commented on #120
it was the occurrences for WCBS. I got there eventually but had to try a couple of times.

Thanks

Zoe

[2019-10-24 15:53] zrandle commented on #120
actually it was samples.

records and visits would be better names for the downloads. Occurrences and samples takes a bit more thinking about!

[2019-10-25 09:41] DavidRoy commented on #120
I'll close this and pick up changes alongside other updates to the UKBMS website, including some of the recent developments for ABLE that can be brought across

[2019-10-25 09:41] #120 closed

[2019-10-25 12:50] IanMiddlebrook opened #121 "Choosing default species list"
Following up on a much-requested feature:

Would it be possible for recorders to set a default for their preferred Species List on the Walk Data Entry page?

At present, it defaults to 'All Species', but many/most recorders would prefer 'Species Known at This Site'. It would, however, be awkward to use that as an overall default (because it would be blank, and thus confusing, for new transects).

[2019-10-25 13:10] Gary-van-Breda commented on #121
This functionality was already present in the form, and I have just configured it.
On the user settings page there is a new "Preferences" vertical tab near the "What you record": in this there is a new field which will allow the user to choose which list is displayed.
@IanMiddlebrook : can you give this a test?

[2019-10-25 13:25] IanMiddlebrook commented on #121
Many thanks Gary,

This seems to be working for me.
There is just a mismatch between the two lists of options. Under Preferences there is an additional option of a Species list associated with the Branch I record in.  This option does not appear on the Walk Data Entry page (and if I select this option, I just end up with the Full Species List).

Thanks,

Ian

[2019-10-27 12:58] Gary-van-Breda commented on #121
On the User profile page, in approximately the same area as above, there is a "Your branch" vertical tab. In here the user can select the branch(es) that they records for. If there is a branch specific species list defined for the branch that the user has selected, then an extra option is added to the Walk Data Entry page.
Currrently, I think there is only one branch list defined, for Northern Ire

[2019-10-27 16:56] DavidRoy commented on #121
@Gary-van-Breda how do we configure branch lists?

[2019-10-28 10:44] IanMiddlebrook opened #122 "Summary Table Updates"
Hi @Gary-van-Breda

A recorder initially made a mistake when entering data, by entering it for the wrong date. When he noticed the error, he edited the walk by changing the date on the Walk Data Entry page.

Now, when he looks at the Annual Summary page, he finds that the date change has been picked up in the Raw Data table, but still appears in the wrong week under the Summary and Estimate tables

[2019-10-30 23:00] Gary-van-Breda commented on #122
This is a misunderstanding on my part - I did not pick up the fact that the date could be changed from the UKBMS front end.
Summary Builder Code altered and sent for deployment on the warehouse (see https://github.com/Indicia-Team/warehouse/pull/338). This includes a database update script.

[2019-10-30 23:03] Gary-van-Breda commented on #121
These are configured on the walk data entry form configuration, much like the common taxon list is.

[2019-10-31 14:48] Gary-van-Breda commented on #113
@IanMiddlebrook : can you review and hopefully close? There is now a difference between the 1->26 and -3->30 week totals for year 2018, Abbotts Hall Farm 1

[2019-10-31 14:51] Gary-van-Breda commented on #61
@DavidRoy : following our conversation this afternoon, do I do this now, or would you like to review the branch lists to use?

[2019-10-31 14:55] IanMiddlebrook commented on #113
Seems to be OK

Many thanks Gary

[2019-10-31 14:55] #113 closed

[2019-10-31 14:55] DavidRoy commented on #61
@Gary-van-Breda please implement the functionality on all data input forms, and configure with Northern Ireland lists.

I will review branch species lists with Ian

[2019-11-01 09:43] Gary-van-Breda commented on #122
@DavidRoy : when is the deadline for entry of all the 2019 data? @johnvanbreda I think we need to get the deployment done by then.

[2019-11-01 09:45] IanMiddlebrook commented on #122
The main deadline is/was 31st October, though there will still be more data entered up to the end of the year, after a gentle reminder. Branch Co-ordinators will be doing much of their checking/collating/validating over the next few weeks.

[2019-11-02 17:24] johnvanbreda commented on #122
@Gary-van-Breda I've deployed the summary builder changes.

[2019-11-03 15:13] Gary-van-Breda commented on #122
@IanMiddlebrook : the data fix changes have now worked their way through the system: the Killard Nature Reserve data has moved on the Annual summary.
Can you confirm you are happy, and hopefully close this issue?

[2019-11-03 15:15] Gary-van-Breda commented on #121
See #61

[2019-11-04 11:32] IanMiddlebrook commented on #122
Thanks Gary,  looks good to me.

Ian

[2019-11-04 11:32] #122 closed

[2020-01-03 15:18] Gary-van-Breda opened #123 "Holiday square flag not showing on WCBS-BC site data entry page"
The Holiday square attribute is specific to WCBS-BC squares. All other location attributes are shared across all 3 surveys (Transect, WCBS-BBS, WCBS-BC).

[2020-01-13 10:41] IanMiddlebrook opened #124 "Walks missing from Annual Summary Table"
Hi @Gary-van-Breda ,

A co-ordinator has noted a couple of 2019 walks missing from the Summary Table, although they appear in the Raw Data table.

The walks are samples 6879351 and 6879362, for Park Wood Chaffcombe, dated 13th and 20th September 2019.

The data were entered some time ago, but have been missed by the Summary Table builder.

I guess it's possible there are others walks in the same s

[2020-01-17 17:17] DavidRoy opened #125 "Upload historic UKBMS data"
@Gary-van-Breda as discussed, here is the format of the data to upload.  Can you confirm the process
@johnvanbreda need your view on implications for warehouse given the size of this import.  5.2 million occurrences!
@kitenetter for information
@IanMiddlebrook - for information.  Having considered this and discussed with Gary and Marc, I think we should import the historic (i.e. records not input

[2020-01-28 12:31] zrandle opened #126 "Allocated WCBS Holiday squares"
When a holiday square is allocated can the colour of it change to indicate it is allocated? Examples include the following squares: NJ0934, NJ1740, NN0785 Thanks Zoe

[2020-01-30 15:45] zrandle opened #127 "Squares to add to UKBMS Online"
Hi there

Please can these squares be added to the UKBMS online system under the WCBS-BC site type.
[CCC squares.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4134833/CCC.squares.xlsx)

[2020-01-30 23:35] Gary-van-Breda commented on #127
@zrandle : do you want the site names prefixed with the "CCC-" ?
I'll remove the grid reference as that is added automatically in various place, so would end up be duplicated.

[2020-01-30 23:43] Gary-van-Breda commented on #126
@zrandle : Do you want the text in the table to also indicate that a site is assigned to someone else?

[2020-01-31 11:08] zrandle commented on #127
Yes please CCC prefix

[2020-01-31 11:08] zrandle commented on #126
Yes please that would be helpful. Thanks Z

[2020-02-03 09:41] Gary-van-Breda commented on #127
Done.

[2020-02-03 12:00] zrandle commented on #127
Great, thank you.

[2020-02-03 22:56] Gary-van-Breda commented on #126
@BirenRathod

[ukbms_assign_transects.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4150600/ukbms_assign_transects.zip)

Can you unzip the attached file, and deploy the files as follows:

- the .php file should go into UKBMS iform client_helpers/prebuilt_forms directory, replacing the existing file
- the .js file should go into UKBMS iform client_helpers/prebuilt_forms/js dire

[2020-02-04 08:44] BirenRathod commented on #126
@Gary-van-Breda
These gone on to live now.

[2020-02-04 13:43] Gary-van-Breda commented on #126
@BirenRathod Thanks
@zrandle : deployed and checked. The key has been updated: red are yours, green are other peoples, blue are unallocated, and the grid underneath now mirrors this.

[2020-02-05 12:57] zrandle commented on #126
Great thanks :)

[2020-02-05 12:57] #126 closed

[2020-02-20 15:25] Gary-van-Breda commented on #125
Can I assume there is no overlap? i.e. no occurrences in the upload already exist in the database?

Stage 1 should be done separately, stage 2 & 3 done together within the same file.

Stage 1:
Site should either be the name used in the Warehouse, or the site code.
The temp, wind direction and Wind speed are all lookup lists, so the values in the old system will need to be mapped to the terms in th

[2020-02-20 15:31] IanMiddlebrook commented on #125
Overlap: Depends what data CEH are providing, but I'd be surprised if there was no overlap at all. I suspect some recorders have entered historic data of their own volition sothat they can make better use of the plots.

Stage 1: Sites must be identified by the Site Code (as there are several sites withe the same name, but Site Codes are unique.

[2020-02-20 15:38] DavidRoy commented on #125
Overlap: we will exclude data already in Indicia.  There will need to be a separate reconciliation of records that have changed in the UKBMS Oracle database but not replicated in Indicia.

[2020-02-28 09:34] DavidRoy opened #128 "load in additional WCBS-BTO squares"
New BBS squares to be added to the system...
SP0114
SP1234
ST7699
SO9526
SO9319
SO9723
SO7523
SP1835
ST8493
SO6415
SP2629
SO7408
ST7292
SO7225
SO7118
SO8625
SO8925
SO5201
SP1912
SO9811

[2020-03-02 14:06] DavidRoy commented on #125
@Gary-van-Breda

Here is the first samples (visits) file I attempted to load on the dev warehouse (via import .csv on http://devwarehouse.indicia.org.uk/index.php/sample)
.
[Visits 1973.txt](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4275769/Visits.1973.txt)

Here is what I set on the first screen:
![screen import 1](https://user-images.githubusercontent.com/2699478/75683370-e37

[2020-03-02 15:04] IanMiddlebrook opened #129 "consolidate two versions of Jubilee Country Park"
Hi @Gary-van-Breda

We've discovered that there are 2 transects on the system with the Site Code 1536. These have site ID's 2494 and 222720, but they are clearly the same transect (a new recorder has set up the second one without waiting to be linked to the original).

It would be good to re-allocate the 2019 samples from Site_ID 222720 to Site_ID 2494 and then remove 222720 from the system, befor

[2020-03-05 15:31] DavidRoy commented on #125
@Gary-van-Breda
Am getting further but still having issues. Now I can match all the attributes, after selecting Sample Method = Transect

For Lookup of existing records, I am selecting 'Location Record and Date'.

The import returns an error for each row of:
array_map(): Expected parameter 2 to be an array, object given

Any suggestions?!?

[2020-03-06 14:22] Gary-van-Breda commented on #125
@DavidRoy At this point, if you are uploading new data, do not set the existing record lookup. You don't need it, it has a performance impact, and that's where the error is.

[2020-03-06 15:30] DavidRoy commented on #125
@Gary-van-Breda but then a spatial reference or grid ref has to be supplied as part of the upload?  Or could I add a location ID to the upload file?

[2020-03-06 15:54] Gary-van-Breda commented on #125
@DavidRoy
No - that's for looking up existing sample records.
You need to change the mapping for "Location name" to lookup the location record - I think it is "Location (from controlled termlist)"

[2020-03-09 09:51] DavidRoy commented on #125
The options on the page for 'lookup of existing records' are:
![import options](https://user-images.githubusercontent.com/2699478/76201538-53d68d00-61eb-11ea-94b0-d18fcce0dfd9.png)

When selecting 'location record and date' the import still gives the error of 'array_map(): Expected parameter 2 to be an array, object given'

Here is the file i'm trying to import (saved as .csv version for uploading

[2020-03-09 14:20] Gary-van-Breda commented on #125
In this field ("Lookup of existing records": "Sample records") choose "Do not look up existing Records".

[2020-03-09 20:50] DavidRoy commented on #125
ok, am slowly making progress.  now am having problems with missing values for end_time, temperature, wind direction

Options are that these are set to non-mandatory fields or assign a missing value (e.g. -1 for temperature)

@Gary-van-Breda what's your advice on this.  The historic data has gaps

[2020-03-10 10:30] Gary-van-Breda commented on #125
For the end time: probably best to set to non-mandatory on the warehouse - though the settings are cached, so may not be possible to use immediately after being changed. The default cache timeout is 30minutes, though I don't know if this has been changed for warehouse1.
Temperature and Wind Speed: set all the empty values in the file to "Not recorded/no data".

For the Wind Direction, you need to

[2020-03-11 08:38] DavidRoy commented on #125
@Gary-van-Breda
The import is progressing.

Where is best location for checking the import via the annual-report report?
https://dev-butterfly-monitoring.pantheonsite.io/?

[2020-03-11 09:08] DavidRoy commented on #125
@Gary-van-Breda when importing the occurrences for stage 2/3 I have adopted the location name for import.  Matching 'Location (from controlled list)'

But the import throws up this error for every occurrence:
Sname: Could not find "Monks Wood NNR - S2" in Location Name

I think this is because we don't have the section locations in the warehouse.  So maybe need a step to create these?

[2020-03-11 09:13] IanMiddlebrook commented on #125
I think there are 2 different versions of Section locations in the system. Most site are like "Monks Wood NNR - S2", but some of the older/original transect are only identified by their Site Code.Section no - eg. 2173.5  ...

This seems to depend on the state of the GPS file when the routes were uploaded.

[2020-03-11 09:34] DavidRoy commented on #125
You are right.  Monks wood sections are in as '4.1' etc.

@IanMiddlebrook what is your preference for site/section naming as we should adopt a consistent approach.  now is the time to put some dedicated effort into this

I suggest:

Name:
Monks Wood NNR
Monks Wood NNR S1
Monks Wood NNR S2 etc

Code:
4
4.1
4.2

[2020-03-11 09:53] kitenetter commented on #125
We get regular complaints from verifiers on iRecord that the transect site names are inconsistent and that many of them just show the rather anonymous codes with no actual site name, so if there is anything that can be done to address this across the board for UKBMS that would go down very well.

[2020-03-11 09:57] DavidRoy commented on #125
Yes, the location name is what is shown to iRecord so my suggestion would address this requirement.   The code is then an internal UKBMS system that is not widely shown/used

[2020-03-11 10:15] IanMiddlebrook commented on #125
Yes, much prefer to see the name of the site identified alongside the section number, rather than a
 site code.

[2020-03-11 10:17] IanMiddlebrook commented on #125
Remembering only that some Site names are duplicated, whereas Site Codes are unique, so the code is still required to properly identify a unique section.

[2020-03-11 10:54] DavidRoy commented on #125
To summarise, the imports worked ok.   Next steps:
1. Harmonise location names/codes.  I think we should aim to make the location names unique as well as the codes. @IanMiddlebrook - do you agree?
2. Match species names to those used in the UKBMS taxon list. We should probably also review this nomenclature given recent changes
3. import against location names and species names

[2020-03-11 11:17] Gary-van-Breda commented on #125
Everything above matches  my understanding.
For testing: if it has gone into the devwarehouse for UKBMS, it should appear in https://dev-ukbms8.pantheonsite.io/annual-summary?locationID=1973&caching=false&year=1973&userID=all
, assuming all the job queue has cleared.

[2020-03-11 11:22] Gary-van-Breda commented on #125
Sorry url above is wrongs:
https://dev-ukbms8.pantheonsite.io/annual-summary?locationID=all&caching=false&year=1973&userID=all

[2020-03-11 11:23] IanMiddlebrook commented on #125
Hi @DavidRoy
I agree it would be good to make location names unique, but htere may be practial difficulties with that to overcome.
Firstly, for various reasons, I'm not sure that there is consistency with location names across all databases - ie. the names in Oracle may be slightly different to those in our Access database, and different again to those names on ukbms.org/mydata
Secondly, when User

[2020-03-11 11:24] DavidRoy commented on #125
@Gary-van-Breda
Presumably need to be logged in to access:
https://dev-ukbms8.pantheonsite.io/annual-summary?locationID=all&caching=false&year=1973&userID=all

[2020-03-11 11:29] Gary-van-Breda commented on #125
Yes.
However it looks like the section level samples haven't attached to the main samples. Can you post the file used for stage 2/3?

[2020-03-11 11:33] DavidRoy commented on #125
[VisitCounts 1973.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4317978/VisitCounts.1973.zip)

[2020-03-11 11:52] DavidRoy commented on #125
@IanMiddlebrook I think the steps are:
1. consolidate the ORACLE - Indicia site naming, removing any duplicates
2. then your internal Access database should match this location naming
3. for new sites each year, we'll need a process of review to ensure the names remain unique

Does that sound workable?

[2020-03-11 11:55] Gary-van-Breda commented on #125
The visits file needs either the parent samples' Indicia ID or the parent samples' External Key (as loaded in the Visits file), in addition to what it has currently got.

[2020-03-11 11:57] DavidRoy commented on #125
ok, will incorporate in next test

[2020-03-11 11:57] Gary-van-Breda commented on #125
The Indicia location form is undergoing a review at the moment as part of the move to Drupal 8 - we could add a uniqueness check into it, to ensure only unique location names are chosen.

[2020-03-11 11:57] IanMiddlebrook commented on #125
That sounds OK @DavidRoy, except that I presume Step 1 would involve 'renaming' duplicates rather than 'removing' them?
In recent years, a couple of co-ordinators have renamed sites online in order to clarify their location, so perhaps start by use the Indicia name as default where possible.

[2020-03-11 12:05] Gary-van-Breda commented on #125
We also need a 4th Step: we need to update the Indicia section locations so their location names match the format "&lt;site name&gt; - &lt;section number&gt;"

[2020-03-11 12:59] DavidRoy commented on #125
@IanMiddlebrook
"In recent years, a couple of co-ordinators have renamed sites online in order to clarify their location, so perhaps start by use the Indicia name as default where possible."

Yes, I am increasingly of the view that the Indicia dataset is the master copy

[2020-03-11 12:59] DavidRoy commented on #125
@Gary-van-Breda
"We also need a 4th Step: we need to update the Indicia section locations so their location names match the format "<site name> - <section number>""

Yes, I was including section names as part of the harmonisation.  Standardising to "&lt;site name&gt; - &lt;section number&gt;""

[2020-03-20 15:14] zrandle commented on #127
Hi, I've checked this again and we need the grid reference as part of the site name as there are two called Speen. There are two squares at Speen and they have different grid refs so the grid ref is essential to help differentiate. If this could be done asap that would be great - recorders will be starting to set themselves up early next week. Cheers Zoe

[2020-04-04 19:17] DavidRoy commented on #125
@Gary-van-Breda have uploaded some test data, samples and occurrences for 1973.

Would like to test via:
https://dev-ukbms8.pantheonsite.io/annual-summary?locationID=all&caching=false&year=1973&userID=all

but get an error message:
The website encountered an unexpected error. Please try again later.

InvalidArgumentException: Field field_background_image is unknown. in Drupal\Core\Entity\ContentEn

[2020-04-04 19:35] DavidRoy commented on #125
@Gary-van-Breda have also hit a problem with the occurrence import not recognising taxa_taxon_list_ids

Is this related to importer bug?
https://github.com/Indicia-Team/warehouse/issues/345

[2020-04-06 16:02] johnvanbreda commented on #125
Indicia-Team/warehouse#345 is now fixed, but I'm not sure this is the same issue.

[2020-04-16 13:20] DavidRoy commented on #125
@Gary-van-Breda is it possible to get the annual summary page working so I can confirm that uploads are working.
https://dev-ukbms8.pantheonsite.io/annual-summary?locationID=all&caching=false&year=1973&userID=all

error message:
_The website encountered an unexpected error. Please try again later.

InvalidArgumentException: Field field_background_image is unknown. in Drupal\Core\Entity\ContentEnti

[2020-04-16 14:23] Gary-van-Breda commented on #125
@DavidRoy : Annual summary now working on DEV.
It looks like there was an update for the theme from Julian(?) a couple of weeks back that assumes there is a background image field on each node. I have made this optional.

[2020-04-16 14:36] Gary-van-Breda commented on #125
That said, there is nothing for 1973: I need to investigate

[2020-04-16 16:18] DavidRoy commented on #125
Thanks.  The only data I have loaded is:

external key | taxa_taxon_list_id | sample_id | location | Date | Abundance Count | Record_status
-- | -- | -- | -- | -- | -- | --
2097005 | 283104 | 5679447 | 4.7 | 31/07/1973 | 1 | V
2097006 | 283134 | 5679447 | 4.7 | 31/07/1973 | 21 | V
2097007 | 283046 | 5679447 | 4.7 | 31/07/1973 | 1 | V

Which seems ok in the warehouse:
http://devwarehouse.indicia.or

[2020-04-16 21:54] Gary-van-Breda commented on #125
@DavidRoy This has uploaded OK in of itself, but it has not linked to any supersample (walk level). Could you attach the 2 files uploaded?

[2020-04-17 07:25] DavidRoy commented on #125
@Gary-van-Breda here are the files.

[UKBMS VisitCount Test Load 2020 04 17.txt](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4491545/UKBMS.VisitCount.Test.Load.2020.04.17.txt)

[UKBMS Visits Test Load 2020 04 17.txt](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4491546/UKBMS.Visits.Test.Load.2020.04.17.txt)

[2020-04-17 07:46] DavidRoy commented on #125
Have just tried again, to confirm the import settings.  This document gives the options I used.
[UKBMS import documentation.docx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4491623/UKBMS.import.documentation.docx)

[2020-04-20 16:58] zrandle commented on #127
Hi

Please can I have an update on this?

Thanks Z

[2020-04-22 13:41] Gary-van-Breda commented on #125
There are a couple of changes required to the data entered on the second pages of both the sample and occurrence uploads. I'll provide an updated version of the import document after the following change is made:
A change is required to the warehouse: when the taxon taxa list id is provided, it is still expecting the Taxon or species name itself to be provided.

[2020-04-22 13:48] DavidRoy commented on #125
Thanks. Is this quick to resolve?

[2020-04-22 14:47] Gary-van-Breda commented on #125
I've done the change - I just need to test it.

[2020-04-23 09:13] Gary-van-Breda commented on #127
Now fixed: I have added the SREF to the site names as follows: "CCC- Speen (SU8499)" and "CCC- Speen (SU8300)".
All Sections renamed.
All sections for SU8300 moved to the correct site - previously they were attached to the SU8499 site: this was because the two sites had the same name, and the data load picked the wrong one.

[2020-04-23 11:19] Gary-van-Breda commented on #128
Done.

[2020-04-23 15:30] DavidRoy commented on #125
@Gary-van-Breda any progress on this?

[2020-04-24 14:03] Gary-van-Breda commented on #125
Sent to @johnvanbreda to review / merge / deploy code: initial deployment should be to devwarehouse.

[2020-04-24 14:21] DavidRoy commented on #125
@johnvanbreda can I bump this up as it's holding up the loading

[2020-04-24 14:31] Gary-van-Breda commented on #125
@DavidRoy New version of document: note this requires the deployment of the code as at least one option is not available upto this point:
[UKBMS.import.documentation.asd.docx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4529487/UKBMS.import.documentation.asd.docx)

[2020-04-24 15:02] johnvanbreda commented on #125
Ok - a possible typo spotted during review before merge @Gary-van-Breda.

[2020-04-24 18:03] Gary-van-Breda commented on #125
@DavidRoy : that has now been deployed onto the devwarehouse, if you'd like to test.

[2020-04-24 18:13] DavidRoy commented on #125
Thanks. Will test tomorrow

[2020-04-25 16:10] DavidRoy commented on #125
@Gary-van-Breda still having issues.  I followed your new instructions.  Samples loaded fine, but hit issues with occurrences.  **Please could you investigate as a priority as ideally this loading starts in the next week**

For occurrence import, I get the problem description message = sample_id: Could not find "5679859" in Sample Id

This results from your instructions to link 'Sample Id' (which

[2020-04-25 22:03] Gary-van-Breda commented on #125
I agree the samples loaded fine initially.
When the occurrences were loaded in the first time, with the incorrect mapping, that "'Sample Id' = Sample.id" caused each section sample to be loaded over the top of the walk sample, corrupting it. As well as loading all the occurrences for a walk into the one sample, it converted that sample from a Transect method to a "Transect section" type, pointing

[2020-04-26 17:22] DavidRoy commented on #125
Glad to know it was my incompetence.

I've loaded in all samples/visits from 1976
and associated occurrences for location_id = 1977, code = 4, Monks Wood NNR

The loading all went through ok.

@Gary-van-Breda does all look in order?

Should I expect the data to appear at:
https://dev-ukbms8.pantheonsite.io/annual-summary?taxon_list_id=false&caching=false&year=1976&locationID=all&userID=all

[2020-04-27 09:07] Gary-van-Breda opened #130 "Drupal 8 site: composer issue."
When I do a "composer update" after cloning the ukbms d8 site from pantheon (twice in order to get to a stable state), it deletes / upgrades a whole set of packages. This implies that the code tree is not in step with the composer files.
Whilst this is not really an issue, there are 6 Drupal modules which are removed which are enabled on the DEV or TEST sites: this is not good.

Item | Used in DEV

[2020-04-27 09:15] BirenRathod commented on #130
@Gary-van-Breda
Please do not run composer update for Drupal's contrib modules. They should delete as they get modules update from BRC upstream which is a master repository for all Drupal 8 base BRC sites on Pantheon. if you need a update, please let me know. If you update on ukbms site level, it will create massive discrepancy. It took me three weeks to resolve that.

[2020-04-27 12:16] #130 closed

[2020-04-27 16:56] DavidRoy commented on #125
Data now appearing on annual summary page as expected.  Will start the update on the live site with data from 1973 - 1975 as next test.  Thanks @Gary-van-Breda for resolving issues.  Will retain this issue but now assigned to me

[2020-04-29 13:35] DavidRoy commented on #125
@Gary-van-Breda @johnvanbreda
Does the importer on warehouse1 need to be brought in line with the one the development warehouse?

When trying to import UKBMS sample data on warehouse 1, there is not the option to link samples to [Location Indicia ID (from controlled termlist)] for example

[2020-04-29 14:06] Gary-van-Breda commented on #125
Yes...
@johnvanbreda : can we have the branch merged and deployed to warehouse1 (I assume as an official release), thanks.

[2020-05-04 07:52] DavidRoy commented on #125
@johnvanbreda bumping this one so we can make progress with the data loading

[2020-05-04 08:49] johnvanbreda commented on #125
Done.

[2020-05-04 10:18] DavidRoy commented on #125
Thanks John!

@Gary-van-Breda. For info, I added a new sample attribute (reliable_visit) to warehouse1 to match the setup on devwarehouse.

Also set [end-time] as not required for the UKBMS transect survey
http://warehouse1.indicia.org.uk/index.php/attribute_by_survey/edit/844?type=sample

[2020-05-11 11:38] DavidRoy opened #131 "Hide 'reliability' field on Drupal8 input-data form"
https://test-ukbms8.pantheonsite.io/input-data

Field for ‘reliability’ to be hidden on form as only for admin use
![reli](https://user-images.githubusercontent.com/2699478/81557769-6eacb580-9384-11ea-9a37-25e8ffbe1b6e.png)

[2020-05-11 12:58] DavidRoy opened #132 "Improve page layout on input-data form as part of Drupal 8 migration"
Currently there is a lot of blank space, e.g. short fields spanning the page width.  Could a page be formatted to include most/all the information on the screen without needing scrolling?

[2020-05-11 15:34] DavidRoy opened #133 "Site Details page on Drupal 8 - is 'Country' needed as a drop-down option?"
The spatial information is best coming from the site location information?

Suggest this field is removed from the form.

@IanMiddlebrook - do you agree?

https://test-ukbms8.pantheonsite.io/site-details

[2020-05-11 15:35] DavidRoy opened #134 "Site Details page, formatting bug for 'Confidential' field Drupal8 version"
https://test-ukbms8.pantheonsite.io/site-details

Formatting bug
![pic2](https://user-images.githubusercontent.com/2699478/81580436-5a2ce500-93a5-11ea-89af-7459658cdf5f.png)

[2020-05-11 15:37] DavidRoy opened #135 "Site Details page additional notes, Drupal 8 version"
https://test-ukbms8.pantheonsite.io/site-details

When creating a new site.

The [Site Code:] field is greyed out.  An explanation note is needed to explain that this code will be assigned automatically

The [Overall length(m)] field is greyed out.  An explanation note is needed to explain that the length will be calculated once the transect route is entered.

[2020-05-11 15:41] DavidRoy opened #136 "D8 Saving new site using Drupal 8 form hangs"
https://test-ukbms8.pantheonsite.io/site-details

Details entered and then press save, popup says that site is being created but then page hangs
![pic3](https://user-images.githubusercontent.com/2699478/81581154-45048600-93a6-11ea-98d1-2d25ec16c2db.png)

[2020-05-11 15:43] DavidRoy opened #137 "Broken link on Drupal8 site assignment page"
https://test-ukbms8.pantheonsite.io/node/282

2.	download link takes back to home page, e.g.
https://test-ukbms8.pantheonsite.io/iform/ajax/ebms_transects_allocation/downloadSiteAllocations/282?location_type_ids=777&attribute_id=58&region_location_type_id=1103

[2020-05-11 15:52] DavidRoy opened #138 "Warning note in input-data page on Drupal 8 version"
https://test-ukbms8.pantheonsite.io/input-data?sample_id=5624248

After entering first page information, then selecting 'Next' the following page has warning messages:
![pic4](https://user-images.githubusercontent.com/2699478/81582234-b264e680-93a7-11ea-80d5-711057d593d5.png)

[2020-05-11 15:54] DavidRoy opened #139 "Drupal8 Input data form. Species list search box too small"
https://test-ukbms8.pantheonsite.io/input-data?sample_id=5624248

On species entry grid page, species search box too small
![pic5](https://user-images.githubusercontent.com/2699478/81582444-fb1c9f80-93a7-11ea-9ec3-a5e561af4c15.png)

[2020-05-12 08:15] IanMiddlebrook commented on #133
Country or County?

I only see a County field. I find this useful when a recorder has set up a new site, so that I can quickly see which co-ordinators need to be linked up.

[2020-05-12 08:48] DavidRoy commented on #133
Sorry, I meant County.  If you find it useful we'll keep it in.

[2020-05-12 08:48] #133 closed

[2020-05-12 08:52] IanMiddlebrook commented on #133
If it could be generated automatically from the central grid ref, that would be just as good (more reliable).
But that might be unnecessary levels of sophistication when the recorder can just select it.

[2020-05-12 15:41] Gary-van-Breda commented on #133
The County field is a termlist, and is not connected to any location records. It has no concept of the geography associated with the county, so would require quite a bit of work in order to auto fill-in.

[2020-05-12 17:34] DavidRoy commented on #133
Thanks for confirming.  We therefore leave 'as is'

[2020-05-13 12:44] Gary-van-Breda commented on #131
How is this field going to be used?

[2020-05-13 12:54] DavidRoy commented on #131
As a flag for admin to use when transect walks don't meet the criteria - e.g. when the weather criteria were not met.

Can the flag be hidden from general users but available to those with admin access?

[2020-05-14 11:08] Gary-van-Breda commented on #123
This is fixed in the Drupal 8 version of the form.

[2020-05-14 11:10] #123 closed

[2020-05-14 12:55] DavidRoy opened #140 "Drupal8 site Annual summary page - Site Type option box too small"
https://test-ukbms8.pantheonsite.io/annual-summary

![pic6](https://user-images.githubusercontent.com/2699478/81936695-8be2bd80-95ea-11ea-9ae5-3272608cbd95.png)

[2020-05-14 15:32] kitenetter opened #141 "Zero abundance records"
We have had a few enquiries from verifiers on iRecord about the 'strikethrough' records that appear on their verification pages, e.g.:

![image](https://user-images.githubusercontent.com/16039111/81953655-db7fb400-95ff-11ea-94de-8137b555814b.png)

The strikethrough indicates that the record has an abundance of zero, i.e. it is a record of absence rather than of presence. Verifiers usually have to

[2020-05-14 15:37] DavidRoy commented on #141
The ukbms should not generate zero counts.  I'll investigate these IDs.  It is possible a zero is created if a count is initially entered and then deleted/set to zero

[2020-05-14 15:40] DavidRoy commented on #141
@Gary-van-Breda do you know why the UKBMS input form should create a record with the [zero abundance] set to true
![pic7](https://user-images.githubusercontent.com/2699478/81955052-880e6580-9601-11ea-8d44-02890f139f54.png)

[2020-05-15 07:58] Gary-van-Breda commented on #141
There were some changes done way back in 2013 (2013-08-09): these clarified the processing of zero abundance records for UKBMS:

- If an occurrence field is blank, no occurrence is recorded.
- If an occurrence field is zero "0", a zero abundance record is created.

It has been like this ever since.
Do you wish me to alter this so that zeroes are treated like blanks?

[2020-05-15 08:00] DavidRoy commented on #141
yes please.  Zeros should be treated like blanks

[2020-05-15 08:13] DavidRoy commented on #131
@Gary-van-Breda can the reliability field be hidden on the current live site:
https://www.ukbms.org/mydata/input-data

Ideally as soon as possible now the scheme has started up again and we don't want to confuse recorders

[2020-05-15 08:13] Gary-van-Breda commented on #141
Can this wait until the Drupal 8, or do you want this in Drupal 7?

[2020-05-15 08:16] DavidRoy commented on #141
Drupal 8 is fine.  We will also need to remove existing zero-abundance records from the UKBMS in the database

[2020-05-15 08:27] Gary-van-Breda commented on #131
I've left the attribute attached to the survey, but made it so that it is restricted to the "Unknown" sample method: this has removed it from the data entry page.
This attribute was present only on the Transect survey, not either of the WCBS ones.

[2020-05-15 08:34] DavidRoy commented on #131
Thanks.  Will this affect the data import for survey = 'UKBMS Transect' where this attribute is needed?

[2020-05-15 12:35] DavidRoy commented on #131
I linked the attribute back to the 'Transect' survey to enable imports.  Will revert when done.

[2020-05-18 08:27] Gary-van-Breda commented on #141
I've done a tweak to a couple of the reports to address a performance issue with this form. @birenrathod or @johnvanbreda : can I have the master branch of the brc_reports deployed onto warehouse1? Thanks (two new reports which will replace ones on the main warehouse reports module)

[2020-05-18 08:37] BirenRathod commented on #141
@Gary-van-Breda
I pulled your reports now.

[2020-05-18 13:08] Gary-van-Breda commented on #131
Done on Drupal 8 version of the form. Deployed to Test. Permission set so that normal recorders can see it, but branch managers and admin users etc can.
I was having some problems with the performance of the page, so a couple of updated reports have been deployed.
Also have tweaked the CSS so that the checkbox is not overlayed on the label.

[2020-05-18 13:15] Gary-van-Breda commented on #132
Deployed to Test.
It is responsive. For full size screens the transect and date share a line, and each attribute takes a third of the width. As the screen shrinks, the attributes then take half the width, before on small screens each takes up the full width.
As the Notes are a text box, I've left that as full width.

[2020-05-18 13:17] Gary-van-Breda commented on #138
Fixed, on Test.

[2020-05-18 13:18] Gary-van-Breda commented on #139
Fixed, on Test.

[2020-05-18 13:21] Gary-van-Breda commented on #141
Code now fixed, on Test. New form configuration flag set to not allow zero abundance records.
The data fix will have to wait until after D8 goes live.

[2020-05-20 08:12] Gary-van-Breda commented on #140
Done, deployed to UKBMS8 test.
I've also made the look and feel of the whole filter bar consistent, and tidied up the Year control.

[2020-05-21 08:21] Gary-van-Breda commented on #137
Fixed and deployed to Test.
Form bootstrapped. Bug fixed in filtering of site drop down linked to branch.

[2020-05-21 08:37] Gary-van-Breda commented on #134
Fixed and deployed to Test

[2020-05-21 09:56] DavidRoy commented on #131
thanks

[2020-05-21 09:57] DavidRoy commented on #132
Works well, thanks

[2020-05-21 09:58] DavidRoy commented on #134
Thanks

[2020-05-21 09:58] #134 closed

[2020-05-21 10:02] DavidRoy commented on #137
Thanks

[2020-05-21 10:02] #137 closed

[2020-05-21 10:05] DavidRoy commented on #138
Thanks

[2020-05-21 10:05] #138 closed

[2020-05-21 10:06] IanMiddlebrook commented on #131
Hi @DavidRoy @Gary-van-Breda

If this 'reliable visit' box is going to remain on the live site for the time being (for transect data entry), could it at least have a note for recorders to ignore it?

I'm getting a few queries about this field now that we're back in action.

Thanks, Ian

[2020-05-21 10:07] DavidRoy commented on #139
Thanks

[2020-05-21 10:07] #139 closed

[2020-05-21 10:10] DavidRoy commented on #140
Thanks

[2020-05-21 10:10] #140 closed

[2020-05-21 10:12] DavidRoy commented on #52
Closing as now implemented on new annual report page. Suggest other reports where required are raised as new issues

[2020-05-21 10:12] #52 closed

[2020-05-21 10:14] DavidRoy commented on #48
@IanMiddlebrook please review on Drupal 8 version on test

[2020-05-21 10:14] DavidRoy commented on #124
@IanMiddlebrook is this still an issue?

[2020-05-21 10:15] DavidRoy commented on #115
Closing now as original issue resolved

[2020-05-21 10:15] #115 closed

[2020-05-21 10:17] IanMiddlebrook commented on #124
@DavidRoy  yes

[2020-05-21 10:18] #128 closed

[2020-05-21 10:19] #127 closed

[2020-05-21 10:47] DavidRoy commented on #58
Closing as the general change is made

[2020-05-21 10:47] #58 closed

[2020-05-21 10:48] DavidRoy commented on #51
@IanMiddlebrook bump

[2020-05-21 11:03] IanMiddlebrook commented on #51
Hi @DavidRoy
I've just tested this by registering a new account.
I was amazed to receive an email with the following message:
"Thank you for applying for an account. Your account is currently pending approval by the site administrator.
Once it has been approved, you will receive an e-mail containing further instructions."

I then checked the list of Users and found that all the most recent members

[2020-05-21 11:07] DavidRoy commented on #51
Sorry, likely an unintended consequence of stopping/starting the scheme :-(

We'll re-instate asap

Did you test on ukbms.org/mydata?
or the test site?

[2020-05-21 11:08] IanMiddlebrook commented on #51
on the live site at ukbms.org/mydata

[2020-05-21 13:12] Gary-van-Breda commented on #51
There are complications around the registration of users during the migration period to Drupal 8.

[2020-05-21 13:26] IanMiddlebrook commented on #51
well that's fine, as long as I know that I need to approve new users.

[2020-05-21 14:53] DavidRoy commented on #51
@Gary-van-Breda having discussed with @IanMiddlebrook, we'll continue to allow registrations/allocations on the drupal 7 (www.ukbms.org/mydata) site.  When the drupal 8 site is ready we'll then need to do another user migration (full or partial) before completing the switch.

Can you turn the relevant functionality back on for www.ukbms.org/mydata and then close this issue

[2020-05-22 07:09] Gary-van-Breda commented on #51
www.ukbms.org/mydata changed so that visitors can register themselves.
I'll raise another issue to capture the user migration for D8

[2020-05-22 07:09] #51 closed

[2020-05-22 07:11] Gary-van-Breda opened #142 "D8 migration: Users"
Currently the users are allowed to self register for UKBMS. When we come to switch on the D8 version, we must make sure that all newly registered users are migrated over.

see https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/51#issuecomment-632130897

[2020-05-22 07:15] DavidRoy opened #143 "D8 Holiday squares page errors"
https://test-ukbms8.pantheonsite.io/holiday-squares

The page gives the error message:
×Error message
Notice: Array to string conversion in lang::applyArgs() (line 108 of modules/custom/iform/client_helpers/lang.php).

There is no 'Find place' control above the map.  Instead there is text:
The georeference lookup control requires an API key configured for the place search API in use.

[2020-05-22 07:19] DavidRoy opened #144 "D8 Site details page - zoom out to extent of transect route"
https://test-ukbms8.pantheonsite.io/site-details-map?location_id=1977

Currently the map zooms to the transect centroid.
![pic10](https://user-images.githubusercontent.com/2699478/82641856-ed1b1a00-9c04-11ea-83de-cb3b54fa2fdf.png)

It should zoom to the extend of all the spatial information, e.g. when the section routes are available
![pic11](https://user-images.githubusercontent.com/2699478/82641

[2020-05-22 07:21] DavidRoy opened #145 "D8 Site details - how to add a route to a site?"
This site has no route, but it is not clear how one is added by the user or admin?
https://test-ukbms8.pantheonsite.io/site-details?id=2511

[2020-05-22 07:25] Gary-van-Breda commented on #131
@BirenRathod Can we have the following file unzipped and deployed into the iform/client_helpers/prebuilt_forms directory on the Live Drupal7 UKBMS site?

[ukbms_sectioned_transects_input_sample.zip](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4666642/ukbms_sectioned_transects_input_sample.zip)

Thanks

[2020-05-22 07:25] DavidRoy commented on #132
Suggested change to make page more logical.
Two column layout with:
Site name | Date
Start time | End time
% sun | temperature
Wind speed | wind direction
Reliability [only shown for admin)
Notes

[2020-05-22 07:29] DavidRoy opened #146 "D8 Walk entry page - move %sun row above data grid"
https://test-ukbms8.pantheonsite.io/input-data?sample_id=5552216

%sun columns are better placed below 'Species sort order options' and above the data grid column headings (S1, S2 etc).

[2020-05-22 07:38] DavidRoy opened #147 "D8 Section plot and year-by-year index plot: change text colour"
https://test-ukbms8.pantheonsite.io/section-plot
https://test-ukbms8.pantheonsite.io/year-plot

Red/orange text on a blue/purple background does not work well.  Maybe change to blank or white?

[2020-05-22 07:42] DavidRoy opened #148 "D8 branch functionality not working?"
When masquerading as a user with role = Branch Co-ordinator
https://test-ukbms8.pantheonsite.io/branch-sites-list
Does not show all sites in branch

https://test-ukbms8.pantheonsite.io/branch-walks?year=2019
Does not show all walks in branch

[2020-05-22 07:44] DavidRoy opened #149 "D8 Annual summary - option to have hover-over information text"
https://test-ukbms8.pantheonsite.io/annual-summary

The explanatory text takes up a lot of room.  Could this text be put in hover-over information text, linked from 'information about this report' text?

[2020-05-22 07:59] DavidRoy opened #150 "D8 input-data form not working corrected on tabs for moths, dragonflies, other"
e.g. https://test-ukbms8.pantheonsite.io/input-data?sample_id=5552216
click on moths and the list includes ladybirds, orthoptera, mammals etc
![pic1](https://user-images.githubusercontent.com/2699478/82645257-80a31980-9c0a-11ea-8bc6-ac40a7cdda30.jpg)

Should work as on old site, https://www.ukbms.org/mydata/input-data?sample_id=5552216
moths just gives moths
![pic2](https://user-images.githubuserc

[2020-05-22 08:12] Gary-van-Breda commented on #136
I can't reproduce this error - I've tried with admin and masqueraded as DavidRoy.
Can you confirm which browser you are using?
Can you try again, and if it happens again, Press F12 and check if there are any console errors?

[2020-05-22 08:17] Gary-van-Breda commented on #135
Fixed and deployed to Test.

[2020-05-22 08:28] DavidRoy commented on #136
I'm using Chrome. I cleared the cookies. Tried the following.
1. masqueraded as user = DavidRoyTest
2. Went to create a new Transect site. https://test-ukbms8.pantheonsite.io/site-details?location_type_id=777
3. Unable to set site name or grid reference (by clicking on map)
![pic12](https://user-images.githubusercontent.com/2699478/82647667-73882980-9c0e-11ea-9949-775ab1f46178.png)

F12 shows a co

[2020-05-22 08:28] Gary-van-Breda commented on #132
@DavidRoy : Where do you want the Recorder name?

[2020-05-22 08:28] BirenRathod commented on #131
@Gary-van-Breda
It has gone one live.

[2020-05-22 08:30] DavidRoy commented on #132
Sorry, my mistake:
Transect name
Recorder name | Date
Start time | End time
% sun | temperature
Wind speed | wind direction
Reliability [only shown for admin)
Notes

[2020-05-22 08:37] DavidRoy commented on #136
As admin, the page works fine.  Although site did not appear in list of https://test-ukbms8.pantheonsite.io/my-sites

Should a new site be automatically assigned to the user who created it?

[2020-05-22 08:39] DavidRoy opened #151 "D8 Annual summary - not working as previous version"
The D8 version works in different ways to the D7 version
@IanMiddlebrook has confirmed the expected behaviour as defined below...

**As a basic user:**
Filter by Recorder should have 2 options: My Data (default), All Recorders
When they select ‘My Data’ then Filter by Site should just list their sites and ‘combine data for all your sites’,
when they select ‘All Recorders’ then Filter by Site shoul

[2020-05-22 08:40] Gary-van-Breda commented on #136
For normal users, the site is automatically assigned to the creator. For Admins and branch managers, the assignment is not automatic, and has to be done manually.

[2020-05-22 08:41] Gary-van-Breda commented on #131
Live UKBMS configured to hide the reliability attribute for all but people with "region coordinator" permission

[2020-05-22 08:45] DavidRoy commented on #136
Thanks.  The remaining issue is setting up a new site for a normal user in that case?
@IanMiddlebrook can you test setting up a new site

[2020-05-22 09:31] Gary-van-Breda commented on #151
This form has benefitted from some further development curtesy of ABLE/EBMS. I'll go through and work out the delta, and you can decide if you want to keep the changes for UBMS.

[2020-05-22 09:47] IanMiddlebrook commented on #131
Thanks @Gary-van-Breda ,
As far as I can see, the 'reliable visit' box is only seen by 'Admin' users on the live site (which is ideal).
On the Drupal 8 version it can be seen by Admin and Branch Co-ordinators. Branch Co-ordinators don't need to see this box.

BW, Ian

[2020-05-22 10:30] Gary-van-Breda commented on #131
Now switched to Admin only on D8 version

[2020-05-22 10:40] IanMiddlebrook commented on #136
I've tried to set up a new Site, but it just hangs after I click on Save:
![image](https://user-images.githubusercontent.com/24699793/82659371-7e4bba00-9c20-11ea-8211-df74eb5956c5.png)

The first problem I noticed is this instruction: "**Use the search box** to find a nearby town or village, then drag the map to pan and click on the map to set the centre grid reference of the transect. Alternative

[2020-05-22 11:49] IanMiddlebrook commented on #131
Thanks

[2020-05-22 11:49] #131 closed

[2020-05-25 08:18] Gary-van-Breda commented on #148
It looks OK to me, in that the branch functionality is the same as the D7 version.
UKBMS is different to ABLE, in that each location in a branch has to be assigned individually to the branch coordinator at a branch level. ABLE handles the assignment through the scheme: there is no equivalent field on a location to do this with. We would need to create a field similar to the ABLE country field to h

[2020-05-25 15:24] Gary-van-Breda commented on #136
@DavidRoy @IanMiddlebrook I've set the AjaxProxy passthrough permission for all authenticated users (not just admin): could you try again?

The search box issue is due to the fact that the Google Search API keys are tied to the URL - in this case ukbms.org. The pantheon Dev and Test sites use different URL domains - so this will not work until we go live, unless someone (e.g. @BirenRathod) is able

[2020-05-25 16:41] DavidRoy commented on #148
Closing as superseded by #151

[2020-05-25 16:41] #148 closed

[2020-05-25 21:11] Gary-van-Breda commented on #132
Done: code changes deployed to Test, and config done.

[2020-05-25 21:35] Gary-van-Breda commented on #144
@DavidRoy Can I confirm we are talking about
https://test-ukbms8.pantheonsite.io/site-details?id=1977, not
https://test-ukbms8.pantheonsite.io/site-details-map?location_id=1977

[2020-05-26 07:49] DavidRoy commented on #132
Thanks

[2020-05-26 07:49] #132 closed

[2020-05-26 08:00] DavidRoy commented on #144
Yes, mystake.  sorry for the confusion
https://test-ukbms8.pantheonsite.io/site-details?id=1977

[2020-05-26 09:28] DavidRoy commented on #136
@IanMiddlebrook can you test this please

[2020-05-26 21:54] Gary-van-Breda commented on #143
Code Fixed and deployed to Test.

[2020-05-26 21:55] Gary-van-Breda commented on #144
Code Fixed and deployed to Test.

[2020-05-26 21:55] Gary-van-Breda commented on #146
Code Fixed and deployed to Test.

[2020-05-26 21:56] Gary-van-Breda commented on #150
Code Fixed and deployed to Test.

[2020-05-27 15:44] Gary-van-Breda commented on #147
Code changed and deployed to Test (also converted forms to bootstrap style, improves the appearance).

[2020-05-28 09:17] Gary-van-Breda commented on #151
Current D7
**As a basic user:**
Filter by Recorder should have 2 options: "My Data" (default), "All Recorders"

- When they select ‘My Data’, the “Filter by Site” has option ‘All my sites’, and lists each of the logged in user’s sites – assigned as recorder.
- When they select ‘All recorders’, the “Filter by Site” has option ‘All sites’, and lists all non sensitive sites plus any sensitive sites a

[2020-05-28 09:58] DavidRoy commented on #143
Thanks

[2020-05-28 09:58] #143 closed

[2020-05-28 10:00] DavidRoy commented on #144
Thanks

[2020-05-28 10:00] #144 closed

[2020-05-28 10:20] DavidRoy commented on #146
Not yet showing where suggested.
![pic16](https://user-images.githubusercontent.com/2699478/83129790-3bcd2600-a0d5-11ea-81ff-6505306ca4b2.png)

[2020-05-28 10:21] DavidRoy commented on #146
Thanks, now working as expected

[2020-05-28 10:23] DavidRoy commented on #147
Thanks

[2020-05-28 10:23] #147 closed

[2020-05-28 10:24] DavidRoy commented on #150
This now works fine, thanks

[2020-05-28 10:24] #150 closed

[2020-05-28 11:07] IanMiddlebrook commented on #136
Filled in site details, clicked Save. After a few seconds a pop-up box appeared to say that details had been saved, although the darkened screen and rotating circle remained for a few more seconds. Clicked OK, and I was still on the Site Details view (I think the current version sends you straight to the 'Your Route' tab once you save the Site Details?)
Went to draw in Section 1 - the map is zoome

[2020-05-28 15:35] IanMiddlebrook opened #152 "D8 - User permissions"
Just tried masquerading as different types of User to see what they can access. Seems very different to the current version.

Normal User:
D7- My Sites, D8 - My Sites AND All Sites - they can also click through to see details of each Site and Route. Is this a deliberate policy? Is it a replacement for the general Site Details pages on the old UKBMS website?
D7 - My Walks, D8 - My Walks AND Branch

[2020-05-28 15:42] DavidRoy commented on #152
@Gary-van-Breda can you match the functionality to the D7 site as advised above

[2020-05-29 08:31] Gary-van-Breda commented on #152
I'll update this comment with ongoing investigations:
1) Normal users & All Sites : Node re-saved, caused permissions to be re-calculated. Now working OK.
2) Normal Users & click through to non-assigned sites: The normal users have always been able to see the data for other sites: if they know the ID they could enter it in the URL, though in normal operation there is no direct access. With (1) abo

[2020-05-29 12:02] IanMiddlebrook commented on #152
Thanks @Gary-van-Breda
I can't replicate the last one either now, so either I imagined it or it's sorted itself out!

[2020-06-02 15:45] Gary-van-Breda commented on #146
@DavidRoy : updated form now deployed to Test.

[2020-06-02 15:52] Gary-van-Breda commented on #149
@DavidRoy Fix deployed and configured on Test.

[2020-06-02 16:02] DavidRoy commented on #146
Thanks

[2020-06-02 16:02] #146 closed

[2020-06-02 16:02] DavidRoy commented on #149
That works well, thanks

[2020-06-02 16:02] #149 closed

[2020-06-03 15:40] Gary-van-Breda commented on #151
There has been a bit of a "clarification" in how the branch is viewed: it is seen as a collection of locations, so the branch functionality has been moved under the location filter.
In addition, for EBMS/ABLE the users were not allowed to see pan European data, only the data within their own branch, so access to the whole list of locations was removed.
It is also notable that the location filter d

[2020-06-04 11:23] IanMiddlebrook commented on #151
Hi @Gary-van-Breda
My overwhelming preference (on behalf of existing users) would be for functionality to be as similar as possible to the existing system (much of it is already quite different). I'm acutely conscious of 2,000 odd active users needing to completely re-learn how to use the website, and I'll be the one in the firing line. Though I realise this shouldn't stand in the way of clear imp

[2020-06-04 11:27] IanMiddlebrook commented on #151
Thinking further, if my final point is taken on board, then that would be an improvement on the current set up.
At present, once a User selects All Recorders, their own Sites get lost in the middle of a long list. So I've always told people to select their site first, and then change to All Recorders, if they want to see what other people have recorded on their sites.

[2020-06-04 11:34] DavidRoy commented on #151
Thanks for looking at this.  I'm happy for @IanMiddlebrook to define what is sensible to improve

[2020-06-09 08:21] Gary-van-Breda commented on #151
On Test : "Branch Data" has been re-instated to the "recorder" filter, and "site" filter functionality amended as detailed in the summary provided by David above: only deviation is that there has never been a ‘combine data for all your sites’ when selecting 'Branch Data', only a ‘combine data for all your branch sites’.

Within the "site" filter the list of locations is now separated out into opti

[2020-06-09 08:52] IanMiddlebrook commented on #151
Excellent, thanks @Gary-van-Breda, looks good to me.

[2020-06-10 07:27] DavidRoy commented on #151
Thanks for checking @IanMiddlebrook.  Happy to close this now

[2020-06-10 07:27] #151 closed

[2020-06-10 07:28] DavidRoy commented on #152
Thanks.  Also closing this one, but please add any specific issues

[2020-06-10 07:28] #152 closed

[2020-06-15 19:35] Gary-van-Breda commented on #129
@DavidRoy : we need to run the following script against the database:

[code]

[2020-06-16 07:20] DavidRoy commented on #129
@IanMiddlebrook can you check this data fix and close the issue if resolved. Thanks

[2020-06-16 08:50] IanMiddlebrook commented on #129
As far as I can tell, only one walk has transferred across from the duplicate site to the original (sample_id 7078298 on 11th April). All the rest are still with the duplicate site.

[2020-06-16 16:50] Gary-van-Breda commented on #129
@DavidRoy : it doesn't look like the script has been run - the walk referenced by Ian above as having moved looks like it was done manually in April.
Can we arrange for someone to run the updates against the database?

[2020-06-16 16:52] DavidRoy commented on #129
Sorry, my misunderstanding. I'll run the updates now

@IanMiddlebrook can you check tomorrow when the background task should have completed

[2020-06-18 12:28] DavidRoy commented on #129
@IanMiddlebrook is the data ok now?

[2020-06-18 12:33] IanMiddlebrook commented on #129
Looks good thanks

[2020-06-18 12:33] #129 closed

[2020-06-18 15:08] DavidRoy opened #153 "Extend sites download to include additional spatial information"
Extend download on all-sites/branch-sites/my-sites pages:
https://www.ukbms.org/mydata/all-sites

To include additional spatial location information, pre-processed by Indicia. Include:
Country (typeID = 2188)
BC Branch (1103)
Vice County (15)
National Nature Reserve (2412)
RSPB Reserve (5702)
Site of Special Scientific Interest (17581)
National Trust Site (2187)
National Trust Scotland Site (5701)

[2020-06-18 15:10] DavidRoy opened #154 "D8: Add site download to 'my-sites' and 'branch-sites'"
Follow-on from #153

Add same site download report to:
https://www.ukbms.org/mydata/sites-list
https://www.ukbms.org/mydata/branch-sites-list

[2020-06-22 15:40] IanMiddlebrook opened #155 "D8 version - data entry, validation rules missing?"
Hi,

I just used the D8 version to enter my data for Stoborough Heath today.

I recorded 124 Silver-studded Blue in section 5, and this was accepted without question. I know that when I enter these figures on the live version, a validation check appears for counts above 50 for Silver-studded Blue.

Without wishing to check every single validation rule, is it possible to say which rules have been i

[2020-06-22 15:53] IanMiddlebrook opened #156 "D8 version - data entry, keeping track of columns"
Hi,

Another observation from doing data entry today. The live system has a couple of tricks to help you keep track of the section columns as you move down the page. Firstly the column headings remain visible on your webpage, even when you've scrolled down to the bottom of the form. Secondly, there are dashed vertical lines between every 5 sections.

Could these aids please be added to the D8 vers

[2020-06-24 08:27] Gary-van-Breda commented on #156
Now added on Test

[2020-06-24 13:06] IanMiddlebrook commented on #156
Excellent - thanks Gary

[2020-06-24 13:06] #156 closed

[2020-06-24 13:17] IanMiddlebrook opened #157 "D8 version - data entry preferences/defaults"
Hi,

On the butterfly data entry pages, the ordering seems to default to the alphabetical ordering of 'Common Name'. I always change this to taxonomic order, but it still reverts to alphabetical order the next time I try.
If there is no way of setting a preference, then this needs to default to taxonomic order, because that it what recorders will expect, and it ties in with their standard recordin

[2020-06-25 07:04] Gary-van-Breda commented on #157
I've changed the default order of the Butterflies grid to be Taxonomic. Currently there is no way of setting a personal preference for this.

I have created the user account field that links into the page to set the personal preference for the species list: this is called "Default species view" and can be set on you account page in a similar manner to the existing system. This functionality alread

[2020-06-25 07:33] Gary-van-Breda commented on #155
I have checked this, and only one section level validation rule had been set up on this version of the form (for Chequered Skipper). I have now copied over the remaining section level validation rules.

The phenology and geography checks are taken from the warehouse rather than being specified on the form. These should both have been carried over automatically.

[2020-06-25 08:28] IanMiddlebrook commented on #157
Thanks @Gary-van-Breda
That seems to be working better, apart from one thing.

When the species list first loads up in taxonomic order, all looks good. Then after a few seconds, sometimes more, the Skippers seem to redistribute themselves randomly throughout the species list. Eg. Small Skipper ends up between Small White and Green-veined White, Lulworth Skipper ends up between Painted Lady and Sma

[2020-06-25 08:42] IanMiddlebrook commented on #155
Hi @Gary-van-Breda
I've had another look, but I can't get any of these abundance warning messages to work, not even Chequered Skipper.
I'm on Microsoft Edge.

Thanks, Ian

[2020-06-25 20:52] Gary-van-Breda commented on #157
Hi @IanMiddlebrook : I've applied a bugfix for the species list reordering, which is on Test.
This bug is also present on the Live (D7 system), though is only visible if you change the sort order to common name, then back again to taxonomic.

[2020-06-25 20:54] Gary-van-Breda commented on #155
Hi @IanMiddlebrook : sorry I had missed a new config item for this new form version. I've fixed this, and tried a few and it now looks like it is working OK to me - could you have another go?
Thanks

[2020-06-25 21:01] Gary-van-Breda commented on #154
Do #153 first. D7 and D8 sites.

[2020-06-26 08:29] IanMiddlebrook commented on #155
Hi @Gary-van-Breda
So it now looks like it's picking up the excessive counts ok.

There is another slightly strange thing happening now though.

If I decide I've made a mistake and try to delete an entry, the high count warning message comes up, asking if I still want to enter this data. If I click No, then it doesn't delete the record I was trying to delete.

Thanks, Ian

[2020-06-26 09:57] IanMiddlebrook commented on #157
Hi @Gary-van-Breda
Not sure if the fix has been applied yet, but it's definitely still happening for me, without changing any settings.

i.e. I go on to the data entry page, with the list already ordered taxonomically, and just wait about 5 seconds before the Skippers disperse amongst the list.

Thanks, Ian

[2020-06-26 12:01] Gary-van-Breda commented on #157
@IanMiddlebrook : could you make sure to clear your browser cache?

[2020-06-26 15:46] IanMiddlebrook commented on #157
Thanks @Gary-van-Breda, yes that seems to be stable now.

[2020-06-26 15:46] #157 closed

[2020-06-26 15:52] IanMiddlebrook opened #158 "D8 version - data entry form cosmetic improvements"
Hi @Gary-van-Breda @DavidRoy

Sorry to keep coming back to the data entry page, but it is the one that volunteers will spend most time on!

The section numbers remaining at the column head as you scroll down the page is good, but it also keeps quite a bit of space above it, leaving less room for species on the screen below. Would it be possible to only have the section numbers remain at the top of

[2020-06-26 15:58] DavidRoy commented on #158
Thanks for testing @IanMiddlebrook
I agree it is worth the effort to polish this page

[2020-06-28 15:13] Gary-van-Breda commented on #155
Hi @IanMiddlebrook : I've deployed a change to Test, so that is does not do the limit checks when clearing the data.

[2020-06-28 15:17] Gary-van-Breda commented on #158
Hi @IanMiddlebrook : I've deployed a change to Test so it only displays the section numbers as the "sticky" table header at the top of the screen. I've added a link to the sticky header to jump quickly to the top of the page, so you can change the species grid/list/order easily.
I've also changed the colours of the link buttons at the bottom, so they look more conspicuous.

Do you want to keep thi

[2020-06-30 10:57] IanMiddlebrook commented on #155
Excellent - thanks @Gary-van-Breda

[2020-06-30 10:57] #155 closed

[2020-06-30 10:59] IanMiddlebrook commented on #158
That's much better, thanks @Gary-van-Breda

I'll keep the issue open for now just in case, but it's looking good.

[2020-06-30 14:52] Gary-van-Breda commented on #158
@IanMiddlebrook : just for your consideration, as part of some ABLE changes, it is now possible to have the species selection autocomplete in the sticky header on the table, above the section headers. It therefore stays on the screen at all times. In addition, when this is switched on, adding a species puts it in into the correct location in the sorted list (as opposed to just adding it to the bot

[2020-07-02 12:05] IanMiddlebrook commented on #158
Sounds good @Gary-van-Breda
Please switch it on for me to review.

Thanks, Ian

[2020-07-07 18:36] DavidRoy commented on #135
Closing, thanks

[2020-07-07 18:36] #135 closed

[2020-07-09 11:42] Gary-van-Breda commented on #158
@IanMiddlebrook That's now switched on, on the D8 test site. Please make sure your browser cache is cleared.

[2020-07-16 08:57] IanMiddlebrook opened #159 "Annual Summary species missing"
Hi @Gary-van-Breda

The recorder at Thorpe Marsh Nature Reserve has noted that both Small Skipper and Large Skipper are missing from his data when he looks at the Annual Summary page, on Summary Table and also in Raw Data table.
He has been recording these 2 species for the last 5 weeks.

Is there a reason why the Annual Summary tables might have missed these species here (and possibly others else

[2020-07-17 14:38] kitenetter commented on #141
Do we yet have an estimate of when the D8 change will happen, and thus when the zero abundance records will stop? Have been asked about it again today.

[2020-07-17 14:55] DavidRoy commented on #141
We won't switch over till November to minimise disruption mid-season

[2020-07-17 17:50] Gary-van-Breda commented on #136
@IanMiddlebrook

New version deployed into Test. Now has:

- better synchronisation between pop-ups and darkened screen, with altered messages on pop-ups.
- Moves to first Section Route on initial save of Site details.
- Maps on routes which have not yet been drawn should now show the same view as the previous map. If the route has already been drawn, when it should zoom to the route.
- The mouse

[2020-07-20 09:24] IanMiddlebrook opened #160 "Walks appearing in different accounts"
Hi @Gary-van-Breda

I've just been notified of a strange phenomenon.

The 'Scotney Castle' user account (User ID 2186) can see walks from Lytes Cary Manor on their 'My Walks' page. These walks were entered by Mark Musgrave from his account (User mark.musgrave, User ID 29157).
When I checked Mark's account, and went to the 'My Walks' page - he can see exactly the same walks as Scotney Castle (ie. n

[2020-07-29 14:19] MeganLowe opened #161 "WCBS Squares to add to UKBMS online"
Please can you add these WCBS-BC squares to the online system. Thank you, Megan.
[BC sqs to add to UKBMS.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/4995381/BC.sqs.to.add.to.UKBMS.xlsx)

[2020-08-11 13:27] marcbotham opened #162 "add a total at the bottom right on the recording page"
Hi there,

[2020-09-16 14:56] MeganLowe opened #163 "Removal of Delete Option on WCBS Squares"
Hi, we've had a few instances of WCBS normal users accidentally deleting their WCBS squares. This is currently an option to normal users if the square does not have any records attached to it. Please can we remove this option? This applies for both WCBS-BC and WCBS-BBS squares.
Thanks, Megan.

[2020-09-23 15:34] MeganLowe opened #164 "WCBS-BBS Squares to be added to UKBMS online"
Hi, please can we have the following WCBS-BBS squares added to the online system:
[WCBS-BBS squares to be added to UKBMS.xlsx](https://github.com/BiologicalRecordsCentre/UKBMS-online/files/5269241/WCBS-BBS.squares.to.be.added.to.UKBMS.xlsx)

[2020-09-24 11:19] Gary-van-Breda commented on #164
Done.
Note that 2 of these already existed as WCBS-BBS locations with the same grid ref:

- "SO5683" as "SO5683 The Thrift, Stokegorse, Clee St Margaret"
- "SO5685" as "SO5685 Heath Farm, Heath, Clee St Margaret"

I have not uploaded these.

[2020-09-24 11:39] Gary-van-Breda commented on #161
Done.

[2020-10-01 11:06] marcbotham opened #165 "Issues downloading site section data"
When trying to download the section data from TW online ‘Full Site Sections data download (CSV)’  I get this error message:

Fatal error: Allowed memory size of 2147483648 bytes exhausted (tried to allocate 8192 bytes) in D:\websites\warehouse\system\libraries\drivers\Database\Pgsql.php on line 436

[2020-10-19 13:02] IanMiddlebrook opened #166 "Annual Summary page hanging with non-butterfly species"
Hi,

When viewing the Annual Summary page, there appears to be a problem when you 'include non-butterfly species' if you are looking at a lot of sites (eg. All Sites or Branch Sites).

The Summary/Estimate Tables load with data, but the Charts do not develop (perhaps because there are too many species?).

One result is that the tabs do not form - the tables/charts are all visible on one page (see

[2020-10-27 12:14] DavidRoy commented on #161
@MeganLowe can you close the issue if resolved for you?

[2020-10-27 12:14] DavidRoy commented on #164
@MeganLowe please close if resolved

[2020-10-27 12:17] #161 closed

[2020-10-27 12:37] #164 closed

[2021-01-04 11:06] MeganLowe opened #167 "Add Login/Register link in header bar of new website"
Hi, please can we add a link to 'Login/Register' on the header bar of the new UKBMS website - perhaps to the right of the other header links. Can this then change to a 'Logout' link once a user is logged in?
Thanks, Megan

[2021-01-04 11:11] MeganLowe opened #168 "New Website Username Login"
Is it possible to allow users to use their email address OR ukbms username as the username to login in to the new website please? At the moment it will only allow you to use your UKBMS username (the old website lets you use email). Many users can never remember what their username is (me included...).
Thanks
Megan

[2021-01-04 11:28] MeganLowe opened #169 "Grid references on WCBS Square Details"
Hello, new website question: on the site details page for each WCBS_BC and WCBS_BBS square the grid reference appears as a six-figure grid reference. Please can these appear as four-figure (i.e. same as site name) so that the neat coloured 1km square appears on the map view?
Also, please can you make the grid reference un-editable by normal users on all WCBS squares.
Thanks, Megan

[2021-01-04 11:54] MeganLowe opened #170 "Changes to My Sites page on new website"
On the My Sites page of new website:
-  please can you remove the text 'Report Parameters'.
- make the Site Type drop down menu default to \<please select> for normal users (or all users if it's not possible to make a default for just normal users).
- move the Run Report button up slightly so to create a gap between this and the site list table below.
- make the text for all download options towar

[2021-01-04 12:47] MeganLowe opened #171 "Changes to Site Details pages on new website"
Please can you make the following changes to ALL Site Details pages on new website:
- Remove top paragraph beginning 'By submitting...' - this needs to be moved to the My Walks page.
- Move the 'Confidential' tick box up so it is directly above the yellow text box explaining why to tick it.
- Make text in yellow box slightly smaller. Change the word 'Sensitive' to 'Confidential'.
- Remove excess h

[2021-01-04 12:54] MeganLowe opened #172 "Holiday Square tick box on WCBS Site Details"
I really like the new function that allows you to tick whether a square is a holiday square on the site details page, but please can we make this only visible to site administrators i.e. normal users and branch managers cannot assign a square as a holiday square.

Thanks very much, Megan

[2021-01-04 13:01] MeganLowe opened #173 "Route Map Edit Permissions"
Hi again, just want to check that normal users will not have permission to edit route maps once a site has records entered for it on the new website?
At the moment it seems I can add, edit, or remove sections to a WCBS route that has butterfly records when masquerading as a normal user?!

Thanks
Megan

[2021-01-04 13:08] MeganLowe opened #174 "Satellite Map on New UKBMS"
Hi, is it possible to add a satellite image layer for the site route maps as well as, or instead of, Open Street Map? Satellite is far easier to use to draw a route than street map as you can see environmental features etc.
Thank you
Megan

[2021-01-04 15:17] MeganLowe opened #175 "Holiday Square page on new ukbms"
Hello, I'm unable to edit the text on the holiday squares web page of the new website. I presume because it is embedded within a text box of sorts. Are you able to add this text in to the main introductory page text and remove the yellow text box please so I can edit it in the future?
Thanks, Megan

[2021-01-04 15:47] DavidRoy commented on #167
hi Megan
The login is under the 'My Data' menu.  Given many users of the website won't be submitting data, I think it's ok to have this less prominent?
David

[2021-01-04 15:47] DavidRoy commented on #168
@BirenRathod can you implement this please

[2021-01-04 16:00] DavidRoy commented on #170
@BirenRathod can you make these changes to https://test-ukbms8.pantheonsite.io/my-sites

[2021-01-04 16:11] DavidRoy commented on #171
@BirenRathod can you make these changes to the Site Details page, e.g. https://test-ukbms8.pantheonsite.io/site-details?id=1977

[2021-01-04 16:24] MeganLowe commented on #167
Hi David
Thanks for your reply. I think it needs to be a bit more obvious, particularly for new users to find where to register. Perhaps a button on the homepage would be better? On the right under search? I was going to ask to include a Go to Data Entry button anyway, so this could be login/register instead. It needs to be easy for those who do submit data as that may be all they use the website

[2021-01-04 18:43] BirenRathod commented on #168
@DavidRoy  & @MeganLowe I have made changes on the website, so it is now possible to login with email or username.

[2021-01-05 08:59] MeganLowe commented on #168
Great, thank you. Worked fine for me this morning 👍

[2021-01-05 08:59] #168 closed

[2021-01-05 10:43] BirenRathod commented on #171
@MeganLowe
I have made below amendments.

- Top paragraph now removed and added on to My Walks page.
- @DavidRoy could you ask @Gary-van-Breda to move this confidential box above the yellow message box. This needs amendment in indicia code.
- Yellow textbox's text has resized now.
- Removed excess headings from above County.

[2021-01-05 11:33] BirenRathod commented on #170
@MeganLowe
I have made below amendments.

- Removed 'Report Parameters' text.
- @Gary-van-Breda can you set the default to `please select`?
- Run Report button moved up.
- all download link text is now resized and different color match to site theme.
- Button style created for Add Transect link.
- Added text below to Add Transect button as it doesn't add next to button.

[2021-01-05 11:48] DavidRoy commented on #167
@BirenRathod can you implement this suggestion of a home page button

[2021-01-05 11:51] BirenRathod commented on #167
@DavidRoy
Is it ok if I moved login link at the right side of the main menu?

[2021-01-05 12:01] DavidRoy commented on #167
I'm not sure there is room?

[2021-01-05 12:15] BirenRathod commented on #167
@DavidRoy
I have added the login link at the right side of the menu. see if that is ok. It may be a problem for smaller screen. If it is let me know.

[2021-01-05 12:18] DavidRoy commented on #167
Thanks.
@MeganLowe does this work for you?  Close issue if resolved?

[2021-01-05 13:45] MeganLowe commented on #167
Looks good to me and seems to work fine on a few different screen sizes. Thanks both.

[2021-01-05 13:45] #167 closed

[2021-01-05 14:17] MeganLowe opened #176 "Changes to Create New Account form"
Hello, I have a few suggested changes for the Create New Account (registration) form on the new ukbms as follows:
- make first name and last name compulsory fields
- there are two red stars indicating a compulsory field at the moment - is it possible to remove one of these so only one red star remains on each compulsory field?
- I'm not sure if this is the right place to select your preferred defa

[2021-01-15 09:51] MeganLowe opened #177 "Gap between header and main body of text"
Hello, on new UKBMS is it possible to make the gap between the header bar and the main body of text smaller (perhaps half what it is now)? I presume this is a design feature to show off the background image, but I'm finding on smaller screens you have to scroll down to find the main content of the page and it isn't always clear whether the page is just loading or hidden out of view. I'm not sure i

[2021-01-15 09:57] DavidRoy commented on #177
I agree.  @BirenRathod could you make this change?

[2021-01-15 11:27] BirenRathod commented on #177
@MeganLowe I have decreased the gap of top banner and main content.

[2021-01-15 14:20] MeganLowe commented on #177
Fantastic thanks @BirenRathod

[2021-01-15 14:20] #177 closed

[2021-01-19 11:34] Gary-van-Breda commented on #166
Fixed in Drupal8 version of the site.
The `Stonechat "hibernans"` species name has double quotes in it: this was causing a problem in a part of the code.

[2021-01-19 15:04] Gary-van-Breda commented on #124
These 2 walks have now been included in the Summary Table.

[2021-01-19 15:09] #124 closed

[2021-01-19 15:43] Gary-van-Breda commented on #175
Change deployed to test environment: intro text has been moved to the page intro text, and removed from the iform code.

[2021-01-19 15:48] Gary-van-Breda commented on #174
Yes: we can.
The problem here is that the test environments have a URL which does not match with the Google Maps API key (which is registered against ukbms.org). Once the new UKBMS site goes live (and has a ukbms.org URL) we will be able to add the Google Maps.
This is also the reason why the Place search does not work at the moment in the test/dev environments.

[2021-01-19 16:07] MeganLowe commented on #174
Ah that makes sense, thanks Gary - I'll close this issue now.

[2021-01-19 16:08] Gary-van-Breda commented on #163
With the new version of the Site data entry page, the Delete Site option is not currently enabled for any users

[2021-01-19 16:11] MeganLowe commented on #175
Looks good to me, thanks.

[2021-01-19 16:11] #175 closed

[2021-01-19 16:57] Gary-van-Breda commented on #162
When the new version of the website is released (hopefully soon), this will feature a total figure at the bottom right of each species grid, as requested.

[2021-01-19 17:13] Gary-van-Breda commented on #165
@DavidRoy : this report is returning all the site attributes as well as the section attributes, for each section. It is just huge. Do we need all the site attributes? If not, which ones can we omit?

[2021-01-19 17:23] Gary-van-Breda commented on #159
@IanMiddlebrook : when I masquerade in, I can see the two species' data, in both Summary and Raw data: can you confirm that this is still an issue?

[2021-01-20 08:38] IanMiddlebrook commented on #159
looks like the problem has gone away.

[2021-01-20 08:38] #159 closed

[2021-01-20 10:33] Gary-van-Breda commented on #171
Yellow message has been moved to be the help text on the Confidential box, and styled to be the yellow box.
@MeganLowe : do you need the Confidential box moved up above the County?

[2021-01-20 10:51] Gary-van-Breda commented on #170
@BirenRathod @MeganLowe : the default Site Type should be remembered across the different reporting pages, so if the user chooses site type "WCBS-BBS" in the Annual summary, it should be the default the next time the My Sites is brought up.

[2021-01-20 11:06] BirenRathod commented on #170
@Gary-van-Breda yes, I missed the remembering part. So no change requires.

[2021-01-21 09:40] Gary-van-Breda commented on #169
@DavidRoy : do you want this applied to the Transect site type as well?

[2021-01-21 09:48] DavidRoy commented on #169
@IanMiddlebrook do you agree on this for the first part - _please can these appear as four-figure (i.e. same as site name) so that the neat coloured 1km square appears on the map view_

[2021-01-21 09:54] IanMiddlebrook commented on #169
Agree with 4-figures for WCBS squares (since the aim is to contain the route within that 1km square). But stick with 6-figures for transects, which provides a central grid ref for the site when the route might be spread over several 1km squares.

[2021-01-21 10:02] DavidRoy commented on #169
makes sense to me, thanks for quick reply

[2021-01-21 10:17] Gary-van-Breda commented on #172
Code changed to allow attribute inclusion depending on a permission, and form config changed so that the Holiday Square checkbox (attribute 212) is included for "region coordinator" permission only, i.e. site admins.
Deployed to Test.

[2021-01-21 10:38] MeganLowe commented on #170
@Gary-van-Breda : I find that the My Sites page defaults to Transect on first open. It may change after you've been to the Annual Summary page (I haven't tested this) but most people would go to My Sites first. The trouble is we often find that WCBS recorders struggle to find their squares if the drop down box defaults to transect and then they create a new transect instead (not what we want). If

[2021-01-21 10:38] MeganLowe commented on #170
@Gary-van-Breda @BirenRathod : sorry, also just noticed 'Report Parameters' text is still present on the My Sites page.

[2021-01-21 10:42] MeganLowe commented on #171
@Gary-van-Breda No I think that looks great, thank you.

[2021-01-21 10:42] #171 closed

[2021-01-21 10:56] Gary-van-Breda commented on #170
@MeganLowe : I've changed the default default (sic) to "please select" on "My sites" only.

[2021-01-21 11:54] BirenRathod commented on #170
@MeganLowe I implemented the style. 'Report Parameters' text is hidden now.

[2021-01-21 12:32] MeganLowe commented on #170
@Gary-van-Breda thanks. Is it possible to make the page automatically show all the sites assigned to you (as if the ‘Run Report’ button had already been pressed)? Then the filter just provides the user with the option to limit the list if they want to. Also, it would be useful if there was an additional column for ‘Site Type’ in the table that is shown. So that when all your sites are showing it’s

[2021-01-21 14:27] Gary-van-Breda commented on #170
@MeganLowe : I've tweaked it so the report now runs automatically with no site type filter applied.
@BirenRathod : Can you deploy the current master Branch of the BRC reports (https://github.com/BiologicalRecordsCentre/indicia-reports) into warehouse1? Thanks (@MeganLowe this report update is required so we can get access to the location type for the report grid)

[2021-01-21 14:33] Gary-van-Breda commented on #169
@DavidRoy : what about part 2?

[2021-01-21 14:36] DavidRoy commented on #169
We don't want to change the approach to editing sites.  My understanding is that once they are setup they are 'read-only'.  with @IanMiddlebrook allowing sites to be opened up again for editing.

@IanMiddlebrook can you confirm from transect site perspective

[2021-01-21 14:43] IanMiddlebrook commented on #169
Agreed, transect details should be locked once recorders start entering data for that site. They will need to enter a site grid ref when setting up the site details, so that field should initially be available to them.

@MeganLowe can confirm, but I think the problem with WCBS squares is actually recorders changing the Site Name field. For WCBS, the site name should mirror the Grid Ref (eg. XY5678

[2021-01-21 15:01] BirenRathod commented on #170
@Gary-van-Breda I have pulled that report now.

[2021-01-21 15:17] Gary-van-Breda commented on #170
@MeganLowe : back to you to check that this is what you want...

[2021-01-21 15:48] MeganLowe commented on #170
@Gary-van-Breda this is fantastic! Just one other small thing, please can you make the space between the 'Run Report' button and the table below ever so slightly bigger?

[2021-01-21 15:50] DavidRoy commented on #142
@Gary-van-Breda we can start the migration, including turning off the new user registration
Please confirm the timeframe...

@IanMiddlebrook for info...

[2021-01-21 16:02] MeganLowe commented on #169
Hi everyone. Yes I agree with @DavidRoy no change to the approach in editing sites, but at the moment, on the new website, if I masquerade as a normal user I can change both Grid Reference and Site Name on the WCBS squares they are assigned to. On the current website this is not possible. Basically the new website needs to have the same approach as the old - users cannot change the Grid Reference

[2021-01-22 08:05] Gary-van-Breda commented on #170
@BirenRathod : can you do the "make the space between the 'Run Report' button and the table below ever so slightly bigger" ?

[2021-01-22 11:05] Gary-van-Breda commented on #169
@MeganLowe : Code deployed to Test to bring new site into line with previous functionality for all of Grid Reference/Name, attributes and Route Maps: NB normal users _can_ edit the WCBS squares (or Transects for that matter) allocated to them, _but only if they are allocated to them AND there are no walks recorded against the square_.
See also #173, which should also be fixed by this change.

[2021-01-22 11:06] Gary-van-Breda commented on #173
@MeganLowe : See #169. Code deployed to Test to fix this.

[2021-01-22 11:27] MeganLowe commented on #173
Map permissions seem fine now - thanks Gary.

[2021-01-22 11:27] #173 closed

[2021-01-22 11:35] Gary-van-Breda commented on #169
@MeganLowe : code deployed and form configured so that WCBS squares have 4 numbers in their SREFs, and Transects have 6.

[2021-01-22 11:40] MeganLowe commented on #169
Hi @Gary-van-Breda Thank you for this. Grid reference/Name looks good now, but I think your change has also prevented normal users from changing all other information on the Site Details form. It would be good if all users were able to select the 'Confidential' tick box in case a landowner changes their mind. @IanMiddlebrook are there any other boxes on this form that you would like normal users t

[2021-01-22 11:42] Gary-van-Breda commented on #169
Can I add the Contact details to this list to be considered?
(This is slightly complicated by the fact that in the old system, they could change all this information on the page, but could not save it!)

[2021-01-22 11:46] MeganLowe commented on #169
Ooh yes please Gary - hadn't noticed that on the old site before. Also, sorry Gary(!)... is it possible to add in the 'Links' tab for normal users on the Site Details page please? I think this is a great new feature, but only seems available to Branch Managers and Admin users at the moment?

[2021-01-22 12:09] IanMiddlebrook commented on #169
Hi @Gary-van-Breda , @MeganLowe
Up to this point we've frozen all details because we don't want recorders changing/moving their route without telling us. But you're right that there are several fields they should still be able to edit without causing us undue concern.
I'd say the only fields which really should be locked to recorders (because they shouldn't change or because we need to be notified

[2021-01-22 16:14] BirenRathod commented on #170
@Gary-van-Breda & @MeganLowe I have increased a space now.

[2021-01-23 09:35] DavidRoy opened #178 "add scientific name and TVK for small/essex skipper"
see:
https://github.com/BiologicalRecordsCentre/iRecord/issues/993

[2021-01-24 15:56] Gary-van-Breda commented on #169
@IanMiddlebrook Form change applied to Test, and configured so that once walks are recorded against a site, a normal user can't modify the following fields:

- Site Name
- Site Sref
- Number of sections (Note that the number of sections is fixed for all users for WCBS)
- Transect Width
- The Section Routes themselves.

The Site Type is not modifiable in the Form.
Transect length, Section Sref and

[2021-01-24 15:58] Gary-van-Breda commented on #142
@DavidRoy @IanMiddlebrook @MeganLowe : can you confirm there are no open D8 issues that must be addressed before we go Live?

[2021-01-25 10:32] IanMiddlebrook commented on #169
Sounds good to me, thanks @Gary-van-Breda

[2021-01-26 08:53] DavidRoy commented on #142
Good to go from my perspective.
@IanMiddlebrook @MeganLowe have looked more closely at the recording/site forms.  Can you confirm that issues have been addressed for you?

[2021-01-26 10:35] IanMiddlebrook commented on #142
@MeganLowe  do you think issue #176 needs to be sorted before we go live?
https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/176

[2021-01-26 10:49] MeganLowe commented on #142
@IanMiddlebrook @Gary-van-Breda @DavidRoy ideally #176 needs looking at before going live, or at least before any new users register as I'm concerned there's no user agreement etc on this page currently (do we need this for GDPR etc?), plus I'm not sure whether there's an automatic email attached to this registration process or what that may currently say?

[2021-01-26 10:51] MeganLowe commented on #170
Brilliant, looks great thank you.

[2021-01-26 10:51] #170 closed

[2021-01-26 10:55] MeganLowe commented on #169
Fantastic, thanks very much Gary.

[2021-01-26 10:55] #169 closed

[2021-01-26 11:18] IanMiddlebrook opened #179 "Adding 2019 UKBMS report to D8 website"
@DavidRoy

Hi, if we are switching over soon, then we need to load the 2019 UKBMS report on to the new publications page.

thanks, Ian

[2021-01-26 16:21] Gary-van-Breda commented on #176
@DavidRoy : Should this be done by @BirenRathod or me?

[2021-01-26 16:21] MeganLowe commented on #172
Hi @Gary-van-Breda I can't see the holiday square checkbox on the Site Details pages now - not sure if that is because of the type of account I have or whether it is not visible to any user now? It would be great if I were able to check or uncheck this holiday square box as it means I can add extra holiday squares to the map when required, and also remove holiday squares when a recorder decides to

[2021-01-26 16:23] DavidRoy commented on #176
@Gary-van-Breda can you pick this up and involve @BirenRathod as needed. Thanks

[2021-01-26 16:52] BirenRathod commented on #176
Yes, that's right. @Gary-van-Breda let me know if you need anything.

[2021-01-26 17:10] Gary-van-Breda commented on #172
@MeganLowe - Sorry about that: the issue was with the permission name in the form configuration. Now sorted, so you should be able to see the checkbox when editing the Site Details.

[2021-01-27 09:21] MeganLowe commented on #172
Thank you @Gary-van-Breda I can see and use the holiday square tick box now. I'm not sure if it's working that well though - I tested adding a holiday square and then removing it, but it has remained on the map. Is this an issue or is there a delay to updating? Also on the Site Details pages of the existing holiday squares the box remains unticked. I expected these to be ticked so then I can untic

[2021-01-27 22:24] Gary-van-Breda commented on #172
@MeganLowe : I've deployed a fix to the holiday squares form for squares that used to be Holiday squares but are no longer. To see changes to the status of sites re the Holiday square checkbox, you will have to reload the page, rather than just press the "List closest sites" button on the page. (Tested using NO3006, which I've reset to a holiday square)
I haven't been able to replicate the issue y

[2021-01-27 22:58] Gary-van-Breda commented on #176
- First and last names now compulsory.
- Preferred Species view removed from registration form only (still present on profile).
- 'Upload picture' and 'Upload files' removed from both registration and profile.

[2021-01-27 23:18] Gary-van-Breda commented on #176
@BirenRathod : there seems to be 2 CSS definitions for `.form-required:after`: one in the UKBMS theme `overrides.min.css`, and one in `https://cdn.jsdelivr.net/npm/@unicorn-fail/drupal-bootstrap-styles@0.0.2/dist/3.4.0/8.x-3.x/drupal-bootstrap.css`. These each add one of the asterisks, but the overrides does not switch off the bootstrap derived one.
Can you sort this out?

[2021-01-28 09:20] Gary-van-Breda commented on #176
@DavidRoy : did we not take a conscious decision to remove both the under 16 and "About your surveys" fields? I can't find an evidence trail.

[2021-01-28 09:28] Gary-van-Breda commented on #176
@MeganLowe : the email templates can be found at the bottom of https://test-ukbms8.pantheonsite.io/admin/config/people/accounts
I've given permissions top access this to the site editor role, so you should now be able to see it. Please be careful about the other fields on this page.

[2021-01-28 10:01] BirenRathod commented on #176
@Gary-van-Breda Which page is this on? I know I could find in the css file but I need to see on the page too.

[2021-01-28 10:07] BirenRathod commented on #176
@Gary-van-Breda Don't worry, I found it now.

[2021-01-28 10:27] BirenRathod commented on #176
@Gary-van-Breda It has resolved now. that overrides.min.css file is the old version of bootstrap subtheme code. It should not be there in theory. I haven't removed yet, I'm not sure will that cause any thing else but I found other way round to solve this problem by tweaking theme settings to custom instead of using jsdeliver.

Let me know if you see any other problem due to this, otherwise we stic

[2021-01-28 11:09] MeganLowe commented on #172
Hi @Gary-van-Breda I think it's the squares that I have added as holiday squares when testing that are having this issue. SU4724 is an example. It has remained on the holiday squares map, even though I have unticked the checkbox (and saved) on it's Site Details page. There are now 5 squares (all in Southern England) that I've tried adding and removing using the checkbox. Ticking the checkbox works

[2021-01-28 11:43] Gary-van-Breda commented on #172
I've just tried this with SU4724, and it worked OK with me. These are the steps I followed:

- Brought up the holiday squares page: SU4724 not present
- Brought up SU4724 edit page in another Tab. Set the checkbox, and saved.
- Clicked on the "List closest sites" button on holiday squares page: SU4724 still not present.
- Refreshed the holiday squares page: SU4724 now present.
- On the SU4724 edit

[2021-01-28 12:00] MeganLowe commented on #172
@Gary-van-Breda that's strange. SU4724 is still on the holiday squares map for me. I've tried refreshing, tried going to an entirely different page and then coming back, it's still there. Another example is TQ4773 - when testing yesterday I followed the exact same steps as you have detailed above for this square, but it is still on the holiday squares page today even though I tried to remove it ye

[2021-01-28 12:24] Gary-van-Breda commented on #172
@MeganLowe : OK, I definitely do not have TQ4773 on mine. Can you copy in the URL of the page you are looking at (just to make sure)?
Is there anything being displayed as an error in the Console? (Press F12 in the browser, and select the Console tab)

[2021-01-28 12:30] MeganLowe commented on #172
URL: https://test-ukbms8.pantheonsite.io/holiday-squares

Here's a screenshot of what I see on the Console tab:

![Capture](https://user-images.githubusercontent.com/64081219/106138846-8d4a1b00-6164-11eb-8e6d-074921db0336.JPG)

[2021-01-28 13:05] Gary-van-Breda commented on #172
@MeganLowe : can you clear your browser cache, in particular the "Cached images and files", and then try again? I think you may have the old version of the form javascript cached, so you haven't picked up yesterday's fix.

[2021-01-28 15:06] MeganLowe commented on #172
@Gary-van-Breda that was it! Works fine now. Sorry about that, and thanks for all your help!

[2021-01-29 08:56] Gary-van-Breda opened #180 "Drupal 8 : Go-Live pre-requisites and actions"
Before Go-Live

- Terms and Conditions of Use (#176) @DavidRoy
- Users Migration (#142) @Gary-van-Breda

After Go-Live:

- Ensure that Google Maps API key is correct. (#187)
- Switch on Satellite map (#174)
- Confirm #162 fixed.

[2021-02-02 10:40] MeganLowe opened #181 "BBS Squares on Sites Map"
Hi everyone, I've just spoken to the BTO and they have requested that we remove the BBS squares from the site details map on the new website. They have a few reasons for this (happy to forward all on if needed) but to put it briefly it's due to their policy of only displaying 10km resolution of BBS squares/records.
Instead I will include a sentence in the intro text on this page that mentions BBS

[2021-02-02 11:32] Gary-van-Breda commented on #181
@MeganLowe : just to be absolutely sure we do the right one(s), can you give us the test site URL(s) of the page(s) affected?

[2021-02-02 12:04] MeganLowe commented on #181
Hi @Gary-van-Breda yes of course it's this map: https://test-ukbms8.pantheonsite.io/sites
Essentially we just need to hide the BBS squares, everything else is fine I think.

Not sure whether the same applies to the 'Explore Map': https://test-ukbms8.pantheonsite.io/explore-map I can't see what this looks like as there haven't been any recent records, but presumably this will be ok as the user has

[2021-02-03 10:52] DavidRoy commented on #181
@MeganLowe do we also need to hide BBS from here - https://test-ukbms8.pantheonsite.io/sites

[2021-02-03 11:01] MeganLowe commented on #181
@DavidRoy yes that's the one.

[2021-02-03 12:39] DavidRoy commented on #181
Thanks.  That's one for @burkmarr

Rich - can you exclude the WCBS-BBS sites from these pages

[2021-02-04 11:08] burkmarr commented on #181
I've updated the report in https://github.com/BiologicalRecordsCentre/indicia-reports that retrieves the sites for the cluster mapping. @BirenRathod - how does this get propogated to the Pantheon dev/test site?

[2021-02-04 11:23] BirenRathod commented on #181
@burkmarr if you can pull the repository, you will see iform module in custom folder in the module folder, where you can make changes.

[2021-02-04 11:27] BirenRathod commented on #181
@burkmarr you can get the github repo link from pantheon. you have already got an access for pantheon of UKBMS. Also reports are on test or dev warehouse. so you need to check, which warehouse is linked with website?

[2021-02-04 11:30] Gary-van-Breda commented on #181
@BirenRathod @burkmarr : The test D8 site is actually linked to the Live warehouse, so we need the updated report dropped into warehouse1

[2021-02-04 11:32] BirenRathod commented on #181
Thanks, @Gary-van-Breda.
@burkmarr you can look on live warehouse in modules\brc_reports\reports\projects\ukbms folder

[2021-02-04 11:35] burkmarr commented on #181
Thanks @BirenRathod - I can't log into the warehouse server at the moment as you and @johnvanbreda are logged in.

[2021-02-04 11:37] BirenRathod commented on #181
@burkmarr I was updating reports folder for Andy, so I just logged out now. all yours now.

[2021-02-04 11:43] burkmarr commented on #181
Thanks @Biren - that pulled in the report I changed too so the BBS sites are no longer appearing on the cluster map: https://test-ukbms8.pantheonsite.io/sites

[2021-02-04 11:50] Gary-van-Breda commented on #181
@MeganLowe : back to you to review and close.

[2021-02-04 11:53] MeganLowe commented on #181
Looks good to me, thanks everyone!

[2021-02-04 11:53] #181 closed

[2021-03-01 14:15] DavidRoy opened #182 "Additional text field required on registration"
@Gary-van-Breda further change needed as part of D8 migration #180

Registration form requires a text field for
‘Tell us which transects or WCBS squares you are walking’

As currently exists on the https://www.ukbms.org/mydata/ site

[2021-03-01 14:28] DavidRoy opened #183 "Finalise revised Terms of use"
@IanMiddlebrook to review

https://test-ukbms8.pantheonsite.io/terms_of_use

[2021-03-01 14:43] IanMiddlebrook commented on #183
Hi David,

I've just amended this paragraph slightly to reference the fact that 'sites' can be marked as confidential.

Where sites and/or species are deemed to be “sensitive” the record may have its location blurred, or may be treated as confidential. Lists of sensitive species may include, but may not be limited by, lists agreed with the UK government conservation agencies.

Also changed paragra

[2021-03-01 14:43] #183 closed

[2021-03-01 14:46] DavidRoy commented on #183
Excellent, thanks for spotting this important point and mention of iRecord I missed

[2021-03-01 15:39] IanMiddlebrook opened #184 "Adding new species to species list on Walk Data Entry form - not working"
Hi,

I'm just updating the guidance note and checked the Data Entry page to see how to Add a New species.

This feature doesn't seem to be working. There is a small box to search for additional species, but no suggestions come up and there is no button to 'search' or 'add' any species to the list.

Thanks, Ian

[2021-03-01 15:41] DavidRoy commented on #184
@Gary-van-Breda I remember we had this problem before.  Needs fixing before we switch over

[2021-03-01 16:10] IanMiddlebrook commented on #86
Hi @DavidRoy

... and 2018 & 2019 ... and 2020 when available.

Thanks, Ian

[2021-03-01 16:24] IanMiddlebrook opened #185 "Raw Data table - difficult to see dates"
Hi,

In the Raw Data tables under Annual Summary, the dates at the top of the columns are difficult to see.
I guess they have defaulted to blue because they are hyperlinks, but difficult to see on  purple background.

Thanks,

Ian

[2021-03-02 11:39] IanMiddlebrook opened #186 "Stop most users from adding WCBS squares"
At present, it looks like any user can add new WCBS squares to the system.

We need to change this so that ordinary users and branch co-ordinators can only add new Transects - so when they click on 'Add Transect' they go straight through to the fresh Site Details page for a new Transect.

Admin should be the only users presented with an option to add either type of WCBS square.

Thanks,  Ian

[2021-03-02 11:43] DavidRoy commented on #186
@Gary-van-Breda please can you resolve this issue needed for D8 switch-over #180

WCBS squares are typically loaded directly into the data warehouse so, if easiest, the create-site form could be restricted to Transects for all users?

[2021-03-02 15:10] IanMiddlebrook opened #187 "No Search Box for finding location of new transects"
Hi, When setting up a new transect, on the Site Details page a text box says:
 "Use the **search box** to find a nearby town or village ..."
but there is no Search box.

Thanks,

Ian

[2021-03-02 16:07] Gary-van-Breda commented on #187
Hi Ian,
see https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/174#issuecomment-762931426
Basically the Google API keys won't work on the test env.

[2021-03-02 16:12] IanMiddlebrook commented on #187
Right, so there will be a search box when we go live?

Fair enough, I was just trying to get a useful screenshot for the guidance notes, but I can't highlight a non-existent search box!

I'll work around it.

Thanks, Ian

[2021-03-11 10:30] DavidRoy commented on #187
part if #180

[2021-03-11 11:35] Gary-van-Breda commented on #182
@DavidRoy This was one of the things we left out of the migration: do we need to re-instate all the data from the old system?

[2021-03-11 11:37] DavidRoy commented on #182
@IanMiddlebrook question for Ian whether the historic data in the user accounts needs brining over.  Or whether this is more about capturing for new registrations so we can check how to link new users to existing transects

[2021-03-11 12:01] IanMiddlebrook commented on #182
@DavidRoy  It's not something that I look at after the initial registration, so not critical to migrate across.
Thanks, Ian

[2021-03-11 12:03] DavidRoy commented on #182
Thanks Ian.
@Gary-van-Breda therefore no migration needed but this question needs to be on the new registration page

[2021-03-11 12:09] Gary-van-Breda commented on #182
@DavidRoy I see Biren has set up the Live pantheon environment (currently at https://live-ukbms8.pantheonsite.io/)
Can I assume we are implementing the workflows as follows:
Code: Dev->Test->Live
Data: Dev<-Test<-Live ?
In which case I will add the field in the Live environment.

[2021-03-11 12:22] DavidRoy commented on #182
yes, thanks.  We'll switch the url (www.ukbms.org) to live when ready.

[2021-03-11 12:33] Gary-van-Breda commented on #182
@DavidRoy Additional "Intended Transects" field added, and made available on Registration form, on Live environment.

[2021-03-11 12:36] DavidRoy commented on #182
Thanks.  @IanMiddlebrook  please close if now resolved for you

[2021-03-11 13:16] IanMiddlebrook commented on #182
@Gary-van-Breda
Hi, I don't see the new field here: https://test-ukbms8.pantheonsite.io/user/register
Am I looking in the wrong place?
Thanks, Ian

[2021-03-11 13:19] Gary-van-Breda commented on #182
Yes: I've put it into the Live area, and not pulled that back to test.
Check here https://live-ukbms8.pantheonsite.io/user/register

[2021-03-11 13:29] IanMiddlebrook commented on #182
@DavidRoy @Gary-van-Breda
Ah OK. Megan and myself have been making changes to the test version.
Should we have been working in the Live area? Will all our changes get lost?

Thanks, Ian

[2021-03-11 14:14] Gary-van-Breda commented on #182
It that's the case, we'll push everything from the test to Live before we go live. I'll drop the new field into test as well.
@BirenRathod : Is there anything we'll need to re-apply to live if we do this?

[2021-03-11 14:18] Gary-van-Breda commented on #182
@IanMiddlebrook : Now put on test site.

[2021-03-11 14:21] IanMiddlebrook commented on #182
Thanks @Gary-van-Breda
So, just to clarify, we can continue making our changes to the test version?
BW, Ian

[2021-03-11 14:26] Gary-van-Breda commented on #182
@IanMiddlebrook : Yes

[2021-03-11 14:41] BirenRathod commented on #182
@Gary-van-Breda Nothing from me. Let me know when you all ready.

[2021-03-11 14:46] #182 closed

[2021-03-11 14:53] Gary-van-Breda commented on #182
See #176

[2021-03-11 16:39] Gary-van-Breda commented on #184
@IanMiddlebrook : can you take a screen shot of the "broken" search box?
Also, could you look at the browser console and check if there are any JS errors?

[2021-03-12 08:54] IanMiddlebrook commented on #184
![image](https://user-images.githubusercontent.com/24699793/110915991-39f4ec00-8310-11eb-894a-846fcaebfacc.png)

Not sure if this is what you're looking for:

Uncaught Error: cannot call methods on autocomplete prior to initialization; attempted to call method 'https://warehouse1.indicia.org.uk/index.php/services/data/taxa_taxon_list'
    at Function.error (js_oMNYNUs-0qBbd0cV1OcF7TUHBofUqwBKr703Z

[2021-03-12 09:06] IanMiddlebrook commented on #184
Not sure that copied across properly:

js_oMNYNUs-0qBbd0cV1OcF7TUHBofUqwBKr703ZE3lN58.js:2 Uncaught Error: cannot call methods on autocomplete prior to initialization; attempted to call method 'https://warehouse1.indicia.org.uk/index.php/services/data/taxa_taxon_list'
    at Function.error (js_oMNYNUs-0qBbd0cV1OcF7TUHBofUqwBKr703ZE3lN58.js:2)
    at HTMLInputElement.<anonymous> (js_oMNYNUs-0qBbd0c

[2021-03-12 10:56] Gary-van-Breda commented on #184
I've switched off the Masquerade block on all Indicia pages: there is a function name used in both the masquerade and the indicia pages ("autocomplete"), but the 2 different definitions clash.
@IanMiddlebrook , can you try again? I've also put in a tweak to the form which should mean the loading of the occurrences page is faster.

[2021-03-12 11:17] IanMiddlebrook commented on #184
Yes @Gary-van-Breda, that's working properly for me now.

Thanks, Ian

[2021-03-12 13:07] DavidRoy commented on #184
Thanks, closing now

[2021-03-12 13:07] #184 closed

[2021-03-12 13:08] DavidRoy commented on #187
@Gary-van-Breda can you configure on https://live-ukbms8.pantheonsite.io/ so we can check and then close this issue?

[2021-03-12 13:58] Gary-van-Breda commented on #187
The problem is the URL itself, so any of the pantheon ones will have this problem.
@BirenRathod : can we add the pantheon urls to the list that the api keys apply for? This and the captcha as well would be brill.

[2021-03-12 14:08] BirenRathod commented on #187
@Gary-van-Breda For location search, I recon if current website ukbms.org has got no problem then it will be no problem once site goes live. the API key is bind to use with ukbms.org url.

[2021-03-15 11:48] IanMiddlebrook opened #188 "Changes to UKBMS location grid refs not reflected in iRecord outputs"
Hi,

Documenting a recent email exchange concerning a problem with grid references in iRecord.

A UKBMS section (Grangelands, section 7) was found to have the wrong grid reference (a historical error). The section was adjusted on the route map website, so that the grid ref was then correctly calculated.
This change appeared immediately in any fresh data download from the UKBMS website.
However, on

[2021-03-16 11:16] Gary-van-Breda commented on #186
Code fix deployed to Test: please review.

[2021-03-16 11:29] DavidRoy commented on #186
@IanMiddlebrook @MeganLowe could you check this is ok for you and close if appropriate

[2021-03-16 11:42] IanMiddlebrook commented on #186
Hi @Gary-van-Breda ,

It looks good for normal users now, but it still looks like Branch Co-ordinators are able to add WCBS squares. Only Admin should be able to do so.

Thanks, Ian

[2021-03-16 12:59] Gary-van-Breda commented on #186
Code fix extended to allow restriction of branch manager creation.
Deployed to Test: @IanMiddlebrook can you try again?

[2021-03-16 13:23] IanMiddlebrook opened #189 "Problems with Creating a New Site"
Hi @DavidRoy  @Gary-van-Breda ,

It doesn't seem to be possible to fully test the setting up of a new transect at the moment.

There is no map at all on the Site details page, and even if I enter a grid reference, I'm not able to continue.

One thing that stood out is the 'Overall Length' box. This appears to be asterisked as an essential field to complete, but there is also a note to say that it

[2021-03-16 13:24] IanMiddlebrook commented on #186
Thanks @Gary-van-Breda , that seems to be working fine.

[2021-03-16 13:24] #186 closed

[2021-03-16 13:54] Gary-van-Breda commented on #189
I think this was a cache issue: I've cleared the caches, and it looks OK to me.
@IanMiddlebrook could you try again.

[2021-03-16 14:07] IanMiddlebrook commented on #86
Hi @DavidRoy

Would we be able to do this before we go live? I wouldn't want to hold up the launch just for this, but if it's a relatively quick job?

Thanks, Ian

[2021-03-16 14:48] DavidRoy commented on #86
Yes, sorry being so tardy on this one.  Will prioritise this next...

[2021-03-16 15:24] IanMiddlebrook commented on #189
thanks @Gary-van-Breda , I'm making some progress now, but it seems very confusing as to what is being saved or not.

I can set up basic site details, click save, and it takes me to Section 1 (slightly confusing that it takes you to the bottom of the page, rather than back to the top so that you can see where you are).
If I draw in Section 1, and click Save, it tells me it has saved the Section, b

[2021-03-16 15:38] IanMiddlebrook commented on #189
Incidentally, I also updated another test route that I'd set up previously. I added an extra section. Again it didn't set a length for that  section, although it did appear to add that section to the overall transect length.

[2021-03-18 15:46] Gary-van-Breda commented on #189
@IanMiddlebrook New version deployed to test site to be checked.  This should fix the section/transect calculation issues and the "saved but not thinking its saved" issue.
Note that the site/sections where the auto calculate length did not previously work will need **_all_** their iffy routes slightly tweaked and re-saved in order to redo the calculations.
The only time the displayed tab should ch

[2021-03-18 16:24] IanMiddlebrook commented on #189
Hi @Gary-van-Breda , that's great.

All seems to work well for me now.

Thanks, Ian

[2021-03-18 16:24] #189 closed

[2021-03-23 11:36] colinharrower opened #190 "UKBMS.org website homepage recording method link appears to go to a placeholder page"
The recording method link in the text on the home page seems to go to a methods page url (https://ukbms.org/methods) but the content on that page seems to be placeholder (a copy of the home page but without the social media pane on the right). Should this link go to the same methods page as the methods page accessible from the get involved drop down (https://ukbms.org/methods-recording-butterfly-t

[2021-03-23 11:39] colinharrower opened #191 "UKBMS.org website WCBS page guidance and resource link appears to go to a placeholder page"
The guidance and resources link in the text on the WCBS page (https://ukbms.org/wider-countryside-butterfly-survey) goes to a url https://ukbms.org/guidance which appears to be a placeholder page (a copy of the home page without the social media pane). Should this link go to the same url/page as the link from the photo on the right hand site of the WCBS page which goes to the url https://ukbms.org

[2021-03-23 11:47] colinharrower opened #192 "Site details link from UKBMS.org version of site map going to pantheonsite.io version of site"
Clicking on the site details link for a site displayed on the site leaflet map on the sites page (https://ukbms.org/sites) is currently directing you to a site details page on the patheonsite.io version. Should the site details link on the live site take you to live site version of the site details page, otherwise people can end up browsing the test version content after being taken there by that

[2021-03-23 12:00] DavidRoy commented on #187
@Gary-van-Breda @BirenRathod any action needed on this one now the site has gone live?

[2021-03-23 12:04] BirenRathod commented on #190
@colinharrower & @DavidRoy This has resolved now. It is now ukbs.org/methods

[2021-03-23 12:07] #190 closed

[2021-03-23 12:20] BirenRathod commented on #192
@colinharrower & @DavidRoy The test URL has updated to live one now.

[2021-03-23 12:28] BirenRathod commented on #191
@colinharrower & @DavidRoy The URL of guidance link changed to guidance-recording-forms. This will resolved the issue of the link reference on ukbms website.

@DavidRoy if you have referenced this link ukbms.org/guidance externally then I recon, I should amend all guidance-recording-forms link to guidance. do you want me to do that? let me know.

[2021-03-23 12:32] DavidRoy commented on #191
I don't think we have used this url externally.  Closing now and will create new issues if any problems reported

[2021-03-23 12:32] #191 closed

[2021-03-23 12:33] DavidRoy commented on #192
Thanks

[2021-03-23 12:33] #192 closed

[2021-03-23 12:35] BirenRathod commented on #187
@DavidRoy do you know the URL of this page?

[2021-03-23 12:38] BirenRathod commented on #187
@DavidRoy I have just implemented the search box, so it is working now.

[2021-03-23 12:42] DavidRoy opened #193 "timeout on https://ukbms.org/my-sites"
This page does not load for me, nor when masquerading as other recorders. I get
The application did not respond in time.

[2021-03-23 13:35] BirenRathod commented on #193
@DavidRoy I don't see that problem by masquerading as you. Of course I checked after I cleaned the cache.

[2021-03-23 13:44] IanMiddlebrook commented on #187
@DavidRoy  Yes, search box looks fine.

But are we going to be getting the satellite map option as before?
Could be difficult to draw some routes without that.

Thanks, Ian

[2021-03-23 13:53] DavidRoy commented on #174
@Gary-van-Breda @BirenRathod is this up and running now the new site has gone live

[2021-03-23 15:05] BirenRathod commented on #174
@DavidRoy & @Gary-van-Breda , I noticed that there was no google api stored in indicia settings. I just add it and it works fine for satellite map search.

[2021-03-23 15:32] DavidRoy commented on #174
Thanks @BirenRathod, yes that was the previous discussion on this

@IanMiddlebrook @MeganLowe please close if happy with this now

[2021-03-23 15:53] IanMiddlebrook commented on #174
@DavidRoy @BirenRathod
Here we go again!
I'm afraid I don't see any satellite map option when I look at existing sites or set up a new transect.

Also, the search box now seems to be less useful. When I used it this morning, it would come up with several suggestions. Now, it just goes to where it thinks I mean.
For example, if I type Newport and press search, it takes me straight to Newport in Sou

[2021-03-24 09:24] IanMiddlebrook commented on #174
Thanks @DavidRoy @BirenRathod, I can get the satellite maps now.

I'm still puzzled by the lack of options from the search box, but hopefully it won't cause too many problems.

Best wishes, Ian

[2021-03-24 09:28] IanMiddlebrook opened #194 "Unable to Remove Sites"
Hi @Gary-van-Breda @DavidRoy

A recorder tried to set up a new transect site and made a bit of a mess. So a second site was set up. But I now see that it's not possible to Delete the first attempt - even for a Site Admin.

Could we please have a Delete button on the Site Details page that Admin can use to Remove a site from the database (as there was on the old website).

Many thanks,

Ian

[2021-03-24 10:17] IanMiddlebrook opened #195 "Old links in Raw Data tables"
Hi @Gary-van-Breda @DavidRoy

I just tried to go to a Walk Data entry page from the link on the Annual summary - Raw Data table.

The link still seems to point to the development site:
https://test-ukbms8.pantheonsite.io/input-data?sample_id=8824575

Thanks, Ian

[2021-03-24 10:39] Gary-van-Breda commented on #195
@IanMiddlebrook : should be fixed now

[2021-03-24 10:44] IanMiddlebrook commented on #195
Thanks @Gary-van-Breda

Yes, seems to work well now. I notice that the link appears to have an extra slash after ukbms.org,
eg. https://ukbms.org//input-data?sample_id=8167074

but the browser just removes that and still finds the page.

Thanks, Ian

[2021-03-24 13:37] IanMiddlebrook opened #196 "Highlighting row and column when entering data"
Hi @DavidRoy @Gary-van-Breda

A comment from a user this morning when entering butterfly counts - Walk Data Entry, second page:

_Previously when you were in a cell, the column and row were highlighted. So if you wanted to make sure you were on section 3 you looked up at the top of the column and the column heading you were in was highlighted.  I now have to go to the cell and follow up the column

[2021-03-24 14:14] IanMiddlebrook opened #197 "active grid reference display when drawing route maps"
Hi @Gary-van-Breda @DavidRoy

The next comment through from a co-ordinator:

_But what is lost from before is the ability to plot points on the map from grid references taken on the ground.
If this functionality is lost it will make drawing new routes more difficult – and inaccurate._

What he's referring to is the boxes at the foot of the route map in the old version that showed the actual grid r

[2021-03-24 14:31] IanMiddlebrook opened #198 "New sites not being added to My Sites for Branch Co-ordinators"
Hi @DavidRoy @Gary-van-Breda

A few branch co-ordinators have now tried setting up new transects. They each seem to be having some issues, but one main problem is they have no idea if the new transect has Saved when they finish, because the site doesn't appear on their Site List.

Could you please arrange that any new transect set up by a Branch Co-Ordinator is automatically added to their list of

[2021-03-24 14:38] IanMiddlebrook opened #199 "Invisible Add Transect button on My Sites page"
Hi @DavidRoy @Gary-van-Breda

Hopefully an easy one to rectify.
The 'Add Transect' button on the 'My Sites' page is virtually invisible - white text on a pale grey background. Could this please be made more visible (eg. like the 'Run Report' button).

Thanks, Ian

[2021-03-25 09:12] IanMiddlebrook opened #200 "Species missing from Site Details"
Hi @DavidRoy,

A recorder has noted that  Small Pearl-bordered Fritillary is missing from the list of species seen on her transect, when she looks at the Site Details page: https://ukbms.org/site-details-map?location_id=245429
Yet it was clearly recorded, according to the Annual Summary page and other Reports.

I doubt if this is the only discrepancy. How is the data for Site Details page produced

[2021-03-25 09:21] DavidRoy commented on #200
@burkmarr
Can you investigate this page you developed for the UKBMS.  Looks like a species dictionary issue and not picking up the right names?

[2021-03-25 09:28] IanMiddlebrook opened #201 "Wrong link in side menu"
Hi @DavidRoy @BirenRathod,

If you go to https://ukbms.org/get-involved
the box down the right hand side for Standard Survey Methods has the wrong link. It points to https://ukbms.org/methods-recording-butterfly-transects but that just goes back to the welcome page. It needs to point to https://ukbms.org/methods

I'm afraid the same problem applies to all the pages in that group, which have the sa

[2021-03-25 10:32] IanMiddlebrook opened #202 "Confidential Site showing in overall Sites map"
Hi @DavidRoy

A recorder contacted me yesterday asking for his transect site to be made 'confidential' so that it couldn't be seen by the public on here: https://ukbms.org/sites .
I marked the transect (Sutherland Beck) as confidential yesterday, but it still appears on the Sites map today.

Is there much of a delay in the Sites map picking up changes to confidentiality?

Thanks, Ian

[2021-03-25 10:36] DavidRoy commented on #202
@burkmarr could you pick up this one too please

[2021-03-25 12:37] burkmarr commented on #200
The report applies a filter to the records for a site to ensure that it retrieves only butterflies. For some reason this filter was very complex:

[code]
I don't know why I created the filter like that when this one-liner should do the job:
[code]
So I can update the report accordingly and Small Pearl-bordered Fritillary is included.

However, it begs the question why the more complex filter remov

[2021-03-25 12:57] MeganLowe opened #203 "Prompt user to login when following links to restricted access pages"
Hi, we have a link on the Wider Countryside Butterfly Survey page that directs people to 'Enter your Count' which links to: https://ukbms.org/my-walks
This works fine when the user is already logged in, but if not logged in it takes the user to the home page. Is it possible to prompt the user to login instead?
Likely to be more examples of this where there are links to pages that the user needs to

[2021-03-25 14:37] burkmarr commented on #202
The report didn't check for site confidentiality. I've amended report and will post here when implemented on live site.

[2021-03-25 14:37] burkmarr commented on #200
I've amended report and will post here when implemented on live site.

[2021-03-25 16:54] MeganLowe commented on #172
Hello @Gary-van-Breda @DavidRoy, I've just found another holiday square tickbox under the section details tab on the Site Details pages. Here's an example of where I mean: https://ukbms.org/site-details?id=125015 The checkbox seems to be on every section (S1 - S10) and is tickable by all users. Please can we remove it from this location completely? Or if not possible to remove completely, just mak

[2021-03-25 17:35] BirenRathod commented on #201
@IanMiddlebrook
It has implemented now.

[2021-03-26 08:50] IanMiddlebrook commented on #201
That's great - thanks @BirenRathod

[2021-03-26 08:50] #201 closed

[2021-03-26 10:19] MeganLowe opened #204 "Grid references for WCBS squares"
Hi, please can we restrict editing of grid references on all WCBS-BC and WCBS-BBS squares to admin users only regardless of whether the sites have records or not? This applies to just WCBS, not Transects. I have a feeling this was resolved before, but I've just found that squares with no records still allow normal users to edit the grid reference (problem being that recorders may be tempted to cha

[2021-03-26 11:53] IanMiddlebrook opened #205 "Site Assignment page not working"
Hi @DavidRoy

I'm not sure that  the Site Assignment page is working properly https://ukbms.org/site-assignment

Twice now I have used  that page to 'unallocate' a recorder from a transect, by unchecking the relevant box. But I then find that they are still allocated. So I've had to go to the individual Site Details page to break the link.

As far as I can tell, allocating sites to recorders on th

[2021-03-26 11:58] DavidRoy commented on #205
Can you give specific examples - site and recorder to help @Gary-van-Breda track this down?

[2021-03-26 12:04] IanMiddlebrook commented on #205
Hi @DavidRoy

Specifically, I was trying to remove the transect Buckland Wood and WCBS square ST1914 from the account of Nigel Cottle.

I used the Site Assignment page to do this, and he got back in touch to say they were still there. So I went to the Site Assignment page again and repeated the action. Then I masqueraded as Nigel Cottle to check his Site List, and they were still there.

So I then

[2021-03-26 12:39] IanMiddlebrook opened #206 "Section Grid Reference and Length"
Hi @DavidRoy @Gary-van-Breda

A branch co-ordinator has just set up a new transect. It seemed to be successful - the route map looks fine with 10 sections.

However, looking at the Section Details - it has not calculated the individual section grid reference or length.

All the section Grid References just show the same Grid Reference at the overall Site, while the Section Length fields are just b

[2021-03-26 15:27] IanMiddlebrook opened #207 "My Sites page timing out"
Hi @DavidRoy

I have had several reports, and experienced myself, the 'My Sites' page takes a long time to load and often 'times out' with the message: _The application did not respond in time._

This is particularly disconcerting when you've set up a new site, or edited a Site and clicked 'Finish', because it should take you back to My Sites. But when it times out recorders are not sure that thei

[2021-03-26 15:31] DavidRoy commented on #207
#193 is the same issue

[2021-03-28 12:17] MeganLowe opened #208 "WCBS-BC data entry"
Hello, found another issue (sorry...). Having a problem with WCBS-BC data entry on the My Walks page. When I select a date in the calendar it takes me back to the homepage instead of the data entry form. Seems to work fine with WCBS-BBS and Transects so it's only WCBS-BC that it won't let you enter data for. Thanks, Megan

[2021-03-28 21:46] Gary-van-Breda commented on #208
@MeganLowe : custom URL on BC walk input page was omitted, now fixed, so this is now working.

[2021-03-29 08:54] IanMiddlebrook commented on #200
Hi,
Whilst this issue is open, I've had more feedback from a volunteer. Firstly that Dingy Skipper and Chalkhill Blue were missing from her species list (which I would guess is already addressed by the change made?).
But also that she would expect to see the species listed in taxonomic order - they seem to be listed in alphabetical order of scientific name.
Most recorders get used to seeing specie

[2021-03-29 13:17] IanMiddlebrook commented on #208
Thanks @Gary-van-Breda

[2021-03-29 13:17] #208 closed

[2021-03-29 20:21] Gary-van-Breda commented on #172
@MeganLowe : I can't see it - can you attach a screen shot?

[2021-03-30 09:47] MeganLowe commented on #172
Hi @Gary-van-Breda, that's odd, I can't see it now either! Will close the issue but keep an eye on it and let you know if it reappears. Thanks, Megan.

[2021-03-30 09:47] #172 closed

[2021-03-31 11:02] IanMiddlebrook opened #209 "Data Entry Problems on different Browsers"
Hi @DavidRoy @Gary-van-Breda

I'm starting to hear of a few problems with data entry - possibly browser related?

One recorder, using Microsoft Explorer, got through the first Walk Data Entry page, but was unable to bring up any sort of species list on the second page. I managed to help him progress using Google Chrome instead.

Another recorder is unable to proceed beyond the first Walk Data Entr

[2021-03-31 13:21] IanMiddlebrook opened #210 "Not able to see entire Annual Summary table - no scrolling"
Hi @DavidRoy @Gary-van-Breda

There appears to be no means of scrolling horizontally when looking at the Annual Summary Table, and it doesn't all fit onto the screen, so it's not possible to see the totals in the right hand column.
See screenshot from recorder:
![Screenshot (5)](https://user-images.githubusercontent.com/24699793/113150454-01b83d80-922c-11eb-97d9-0eef2b5c4e7d.png)

I've tried this

[2021-03-31 13:22] IanMiddlebrook commented on #209
Hi, additional comment from the second user above:
_Actually, I was using Mozilla Firefox. I have Edge available [89.0.774.63 (Official build) (64-bit)]. When I log in using Edge, I still get the same 6 date format hyphens and it changes my input to 12 hour format, but it does at least accept my entry and let me proceed to inputting my sightings._

[2021-04-01 08:35] IanMiddlebrook commented on #209
Hi, Just to confirm the first point - I've had feedback from another user of Microsoft Explorer who cannot get a species list up on data entry.

[2021-04-01 14:05] IanMiddlebrook opened #211 "Simple A-Z list of transects"
Hi @DavidRoy

On the old website there was an option to look for transect sites by name in an A-Z list.

Whilst we have a great new map to help locate transects, a simple list would also be useful (if you already know the name of the site, but take a while to find it on thee map). I've had a request for this today.

Would this be possible at some point?

Thanks, Ian

[2021-04-01 14:13] DavidRoy commented on #211
Good idea.  Rich - could you create this, adapting the report used to create the map
https://ukbms.org/sites

[2021-04-01 14:14] MeganLowe opened #212 "Compulsory Fields on Data Entry page"
Hello, please can we make the following fields compulsory (in addition to the ones that currently are) on the first page of data entry for all transects/WCBS-BC/WCBS-BBS:
- start time
- end time

And make the % sun fields compulsory on the second page of data entry (where the species are listed). Is it also possible to put a limit on this so people can't enter more than 100? And lastly, these % su

[2021-04-01 14:29] MeganLowe opened #213 "Permissions on Reporting pages"
Hello, please can we ensure that 'normal users' only have access to download their own data from the reporting pages (annual summary etc) as per the old website. At the moment it seems a 'normal user' can download any data from any site. Thanks, Megan

[2021-04-01 14:36] IanMiddlebrook commented on #209
Hi, Another report of the second problem:
_I use Mozilla Firefox as the default on my laptop. I then tried Microsoft Edge. Same problem.
Moved to the wife's desktop, which uses Bing - problem solved!_

Obviously not clear whether it was the change of browser or change of computer that solved  the problem.

[2021-04-01 14:54] DavidRoy commented on #209
Bing is a search engine, not a browser.
@IanMiddlebrook can you test on FireFox please

[2021-04-01 15:03] IanMiddlebrook commented on #209
Hi @DavidRoy
It works OK on Firefox for me.
I suspect it's an issue with time settings on each computer? But that's just a layman's guess!
Thanks, Ian

[2021-04-01 15:15] DavidRoy commented on #209
shall we close this issue as it could eat up a lot of time resolving?

[2021-04-01 15:17] IanMiddlebrook commented on #209
Surely it needs to be resolved if several recorders are not able to enter their data!

[2021-04-01 15:28] DavidRoy commented on #209
Sorry, yes.  I'd forgotten this was not an isolated issue.

[2021-04-01 16:01] IanMiddlebrook commented on #212
Hi @Gary-van-Breda @DavidRoy
On Megan's final point of the section % sun fields on the data entry page, it seems that they are saving to the database (according to downloads), but are not displaying on the data entry page when re-visiting the page.

[2021-04-01 22:23] Gary-van-Breda commented on #207
@BirenRathod : can you copy the latest version of the indicia-reports over to warehouse1 please? There is a new report "my_sites.xml" in the projects/ukbms directory.

[2021-04-02 08:26] Gary-van-Breda commented on #209
Yes, this is a computer settings problem.
As discussed in " https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time ", the input field takes its 12/24 hour setting from the (local) operating system: as can be seen in the bottom right hand corner of the screenshots above, the time is being displayed in 12 hour mode on the computer.
**IMPORTANT: even though the time is being displayed i

[2021-04-02 10:27] IanMiddlebrook commented on #209
Thanks @Gary-van-Breda @DavidRoy
Surprising, as this wasn't a problem on the old website.
I don't use any other website that insists I change my local settings in order for them to work, and the second solution sounds a bit convoluted.
Is there no way this field could operate without taking its setting from the operating system?

I've added a note to the top of the page for now.

Thanks, Ian

[2021-04-02 10:31] IanMiddlebrook commented on #209
Hi @Gary-van-Breda

There is also the issue of no species list appearing in Microsoft Explorer. Should I separate  this one?

Thanks, Ian

[2021-04-02 16:24] Gary-van-Breda commented on #209
@IanMiddlebrook Can you confirm the operating system and IE version of the person who is having problems?

With the upgrade to Drupal 8 from 7, we have got a more up to date version of the IForm Library within which the ukbms forms are built. This has seen development to bring it in line with HTML5: so the control for entering the time is no longer a text field with an enforced format (which was t

[2021-04-02 19:53] Gary-van-Breda commented on #212
@DavidRoy : can you confirm you are happy with the compulsory fields? Do we have to import any data which does not have the end time?

[2021-04-02 20:33] Gary-van-Breda commented on #198
@IanMiddlebrook
New panel added to bottom of first page when adding a site, visible for branch managers only. Contains 2 checkboxes, one allowing the site to be allocated to the user as a normal user, and one as a branch manager: they get to choose.
Deployed to Live.

[2021-04-02 21:14] Gary-van-Breda commented on #213
@MeganLowe : I've switched off the Form config parameter which allows branch managers and normal users to see the entire location list in the Annual summary page.

[2021-04-03 18:55] Gary-van-Breda commented on #197
@IanMiddlebrook : are these OSGB or GPS Lat/Long?

[2021-04-06 08:58] DavidRoy commented on #212
@Gary-van-Breda yes to compulsory fields.
Yes, we may have to import data without and end time. Is there an option for a missing value code?

[2021-04-07 08:15] IanMiddlebrook commented on #197
Hi @Gary-van-Breda

My recollection is that they were OSGB, but displayed entirely numerically, rather than with letter prefixes.

Thanks, Ian

[2021-04-07 09:15] MeganLowe commented on #213
Hi @Gary-van-Breda I think it's ok for the branch managers and normal users to see the entire location list (minus the 'confidential' sites), but it's what they can download that's the issue. I'll try and explain what I mean per user type below:

Normal Users:
In the 'filter by recorder' drop down list they should be able to filter by 'My Data' and 'Combine data for all recorders'. In the 'filter

[2021-04-07 09:26] IanMiddlebrook commented on #213
Hi,

I think the only problem here is with the downloads.

As I recall from the old website, when a normal user is looking at data from all recorders, they should only be able to download the grids (Summary Grid, Estimates Grid, Raw Data Grid).
They should only have access to the other 4 downloads when they are just looking at their own data.

Branch Co-ordinators should have access to all downloa

[2021-04-07 12:48] IanMiddlebrook commented on #198
That's great - thanks

[2021-04-07 12:48] #198 closed

[2021-04-07 13:09] IanMiddlebrook commented on #209
Hi @Gary-van-Breda - not sure which of the problems you're asking about, but it's not just one person, it's several (for both problems).

For the problem with species lists not appearing at Data Entry, the first few people who had the problem were all using Internet Explorer. I've just opened this up and had a go. Sure enough, it did not give me any species list to enter data. This is my version:

[2021-04-07 13:14] IanMiddlebrook commented on #209
Hi @Gary-van-Breda,

Sorry, have just realised another recorder with this problem of no species list is using a Mac:
_I signed in (or my mac did) and entered the walk details OK, however, when it came to entering data I could not further than the position shown on the screen shot - no way to display the species and then enter data._
_My operating system is OS X 10.9.5
 and I’m using Safari as my b

[2021-04-07 15:12] IanMiddlebrook opened #214 "unable to download shapefile from My Sites"
Hi @DavidRoy @Gary-van-Breda

A user has identified a problem downloading the shapefile from My Sites. I tried and the same thing happened. The error message is:

<_ServiceExceptionReport xmlns="http://www.opengis.net/ogc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2.0" xsi:schemaLocation="http://www.opengis.net/ogc http://schemas.opengis.net/wfs/1.0.0/OGC-exception.xsd">
<Se

[2021-04-08 07:47] IanMiddlebrook commented on #209
Just quickly - the Chrome user who reported no species list has now been successful, so it's down to Explorer and Safari.

[2021-04-08 07:59] IanMiddlebrook opened #215 "Data Entry page very slow to load"
Hi @Gary-van-Breda

Several recorders have now commented that the second data entry page can be very slow to load up. I.E. after completing the Walk Data Entry details (time, weather etc) and clicking next - waiting for the species/section grid to load.

Sample feedback:

_I've tried using the new site to enter week 1 results for two transects that I walk and have found that it was rather slow in

[2021-04-08 08:28] IanMiddlebrook commented on #209
The latest user to have no species list - _Microsoft Explorer ( Windows 8.1)_ - has resolved using Chrome.

[2021-04-08 09:34] DavidRoy commented on #215
@Gary-van-Breda I agree that the transition fro P1 to P2 is slow

[2021-04-08 16:32] Gary-van-Breda commented on #215
There are 2 reports which calculate the taxa previously entered by the user, and against the transect: as can be seen from the logs, these reports are very simple, and have a significant performance hit:

[code]

[code]

These should be well served by the indexes: @johnvanbreda Do you know how often the table stats are updated? Is it possible that the indexes have got skewed and need rebuilding? I

[2021-04-08 20:48] Gary-van-Breda commented on #214
@IanMiddlebrook : the reason is that there is no location type selected by default: whilst I figure out how to sort this, the work around is to select the location type in the filter (e.g. Transect), then re-run the report: the link should then work.

[2021-04-09 07:41] IanMiddlebrook commented on #214
Thanks @Gary-van-Breda, I've passed that on to the recorder.

[2021-04-09 07:58] IanMiddlebrook commented on #200
Hi @DavidRoy @burkmarr
I'm not sure if this is still a work in progress, but I've had a different comment back from a recorder saying that their site list includes a whole array of unusual species that have never been recorded there: https://ukbms.org/site-details-map?location_id=193315
I investigated, and discovered that, for some reason, they had entered a series of zero counts for these extra s

[2021-04-09 08:25] Gary-van-Breda commented on #214
@IanMiddlebrook : fix applied to footer definition, which removes the location_type_id filter from the download url if not provided.

[2021-04-09 08:37] Gary-van-Breda commented on #213
@MeganLowe @IanMiddlebrook : I've applied a fix that should sort this out for both normal users and branch managers.
I've also switched back on the the Form config parameter which allows branch managers and normal users to see the entire location list.

[2021-04-09 08:42] Gary-van-Breda commented on #212
Currently there is no such option. This is further complicated by the warehouse caching this configuration, and there being no way to clear this cache: this means we can not just switch off the mandatory flag when we want to do an import, and then switch it back on again afterwards.

[2021-04-09 09:03] IanMiddlebrook commented on #214
Thanks @Gary-van-Breda

[2021-04-09 09:03] #214 closed

[2021-04-09 09:11] johnvanbreda commented on #215
I think the issue here is that, although there are indexes covering the filtering that is going on, each index is only able to reduce the number of records available so far, so the results need to be merged with the results of other indexes, or filtered. The first query does the following:
* Use an index on cache_occurrences_functional to find all records for created_by_id=21161 (~13K), but whilst

[2021-04-09 09:12] IanMiddlebrook commented on #213
That's great, thanks @Gary-van-Breda

[2021-04-09 09:12] #213 closed

[2021-04-09 10:00] burkmarr commented on #200
I updated reports for this but they haven't been pulled through to the live site yet. I've scheduled some time to revisit them early next week and I will look to add the filter for negative records in.

[2021-04-09 10:00] burkmarr commented on #211
I've scheduled some time to look at this early next week.

[2021-04-09 10:23] Gary-van-Breda commented on #215
I think it is still struggling.
I'm going to rewrite this to use the summary_occurrences table instead: this has got a factor of 10 fewer rows.

[2021-04-09 10:30] DavidRoy commented on #215
@johnvanbreda @Gary-van-Breda could this use the ElasticSearch Index?

[2021-04-09 10:38] johnvanbreda commented on #215
@DavidRoy yes, that's an option as well. Perhaps wait and see if the summary occurrences approach works, if not we can try Elasticsearch.

[2021-04-09 11:23] Gary-van-Breda commented on #215
@DavidRoy @IanMiddlebrook I've changed the form to load the data from the summary occurrences table, rather than using a report.
Currently taking about 6 seconds to go from P1 to P2 for me, irrespective of whether the Indicia caches have been cleared or not. Each of those queries are now in the sub 1s time range. There are other parts of the form taking the most time now.

Deployed to Live.

@john

[2021-04-09 12:16] johnvanbreda commented on #215
@Gary-van-Breda I've dropped the indexes.

[2021-04-09 13:39] Gary-van-Breda commented on #209
@IanMiddlebrook @DavidRoy Fix applied to live to remove what is know as an "arrow function call": this is a modern Javascript innovation that IE can't handle, and possibly Safari as well.
Whilst I have checked IE on my machine, and that is working OK, I have not been able to check Safari. Could you arrange for the user to try again?

[2021-04-09 14:02] IanMiddlebrook commented on #209
Hi @Gary-van-Breda

Has this fix definitely gone live? I've tried again in IE, cleared cookies etc, but still can't bring up a species list.
I've asked the Safari user to have another go.

Thanks, Ian

[2021-04-09 14:57] Gary-van-Breda commented on #209
@IanMiddlebrook Yes - I've just had a look at it, and it is definitely there: can you try again?

[2021-04-09 15:01] IanMiddlebrook commented on #209
Thanks @Gary-van-Breda  - yes, it's worked this time.

Many thanks, Ian

[2021-04-11 16:53] DavidRoy commented on #215
@IanMiddlebrook can you review performance again please

[2021-04-11 20:57] #142 closed

[2021-04-11 21:01] Gary-van-Breda commented on #162
@marcbotham : now that we have gone Live with the new website version, and the total total value is present, could you check to confirm it now does as requested?

[2021-04-12 06:46] Gary-van-Breda commented on #210
@IanMiddlebrook : Fix applied and deployed to Live.
A scroll bar has been added to the bottom of the viewport.

[2021-04-12 06:49] Gary-van-Breda commented on #196
@IanMiddlebrook : Fix applied. Both Section number at top of the grid and the Taxon at the row start are highlighted for the currently focused cell in the species grid.

[2021-04-12 08:13] IanMiddlebrook commented on #209
Hi @Gary-van-Breda  The Safari user has now got back to me and has been successful.

Many thanks, Ian

[2021-04-12 08:46] Gary-van-Breda commented on #209
@IanMiddlebrook : is there anything outstanding on this issue now?

[2021-04-12 08:49] IanMiddlebrook commented on #209
@Gary-van-Breda  Only if a neat solution can be found for the 12 hour display problem, but that's not critical.

Thanks, Ian

[2021-04-12 09:05] IanMiddlebrook commented on #196
Hi @Gary-van-Breda
Is this on test or live? I'm not seeing anything highlighted on the live site, in Chrome or Firefox.

[2021-04-12 09:15] IanMiddlebrook commented on #215
Hi @DavidRoy
For me, currently ranging from 6-10 seconds to open up the second page of data entry, and a further 5-6 seconds before the 'out of range' or 'outside flight period' species are highlighted.
Had an email from a co-ordinator this morning who says this page is just timing out for him.
So I think it still needs some more work.

Thanks, Ian

[2021-04-12 09:17] BirenRathod commented on #207
@Gary-van-Breda This report has gone live now.

[2021-04-12 09:21] Gary-van-Breda commented on #209
I can't see one: @johnvanbreda - do you have any thoughts?

[2021-04-12 09:30] Gary-van-Breda commented on #215
@IanMiddlebrook : who had the problem this morning?

[2021-04-12 09:32] IanMiddlebrook commented on #215
It was Bill Downey

[2021-04-12 09:39] Gary-van-Breda commented on #196
@IanMiddlebrook : Sorry - site caching issue. Can you try again?

[2021-04-12 09:41] MeganLowe opened #216 "Missing Map View for some WCBS-BC"
Hi, on the site details page for **some** WCBS-BC sites the map is missing completely (it doesn't appear on the site details page, or when selecting any of the sections under the route or section details tabs). I've attached a screenshot below of square SU1301 which seems to have this problem. For some sites the map appears fine, others are blank, but I can't work out what the common theme is. I h

[2021-04-12 09:50] IanMiddlebrook commented on #196
Hi @Gary-van-Breda  Yes, working well on Chrome and Firefox now.

Thanks, Ian

[2021-04-12 09:50] #196 closed

[2021-04-12 09:57] IanMiddlebrook commented on #210
thanks @Gary-van-Breda  - able to scroll in Chrome, Edge and Firefox

[2021-04-12 09:57] #210 closed

[2021-04-12 10:02] IanMiddlebrook commented on #216
Hi @Gary-van-Breda @DavidRoy @BirenRathod

Yes, this issue is definitely also happening on transect site details. I can't see a map on any of my Site Details pages, and the Norfolk Co-ordinator (Alan Dawson) has just said the same thing.

Thanks, Ian

[2021-04-12 10:15] johnvanbreda commented on #209
@Gary-van-Breda I wasn't aware that the time_input control has changed due to the adoption of HTML5 for the date_picker. How exactly is the time input control being added to the page, and which prebuilt form is this for?

[2021-04-12 10:16] Gary-van-Breda commented on #216
@BirenRathod @DavidRoy @IanMiddlebrook @MeganLowe
Related to #206: Fix applied to Live

[2021-04-12 10:19] IanMiddlebrook commented on #216
Thanks @Gary-van-Breda  All my maps have reappeared, so looks resolved for me.
@MeganLowe ?

[2021-04-12 10:19] Gary-van-Breda commented on #206
@IanMiddlebrook @DavidRoy
I've identified the coding issue that caused this, and have fixed and deployed it. I now need to do the data fix.
FYI, it was storing the length in a "Transect length" attribute associated with the section, instead of the "Section length" attribute.

[2021-04-12 10:21] MeganLowe commented on #216
Looks good to me too. Thanks @Gary-van-Breda !

[2021-04-12 10:21] #216 closed

[2021-04-12 10:28] Gary-van-Breda commented on #209
Sorry, my mistake - this is specific to this form: @johnvanbreda please ignore. The time fields are specifically changed in the form: I'll investigate further.

[2021-04-12 10:48] Gary-van-Breda commented on #215
There are various points where the performance of the form are logged: I've run it for Bill, and got the following:
[code]

The killer here is (10) : the lookup of the taxa at the site, even using the summary_occurrences lookup.

@johnvanbreda : could you add the following index (the other 2 indexes on this table have other columns after the survey_id which compromise their usefullness for this us

[2021-04-12 11:10] johnvanbreda commented on #215
I've added the index @Gary-van-Breda

[2021-04-12 12:53] Gary-van-Breda commented on #215
@IanMiddlebrook : can you get Bill Downey to try again?

[2021-04-12 13:02] IanMiddlebrook commented on #215
@Gary-van-Breda - have asked Bill, will let you know when he replies.

[2021-04-12 14:21] Gary-van-Breda commented on #207
@IanMiddlebrook : "My Sites" has been reconfigured to use the new report. Can you check that it is OK, and that the people who complained about the timeouts alos no longer have a problem?

[2021-04-12 14:22] Gary-van-Breda commented on #193
@DavidRoy : Are you happy to close this as a duplicate of #207?

[2021-04-12 14:33] IanMiddlebrook commented on #207
Thanks @Gary-van-Breda
It's nice and quick for me. I'll let you know what others say.

[2021-04-12 14:43] Gary-van-Breda commented on #145
@DavidRoy : are you happy with what is now displayed/available for this site? The page has had a lot done to it in the last year, and it is now displaying all the sections, and has an "Insert section" button.

[2021-04-12 15:05] #193 closed

[2021-04-12 16:28] DavidRoy commented on #145
Thanks. Page looks great

[2021-04-12 16:28] #145 closed

[2021-04-13 08:20] Gary-van-Breda commented on #187
@IanMiddlebrook : google satellite layer has been added to the Site Details page, for both Site and Section maps. Are you happy to close?

[2021-04-13 08:21] IanMiddlebrook commented on #187
Yes, thanks

[2021-04-13 08:21] #187 closed

[2021-04-13 08:41] Gary-van-Breda commented on #174
@IanMiddlebrook: It is odd, but the Google Place search API is returning only a single entry, even though if you enter "Newport, Essex" or "Newport, Isle of Wight" you get these returned correctly. I'm not sure there is much we can do about this, other than suggest the users add the county to their search if they don't get the response they expect with the more general search. Equally, I'm at a bi

[2021-04-13 08:48] IanMiddlebrook commented on #174
Hi @Gary-van-Breda
Yes, happy to close, it's only a minor irritation for me because I grew up in Newport (Isle of Wight) :-)

[2021-04-13 08:48] #174 closed

[2021-04-13 08:50] Gary-van-Breda commented on #176
@MeganLowe : can you review this and check if it has been completed to your satisfaction?

[2021-04-13 08:54] #180 closed

[2021-04-13 09:07] Gary-van-Breda commented on #199
@IanMiddlebrook : I've added extra classes to the link in the table footer for "My Sites" and "Branch Sites": this should make the look of the link consistent across both pages, and more visible.

[2021-04-13 09:14] MeganLowe commented on #176
Looks good, thanks @Gary-van-Breda

[2021-04-13 09:14] #176 closed

[2021-04-13 13:56] IanMiddlebrook commented on #207
Hi @Gary-van-Breda
I may have been a bit premature yesterday.
This page still is still very inconsistent, and others are saying the same thing.
Typically, if you've not visited the page for a while, it will time out on the first attempt, but then a simple refresh brings the page up in a matter of seconds.
Seems strange as nobody has reported similar problems with the Branch Sites page.

Thanks, Ia

[2021-04-13 14:42] IanMiddlebrook commented on #199
That's great - thanks @Gary-van-Breda

[2021-04-13 14:42] #199 closed

[2021-04-13 16:15] Gary-van-Breda commented on #163
@MeganLowe: Can you confirm that the new site does not allow WCBS squares to be deleted by normal users?
(See #194)

[2021-04-14 09:45] Gary-van-Breda commented on #207
@IanMiddlebrook @DavidRoy There is a fundamental difference between the reports behind the branch sites and my sites pages: the my sites report has to do an extra JOIN on the occurrences table, as it returns a count of occurrences (and different taxa) on the site, which the Branch one does not (it only returns the number of walks). Do we need this extra information? Or would using same report on M

[2021-04-14 10:13] IanMiddlebrook commented on #207
Hi @Gary-van-Breda @DavidRoy

As far as I'm concerned, the count of occurrences and species is not needed - just a bonus.
I'd be quite happy just to have the number of samples (as per Branch sites) - especially if it means more reliable loading.
If there were an efficient way to included number of species, then great, but not essential.

Thanks, Ian

[2021-04-14 10:24] DavidRoy commented on #207
I agree.  We should focus on the main function for this page

[2021-04-14 10:58] Gary-van-Breda commented on #209
The code to switch the time input types to HTML5 compliant (type="time") has been in place since June 2016 (this was done as part of the requirements to not have to type the colon). This functionality has not changed since the previous D7 site, and is also the case for EBMS/ABLE. Are we OK with it?

[2021-04-14 11:35] Gary-van-Breda commented on #207
@IanMiddlebrook @DavidRoy : My Sites page now reconfigured to use the Branch Sites report.

[2021-04-15 08:02] IanMiddlebrook commented on #207
Thanks @Gary-van-Breda

[2021-04-15 08:02] #207 closed

[2021-04-15 08:09] IanMiddlebrook commented on #209
Hi @Gary-van-Breda
I've not had any more comments from recorders on this issue since I added a note to the data entry form 13 days ago.
So I'm happy to close it now.

Thanks, Ian

[2021-04-15 08:09] #209 closed

[2021-04-15 08:12] DavidRoy commented on #136
Closing this.  Specific issues can be raised separately

[2021-04-15 08:12] #136 closed

[2021-04-15 08:13] DavidRoy commented on #158
@IanMiddlebrook please close issue if appropriate

[2021-04-15 08:15] #158 closed

[2021-04-15 08:50] Gary-van-Breda commented on #209
Note to @johnvanbreda : the timeentry code (time_input control) suffers from the $.browser issue. We re not using that here.

[2021-04-15 10:51] burkmarr commented on #200
I've added a filter to this report to remove any marked as zero_abundance. Also there was a major problem with the SQL which led to some species records being double or triple counted (due to a lack of filter for preferred sp name on joined taxa table) and this has been fixed. I've pulled into master branch and hope to pull into live warehouse today.

[2021-04-15 11:14] burkmarr commented on #200
These fixes are pulled into the live Warehouse now. @IanMiddlebrook - does the Lin Park site look better now? https://ukbms.org/site-details-map?location_id=193315 (I didn't look at it before applying the fix.)

[2021-04-15 11:23] burkmarr commented on #202
The report is now updated to exclude confidential sites. @IanMiddlebrook - Sutherland Beck is no longer shown (and neither should be any other confidential sites - or those you subsequently mark as confidential).

[2021-04-15 11:38] Gary-van-Breda commented on #205
When the site is de-assigned, it fetches all the location attributes used to allocate the user: this fetch is done straight to the warehouse from the JS in the browser, and this is getting blocked on account of "CORS missing allow origin". Given that we can do this OK for reports, it feels like this is a warehouse config issue. @BirenRathod do you know how we can allow CORS for url `https://wareho

[2021-04-15 11:53] BirenRathod commented on #205
@Gary-van-Breda I have implemented the CORS settings now, can you see if that is working?

[2021-04-15 12:57] Gary-van-Breda commented on #205
I'm still getting the same problem: Console in Firefox is showing:
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://warehouse1.indicia.org.uk//index.php/services/data/location_attribute_value?mode=json&auth_token=****&reset_timeout=true&nonce=****&location_id=3094&location_attribute_id=58&value=515. (Reason: CORS header ‘Access-Control-Allow-Ori

[2021-04-15 14:00] BirenRathod commented on #205
@Gary-van-Breda you can try by removing //. I don't know at present that could be a main problem.

[2021-04-15 14:19] Gary-van-Breda commented on #205
@BirenRathod : I've done it on a test system, and still getting the same problem.

[2021-04-15 14:21] BirenRathod commented on #205
@Gary-van-Breda do you know the folder on the warehouse for data service?

[2021-04-15 14:30] BirenRathod commented on #205
@Gary-van-Breda I checked all service folders, and I didn't fine any separate settings that I have placed in it. so that is not a problem.
Could you try on a different browser? I can't think of anything else.

[2021-04-15 14:34] Gary-van-Breda commented on #205
Slaps forehead... it needs to be JSONP: will try again.

[2021-04-15 14:57] Gary-van-Breda commented on #205
@BirenRathod Thanks for the help.

@IanMiddlebrook : A codefix has been deployed. I've assigned myself to Aberlady Bay, then de-assigned myself, and it has worked OK.

[2021-04-15 15:06] IanMiddlebrook commented on #205
Great - thanks @Gary-van-Breda

[2021-04-15 15:06] #205 closed

[2021-04-15 15:14] IanMiddlebrook commented on #200
Thanks @burkmarr
Linn Park looks sensible now, an all species are present on other sites.

[2021-04-15 15:16] IanMiddlebrook commented on #202
That's great - thanks @burkmarr

[2021-04-15 15:16] #202 closed

[2021-04-17 21:15] Gary-van-Breda commented on #206
@IanMiddlebrook @DavidRoy I've applied the section length data fix now as well: it affected 114 sections in total. All sections of Whitchurch now display a section length.
Still to Do: the Grid ref data fix.

[2021-04-19 07:58] Gary-van-Breda commented on #206
@IanMiddlebrook @DavidRoy
I've applied a code fix for the section Sref issue, and also applied the data fix.

This is now ready for you to check it is fixed to your satisfaction....

[2021-04-19 08:23] Gary-van-Breda commented on #195
@IanMiddlebrook : I've removed the additional slash. Are you happy to Close?

[2021-04-19 08:30] #195 closed

[2021-04-19 09:55] Gary-van-Breda commented on #185
@IanMiddlebrook : I've changed the "look and feel" of the data grids in the Annual summary page (summary, estimates and raw data) to more closely match that of the data grids on the various "Sites" and "Walks" pages, though I've left the cell borders in (because there are a lot of columns, and it makes it easier to see which column/row a data item is in). This has changed the colour of background

[2021-04-19 10:04] IanMiddlebrook commented on #185
Thanks @Gary-van-Breda

[2021-04-19 20:01] Gary-van-Breda commented on #212
See comment https://github.com/BiologicalRecordsCentre/UKBMS-online/issues/125#issuecomment-623380182

[2021-04-20 08:35] MeganLowe commented on #163
Hi @Gary-van-Breda apologies for the delay. Thanks - looks good for normal users. How do admins delete the site though (for instance if they're unsuitable)? Is it this button that I've circled in red?

![image](https://user-images.githubusercontent.com/64081219/115364798-aee2fd80-a1bb-11eb-8dd3-3344b84c4a23.png)